[2016-09-26 20:57] #836 closed

[2016-09-26 21:02] captainsafia commented on #838
A consequence of using a presentation is that it general requires a lecturer to augment the material presented. Lacking this, I imagine we'll have a lot of people approaching us with questions or falling victim to information overkill early on, especially with links and jargon they might not understand yet.

I think the better route to go is to clean up/finish the how to build a notebook documenta

[2016-09-27 02:28] sirinath commented on #545
@captainsafia  Can you link the new issue here as a pointer?

[2016-09-27 02:30] rgbkrk commented on #545
#836

[2016-09-27 02:58] sirinath commented on #836
Website still reads MPL: https://nteract.io/

[2016-09-27 02:59] captainsafia commented on #836
Feel free to submit a PR to fix.

[2016-09-27 03:10] rgbkrk commented on #836
Done.

[2016-09-27 10:49] mangecoeur commented on #756
The JupyterLab currently uses the 'vanilla' jupyter notebook. The thinking here is that through the effort of making nteracts notebook compatible with JupyterLab, this could help avoid a divergence between the two notebooks and surface issues in their respective APIs. This is particularly relevant to notebook extensions and JS widgets such as plotting tools (plotly, bokeh). Additionally, it might

[2016-09-27 14:32] philpl commented on #820
There already seems to be a good npm package for doing this: https://www.npmjs.com/package/shell-env

It already handles all possible locations for the common env vars, namely `.bashrc/.bash_profile/.zshrc/etc`.

I'm not aware of any other way to do this, since I've ran into the same problem with the team at neovim-dot-app where bash is just used to extract them: https://github.com/rogual/neovim-d

[2016-09-27 14:42] rgbkrk commented on #820
Open to exploring it, even if a bit ugly. It only has to be cased off for Darwin though, which is nice.

[2016-09-27 14:54] philpl commented on #820
@rgbkrk I think it's a fine hack. And it gets rid of the reliance on the CLI to delegate the environment variables.

[2016-09-27 15:24] rgbkrk commented on #820
Yup, we'd love it.

[2016-09-27 17:41] rgbkrk commented on #820
Closed by #842!

Verified this works with a packaged app.

Startup is a bit slower (to be expected). Probably a good time to make our watermark BrowserWindow with the animated logo.

[2016-09-27 17:41] #820 closed

[2016-09-27 20:56] rgbkrk commented on #357
Here's the approach I'd like to take on startup (likely within kernelspecs):

* Check if `conda` is available on the PATH (which we now have thanks to #842)
* Run `conda env list --json`:

[code]

Note: This is missing the root environment (that you would normally see with `conda env list`) - https://github.com/conda/conda/issues/3541.

If this is the root environment, I expect to be able to run

[2016-09-28 05:00] rgbkrk commented on #128
Gutter made this awesome. Closing.

[2016-09-28 05:00] #128 closed

[2016-09-28 07:04] slavaGanzin commented on #760
nobody should use neither HTTPS nor passwords. ssh keys are more secure

[2016-09-28 07:07] jdetle commented on #760
Confused with the negations going on here.... 😁

[2016-09-28 07:29] rgbkrk commented on #760
GPG and 2FA are completely unrelated.

2FA is for login verification.

[2016-09-28 13:55] damianavila commented on #357
You can use, alternatively, `conda info --json` to get all the data you need including the root environment. This is what I used originally in nb_conda_kernels: https://github.com/Anaconda-Platform/nb_conda_kernels/blob/master/nb_conda_kernels/manager.py#L47

[2016-09-28 17:36] rgbkrk commented on #357
Ok, great. I've got a working setup for a conda-kernel provider to get all the sys prefixes by name.

I'm forming up an array of objects like this:

[code]

The next problem is detecting installed jupyter kernels. Within those `sys.prefix`es, I'd want to look for `share/jupyter` to find kernels. If they're not in there, I have to slightly assume that I can run `python -m ipykernel -f {connection_f

[2016-09-28 20:13] jdetle opened #848 "Add a theme with the nteract color scheme"
Currently we have two default themes, light and dark. As a project for new contributors, it would be nice to have a theme that incorporates the color scheme of nteract's logo into the background and/or cell aesthetic. Changing CSS, although not a programming heavy task, is a good way to get started making contributions after installing.

[2016-09-28 21:40] captainsafia commented on #814
It's probably better to target this for RC than for beta.

[2016-09-28 21:50] captainsafia commented on #633
This can be closed since we are no longer using context menus for cell actions.

[2016-09-28 21:50] #633 closed

[2016-09-28 21:53] captainsafia commented on #550
Closing this at the moment.

`electron-spellcheck` relies on the Chromium browser's spell checker. Browser spell checkers do not work on CodeMirror elements since they are not recognized as editable by the browser.

Our implementation for spellcheck will either have to rely on an alternate editor for CodeCells or implement spellcheck via something like typo.js.

[2016-09-28 21:53] #550 closed

[2016-09-28 21:54] captainsafia commented on #548
We can close this an rely on separate issues for 0mq and the associator stuff.

[2016-09-28 21:54] #548 closed

[2016-09-28 21:57] captainsafia commented on #386
This is no longer an issue.

[2016-09-28 21:57] #386 closed

[2016-09-28 22:20] alainakafkes commented on #816
I'm interested in tackling this as a part of Hacktoberfest. Where might I take a look at the paren matching in Jupyter?

[2016-09-28 22:24] captainsafia commented on #816
Woot! Added the tag so you can get your free shirt. 😉

The configuration that you will need to change is in our [Editor React component](https://github.com/nteract/nteract/blob/master/src/notebook/components/cell/editor/index.js). We utilize a JavaScript library called [CodeMirror](http://codemirror.net/) that takes care of syntax highlighting and tabbing and all that good stuff. However, paren ma

[2016-09-28 22:27] jdetle commented on #816
Welcome @alainakafkes!

[2016-09-28 22:45] captainsafia commented on #182
Oh bother! I'm trying to migrate this and migrate-issues is giving me some trouble with OTP.

[2016-09-28 22:58] captainsafia commented on #182
I'll close. We have issues open for the notebook guide and the package level docs in other repos anyways.

[2016-09-28 22:58] #182 closed

[2016-09-28 22:59] captainsafia commented on #622
Actually, this is a duplicate of #180 so closing.

[2016-09-28 22:59] #622 closed

[2016-09-28 23:28] ivanov commented on #816
There are shirts?!

[2016-09-28 23:31] captainsafia commented on #816
Yes! Check out [the webpage](https://hacktoberfest.digitalocean.com). You bring up a good point, I should tweet out that nteract is participating...

[2016-09-29 02:55] rgbkrk commented on #814
Totally agree about the RC or later sentiment.

[2016-09-29 03:18] #810 closed

[2016-09-29 04:31] captainsafia opened #851 "Add a theme for visually-disabled users"
This starts us off thinking about accessibility for the notebook, something that we should tackle early on.

The easiest issue to take on is accessibility for visually-impaired users. We'll need to create a new theme for the application (ala `static/styles/light.css`) that includes some of the following modifications.
- High contrast text-background color combination (for example, yellow text on a

[2016-09-29 04:33] jdetle commented on #851
Somewhat related, support for screen readers would be awesome.

[2016-09-29 04:42] captainsafia commented on #851
A brief test of VoiceOver on Mac shows that it works decently well. It doesn't recognize some things, for example if I click on an output area it just reads out what it says without saying it's an output which can be confusing. This is a good time to run our app through react-a11y.

[2016-09-29 04:45] captainsafia opened #852 "Audit nteract behavior under screenreaders"
A brief test of nteract's behavior when used with a screenreader exposes several bugs. It'd be great to have an accessibility specialist or a visually-impaired individual give the application an audit for its behavior on different screen-readers.

Furthermore, we should run our application through [react-a11y](https://github.com/reactjs/react-a11y) to find other accessibility issues that might con

[2016-09-29 05:01] jdetle commented on #852
I was talking with a family friend at edX and she was saying that they don't let any product through that doesn't comply with [WCAG](https://www.w3.org/WAI/intro/wcag).

[2016-09-29 05:04] captainsafia commented on #852
Product through for what?

[2016-09-29 05:39] rgbkrk commented on #851
Most definitely.

[2016-09-29 05:40] captainsafia opened #854 "Remove loading gif from notebook interface"
Follow up on #853.

Now that we have a splash image, we can remove the gif that shows within the notebook window when the application starts. This is present in `static/index.html`.

[2016-09-29 05:42] rgbkrk commented on #854
Funny thing though: new notebooks or loading new notebooks won't have a conflicting splash though - they'll be showing the splash for their own loading. Perhaps it's time to think about another loading screen within the notebook window. 😕

[2016-09-29 05:43] captainsafia commented on #854
Perhaps a spinner?

[2016-09-29 11:16] #854 closed

[2016-09-29 11:16] captainsafia commented on #854
Closed in #856.

[2016-09-29 11:59] betatim commented on #357
When launching nteract from the terminal with an active conda env I usually want to use that env. It would be good if that kernel ended up being the "default" in that situation.

I don't know if it is worth it/faster to detect this and in that case not search for other envs and whether they have kernels.

* active env -> look for kernels in that env and use them
* no active env -> global search

W

[2016-09-29 13:37] rgbkrk commented on #357
Seems like something we can do, if theres an environment variable for the current conda environment that is stable to use.

[2016-09-29 13:44] rgbkrk commented on #357
In #847, I'm pulling up all conda environments which have the IPython kernel installed. Eventually I'll move that to the main thread (since we want to populate the menu), and we can also make sure that the default notebook on launch case uses the current conda environment.

[2016-09-29 14:34] betatim commented on #357
I used `$CONDA_DEFAULT_ENV` to decorate my prompt which has worked for a long time. Slightly confusing because the name makes you think it tells you about the default conda env, but in practice it tells you the currently active env.

[2016-09-29 20:18] rgbkrk opened #859 "Executing several long running cells only shows `[*]` on topmost cell"
If you run several cells in succession and one of them is "still running", the cells below don't update their input numbering to show busy/queued.

[2016-09-29 20:51] captainsafia commented on #737
I figured I would add the Hacktoberfest tag to this to leverage the collective power of the OS community.

It would be great to have someone download our latest alpha releases, or build the software from scratch, whichever they're comfortable with and try to find bugs.

[2016-09-30 10:12] jdetle opened #864 "Startup issues with developer install on Linux"
Current Versions
---
*node*=6.6.0
*npm*=3.1.0
*nteract*= fresh installed latest commits on master

Behavior
---
`npm run start` yields
[code]
Which shows the loading gif, seems to show the beginnings of a browser window, and then is instantly closed.

When I run `npm run start example-notebooks/intro.ipynb` an Untitled - Unconnected notebook shows up on the screen and cannot connect to the kernel

[2016-09-30 12:22] rgbkrk commented on #864
Oh I bet this is the "all windows closed when not Darwin" logic.

[2016-09-30 12:22] rgbkrk commented on #864
Resulting from the splash page being closed.

[2016-09-30 15:21] rgbkrk commented on #822
While not remote, this is helping me think about non-local-jupyter kernelspecs: https://github.com/nteract/nteract/pull/847

[2016-09-30 15:25] rgbkrk commented on #760
This has now been done.

[2016-09-30 15:25] #760 closed

[2016-09-30 15:50] #864 closed

[2016-09-30 16:06] jdetle opened #868 "Adjust styling to accomodate to poorer screen resolution."
Checking out some of the changes I've made, especially the dropdown menu, the text looks kind of pixelated and weird. Also, the menu toolbar background color seems like it should be less conspicuous on my screen now that I have higher contrast. We should probably attempt to audit these things and try to get the visuals looking right across multiple platforms.
## Changes that could be made that wou

[2016-09-30 16:12] rgbkrk commented on #808
@jdetle do you have a fix that can be put in place without doing the custom config setup?

[2016-09-30 16:30] #809 closed

[2016-09-30 16:35] jdetle commented on #808
I think so, PR incoming.

[2016-09-30 18:25] captainsafia commented on #868
Can you add screenshots of the things you discussed above?

[2016-09-30 18:27] jdetle commented on #868
Yeah I was in a rush to get to work but I'll get to it tonight when I get back to my linux machine.

[2016-09-30 22:51] blindingstars commented on #848
I've got a start on this one! Building on top of Light, but with a few details to make focusing on a specific cell easier.

![image](https://cloud.githubusercontent.com/assets/6765732/19009066/d9bdbed2-8735-11e6-8b67-18cbc2cde819.png)

[2016-09-30 22:52] captainsafia commented on #848
Oh wow, Stephy! That's an absolutely gorgeous design. I'm really looking forward to your PR.

Welcome to the nteract community! 🎉

[2016-09-30 22:52] jdetle commented on #848
😍 This looks so awesome!!!!

[2016-09-30 23:00] rgbkrk commented on #848
wooooooooooooooooow

[2016-09-30 23:37] rgbkrk opened #874 "Custom Observable for our zmq and websocket subjects"
# Creating custom Observables for our kernel subjects

Two weeks ago I had a conversation with @jayphelps and @SomeKittens which led to [wrapping some of our Observable creation methods with the originating `send`](https://github.com/nteract/nteract/blob/181b2f08337b25f62020c3de90267608e1395faf/src/notebook/epics/execute.js#L200), which roughly looks like this:

[code]

That works pretty awesome.

[2016-10-01 00:15] rgbkrk commented on #389
Done in #871. Magics not set correctly though.

[2016-10-01 00:15] #389 closed

[2016-10-01 15:50] rgbkrk opened #878 "Global page search"
I would love for us to have a way to do both local/single-cell search with ctrl/cmd-f as well as a global page search, likely with ctrl/cmd-shift-f. Similar key bindings for search and replace as well. I'd also love if this uses the codemirror search/replace dialog so that people can refactor an entire notebook easily.

[2016-10-01 17:17] rgbkrk opened #879 "Handling old message specs"
When faced with a kernel that uses the old message spec (or doesn't implement it properly), we either need to try to upgrade to v5 (or latest) as best we can _or_ provide an error that states that we "can't support this kernel reliably because of version".

[2016-10-01 22:58] rgbkrk commented on #878
Created a [StackOverflow Question](http://stackoverflow.com/questions/39812210/how-can-i-search-across-multiple-codemirror-instances) for this issue.

[2016-10-02 18:00] #859 closed

[2016-10-02 18:35] #848 closed

[2016-10-02 21:38] rgbkrk opened #885 "Respect image metadata"
For image media types, they can (optionally) include width and height as part of their metadata. As stated in [the jupyter client docs for `display_data`](http://jupyter-client.readthedocs.io/en/latest/messaging.html#display-data)

[code]

For us this means respecting the image metadata within the ImageDisplay in [`transformime-react`](https://github.com/nteract/transformime-react). The transform

[2016-10-02 22:00] rgbkrk opened #886 "Explore History Messages"
There is at least one remaining uncharted message type from Jupyter, [History](http://jupyter-client.readthedocs.io/en/latest/messaging.html#history):

The frontend (us, nteract) send a `history_request` and get back a `history_reply` like so:

[code]

[2016-10-03 00:40] captainsafia opened #887 "Add Flow typings to React components"
We've got several React components stored under `src/notebook/components` in our codebase. These React components contain a `propType` property that defines the types of the different props the component takes. We'd like to use [Flow](https://flowtype.org/) to make these typings.

Pick one of the React components in our codebase and integrate Flow into it. [This](http://www.robinwieruch.de/the-sou

[2016-10-03 01:06] captainsafia opened #888 "Add tutorial resources to CONTRIBUTING.md"
We've amassed a ton of tutorial content in our Slack channel covering the technology that we use. Although the technology that we use is mentioned in our CONTRIBUTING.md, we don't provide resource for individuals to learn about these technologies.

We should add links to tutorials and videos that explain React, Redux, RxJS, and Electron.

[2016-10-03 01:29] rgbkrk opened #889 "Handle nbformat cell attachments"
nbformat 4.1 introduced [Cell attachments](https://nbformat.readthedocs.io/en/latest/format_description.html#cell-attachments)

[code]

We need to support it. To be extra stellar, we could probably support drag and drop. On Windows surface devices, we could probably even support a scratch pad area to draw in. :wink:

[2016-10-03 02:13] rgbkrk commented on #888
Our [frontend background](https://github.com/nteract/nteract#frontend-background) section has a bunch of this that could be moved over into CONTRIBUTING.md

[2016-10-03 05:22] alexandercbooth commented on #887
Hi @captainsafia,

First, thank you for helping to create a great tool (particularly enjoying the Halloween theme right now)!

Just to make sure that I understand the problem: in a particular react component, say for example,  status-bar.js, instead of the current situation,
[code]

We could setup flow by including the flow script in the package.json, add a `// @flow` at the top and replacing the

[2016-10-03 05:27] captainsafia commented on #887
Thank *you* Alexander and welcome to the nteract community! 😄

And I just realized it is October so our Halloween Easter Egg has been revealed! 🎃

Yep! That's exactly right.

[2016-10-03 05:34] estevanjantsk commented on #887
@captainsafia =DDD Just created a PR for this issue =)
https://github.com/nteract/nteract/pull/890

Is this right?

[2016-10-03 05:54] captainsafia commented on #887
Thanks for submitting that PR, @estevanjantsk! Let's continue our conversation on there.

@alexandercbooth: It looks like you've got a strong understanding of Flow so feel free to submit a PR adding typings to another one of our React components if you'd like.

Thanks, all!

[2016-10-03 05:59] captainsafia commented on #888
Turning that bit into a new-contributor-friendly/hacktoberfest tag.

[2016-10-03 17:38] #816 closed

[2016-10-03 18:10] rgbkrk opened #894 "C4 Conflicts"
Our README states that we're using C4, but we're not really:

* No longer doing the Problem -- Solution format on commits and PRs
* Commits are now expected to use conventional changelog
* We rely on BSD instead of MPL

We also should consider updating our [version of C4 to spec 42](https://rfc.zeromq.org/spec:42/C4) from zeromq.

This is currently a bit awkward because the things we're saying and

[2016-10-03 19:09] alexandercbooth commented on #887
@captainsafia Thanks for the feedback!

I just wanted to confirm this so that I could avoid submitting a problematic PR. I guess I'll have to be faster next time.

Thanks again, I appreciate it

[2016-10-03 19:14] captainsafia commented on #887
Absolutely and no problem! Feel free to submit PRs at whatever pace you're comfortable with. We've got plenty of components that need typing! 😉 😄

[2016-10-03 19:29] Subway19 commented on #888
I would like to claim this. This would be my first open source pull request.

[2016-10-03 19:30] captainsafia commented on #888
Wonderful, Sumant! Welcome to the nteract community!

Feel free to ask us questions if you have any either on this issue or on [our Slack community](http://slack.nteract.in/).

[2016-10-03 21:39] aleury commented on #668
Hi, I'd love to help out with this for my first PR.

A thin representation of the cell would replace `null` on this [line](https://github.com/nteract/nteract/blob/master/src/notebook/components/cell/code-cell.js#L68), right?

Would you like both of the suggestions for fixes to be implemented? For the thin representation, should the toolbar show up on hover so you can toggle the visibility again? T

[2016-10-03 21:46] rgbkrk commented on #668
Yeah, that's where the thin cell would go.

My initial read on this issue is that the menu one is far easier and will be the most stable to deal with. We should have the menu option no matter what - it's a failsafe with a single event to unhide everything.

Yeah, I think so. I'm not sure of the best approach -- it's ok to iterate on the design.

[2016-10-03 21:53] aleury commented on #668
Awesome. I'll get to work on this and will write back if I get stuck on anything.

[2016-10-03 22:08] rgbkrk opened #896 "Configure Flow for Travis"
On Travis, create a `GROUP` for `flow` and:

* [x] Install `flow`
* [x] Install `flow-typed`
* [x] Run `flow-typed install`
* [x] Run `npm run flow`

[2016-10-04 04:21] estevanjantsk commented on #349
Trying to figure out how to get the click event of a <a href=""> tag of the latex component ._.

[2016-10-04 04:22] jdetle opened #897 "Provide better error when kernel doesn't spawn"
Error:

[code]

On my machine I would think that I could run

[code]

But I get this error:

[code]

Any idea what's going on?

[2016-10-04 04:36] jdetle commented on #897
Contents of my `kernel.json` file
[code]

[2016-10-04 04:38] rgbkrk commented on #897
That's a peculiar location for the python3 kernel. Was that installed in a `virtualenv`?

[2016-10-04 04:38] jdetle commented on #897
Very possible

[2016-10-04 04:41] rgbkrk commented on #349
Ah, there may be a neat way of [handling this within launch.js](https://github.com/nteract/nteract/blob/751bb0938252d08f9658d0bd0cf68cda5ba93bd7/src/main/launch.js#L31).

[2016-10-04 04:42] rgbkrk commented on #349
Right now our function for launching URLs has the native browser open it instead:

[code]

That can do other logic on the passed in `url` to check if it's a local link that ends in `.ipynb`. No messy handling of the links on a page, letting Chromium/Electron just hand you the URL when ready.

[2016-10-04 04:43] rgbkrk commented on #897
Does the path to that python3 still exist?

[2016-10-04 04:45] jdetle commented on #897
No, but I installed more kernels
[code]

[2016-10-04 04:47] jdetle commented on #897
This still doesnt work,
[code]

[2016-10-04 04:48] jdetle commented on #897
I omitted this error because I thought it wasn't relevant, but I also get this error.
[code]

[2016-10-04 04:54] rgbkrk commented on #808
Fixed in https://github.com/nteract/nteract/pull/873.

[2016-10-04 04:54] #808 closed

[2016-10-04 04:54] rgbkrk commented on #808
A new release just went out, let us know how it is @chriddyp!

[2016-10-04 05:01] rgbkrk opened #898 "Write unit tests for main thread JavaScript"
We have components of main that don't require electron necessarily (or can be mocked). We should start getting those tested.

[2016-10-04 05:14] rgbkrk opened #899 "Make our about dialog awesome"
<img width="396" alt="screen shot 2016-10-03 at 10 06 07 pm" src="https://cloud.githubusercontent.com/assets/836375/19063294/510444ac-89b6-11e6-8211-cbf013c2833e.png">

Our releases are missing the release name and we could definitely provide a link back to github within the about dialog. I'm assuming this can be filled in with more options from electron-packager  (or other configuration).

[2016-10-04 05:46] rgbkrk commented on #769
This was fixed recently wasn't it?

[2016-10-04 11:45] grantjames commented on #899
I'm looking to start contributing to open source software and really like the look of this project!

Can I claim this issue so I can use it as my first pull request? :-)

[2016-10-04 12:42] estevanjantsk commented on #349
@rgbkrk Nice, that method that I was looking for :dagger: . Gonna try to help with this one. May you assign this issue to me, please? :+1: :+1:  enjoying help you, guys. =D

[2016-10-04 13:17] rgbkrk commented on #899
Take it while it's hot, feel free to ask questions.

[2016-10-04 15:54] lgeiger commented on #1
I tested zmq on windows with nteract and can manually reproduce this error.

It turns out zmq has to be built with electron headers on windows even for electron < 1.1.3 to make it work.

[2016-10-04 15:57] rgbkrk commented on #1
and so it is, we must trudge these waters of electron builds for the future of all of us

[2016-10-05 01:00] estevanjantsk commented on #349
@rgbkrk Do you know why this link './foo/bar.ipynb' reproduces this url? -> file:/Users/estevanj/Documents/Projects/nteract/static/foo/bar.ipynb .. Why goes to the static folder? 👍 But when i put '../foo/bar.ipynb' the url is ok.
The current solution I get is:

[code]

Realize that I have to remove the file:// because when it goes to the win.webContents.send('main:load', filename); with the file:/

[2016-10-05 01:53] aleury commented on #668
The main change I'm a little concerned with is in the [test utility file](https://github.com/nteract/nteract/pull/905/files#diff-ff2899c03c9e8e31a9b69d7621e08c83R30). I needed the `emptyCodeCell` to be initialized as hidden so my test could pass. Is there a better way to do this from inside the test case, or do you think it's okay?

[2016-10-05 02:21] captainsafia commented on #668
I think you meant to post this in the PR. If so, I answered this question there. 😄

[2016-10-05 02:46] rgbkrk commented on #349
We've definitely got a bit of a problem in terms of how electron views the page - we have to track the user's `cwd` while keeping Electron's relative asset loading intact.

Separate from that issue, there is a helper path to finding the relative path: `__dirname`.

For instance, in the main window `__dirname` is `/Users/kyle/code/src/github.com/nteract/nteract/static` for me.

Another note: If we

[2016-10-05 03:10] aleury commented on #668
Oh sorry about that!

[2016-10-05 03:25] rgbkrk commented on #349
Hmmm, well this is interesting. I may have figured out something wonderful while exploring [the browser window docs](http://electron.atom.io/docs/api/browser-window/). We could set the `open-url` handler in nteract and consistently rely on that for opening `.ipynb` links. This would solve another problem we have with loading relative assets that are next to the notebook.

🤔

[2016-10-05 04:48] #668 closed

[2016-10-05 05:05] temogen commented on #838
I'd like to do some research on documentation. Then create a task list to identify the different components that need documentation. This should make it easier for new contributors to take a bite sized piece of this issue. :)

@jdetle want to work together on compiling a task list? And maybe take a few out in the process?

[2016-10-05 05:08] jdetle commented on #838
Of course I'd love to help. I've been pretty swamped with worky-work so I can't commit to any deadlines.

[2016-10-05 05:26] jdetle commented on #838
In `src/notebook/menu.js` we have plenty of functions that could be documented but dispatch to the redux store rather than return something. How should we handle this with JSDoc?

[2016-10-05 05:32] captainsafia commented on #838
You can use JSDoc syntax -- they just wouldn't have a returns field.

[2016-10-05 08:40] lgeiger commented on #831
@jkornblum It works now as long as you have the required build tools installed (we still don't have prebuilts for electron on windows). [Here](https://github.com/nteract/nteract#install-nteract-itself) is what you need to get started.

Feel free to ask if you have problems with the installation. It's not that easy on windows.

[2016-10-05 08:46] lgeiger commented on #1
Status on windows:
Still no prebuilts for electron but working if you build from source: https://github.com/nteract/nteract/pull/903

[2016-10-05 11:55] temogen commented on #838
No worries @jdetle, I have some catching up to do!

[2016-10-05 12:53] estevanjantsk commented on #349
Wow, definitely gonna try that one :ok_hand: . Hey, sorry for the delay in responding I work full-time =B (with angular and rails) and I've never ever touch electron and react code before. But I'm trying to do my best o/. Thanks man =)

[2016-10-05 16:03] osdf opened #910 "Split pane/tabs"
Hi,

is there a way to have two notebooks open next to each other (or in tabs) in one nteract frame (for example as in jupyter lab)?

[2016-10-05 16:22] rgbkrk commented on #910
Hey there!

We take the approach of relying on native windowing. To put two notebooks next to each other on your screen, open two windows. Each window maps to the same file.

Options for multi-pane right now include Atom and JupyterLab. The atom plugin for notebooks needs love, and I'm hoping we can tackle it after we've solidifed nteract, likely post-beta.

[2016-10-05 16:24] rgbkrk commented on #910
Longer form answers, which is more architectural in nature:

* nteract can be viewed as a single document editor, where you can double click `.ipynb` files from your desktop or in search to open them
* We need a consistent state tree (in terms of the document state) in order to approach real-time collaboration later.

[2016-10-05 18:02] gnestor opened #914 "URLs with spaces do not render a links in markdown cells"
Try the following in a markdown cell:

[code]

![image](https://cloud.githubusercontent.com/assets/512354/19125202/0430d92a-8aeb-11e6-85f5-d8ad6f0f3d9e.png)

[2016-10-05 18:04] gnestor commented on #349
@estevanjantsk Let me know if I can help with this one 👍

[2016-10-05 18:05] captainsafia commented on #914
Hi Grant! Glad to see you're enjoying the nteract theme! 😄

We're using CommonMark which doesn't support spaces in links per [its spec](http://spec.commonmark.org/0.25/#link-destination) so I'm not sure this is something we can fix.

[2016-10-05 18:10] jdetle commented on #914
It's hacky and I know experienced developers hate regex but we could search/replace links before rendering them, no?

[2016-10-05 18:22] rgbkrk commented on #914
I love regex. What I love more than regex is understanding and resolving core problems as well as assisting the user as much as possible.

Spaces have a specific meaning in Markdown URLs both in CommonMark and the [original Markdown "spec"](https://daringfireball.net/projects/markdown/syntax#link):

A URL with spaces is not a valid URL. The URL with `%20` is URL encoded, quite valid. There is an i

[2016-10-05 18:23] jdetle commented on #914
Sorry my previous response came off as rude, didn't mean it to.

[2016-10-05 18:24] rgbkrk commented on #914
In this case, I think the original jupyter notebooks (that I see above) need to be patched to match the markdown standards. If you copy a URL directly in Chrome that has spaces (assuming you're on the page, not that you've _just_ typed it), Chrome copies the URL encoded form of the link.

[2016-10-05 18:25] rgbkrk commented on #914
Gosh no, I just didn't want you to think that using regexes themselves were bad. They're one of the fastest features to use in JS (perf wise) and used on the right problems solves issues with alarming precision.

[2016-10-05 18:29] rgbkrk commented on #914
We should probably move some of this discussion to https://github.com/jupyter/nbformat, since this affects the format.

[2016-10-05 18:34] rgbkrk commented on #914
Heh, trying this over in http://spec.commonmark.org/dingus/ and it looks like title isn't supported - just rendering raw `[stuff](url title)`

[2016-10-05 19:05] rgbkrk opened #915 "Try out electron-builder"
See how nice it would be to adapt our setup to using [electron-builder](https://github.com/electron-userland/electron-builder).

[2016-10-05 19:22] gnestor commented on #914
@jdetle Commonmark returns a NodeWalker that would allow us to transform specific nodes before rendering. An example implementation for this specific use case:

[code]

@rgbkrk I think this might work because Commonmark parses a link's destination and title, so transforming the destination shouldn't affect the title.

[2016-10-05 19:31] gnestor commented on #914
Well, one problem: Commonmark is typing these links with spaces as "text" and not "link", and it's splitting them up into multiple nodes vs. one text node.

[2016-10-05 19:35] rgbkrk commented on #914
Awesome! Great to see you find out where to dig into the parser here.

Oh yuck.

[2016-10-05 21:51] darthoctopus opened #919 "Restarting kernel does not preserve working directory"
when the kernel is restarted with a previously saved notebook, the working directory is reset to the user's home directory, rather than the path of the open ipython notebook.

[2016-10-05 22:42] jdetle commented on #919
Thanks for the issue! By any chance could to provide some code to reproduce the error? I can't seem to recreate the issue on my computer. Also what OS are you using?

[2016-10-05 22:47] rgbkrk commented on #919
Reproduction steps:

Launch the example intro notebook

[code]

Run

[code]

example-notebooks is the directory

Restart the kernel (by menu) and run

[code]

home directory is the result

[2016-10-05 22:53] captainsafia commented on #919
I think this is due to the way that we are passing data from our action creators to our epics.

The `newKernel` action invoked in the menu sends a dispatch to the `LAUNCH_KERNEL` action which expects the action to be structured like this {kernelSpecName: 'python3', cwd: '/usr/blah/blah'} what we are actually doing now is passing it {kernelSpecName: 'python3', cwd: {cwd: '/usr/blah/blah'}. I believ

[2016-10-06 00:00] temogen commented on #823
I'm doing some mockups, to see what style works best. I can line up a few, and get a vote on the style, then refine the winner.

[2016-10-06 00:02] fabric-8 commented on #823
Argh sorry missed this issue here - Can crunch something out upcoming weekend :)

[2016-10-06 08:12] osdf commented on #910
Hi @rgbkrk thanks for your answer. I understand that the multi-pane idea would add unnecessary complexity, given that a window manager does this already. Having said that, the question was more out of curiosity---is this the right place to ask these or are there other preferred channels?

[2016-10-06 08:12] #910 closed

[2016-10-06 12:17] temogen commented on #823
Whoops, sorry @fabric-8! Wasn't sure if this one was taken. :)

[2016-10-06 14:22] aleury commented on #701
I made a PR for this where the sticky cell string refs were replaced with callback refs since string refs will likely be deprecated at some point in [future](https://facebook.github.io/react/docs/more-about-refs.html#the-ref-string-attribute).

[2016-10-06 14:25] #701 closed

[2016-10-06 14:26] rgbkrk commented on #701
:tada: Thank you @aleury!

[2016-10-06 15:08] rgbkrk commented on #823
All good, we weren't sure if you were too busy @fabric-8. Happy to get an icon whenever, I only opened the issue to request and track it. :smile:

@temogen - for context - the person who created all our logo assets and site design ([nteract.io](https://nteract.io)) is @fabric-8. We're big fans of the fabriverse, having found out about it via @philpl's [fluorine](https://github.com/philpl/fluorine)

[2016-10-06 15:49] rgbkrk commented on #910
You can absolutely ask here! We're not drowning in questions yet - if we ever are, we would probably create an AMA or help repo (a la [nodejs/help](https://github.com/nodejs/help) or [jupyter/help](https://github.com/jupyter/help)).

This also _is_ a legitimate feature request, even if I personally think it's out of scope. Thanks for posting!

[2016-10-06 23:00] rgbkrk opened #931 "Provide an application/json transform"
Use https://github.com/alexkuz/react-json-tree, have an awesome navigable object.

[2016-10-07 00:24] gnestor commented on #349
@estevanjantsk Thanks for working on this. However, it's not working as expected for me because `getPath` is resolving URLs to the nteract root (`__dirname, '..', '..',`) but it should be resolving URLs to the notebook directory. In my case, the notebook I'm using is located at `/Users/grant/Sites/jupyter/ipywidgets/docs/source/examples` and the link in it is `Using%20Interact.ipynb` (or `./Using%

[2016-10-07 03:42] #885 closed

[2016-10-07 03:42] rgbkrk commented on #885
Done in the referenced issue, #933.

[2016-10-07 03:44] rgbkrk commented on #620
@captainsafia - here's a good one to add to the new config setup - default kernel (by name)

[2016-10-07 03:46] rgbkrk commented on #533
We've now got a shipped release for Windows as well as testing on Windows and a plan for the future with building on Windows. I'll go ahead and close this. Feel free to re-open if the core problem is still there.

[2016-10-07 03:46] #533 closed

[2016-10-07 03:47] rgbkrk commented on #85
What do you think about this now, given where we're at as well as our current UI?

I'm noticing myself just click the "new markdown" cell on the cell creator toolbar really fast to get new markdown cells.

[2016-10-07 03:50] rgbkrk commented on #388
We now have a [shipped release](https://github.com/nteract/nteract/releases) for Windows as well as testing on Windows and a plan for the future with building on Windows. I'll go ahead and close this. Feel free to re-open if the core problem is still there.

[2016-10-07 03:50] #388 closed

[2016-10-07 03:51] rgbkrk commented on #388
Also, noted about the Windows label. Creating that now.

[2016-10-07 03:51] captainsafia commented on #85
I think it's a good new-contributor-friendly issue. I cannot speak to everyone's workflows but I've seen the issue brought up quite often on the Jupyter list so it doesn't hurt to have it.

[2016-10-07 03:54] rgbkrk commented on #769
Yeah this was totally fixed.

[2016-10-07 03:54] #769 closed

[2016-10-07 03:56] rgbkrk commented on #85
How would someone go about implementing this? What would you want to see for config/menus, UX flow?

[2016-10-07 14:10] rgbkrk commented on #1
@lgeiger has totally demolished this issue - from incredible cross-platform work in `zmq-prebuilt`, to creating `zmq-static`, and upstream fixes in `zeromq.node`.

We even have Windows builds now. 😄 😱

Closing this issue with much appreciation.

[2016-10-07 14:10] #1 closed

[2016-10-07 14:52] lgeiger commented on #1
@rgbkrk Since the fallback is now working in `zmq-prebuilt`, what should we do with `zmq-static`?
I think `zmq-prebuilt` is now superior in every way.

I didn't expect to get it working at the time of creating `zmq-static` 😄 .

[2016-10-07 14:57] rgbkrk commented on #1
Leave a deprecation notice in zmq-static, pointing to zmq-prebuilt. You apparently [stirred a little bit of buzz by creating `zmq-static`](https://twitter.com/miramba_/status/784132379841404932), and if people found that over `zmq-prebuilt` we should at least do the service of redirecting it.

[2016-10-07 15:05] lgeiger commented on #1
Great to see some people checking it out! I'll leave a notice.

[2016-10-07 15:12] rgbkrk commented on #1
One way to "deprecate" while being backwards compatible is to make `zmq-static`'s `index.js` be:

[code]

(while also noting they should use `zmq-prebuilt` instead)

[2016-10-07 15:18] lgeiger commented on #1
I think we can leave it as is for people who really want to keep using VS 2013.

[2016-10-07 15:19] rgbkrk commented on #1
Ah, ok, that works.

[2016-10-07 17:17] #896 closed

[2016-10-07 17:40] rornor commented on #533
Nice!
Congrats @rgbkrk

[2016-10-07 18:48] captainsafia commented on #85
To start (read: beta), we would have all our configuration options "hidden" in the `nteract.json` file. We would have them documented in a release README but there would be no preferences panel for users to graphically change their configuration. Similar to what I did with the theme configuration, we would have a `defaultCellType` attribute in the `ConfigRecord`. The Add New Cell keyboard shortcut

[2016-10-08 00:41] lgeiger opened #939 "Update installation instructions for developers"
Since we upgraded to `zmq-prebuilt` 2.0.0 we need to update the README.

https://github.com/nteract/zmq-prebuilt#installation---contributors-and-development

[2016-10-08 03:05] captainsafia commented on #180
This can be closed since it was implemented in #922.

[2016-10-08 03:05] #180 closed

[2016-10-08 11:03] rgbkrk opened #942 "Map ⌘-0 to reset zoom"
At least on Chrome, ⌘-0 resets the zoom. I'm not sure what the generic binding is, but I'd love to be able to reset the zoom level to 100%.

[2016-10-08 13:16] rgbkrk opened #944 "Provide right-click -> Inspect"
This helps two groups:

* Those hacking on nteract
* Those hacking _in_ nteract (outputs they want to inspect)

[2016-10-08 14:33] alexandercbooth commented on #942
I'm happy to try and tackle this.

[2016-10-08 14:43] alexandercbooth commented on #942
For the commit message, is this considered a chore?

[2016-10-08 14:45] alexandercbooth commented on #942
or perhaps feature?

[2016-10-08 15:00] rgbkrk commented on #942
This is a feature.

[2016-10-08 15:02] alexandercbooth commented on #942
Makes sense, silly of me, thanks!

[2016-10-08 15:07] rgbkrk commented on #942
It's ok, not silly at all. Keep asking questions, happy to work with you.

[2016-10-08 17:06] aleury commented on #931
I'd be happy to take on this one.

[2016-10-08 17:09] rgbkrk commented on #931
Sweet, this should be pretty simple. I'd start with looking at the text transform:

https://github.com/nteract/nteract/blob/master/src/notebook/components/transforms/text.js

and then import and add it to the list of transforms + display order:

https://github.com/nteract/nteract/blob/master/src/notebook/components/transforms/index.js#L21

[2016-10-08 17:10] aleury commented on #931
Awesome, thanks!

[2016-10-08 18:12] lgeiger commented on #942
Closed by #948

@alexandercbooth Thanks for your work 🎉

[2016-10-08 18:12] #942 closed

[2016-10-08 18:47] rgbkrk opened #950 "Store version of nteract in the notebook metadata"
Similar to how [colab (at Google) provides metadata for version](https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/tools/docker/notebooks/1_hello_tensorflow.ipynb) (amongst other things), we should provide metadata about the notebook being written by nteract as well as the version.

[2016-10-08 19:30] #919 closed

[2016-10-08 20:27] lgeiger commented on #915
I can try it out 📦

[2016-10-08 21:20] jdetle commented on #897
Okay so things are working now. I nuked the kernels and reinstalled. There still might be an issue here with how we handle a broken kernelspec, but I'm not sure. Closing for now.

[2016-10-08 21:45] alexandercbooth commented on #942
You're very welcome!

[2016-10-08 21:53] aleury commented on #931
So I have a `JsonDisplay` component made but am unsure on how to make sure that it's used. Is the plan to check if the data returned is able to be parsed by `JSON.parse` and return `application/json` mime type if so, or will this communicated in some other way?

[2016-10-08 22:06] jdetle commented on #931
@aleury submit a WIP PR?

[2016-10-08 22:10] lgeiger commented on #939
This issue is now relevant for all operating systems (#940).

[2016-10-08 22:36] aleury commented on #931
Submitted the WIP PR.

[2016-10-08 22:44] jdetle opened #956 "Notebook does not automatically connect to a kernel"
I'm running to this issue on Linux. Opening an empty notebook does not connect to a kernel by default. I have two available kernels, python2 and python3, both of which work after selecting Language >> Kernel. On my mac the notebook starts up and connects to the first available kernel. I'm trying to confirm that this a bug that should be fixed on linux.

[2016-10-08 22:48] rgbkrk commented on #897
What's the jupyter notebook report for kernelspecs that are no longer valid.

[2016-10-08 22:49] jdetle commented on #897
It was this one ```
   1 {
  2  "language": "python",
  3  "display_name": "Python 3",
  4  "argv": [
  5   "/home/jdetlefs/github/nteract/bin/python3",
  6   "-m",
  7   "ipykernel",
  8   "-f",
  9   "{connection_file}"
 10  ]
 11 }```

[2016-10-08 22:59] rgbkrk commented on #897
That's ok, seems like something easy to reproduce by writing another direct kernelspec that is invalid.

[2016-10-08 23:09] jdetle commented on #897
Alright, so it seems like a broken kernelspec causes this error `Uncaught Error: spawn /usr/bin/python2.71` and then throws an error for any subsequent, valid kernels.

To reproduce, change the path of the kernel.json file to anything that doesn't exist. In my case I changed `/usr/bin/python2.7`, to `/usr/bin/python2.71`. And then no kernels can connect.

[2016-10-08 23:46] jdetle commented on #897
[code]
works fine with this python 2 kernelspec installed per the normal instructions: (kernel.json file)
[code]
but if I change that spawnteract script and run it with my python3 kernel: (kernel.json file)
[code]
Error: spawn /home/jdetlefs/github/nteract/bin/python3 ENOENT
    at exports._errnoException (util.js:1036:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:3

[2016-10-09 01:43] jdetle commented on #897
@rgbkrk at the cost of fixing this quickly I'm going to try to take a stab at closing this issue.

[2016-10-09 02:57] #931 closed

[2016-10-09 09:05] prafful002 commented on #899
@rgbkrk May I get this assigned to me if no one is working on it currently ?

[2016-10-09 09:07] prafful002 commented on #888
@captainsafia May I take this up if no one is working on it currently ?

[2016-10-09 09:15] jdetle commented on #899
@prafful002, you do not need to be assigned to start working on any of these tasks. PRs are very welcome and if you have trouble with anything don't hesitate to reach out on [slack](http://slack.nteract.in/)

[2016-10-09 09:15] rgbkrk commented on #899
It's hard to tell if anyone is working on it without a PR, even if it says `[WIP]` in the title. You're free to explore the space.

[2016-10-09 09:16] jdetle commented on #899
@prafful002 if you need help, I'm almost always available on [slack](http://slack.nteract.in/)

[2016-10-09 09:19] rgbkrk commented on #771
@prafful002 Since you've posted the same across several issues - pick one, make a pull request, then we close the issue.

[2016-10-09 09:26] prafful002 commented on #771
@rgbkrk sure !

[2016-10-09 14:25] rgbkrk commented on #888
@Subway19 is there another issue you would be interested in? Some of this was already completed and I just finished off the rest in #960.

[2016-10-09 15:31] #888 closed

[2016-10-09 15:31] #894 closed

[2016-10-09 15:31] #939 closed

[2016-10-09 15:41] rgbkrk opened #961 "Create a terminal command/wrapper for the nteract app"
I want to be able to navigate to a directory (from the command line) and run `nteract analysis.ipynb`. Our app already handles command line arguments - we need to ship a standalone script that, at least on OS X, passes through to `open nteract.app ARGS`.

[2016-10-09 16:01] rgbkrk opened #962 "Autoexpanding application/json"
As I use nteract's new `application/json` mime type, I wish that by default the entire tree is fully expanded. I'm guessing the component we use has a way to expand them automatically. They start out collapsed.

![screen shot 2016-10-09 at 11 54 09 am](https://cloud.githubusercontent.com/assets/836375/19221746/1adf86ba-8e17-11e6-9bf3-3cc270cdaf7a.png)

<p align="center">⬇️</p>

![screen shot 2016-

[2016-10-09 16:14] tacaswell opened #963 "configurable keybindings"
In particular, to ship with the default emacs keybindings :smiling_imp: .

https://github.com/rmcgibbo/jupyter-emacskeys maybe relevant?

[2016-10-09 16:32] rgbkrk commented on #963
That definitely helps. We have a config setup that we're planning to expose for CodeMirror. Part of the resulting config for you includes loading CodeMirror's built in emacs mode `'codemirror/keymap/emacs'` and then setting up the config.

In the meantime, here's a diff you can apply on master (probably to be out of date soon):

[code]

(@tacaswell and I sat down at PyData DC to figure this out)

[2016-10-09 16:34] rgbkrk commented on #963
I guess if it's just a package plugin, namespace `nteract-codemirror-emacs` then the user could add it to their plugins list... 🤔

[2016-10-09 20:15] aleury commented on #962
Making the json tree fully expanded by default was actually as easy as passing `shouldExpandNode={() => true}`  as prop to the `JSONTree` component.

Do you still think we'll need to use the metadata? Will the metadata prop enable the expansion of the `JsonDisplay` component configurable by the user? I'm still very new to how the ipython messaging spec works.

[2016-10-09 20:23] rgbkrk commented on #962
If we support metadata, then the user could write:

[code]

When they explicitly want to see it all and

[code]

When they don't (maybe a lot of data to take in, all at once.

[2016-10-09 20:23] rgbkrk commented on #962
As for the spec, if we want something nice for kernels and frontends to provide to users, we have to  adapt the message spec in Jupyter (we don't run our own specs here in nteract, we keep collaborating in Jupyter -- several of us are devs there too).

[2016-10-09 20:27] rgbkrk commented on #962
Yeah I'd make it:

[code]

Under the assumption that we would want to hide by default. We can do this before we propose changes in Jupyter to specify this.

[2016-10-09 20:28] aleury commented on #962
Oh okay! Awesome. That makes perfect sense.

I can make the change to the `JsonDisplay` component. Would you, or someone else more experienced with Jupyter, like to make the changes to the Jupyter project if this is time sensitive? If not, I'd be happy to begin contributing to those projects as well.

[2016-10-09 20:29] rgbkrk commented on #962
Definitely not time sensitive. I only outlined it so that we know what our next actions are.

[2016-10-09 20:32] aleury commented on #962
Okay, that sounds good!

[2016-10-10 03:50] jkornblum commented on #831
Thanks! I tried what@rgbkrk said and I had quite a bit of trouble with node-gyp. Never was able to build zmq correctly.

Were there code changes that fixed my issue?

My only difference this time was using npm install windows-build-tools. I've had vs2015 installed and went through lot of stack overflow node-gyp questions which covered "option 2" on the README but I could never get that to work.

[2016-10-10 05:57] lgeiger commented on #831
@jkornblum Are you using [`v0.0.13`](https://github.com/nteract/nteract/releases) or the latest master?

[2016-10-10 14:43] jkornblum commented on #831
In both cases I cloned the latest master.

FYI npm version reported v0.0.12 before and v0.0.13 for this weekend.

{ nteract: '0.0.13',
  npm: '3.10.3',
  ares: '1.10.1-DEV',
  http_parser: '2.7.0',
  icu: '57.1',
  modules: '48',
  node: '6.4.0',
  openssl: '1.0.2h',
  uv: '1.9.1',
  v8: '5.0.71.60',
  zlib: '1.2.8' }

[2016-10-10 14:57] lgeiger opened #969 "High DPI splash screen"
The splash screen looks very blurry on high DPI screens.

There are a few ways we could fix this:
1. Make it half the size
2. Use something like [Bodymoving](https://creative.adobe.com/addons/products/12557#.V_uqfpOLSHo) to export the animation from [After Effects](https://github.com/nteract/logos/blob/master/nteract_logo_cube_book/source_files/animation/composition/nteract_logo_motion.aep) to HTM

[2016-10-10 15:10] rgbkrk commented on #969
We do scale it right now (which might be part of the cause for blur). We do have an SVG version of the graphic. I wonder if we could create a full CSS animation for this...

/cc @fabric-8

[2016-10-10 15:13] lgeiger commented on #969
I don't think so:
https://github.com/nteract/nteract/blob/master/static/splash.html#L14

[2016-10-10 15:16] rgbkrk commented on #969
😨 Fixed.

[2016-10-10 17:10] Carreau opened #971 "Kite Plugin ?"
I just got an invitation to [kite](https://kite.com) which  seem to have already a few plugins ([vim, sublime, atom](https://github.com/kiteco/plugins)). The plugin API seem to be relatively straightforward (read-write json to a unix socket).

Just suggesting writing a plugin for nteract would be cool.

[2016-10-10 23:32] aleury commented on #962
Hi @rgbkrk! Looking at the IPython source code I found that we can currently do

<img width="611" alt="screen shot 2016-10-10 at 6 47 55 pm" src="https://cloud.githubusercontent.com/assets/1060558/19253579/2198b7b6-8f1a-11e6-89b0-85de1390ddea.png">

But inorder to enable

[code]

I think I would need to modify the  [JSON class](https://github.com/ipython/ipython/blob/master/IPython/core/display.py

[2016-10-10 23:41] aleury commented on #962
Looking at the `Image` class as a reference. I think I have a clearer understanding now. Would need to add a method like `_data_and_metadata(self)` and return the result of that from  `__repr_json__`?

[2016-10-11 00:47] aleury commented on #962
Looks like I have something working! 😃

<img width="562" alt="screen shot 2016-10-10 at 8 43 33 pm" src="https://cloud.githubusercontent.com/assets/1060558/19255307/8d1bbf00-8f2a-11e6-87a8-07441f7ea164.png">

<img width="530" alt="screen shot 2016-10-10 at 8 43 03 pm" src="https://cloud.githubusercontent.com/assets/1060558/19255326/ac83f98e-8f2a-11e6-9caf-7bb8cdfae272.png">

[2016-10-11 04:05] rgbkrk commented on #962
Awesome!

[2016-10-11 04:21] rgbkrk commented on #962
The only other display class that relies on custom metadata is `Image`, which defines a constructor that accepts metadata. Based on what I'm seeing, it appears like you can

[code]

in the constructor. If you wanted to add the `expanded` arg, you would need to form the metadata object:

[code]

[2016-10-11 04:22] rgbkrk commented on #962
[The Image class init](https://github.com/ipython/ipython/blob/master/IPython/core/display.py#L641-L650)

[2016-10-11 11:55] fabric-8 commented on #969
css version of this might turn out somewhat hardcore to produce - could web video be an option? compression can be really good and I could simply render it @2x

[2016-10-11 11:56] rgbkrk commented on #969
Web video is definitely an option.

[2016-10-11 13:28] rgbkrk opened #979 "LaTeX/MathJax no longer works inside Markdown cells"
![screen shot 2016-10-11 at 9 28 09 am](https://cloud.githubusercontent.com/assets/836375/19272047/10cc6678-8f95-11e6-9de2-8371e826b7b2.png)
![screen shot 2016-10-11 at 9 28 14 am](https://cloud.githubusercontent.com/assets/836375/19272048/10d33e80-8f95-11e6-9279-2a6be2952cef.png)

[2016-10-11 14:37] lgeiger commented on #979
This worked in `v0.0.13`

[2016-10-11 16:30] temogen commented on #823
I was wondering who did those icons. Very beautiful work! Lemme know if you want to do any brain storming @fabric-8! Don't want to step on your creative juices, doe! Otherwise I'll just keep my focus on documenting.

[2016-10-11 16:41] temogen commented on #838
- [ ] Create task list of what needs documentation

[2016-10-11 19:53] chendaniely opened #983 "Arch Linux AUR package"
I made an AUR package for Arch to install `nteract`: https://aur.archlinux.org/packages/nteract-bin/
This is probably the only contribution I can make for the project since I know **zero** javascript :stuck_out_tongue_winking_eye:

install with: `pacaur -Syyu nteract-bin`

run with `/opt/nteract-linux-x64/nteract`

there's a `.desktop` file in the package, but I'm not sure how to 'install' it in t

[2016-10-11 20:05] chendaniely opened #984 "Provide feedback when conda environments can't be found"
When I open `jupyter notebook` I see:

![selection_024](https://cloud.githubusercontent.com/assets/5782147/19286667/858a2766-8fcc-11e6-9841-039aaa4e36b0.png)

When I launch nteract, I only connect to (and only see) the R kernel. I don't see any of my Python Kernels.

Until #357 is resolved, there needs to be some feedback to users about their environment. Ideas/TODOs:
- [ ] Pop up a dialog with "A

[2016-10-11 20:08] jdetle commented on #984
Hey Daniel, we do not yet have support for Conda kernels. (Coming soon!) If you run `npm run diagnostics`, this should list all the kernels available to you.

[2016-10-11 20:15] chendaniely commented on #984
Oh boy... pardon my ignorance (I don't do anything javascript-ey). what's this `package.json` file I need for `npm`?

[code]

[code]

[2016-10-11 20:16] rgbkrk commented on #984
I'm working on this in https://github.com/nteract/nteract/pull/847. We've got a bit of a ways to go to make conda kernels show up.

[2016-10-11 20:17] rgbkrk commented on #984
@jdetle - @chendaniely is working with the released app, not in dev mode

[2016-10-11 20:21] jdetle commented on #984
Ah I should have asked, so @chendaniely, if you run `require('kernelspecs').findAll().then(console.log.bind(console)).catch(console.error.bind(console))
` with node,  the kernels available to nteract should be listed. I think this does relate to #956 in that you should connect to an available kernel by default.

[2016-10-11 20:22] rgbkrk commented on #984
To make at least one conda kernel show up in nteract, you can install a kernelspec from the environment:

[code]

[2016-10-11 20:24] chendaniely commented on #984
woo....! @rgbkrk that got it working.

I guess I must've installed the R kernel manually and not through `conda`

[2016-10-11 20:27] rgbkrk commented on #984
I see a couple of action items we can address to make our user experience better here until we solve the core issue in #357:

* [ ] Provide a way to do diagnostics from the released app (no access to node at command line)
* [ ] Provide a way to report an issue that encapsulates the diagnostics report
* [ ] Report a simple message noting "hey I see you have conda installed - we're still working on

[2016-10-11 20:37] rgbkrk commented on #984
Instead of closing the issue and saying that this is reported in #357, would you be alright if we change the issue to be about reporting better messages for conda users (it can use my current bullet list, feel free to add on)?

[2016-10-11 20:39] rgbkrk commented on #983
/cc @tacaswell @lgeiger

[2016-10-11 20:41] rgbkrk commented on #983
Awesome! @lgeiger is prepping installers for OS X and Windows in #952. I wonder how this all works with Linux.

[2016-10-11 20:41] chendaniely commented on #984
@rgbkrk sounds good.

I didn't scroll down far enough in the issue search to see #357 :x

[2016-10-11 20:53] tacaswell commented on #983
I do not know if this is a 'blessed' way to do it, but if you echo that desktop to disk in `build()` and then copy it where ever it needs to go in the `package()` step.

[2016-10-11 21:43] chendaniely commented on #983
If it's going to packaged up for Linux users, can we add a `.desktop` file to this repository? maybe under `static`, I can copy it to the necessary location from there.

We can probably update the `MimeType` so `nteract` is associated with `.ipynb` files too

[2016-10-11 23:58] lgeiger commented on #983
In #952 we are exploring [`electron-builder`](https://github.com/electron-userland/electron-builder/). It even has support for [desktop files](https://github.com/electron-userland/electron-builder/wiki/Options#LinuxBuildOptions).
Feel free to try the PR and take a look at `electron-builder`. It supports a lot of formats for linux and also outputs a unpacked version.

[2016-10-12 01:27] aleury commented on #962
Awesome! That's pretty much what I did. Thanks! I'll go ahead and open an issue and make a PR to the IPython repo.

[2016-10-12 02:01] rgbkrk commented on #962
Silly me, I answered your questions well after you already answered them yourself. Sorry about that! Looking awesome.

[2016-10-12 02:03] aleury commented on #962
Oh no problem at all! I appreciate the confirmation :)

[2016-10-12 02:24] rgbkrk commented on #983
Yes please! I _think_ that would go with the other OS specific stuff that's in `static/` (`extend.plist` is for OS X). Not sure how we need to present it, though it sounds like we can adapt it for electron-builder after you submit the `.desktop` file.

[2016-10-12 08:53] lgeiger opened #988 "Provide better error if no kernelspecs are found"
The current situation isn't nice for users:
![nteract](https://cloud.githubusercontent.com/assets/13285808/19303775/3fa8e446-906a-11e6-9d21-299448750a07.gif)

The full error messages are:
[code]
and
[code]

[2016-10-12 10:39] captainsafia commented on #988
Huh. That's weird. You first get the JavaScript traceback and *then* the message that we created. I think perhaps we've added something in our code that tries to loop through the kernelspecs before the app is ready though I'm not sure where that might be...

[2016-10-12 16:42] gnestor opened #993 "Linkify URLs in plain text output"
notebook supports this (but I noticed that jupyterlab doesn't yet).

Screenshot:
![image](https://cloud.githubusercontent.com/assets/512354/19318998/ad0df8a6-905f-11e6-98fc-9bad00e71403.png)

[2016-10-12 16:43] gnestor commented on #993
@rgbkrk Does it make sense to add this feature to [ansi-to-react](https://github.com/nteract/ansi-to-react)?

[2016-10-12 16:47] rgbkrk commented on #993
I'm not sure where this would belong. I'd rather we finish off handling line feeds and other ANSI/terminal codes before we add automatic linkification.

[2016-10-12 16:59] gnestor commented on #993
I was looking at the anser library used in ansi-to-react and there is a linkify method which would require we use its `ansiToHtml` method vs. `ansiToJson` and then `dangerouslySetInnerHTML`.

[2016-10-12 17:47] rgbkrk commented on #993
While convenient to use the linkify, it comes at the cost of reducing what can be displayed in untrusted notebooks. All outputs from streams would not be shown on opening the notebook.

[2016-10-12 18:20] gnestor commented on #993
True. What if we just rolled our own?

[code]

Would we be able to display this in untrusted notebooks?

[2016-10-12 19:43] rgbkrk commented on #993
Yeah, an approach that keeps content as `textContent`, can be displayed. When strings are the `children` of a React Element, they are done as `textContent` which is what you've done above.

There's going to be some amount of tripping on escape codes here. An admittedly naive approach that would keep the console consistent would be to do a second pass on the bundles returned by `ansiToJson`.

As fo

[2016-10-13 04:49] hainm opened #995 "how to use nteract"
hi

sounds dummy question but how users would use nteract?

quote from README
`Edit code cells, write markdown, visualize!`

What do you mean 'It just Works'?

thanks.

[2016-10-13 04:50] hainm commented on #995
[code]
seems do the trick but took me quite long time to realize that. :D

[2016-10-13 06:19] jdetle commented on #995
Hi @hainm! Thanks for trying it out. You bring up a good point, I think this might be meant for releases rather than developer installations, and perhaps we should make that clearer

[2016-10-13 13:28] rgbkrk commented on #995
The "just works" line is likely aimed at how you can treat jupyter notebooks as native files using finder, etc. (For the built release).

This brings up an even more pressing issue - how does a complete beginner to jupyter get introduced at the beginning of the readme? You're a well practiced user of Jupyter @hainm so if we confused you, we confused way more people.

/cc @willingc

[2016-10-13 13:30] captainsafia commented on #995
I think the blog post on our Medium is a solid run through.

[2016-10-13 14:48] willingc commented on #995
@rgbkrk Perhaps:

``
It wraps up the best of the web based Jupyter notebook and embeds it as a desktop application. Now, you can open open notebooks natively on your system. Double click on an`.ipynb` file to open and begin using the notebook.  It Just Works™
[code]

[2016-10-13 15:57] captainsafia commented on #995
That sounds solid. I also think this issue falls under the general need for a User Guide for nteract that outlines things like opening/savings, using the cell dropdown to change cells, adding new cells, etc. I think that can be added as a new-contributor-friendly issue for people who are willing to do some self-testing of that app.

[2016-10-13 16:22] captainsafia opened #996 "Add user guide for nteract"
This is a follow-up on the question raised in #995.

nteract has an interface that's very different from other interactive notebook applications. We need to create a User Guide that outlines.

- [x] What nteract is
- [x] How to create/open/save files
- [x] How to run, move, and add cells
- [x] How to use the cell dropdown

This guide can reside in a USER_GUIDE.md file at the top directory of this

[2016-10-13 23:20] alexandercbooth commented on #971
Hi @Carreau,

Kite looks really cool! I'd be happy to give this a shot if you would be open to some mentoring (I suspect I could learn a lot from this).

Thanks!

[2016-10-13 23:23] Carreau commented on #971
I haven't poked that much at nteract in a while, I'm currently writing an IPython plugin, and can try once I understand the architecture of Kite better. In particular they seem to have an http (!) endpoint which is undocumented.

[2016-10-13 23:48] alexandercbooth commented on #971
OK, I appreciate that. I'm still waiting for my invite from kite for now.

[2016-10-14 01:09] captainsafia opened #1000 "Add example notebooks to File menu"
After the podcast interview, @shanselman mentioned that it would be a good idea to include the example notebooks in the File > Open menu. We heard similar feedback at the NumFOCUS Summit.

Tagging this as new-contributor-friendly with mentorship from me available.

[2016-10-14 06:58] alexandercbooth commented on #1000
Hi @captainsafia

I just submitted a PR for this (#1001). Can you check it over when you get a chance and let me know what you think? For some reason, the notebooks don't always open 😕.

Thanks!

[2016-10-14 10:53] lgeiger commented on #961
#999
- [x] OS X
- [x] Linux/Ubuntu
- [ ] Windows

[2016-10-14 16:12] #1000 closed

[2016-10-14 16:30] #961 closed

[2016-10-14 21:35] #915 closed

[2016-10-15 00:59] lgeiger opened #1013 "Custom dmg image background"
`electron-builder` allows the customization of the OS X dmg image.
This is the first thing new users will see. It doesn't hurt if it's pretty.

Here are the docs: https://github.com/electron-userland/electron-builder/wiki/Options#builddmg

[2016-10-15 01:36] rgbkrk opened #1014 "Bundle a subset of assets through webpack"
For everything but native modules, we could try using webpack to improve performance of loading (while also getting rid of the `cross-env` setup we use to set NODE_ENV to production).

**Resources**

* [Backend Apps with Webpack](http://jlongster.com/Backend-Apps-with-Webpack--Part-I)

[2016-10-15 02:11] rgbkrk commented on #1014
Based on what I'm seeing, we'll need a separate export for the main module and the renderer(s).

[electron targets](https://github.com/webpack/webpack/blob/f18989c712894bba13ebfb6dfb3f50fc44b0d12a/lib/WebpackOptionsApply.js#L119-L156)

[2016-10-15 03:46] rgbkrk commented on #1014
Success thus far:

[code]

[2016-10-15 04:31] pgensler opened #1017 "Docker Container?"
Hi,

I'm pretty new to using your product, but I will say I am really excited to test this out and see how it works! Do you have any plans to put a docker container for this, for others to spin up easily? I think it could be beneficial, as I know other services like RCloud have done so, and its really easy to get up and running. Here is the link to the Docker page for public containers. Thanks!
ht

[2016-10-15 04:33] rgbkrk commented on #1017
We don't have a pure-web version yet, though when we do it will probably be backed by the jupyter notebook APIs. Thanks for posting an issue!

[2016-10-15 04:37] pgensler commented on #1017
I'd look at the RCloud infrastructure for ideas, as they have a very similar concept to what you are trying to achieve, but a little more complex. This is based on R, but still pretty good example of what a notebook can achieve.
http://rcloud.social/documentation/doc/1.6/guidoc/doc.html#running-a-notebook

[2016-10-15 19:50] NHDaly commented on #357
Thanks for doing this! :) Is there any way I can help with it? this is a the main way I'd want to use `nteract`, because all my kernels are installed through `conda`.

I see you're making good progress at #847, is there something I could try to help with; i'd love to start contributing to nteract! :D

[2016-10-15 20:03] rgbkrk commented on #357
@NHDaly Absolutely! I've been chasing down some other fixes and haven't been able to devote my time completely to this. Some changes generally need to be made to how we

* [ ] register kernelspecs in the menu, in the main process
* [ ] provide all the kernelspecs to a notebook process to use
* [ ] send a particular kernelspec to the notebook process

#847 completely creates all the kernelspecs nec

[2016-10-15 20:05] rgbkrk commented on #357
To start things off, I can extract a portion of that conda kernel finding setup to a module separate from my PR (which I'm happy to close and only refer to).

[2016-10-16 00:51] rgbkrk commented on #996
Pertinent easy to start part for this issue is updating the [user installation of nteract in the readme](https://github.com/nteract/nteract#installation---users).

[2016-10-16 04:14] aterrel opened #1027 "Kernels not connecting when missing `nteract.json` file"
While trying to get the install up on `master`, my kernel wasn't actually connecting. Popping up the dev tools showed that `~/Library/Jupyter/nteract.json` was missing. After creating the file with an empty object in it, the kernel connected just fine.

I would suggest that the file be automatically created if it doesn't exist, but I don't know the implications to the rest of the system.

cc @rgbk

[2016-10-17 01:11] aleury commented on #962
Looks like this issue is ready to be closed! Thanks for your help @rgbkrk! 🎉

[2016-10-17 03:38] #962 closed

[2016-10-17 03:39] rgbkrk commented on #962
Woo! Excellent work, you completed this in `nteract`, `ipython`, _and_ `jupyter_client`. 🎉 Bravo!

Ready for a related hard problem to solve?

[2016-10-17 16:10] captainsafia commented on #1027
Welp! This one's on me. Wasn't expecting that a failure to read in the ConfigObservable would prevent kernels from connecting. I suppose a good fix is to create the file on read failure.

[2016-10-17 17:33] rgbkrk commented on #1017
Awesome, we'll keep it in mind for any future web version. I'll close this since this repo is for the native desktop app.

[2016-10-17 17:33] #1017 closed

[2016-10-17 18:40] tildebyte opened #1030 "Kernels not found on Windows 10 with Anaconda (Py 3.5)"
This is a workaround documentation issue, though I'm not sure if it should be reported to you or Jupyter.

By default, the Jupyter installed from Anaconda works just fine. A little research (sparked by trying to get the nteract app working) shows that there are *no* `kernel.json` files anywhere on the system; thus no joy for the nteract app.

A simple (but completely unknown to me) `ipython kernel

[2016-10-17 18:43] chriddyp opened #1031 "Using `nteract` on remote servers"
Hi folks!

Someone asked an interesting question to me about `nteract` today that I wasn't able to answer. What does the `nteract` workflow look like for users working off of a server. e.g.
- User installs spark on an AWS server
- User SSHs into the server
- User would usually just run `$ jupyter notebook` and SSH-forwards the remote jupyter port `8888` to their local machine and then visit e.g. `

[2016-10-17 22:21] rgbkrk commented on #1030
Thanks for trying nteract and reporting this! There's active work to detect conda environments and have them show up as kernels -- this is certainly on our beta milestone.

I'm really happy you were able to install the ipython kernel directly. You can also install named kernels when in a conda environment like so:

[code]

There's also a `display-name` option (which is shown in the UI).

Closing t

[2016-10-17 22:21] #1030 closed

[2016-10-17 23:04] rgbkrk commented on #1031
Great feedback!

Two long term answers:

## Remote kernels

There's a current initiative to [support kernels remotely](https://github.com/nteract/initiatives/tree/master/remote-kernels) where you can use the notebook server as the backend for your kernels. This server could be tunneled like you described or served over TLS with auth (API token or password on server).

@captainsafia is leading an e

[2016-10-17 23:43] alexandercbooth commented on #996
I'm happy to work on this. I'll submit a [WIP] PR for some feedback from everyone later tonight.

[2016-10-17 23:54] rgbkrk commented on #996
Awesome, looking forward to it.

[2016-10-18 03:13] aleury commented on #962
Of course! 😃

[2016-10-18 03:14] jkornblum commented on #944
Would incorporating this module (electon-context-menu) be acceptable?
https://github.com/sindresorhus/electron-context-menu

It comes with context aware cut, copy, paste, image-save menu items.
It comes with inspect-element menu item.

It has two dependencies, electon-dl and electron-is-dev. Both from the same author and all under MIT license.

---

If this is too much I can modify the source to j

[2016-10-18 11:01] rornor opened #1033 "select keybindings"
Guys, great work!

Was wondering if I can set keybinding as in jupyter, where I set code mirror to sublime-text bindings?

TIA

[2016-10-18 13:57] rgbkrk commented on #1033
We don't have configuration available for that yet. However, our path for it is pretty clean. I made emacs bindings work in https://github.com/nteract/nteract/issues/963.

Closing, since this is a duplicate of #1033. Feel free to re-open if you want to. We'll keep on this and make sure you have a nice way of setting your keybindings.

[2016-10-18 14:33] rornor commented on #1033
Ok, thanks :)

[2016-10-18 14:33] #1033 closed

[2016-10-18 14:53] rgbkrk commented on #944
@jkornblum Absolutely! Feel free to make a PR. I'd love to use this.

[2016-10-18 23:45] darthoctopus opened #1037 ""\\" does not give newline in Markdown cell LaTeX"
In Markdown cell LaTeX blocks, "\\" is not parsed as a newline (as it is in Jupyter notebook); one is required to give four consecutive backslashes ("\\\\"). When the notebook is subsequently opened in the Jupyter environment, LaTeX is then rendered differently again (which makes matrices etc. look awkward).

[2016-10-19 00:43] #1014 closed

[2016-10-19 00:43] captainsafia commented on #979
This is closed in #1016.

[2016-10-19 00:43] #979 closed

[2016-10-19 14:23] rornor opened #1038 "Add "Undo" Cell delete"
Hi guys,

I see this commit https://github.com/nteract/nteract/pull/627 but that's probably for general text undo
Is this feature on the radar (don't want to say this but i.e. like in jupyter menu edit > undo cell delete)?

Thanks

[2016-10-19 14:36] captainsafia commented on #1038
Thanks for opening the issue @rornor!

The pull request you cited actually allowed undoing cell deletion, addition, and a whole bunch of other stuff, but it was quite buggy so we ended up taking it out. We could probably add it back and  give the ability to undo cell deletions but my hope was to get it closer to a native experience and allow people to undo a variety of actions.

So yes, it'll be c

[2016-10-20 00:38] thejackluo opened #1041 "Run kernel with python virtualenv?"
I was just wondering if it was possible to use nteract with a virtualenv kernel of python as to allow installing packages locally.

Thanks

[2016-10-20 02:12] jdetle opened #1042 "[Bug] Trouble running tests locally"
*Problem*:
`npm run test` throws the error shown below on the freshest install for master.
[code]

*Currently using*:
node v6.7.0
npm  v3.10.3

[2016-10-20 04:14] captainsafia commented on #1042
I assume you nuked your `node_modules` and reran `npm install`.

[2016-10-20 04:17] jdetle commented on #1042
Yeah I just double checked and unfortunately its still an issue.

[2016-10-20 04:21] jdetle commented on #1042
Spitballing here but maybe it has something to do with the fact that I run node and npm locally as opposed to using `sudo`? Totally could be irrelevant, but doesn't hurt to mention.

[2016-10-20 14:39] rgbkrk commented on #1042
There are two sets of node_modules now. At the basepath and in app/

[2016-10-20 18:35] rgbkrk opened #1047 "Write unit tests for main"
The main process is likely to continue to expand in what it does. As much as possible, we should pick off more bits that can be unit tested similar to the renderer/notebook process.

[2016-10-20 18:40] rgbkrk commented on #1041
One thing you can do from the command line is activate the virtualenvironment then install the kernel specification from within the environment:

[code]

/cc @minrk @takluyver

[2016-10-20 18:44] jdetle commented on #1042
You can just start calling me Patrick Star because clearly I live under a rock. Everything good after both npm installs. Thanks.

[2016-10-20 18:44] #1042 closed

[2016-10-20 18:45] rgbkrk commented on #1042
@lgeiger make it a little easier by providing `npm run reinstall` (so we don't have to tell people to nuke and install again).

[2016-10-20 19:04] #1027 closed

[2016-10-20 19:30] rgbkrk commented on #804
Closed by #1046

[2016-10-20 19:30] #804 closed

[2016-10-20 20:38] captainsafia commented on #996
This was closed in #1032.

[2016-10-20 20:38] #996 closed

[2016-10-20 20:38] captainsafia commented on #995
This is closed via the addition of a user guide in #1032. Let us know if you have any other questions about using the app, @hainm!

[2016-10-20 20:38] #995 closed

[2016-10-20 20:43] captainsafia commented on #887
I think we can close this one thanks to the wonderful work of @peggyrayzis, @alexandercbooth, and @estevanjantsk! Thanks all! 🎉 🌮

[2016-10-20 20:43] #887 closed

[2016-10-20 23:37] rgbkrk opened #1050 "Scroll area should indicate that there's more content"
Can you tell there's more content above or below here?

![screen shot 2016-10-20 at 4 35 32 pm](https://cloud.githubusercontent.com/assets/836375/19581623/41ab2a04-96e3-11e6-80c5-b6961609176c.png)

When scrolled up it's more obvious with the content I have here:

![screen shot 2016-10-20 at 4 34 42 pm](https://cloud.githubusercontent.com/assets/836375/19581610/1f473688-96e3-11e6-8495-29739b3eaaaf.

[2016-10-21 02:37] jdetle commented on #1050
So at work I did something like this by keeping the scrollwheel showing if scrollable:
[code]
will webkit work on nteract?

[2016-10-21 03:19] rgbkrk commented on #1050
Yeah, nteract runs on chromium which accepts changing the scroll bar styling with those webkit prefixes.

[2016-10-21 04:32] HackersSpirit commented on #1047
@rgbkrk  @captainsafia : can i work on the issue

[2016-10-21 04:33] captainsafia commented on #1047
Hi, @HackersSpirit! Thanks for stopping by. You can absolutely work on it. Feel free to reach out to us on this issue if you need any help.

[2016-10-21 08:47] lgeiger commented on #988
Close by https://github.com/nteract/nteract/pull/1053

[2016-10-21 08:47] #988 closed

[2016-10-21 15:31] rgbkrk commented on #897
How's this look now for you? The message now bubbles up to a notification.

[2016-10-22 01:23] hainm commented on #995
cool. thanks.

[2016-10-22 20:34] captainsafia commented on #803
@chriddyp: To what extent do expandable outputs (#972 and #1010) and disabling of focus on input (#1055) address this issue?

I suppose the one case where it would still happen is if you have an input expanded that you are rerunning the scroll to next would constantly get you. Hmmm. 🤔

[2016-10-23 13:45] kosmastsk commented on #771
Is this issue still open?

[2016-10-23 14:10] rgbkrk commented on #771
Yes

[2016-10-23 15:48] beojan opened #1059 "Notebook printing support"
Is printing support (using nbconvert) a possibility?

[2016-10-23 21:52] captainsafia commented on #1059
Hello @beojan! Thanks for opening this issue!

Printing support is indeed possible. Since we are using Electron (a boiled-down version of the Chrome browser), we have access to the same printing functionality that is available in your browser.

If you're interested in helping build this, let me know and I can guide you through a contribution.

[2016-10-23 21:55] beojan commented on #1059
I am interested in helping build this, though my experience with JavaScript (esp. Node.js) is almost non-existent.

[2016-10-23 22:04] dhirschfeld opened #1060 "Windows Installer Configuration"
The exe currently gives you no options on e.g. where to install nteract or whether to install for all users or just the current user.

It would be good to allow for such configuration in the installer. Alternatively, bringing back the windows zip file would let you unzip nteract to wherever you wanted

[2016-10-23 22:06] rgbkrk commented on #1059
Luckily there is next to zero JS to write for this - it's primarily a case of writing a print stylesheet that incorporates the theme (CSS variables): https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/

On the JS side, it's a matter of adding in the menu option.

[2016-10-23 22:08] beojan commented on #1059
Is there anything preventing just using the Jupyter notebook print stylesheet for this?

[2016-10-23 23:17] jackparmer opened #1061 "Making plotly for R, Julia, & Python work in nteract"
`embed_notebook()` (for R), `py.iplot()` (for Python), and `JupyterPlot()` (for Julia) currently don't work out-of-the-box inside _nteract_ (they work great in vanilla Jupyter notebook however).

There's currently a [workaround](https://github.com/plotly/plotly.py/pull/562#issuecomment-245078317) being proposed for Plotly's Python interface.

To help keep track, here are 3 separate issues in the r

[2016-10-24 03:11] rgbkrk commented on #1060
Thanks for chiming in on this, we went through the work of getting the Windows build setup yet don't know what choices are the best for all users.

It looks like there are options for the tool we use, `electron-builder`, via some [combination of `.build.nsis.oneClick` and `.build.nsis.perMachine`](https://github.com/electron-userland/electron-builder/wiki/Options#NsisOptions) that would end up in

[2016-10-24 03:14] rgbkrk commented on #1060
It _appears_ like:

[code]

would work inside the build config. Are you able to build, try it out, and make a PR @dhirschfeld?

[2016-10-24 15:09] chriddyp commented on #803
Wow, those are awesome. It seems like there were two issues that I found disorienting:
- Auto-scrolling when executing a cell
- Auto-scrolling when clicking on a cell

I'm not sure if those issues end up fixing these but

sounds like the behavior that I'm thinking about.

[2016-10-24 23:02] lgeiger commented on #1037
It's likely a problem with the commonmark parser.
In the markdown cell `\\` will always render as `\` as well.

[2016-10-24 23:41] lgeiger commented on #969
I don't know if web video would load fast enough. This would defeat the purpose of a splash screen.

[2016-10-25 00:06] rgbkrk commented on #969
It's a local file at least, so there's not much of a bandwidth issue.

Beyond that, videos are _much_ smaller than GIFs and can also be autoplayed.

Ref: http://rigor.com/blog/2015/12/optimizing-animated-gifs-with-html5-video

[2016-10-25 00:52] rgbkrk opened #1065 "Document Cell Focus UX Design"
I'd :heart: to see us write documentation for what a notebook is in user experience terms. Right now it's a bit implicit ("it's the implementation!") -- I think we can capture different behaviors and user intents in some solid documentation/specifications. Let's tackle Cell Focus UX design first!

@captainsafia is currently solving the input focus on click in code cells problem in #1055 (our curre

[2016-10-25 00:58] lgeiger commented on #303
Thanks to `electron-builder` this now *should* work on Windows and Linux as well. Though testing is needed.

[2016-10-25 00:59] rgbkrk commented on #303
Oh yeah, this should be good on Windows. I can try it tonight.

Really need to circle back on the whole Quicklook plugin.

[2016-10-25 01:00] rgbkrk commented on #303
I'll go ahead and close this. We can re-open, though if it manifests as an issue I think it's something for us to help fix in `electron-builder`.

[2016-10-25 01:00] #303 closed

[2016-10-25 01:00] #969 closed

[2016-10-25 01:09] rgbkrk opened #1067 "Implement notebook trust"
Since I think we're likely going to have to regard https://github.com/nteract/nteract/issues/387 as a feature not a bug, we'll need to [implement notebook trust mechanics](http://jupyter-notebook.readthedocs.io/en/latest/notebook.html#signing-notebooks) so that untrusted code doesn't run inside of nteract until the user explicitly runs it.

I'm not sure what approach we should take - we do need to

[2016-10-25 01:10] rgbkrk commented on #944
Done in #1044.

[2016-10-25 01:10] #944 closed

[2016-10-25 01:11] rgbkrk commented on #831
How's this working out now @jkornblum? I'm slightly assuming that since you were able to make a PR that it's much better.

[2016-10-25 01:12] rgbkrk commented on #387
Closing as "feature", deferring to #1067.

[2016-10-25 01:12] #387 closed

[2016-10-25 01:12] rgbkrk commented on #351
Closing as "feature", deferring to #1067.

[2016-10-25 01:12] #351 closed

[2016-10-25 01:14] rgbkrk commented on #15
Deferring to #1067 for this. React handles most of our XSS bits.

We do need to watch out for what our Markdown renderer does.

[2016-10-25 01:14] #15 closed

[2016-10-25 01:14] rgbkrk commented on #6
Closing, deferring to #1067.

[2016-10-25 01:14] #6 closed

[2016-10-25 01:42] jkornblum commented on #831
Yep, working fine on my windows machine since I posted Oct 9 2016.
I'm not sure what the fix was exactly but you can probably close this issue.

[2016-10-25 01:48] #831 closed

[2016-10-25 18:29] dhirschfeld commented on #1060
I'm away for a week and might be very busy when I get back so might not be
able to get to it for a couple of weeks...

On 24 Oct 2016 2:14 pm, "Kyle Kelley" <notifications@github.com> wrote:

[2016-10-25 23:25] lgeiger commented on #1060
@dhirschfeld No problem. I can test it.

[2016-10-25 23:30] darthoctopus commented on #1037
Jupyter itself uses [marked](https://github.com/chjj/marked). Perhaps could use that instead? Would also guarantee cross-compatibility in future.

[2016-10-26 00:05] lgeiger commented on #1060
Right now it isn't possible to change the install directory with `electron-builder`: https://github.com/electron-userland/electron-builder/issues/596

Though we could add a option to install nteract only for the current user.

[2016-10-26 19:49] rgbkrk opened #1072 "Convert TODOs in code base to issues."
There are a bunch of them, we should turn them into issues. Some of them are pretty quick fixes, others are architectural in nature. Creating the issues is very friendly for people to go ahead and do (including myself).

Steps to "complete" one of these:

* Create the issue
* Make a PR deleting the TODO (or referencing the issue in a comment)

[2016-10-26 20:08] LBKinson opened #1073 "README: Explain how to install per each platform/OS"
include OS-specific instructions with screenshots

[2016-10-26 20:09] LBKinson opened #1074 "pull default configuration file from somewhere"
- [ ] the `readFileObservable` function in `src/main/index.js` returns explicit config; need to add a default and its source
- [x] remap errors on same function to use a more informative dialog

[2016-10-26 20:09] LBKinson opened #1075 "check for sys.prefix/share/jupyter/kernels/*/kernel.json"
In `src/main/kernels.js`: already checks for `ipykernel` existence, also need to check for:
- [ ] `${condaEnvironmentSysPrefix}/share/jupyter/kernels/*/kernel.json`
- [ ] IRKernel (check if installed)

[2016-10-26 20:09] LBKinson opened #1076 "handle windows paths for conda based kernel specs"
within `createKernelSpecsFromEnvs` function in `src/main/kernels.js`, need to handle Windows based paths

[2016-10-26 20:09] LBKinson opened #1077 "Support R kernel detection for Conda environments"
- [ ] within `createKernelSpecsFromEnvs` function in `src/main/kernels.js`, need to add support for default R kernel inside langEnvs{}
- [ ] also need to provide resource-dir inside langEnvs{}

[2016-10-26 20:10] LBKinson opened #1078 "assume an empty notebook without webContents filename"
- [ ] during `launch` function in `src/main/launch.js`, need to add an `else` conditional to `did-finish-load` that assumes an empty notebook
- assumption right now is that launchNewNotebook will handle the follow on

[2016-10-26 20:14] rgbkrk commented on #1072
Well that was fast, thanks @LBKinson. :smile:

[2016-10-26 20:20] LBKinson commented on #1072
@rgbkrk that's my first OSS PR...ever! would love feedback. Also would love to contribute more, I'll start scanning your issues

[2016-10-26 20:34] rgbkrk opened #1080 "Create a PR template"
Since we have some of our commit guidance buried away in a guide, we should [create a PR template that GitHub can pick up](https://github.com/blog/2111-issue-and-pull-request-templates). I'm guessing we could make it similar to redux-observable's:

[code]

Open to opinions here, might as well start with something.

[2016-10-26 20:35] #1072 closed

[2016-10-26 20:37] rgbkrk commented on #1072
Welcome to the nteract party! :tada:

Woo! You did it perfectly, so I don't have anything to add on (other than my one small comment about commit prefix). Let us know how we can help. We also have a [slack you can join](http://slack.nteract.in/).

[2016-10-26 20:40] jdetle commented on #1080
Thought: We could include a "Questions? Feel free to ping us on [slack](https://slack.nteract.in)

[2016-10-26 20:50] LBKinson commented on #1080
I was unsure of PR title verbage, so I would encourage your second bullet to be:
`- [ ] My PR title and commit messages are in [conventional-changelog-standard](https://github.com/nteract/nteract/blob/master/CONTRIBUTING.md#how-should-i-write-my-commit-messages-and-pr-titles) format.`

[2016-10-26 20:51] rgbkrk commented on #1080
Whoa! Totally.

[2016-10-27 04:45] LBKinson opened #1084 "allow handleGistError to go into general error flow"
in `handleGistError` function within `src/notebook/epics/github-publish.js`

[2016-10-27 04:45] LBKinson opened #1085 "group CHANGE_FILENAME and SET_NOTEBOOK constants"
need to group final actions together OR tear 'SET_NOTEBOOK' metadata tree out
within `src/notebook/reducers/metadata.js`

[2016-10-27 04:45] LBKinson opened #1086 "change toggleStickyCell structure to Immutable.Set"
need to switch stickyCells structure to an Immutable.Set in `toggleStickyCell` function within `src/notebook/reducers/document.js`

[2016-10-27 04:45] LBKinson opened #1087 "move session ID from singleton to the state tree"
within `src/notebook/kernel/messaging.js`

[2016-10-27 04:45] LBKinson opened #1088 "keep default kernel consistent on load"
in `extractNewKernel` function within `src/notebook/epics/loading.js`

[2016-10-27 04:45] LBKinson opened #1089 "add an ERROR_LOADING response"
within `src/notebook/epics/loading.js`

[2016-10-27 04:45] LBKinson opened #1090 "Ask user to save before global unload function"
Use `beforeunload` to ask user about saving before closing.

[2016-10-27 04:46] LBKinson opened #1091 "SPIKE: investigate if setRepresentedFilename() is a no-op on non-macOS"
Determine if the `setRepresentedFilename` function from electron is a no-op. This is used in `src/notebook/native-window.js`.

[2016-10-27 04:46] LBKinson opened #1092 "Clean up map when cells are deleted"
in`createCellProps` function within `src/notebook/components/notebook.js`

[2016-10-27 04:46] LBKinson opened #1093 "determine a strategy for picking tiles"
in `componentDidMount` function within `src/notebook/components/transforms/geojson.js`

[2016-10-27 04:46] LBKinson opened #1094 "switch !kernelConnected from notification to error dispatch"
currently on no kernel connected the app sends a message via notificationSystem; need to change this to dispatch an error instead.
in `executeCellEpic` function within `src/notebook/epics/execute.js`

[2016-10-27 04:46] LBKinson opened #1095 "move firstTimePublish observer out of gistCallback function"
need to move `firstTimePublish` conditional in `gistCallback` function within `src/notebook/epics/github-publish.js` up and out to be handled as a return on the observable

[2016-10-27 04:46] LBKinson opened #1096 "send kernel_info_request again after a timeout"
When a kernel is launched, we should ensure `kernel_info_reply` is recieved after a timeout and if not, send `kernel_info_request` again. This would likely be part of `acquireKernelInfo`.

[2016-10-27 12:57] rornor opened #1098 "setting cell output prefs"
IIRC reduced cell output was introduced recently:
1. Is it possible to set preference so that by default I get expanded view for output cell instead reduced as it currently is
2. Is it possible to remove scrollbar from expanded view, as it is useless in such view?

TIA

[2016-10-27 14:46] jkornblum commented on #1037
Hello @lgeiger you're correct. It is being passed to MarkdownRenderer as "\" not "\\\\" via the common mark parser.

@darthoctopus may have a better idea but if we want a less elegant solution I've created a branch which uses regex to find $ - $ or $$ - $$ and then fix the issue but manually adding the additional backslashes. It worked with a few quick manual tests. I need to write some unit tests

[2016-10-27 19:18] rgbkrk commented on #1098
Yeah, I also wish for expanded by default or at the very least a bigger default collapsed version.

[2016-10-27 19:26] rgbkrk commented on #1094
Oh yeah, that's a good one to clean up now that we have the error middleware for our redux store.

[2016-10-27 20:08] rgbkrk commented on #1093
Now that we have a config, we could probably allow folks to set this as part of their nteract.json.

[2016-10-27 20:15] rgbkrk commented on #1088
Part of this was done in the refactor of main's launch.js (to keep launching with a default kernel consistent).

[2016-10-28 16:18] rgbkrk commented on #1065
Hopefully outlining this helps us fix #429, #803.

[2016-10-30 00:35] gnestor commented on #993
So how about we modify [inlineBundleToReact](inlineBundleToReact) so that it returns an <a> if the content is a URL and a <span> if not?

[2016-10-30 10:52] rgbkrk opened #1109 "Use escape carriage on the text streams"
For stdout and stderr streams, use @lgeiger's escape-carriage as the outputs are coming in.

[2016-10-30 10:53] rgbkrk commented on #1109
We want this so that running !npm install inside the notebook doesn't store or show all the lines of output. It also means you get the ASCII animation for install.

[2016-10-30 23:47] lgeiger commented on #1080
This was closed in #1082
Thanks to @vperezma 👍

[2016-10-30 23:47] #1080 closed

[2016-10-30 23:53] lgeiger commented on #1059
@beojan I guess we have to try it out 😉

You can take a look at the [Electron API demo app](http://electron.atom.io/#get-started). They have a example and a style sheet there.

[2016-10-31 17:50] captainsafia opened #1116 "Spellcheck in markdown cells"
This issue outlines a variety of thoughts on spellchecking in markdown cells in the notebook.

**Problem:** Spellchecking is currently unavailable in CodeMirror because as of CodeMirror version 4.0, CodeMirror elements are not recognized as editable content areas by the browser. As a result, the system spellchecker is not instantiated in those editable elements.

This problem is not unique to the

[2016-10-31 18:14] captainsafia commented on #1090
We'll need to use the `dialog` option in electron in order to facilitate this popup. There are a couple examples of us using Electron's `dialog` menu in our code to impact user action. [Here](https://github.com/nteract/nteract/blob/93128ac28dc8da0d9ccd14d0b80f81b3e7322c76/src/main/cli.js#L71) is an example.

Marking this as new-contributor-friendly with mentorship from me available.

[2016-10-31 18:30] captainsafia commented on #1086
I'll mark this as new-contributor-friendly since it is a pretty straightforward change to folks with experience in Immutable.JS or JavaScript.

Mentorship available from me via [our Slack](http://slack.nteract.in/).

[2016-10-31 19:15] captainsafia commented on #1065
Here are more thoughts on this. Specifically, here is how user intents would map to changes in the state. Let's assume we have a simple document with `<CodeCell id="1"/>`, `<CodeCell id="2"/>`, and `<MarkdownCell id="3"/>` . The two state elements that we have are `editorFocusedCell` for the cell that has CodeMirror focused and `cellFocused` for the `Cell` that is focused.

Let's say the user star

[2016-10-31 19:24] rgbkrk commented on #1065
Great exploration, I like this!

[code]

I'll explore a couple of these for a sec

I think we want `editorFocusedCell` to be `null` in this case. We want focus from the cursor/editor to go away (prevent accidental typing, allow other text input to be used).

Here's where it's a bit strange (and where you fixed it in #1055). We want to lose focus on any other editors (maybe it doesn't have to be ex

[2016-10-31 19:26] rgbkrk commented on #1065
We probably want the state structure to be something like:

[code]

We run into a problem though in scrolling/focusing in which we want to make sure that we don't re-scroll as other state changes in the document (focusedCell remains set to '1' for example while scrolling around and outputs are coming in).

[2016-10-31 19:27] captainsafia commented on #1065
Ah yeah! This makes way more sense.

Yeah. So I have a feeling I might need to pull some nasties with React to get this working right. Because we would need the `Editor` to change the state on `editorFocused` and then that change would have to bubble up the DOM tree to the parent `CodeCell`, `Cell`, and `Notebook` components.

[2016-10-31 19:29] captainsafia commented on #1065
Yeah, this makes more sense actually. I hadn't throughly thought out how scroll would fit in with all of this.

[2016-10-31 19:30] rgbkrk commented on #1065
There's an onClick handler for the editor component where we can set focus and yet _not_ focus the editor (codemirror is doing it) and _not_ scroll (implicitly done by user).

[2016-10-31 19:31] rgbkrk commented on #1065
That state structure likely matches the event as well (unless we turn them into discrete actions that match our roughly two events above).

[2016-10-31 19:31] rgbkrk commented on #1065
Oops! Wrong button while commenting. 👅

[2016-10-31 20:41] rgbkrk opened #1117 "Add NumFocus logo to README"
They are our lovely fiscal sponsor and stalwart legal entity.

[2016-11-01 07:45] darshan934 commented on #1117
Hi,
I have added a PR for this issue, could you check that and give me feedback?

[2016-11-01 09:04] marijnh commented on #1116
[This discussion](https://github.com/ProseMirror/prosemirror/issues/390#issuecomment-256846574) about a similar issue in ProseMirror might be relevant. Conclusion is: there might be hope for making spellcheck work, also in CodeMirror, at least in contentEditable mode, but it'd require an overhaul of the way we update the DOM (it has to become incremental to avoid confusing the browser). So yeah, i

[2016-11-01 14:14] rgbkrk commented on #1117
Thanks again @darshan934!

[2016-11-01 14:14] #1117 closed

[2016-11-01 20:23] #1013 closed

[2016-11-02 18:50] desilinguist opened #1132 "command line `nteract` just shows splash screen"
When running `nteract foo.ipynb` at the command line, I just get a splash screen and nothing else seems to happen. Running the actual app seems to work fine though.

PS:  This is a fantastic app and I am so happy that someone is working on it. Love the dark theme 👍

[2016-11-02 18:53] lgeiger commented on #1132
Thanks for the feedback!

Which operating are you on?
Does it open by running just `nteract`?

[2016-11-02 18:55] desilinguist commented on #1132
I am on macOS 10.12.1. `nteract` by itself also just shows the splash screen and nothing else happens. I also noticed that I get a `zsh` process running at around 100% even after I quit from the splash screen.

[2016-11-02 19:27] rgbkrk commented on #1132
It sounds like we may be doing things in the shell script that are not fully cross-shell (similar to how [dvm.sh](https://github.com/getcarina/dvm/blob/master/dvm.sh) and [nvm](https://github.com/creationix/nvm) are implemented.

[2016-11-02 19:28] rgbkrk commented on #1132
@desilinguist can you open the dev tools on the splash screen by running command-shift-i?

[2016-11-02 19:30] desilinguist commented on #1132
The only option available to me under the `nteract` menu is Quit. Cmd-Shift-i does nothing.

[2016-11-02 19:31] lgeiger commented on #1132
@desilinguist To eliminate variables, could you try `nteract` from a bash console?

[2016-11-02 19:33] lgeiger commented on #1132
Does `nteract --verbose` from your `zsh` shell work?

[2016-11-02 19:35] desilinguist commented on #1132
Just `nteract` on `bash` has the same problem.

`nteract --verbose` works on both `bash` and `zsh`.

[2016-11-02 19:48] lgeiger commented on #1132
Thanks for your fast reply!

It's definitely failing [here](https://github.com/nteract/nteract/blob/master/bin/nteract.sh#L80-L85). It seems like `nohup` doesn't correctly disconnect the process from the terminal.

@rgbkrk Any idea how to fix this? If everything fails we could spawn nteract from a node process like we do it on windows.

[2016-11-02 19:57] lgeiger commented on #1132
@desilinguist Bare with me (I have no idea why it's not working), could you try if the following commands also fail:
- `nohup nteract --verbose &`
- `nohup nteract --verbose > /dev/null 2>&1 &`

[2016-11-02 19:59] desilinguist commented on #1132
No bother at all. I can see `nteract` improving my productivity immensely down the line so I am happy to help.

Yes, both of those commands also fail.

[2016-11-02 20:25] lgeiger commented on #1132
I can reproduce this in my linux VM now which means it's not a OS X specific problem and we can't use `open -a`.

I see this strange behavior: The splash screen stays open until I close the terminal, then nteract opens normally.

[2016-11-02 20:53] lgeiger commented on #1132
I can't get it to work. At this point (and since we are using a very similar script compared to Atom) I'm unsure if the problem is caused by the shell script or by the splash screen.

[2016-11-02 21:27] lgeiger commented on #1132
@rgbkrk It's a problem with the splash screen. If I start nteract from a simple node script (without `nohup`) I get the following strange behavior.

![nteract](https://cloud.githubusercontent.com/assets/13285808/19948059/19030c44-a14b-11e6-8953-b9c05235b62e.gif)

I also would vote for removing the splash screen all together. I always have the feeling it slows down startup. But that's a general fee

[2016-11-02 21:44] rgbkrk commented on #1132
Intriguing.

The splash screen's primary purpose is to deal with the slow startup that occurs when we run our `shell-env` stuff as well as the :soon: to be implemented conda kernel finder. My shell is a bit slow to start, so the splash screen has been good feedback for me. It does run in a separate process as is completely dependent on asychronous events from the requested notebook(s) - it shouldn

[2016-11-02 21:48] rgbkrk commented on #1132
I'll be happy to dig into this one next week, I'm not sure I'll have enough time to fully invest in the command line interface this week.

[2016-11-02 21:50] lgeiger commented on #1132
That would be great!

[2016-11-03 04:23] #1086 closed

[2016-11-03 15:43] desilinguist opened #1137 "Strange alignment for indented lines"
I have been using nteract with some of my existing notebooks that I have been working on and I am noticing some strange alignment issues as I am adding (indented) code/comments to a cell. The GIF below shows what I mean. I basically have to re-indent to get the alignment to match up with the code that is already there.

![nteract-comment-bug](https://cloud.githubusercontent.com/assets/161680/19973

[2016-11-03 20:06] desilinguist opened #1140 "Support Command-/ for toggling comments"
It would be really cool if nteract also supported this keyboard shortcut like Jupyter notebook does.

PS: I am sorry for filing so many issues but now that I've switched to using `nteract` as my daily notebook app, I'm finding avenues for improvement. I also hope to contribute actual code for small-ish issues like this one once I have had a chance to familiarize myself with the codebase.

[2016-11-03 20:08] rgbkrk commented on #1140
Thank you!

Please keep filing issues, we want to build a really solid experience out of the box. This feedback helps.

[2016-11-03 20:19] lgeiger commented on #983
@chendaniely Sorry I lost track of this issue.

[`electron-builder`](https://github.com/electron-userland/electron-builder/) handles all of our packaging very well and supports a lot of different [targets (including `pacman`)](https://github.com/electron-userland/electron-builder/wiki/Options#LinuxBuildOptions).
It should be a matter of editing our [build config](https://github.com/nteract/nteract

[2016-11-03 22:03] rgbkrk commented on #670
Also related: #840

[2016-11-03 23:58] rgbkrk opened #1141 "Add the Altair Notebook to the example notebooks menu"
Title says it. The other example notebooks get loaded in by setting the Menu items directly. We likely should script our usage of `example-notebooks`. In the meantime, we should add the Altair notebook to the menu list.

[2016-11-04 13:22] desilinguist commented on #1137
Working with this a bit more, I now get the error:

[code]

However, if I retype the code in that cell in a new cell in nteract, there's no issue. So, I think there's some problem  with opening existing notebooks that were originally _not_ created in nteract.

[2016-11-04 13:35] desilinguist commented on #1137
One last update. It looks like nteract does not properly convert tabs to spaces? Here's what a cell with re-indented code looks like in Jupyter notebook:

<img width="900" alt="screen shot 2016-11-04 at 9 34 27 am" src="https://cloud.githubusercontent.com/assets/161680/20007320/0a25696a-a272-11e6-8abb-06619492c7cf.png">

[2016-11-04 22:09] rgbkrk commented on #1141
Done in #1146

[2016-11-04 22:09] #1141 closed

[2016-11-05 04:17] rgbkrk commented on #1137
Interesting. Sounds like I should be able to reproduce this with a notebook created in Jupyter that uses tabs instead of spaces?

[2016-11-05 04:24] rgbkrk opened #1148 "outputExpanded should not be in the top-level cell data"
Right now it's appearing as a sibling of `outputs`, `cell_type`, etc. when it should be under `metadata`. This is making our notebooks no longer conformed to nbformat.

[2016-11-05 04:26] jdetle commented on #1148
This definitely pertains to issues discussed in #1102.

[2016-11-05 04:27] rgbkrk commented on #1148
Two takeaways here:

1. put `outputExpanded` within a cell's metadata (note: there's already a `collapsed` flag in use across jupyter within the cell metadata)
2. introduce conformance tests by creating a notebook through nteract, possibly running through a series of actions

[2016-11-07 04:10] jkornblum commented on #899
Does this exist currently?

I see a Help > Learn More but no Help > About or File > About anywhere.

[2016-11-07 04:13] rgbkrk commented on #899
On a Mac, this menu is under nteract > About nteract (and in dev mode Electron > About Electron).

[2016-11-07 17:47] captainsafia commented on #1148
Similarly, we should also move `outputHidden` and `inputHidden` to metadata. I thought there was an issue open for this from a while back but it looks like this is not the case.

This would also make it much easier to clean up the notebook JSON when it is saved to an ipynb.

[2016-11-07 18:50] captainsafia commented on #1148
Also, do we wanna submit a proposal upstream to nbformat to provide more flexibility in what options can be set in the metadata field? We do run the risk of turning it into an unregulated zone for metadata but it might help to provide options beyond `scrolled` and `collapsed`.

[2016-11-07 19:01] rgbkrk commented on #1148
Last time we asked about picking some fields, @takluyver said that it was entirely the point of metadata.

What we really need to outline carefully as a project is whether something is:

* Transient (at runtime)
* Persisted (in the notebook document)

As we explore multi-user collaboration, we also need to concern ourselves with what is local transient state for that user. For now, we can largely

[2016-11-07 19:29] captainsafia commented on #1148
Nice! This would be a good thing to discuss during this week's dev meeting. Mind bringing it up and reporting back any discussions/decisions made?

[2016-11-07 19:37] rgbkrk commented on #1148
Sure, if there are any.

[2016-11-08 18:07] #1148 closed

[2016-11-10 21:47] lgeiger opened #1164 "Markdown numbering across multiple cells"
Consider the following two markdown cells:
Cell 1: `1. First Item`
Cell 2: `2. Second Item`

nteract will show:
![bildschirmfoto 2016-11-10 um 22 37 07](https://cloud.githubusercontent.com/assets/13285808/20195587/7a12cae0-a797-11e6-9d4d-990643a3714f.png)
jupyter doesn't handle this either (it shows the wrong numbering):
![bildschirmfoto 2016-11-10 um 22 38 59](https://cloud.githubusercontent.com/

[2016-11-10 21:56] lgeiger opened #1165 "File save indicator is backwards"
Take a look at the red close button:
![nteract](https://cloud.githubusercontent.com/assets/13285808/20195931/bc07fcc6-a798-11e6-869e-e44c9a65b75c.gif)

[2016-11-10 22:04] lgeiger opened #1166 "Add One-Dark theme"
I love Atom's default UI theme and syntax coloring.
It would be great to have this theme.

Here are the color values:
https://github.com/atom/one-dark-ui
https://github.com/atom/one-dark-syntax/blob/master/styles/colors.less

[2016-11-10 22:07] jdetle commented on #1165
Hey @lgeiger did some things get cut off in this gif?

[2016-11-10 22:09] lgeiger commented on #1165
Only the saving and kernel restart dialogs.
The save notifications are also correct. I triggered them with `cmd-s`.

[2016-11-10 22:35] rgbkrk opened #1168 "Create conformance tests for nteract created notebooks"
From a comment in #1148 (https://github.com/nteract/nteract/issues/1148#issuecomment-258590140), introduce conformance tests by creating a notebook through nteract then using the notebook JSON Schema to validate that it is still a proper notebook.

[2016-11-10 23:29] ivanov opened #1170 "tab behavior when editing markdown cells"
When editing markdown, pressing a tab inserts spacing only in the rendered version, not the editor.

<img width="407" alt="screen shot 2016-11-10 at 3 25 27 pm" src="https://cloud.githubusercontent.com/assets/118211/20198585/3ef61e68-a75a-11e6-8e37-db29a0d5bab5.png">

[2016-11-12 21:45] rgbkrk opened #1177 "Determine retry strategy for our epics"
We're missing proper retrying on the observables in our epics - they currently catch errors yet don't restart the epics themselves (to keep handling the actions).

[code]

[2016-11-13 11:43] souravsingh commented on #1166
@lgeiger I would like to work on the issue. How do I start?

[2016-11-13 12:07] lgeiger commented on #1166
Hey that's great! :tada:

I would start with a copy of the default or dark theme in nteract and modify the color values.

Feel free to ask here or on slack if you need more help!

[2016-11-13 12:25] rgbkrk opened #1179 "Random Electron Error"
Every now and the app breaks in a weird way and I get this error:

[code]

Note that it's from Electron. No idea what causes this.

[2016-11-13 15:50] lgeiger commented on #1179
Looks like https://github.com/electron/electron/issues/7918

[2016-11-13 20:52] alexandercbooth commented on #1166
Awesome, @souravsingh!

In addition to what @lgeiger said, some logistical things to keep in mind: you will want to follow the contributor guidelines [here](https://github.com/nteract/nteract/blob/master/CONTRIBUTING.md).

And once you have it you can add it to the [menu](https://github.com/nteract/nteract/blob/master/src/main/menu.js) with something like:
[code]

Something to potentially keep in

[2016-11-13 21:06] alexandercbooth opened #1181 "Docs - Potentially add testing to contributor guide."
I noticed in the contributor guide, there is no mention of style testing with eslint or unit testing before submitting a PR. Is this something we want to consider adding to CONTRIBUTING.md or something preferable to continue letting CI handle and debugging after the fact?

As a new contributor, it was beneficial for me to run these things locally, but I recognize that may not be universal.

Thanks

[2016-11-13 22:26] alexandercbooth commented on #1181
To be clear, I am not suggesting changing anything with CI, just also running these things locally to expedite PRs.

[2016-11-13 22:48] rgbkrk commented on #1181
I'm all for adding linting to the default npm run test setup!

[2016-11-13 22:49] rgbkrk commented on #1181
Oh you're saying adding some text to the contributing guide - also super cool

[2016-11-14 00:45] alexandercbooth commented on #1181
Ooh good idea, I hadn't considered adding it to default testing. Do you think something like something like this might be appropriate?
[code]

Nice, I can add an extra step to npm run test after #5 in contributing.md

[2016-11-14 02:30] rgbkrk commented on #1181
Well, we want it to fail locally when it doesn't pass linting so we'd want:

[code]

[2016-11-14 02:31] alexandercbooth commented on #1181
Ahh good catch. Thanks Kyle!

[2016-11-14 03:27] #1181 closed

[2016-11-14 20:51] #771 closed

[2016-11-14 20:51] jkornblum commented on #771
Can be closed with pr #1184

[2016-11-14 20:55] rgbkrk commented on #771
Thanks again @jkornblum!

[2016-11-14 22:25] Xogle opened #1189 "npm install fail on zmq"
npm install is erroring on zmq dependency

I am running on Mac OSX Yosemite with Python 2, Node 6.9.1, and npm 3.10.8

Here is the beautiful error,
![screen shot 2016-11-14 at 17 24 45](https://cloud.githubusercontent.com/assets/6294118/20285337/48ee6096-aa8f-11e6-8da4-90393c29b5a6.png)

[2016-11-14 22:51] willingc commented on #1189
@lgeiger I ran into the same error. Discussion with @jdetle in the Slack channel. Ping me if you need info or want me to test anything. Thanks!

[2016-11-14 23:37] michaelaye opened #1190 "Cell never seems to execute"
Trying out 0.0.14, loaded two example notebooks, both Shift-Enter and clicking the "Play" icon does not seem to execute the cell, at least with my Jupyter-based expectation that the asterisk should change to a number, when the cell has been executed.
The first cell with `import pandas as pd, requests, json` just stays with an asterisk.

Trying this on a 10.11.6 system, all updates.

[2016-11-15 02:11] #1065 closed

[2016-11-15 02:37] lgeiger commented on #1189
It looks like it's having issues because the path contains a space. I'll investigate.

[2016-11-15 03:09] willingc commented on #1189
@lgeiger Here's a pastebin of the errors I received on a fresh clone: http://pastebin.com/eN1nR3Fj

[2016-11-15 05:25] lgeiger commented on #1189
@willingc This looks like a different error. It doesn't find your C compiler.

Maybe there is something wrong with the xcode compilers. Could you run `xcode-select --install` and try it again?

[2016-11-15 05:26] willingc commented on #1189
@lgeiger Tried that earlier, but happy to try again ;-)

[2016-11-15 05:28] willingc commented on #1189
:-(

[code]

[2016-11-15 05:36] lgeiger commented on #1189
Hmm I get the same message.

Do you get a error if you run `gcc --version`?

[2016-11-15 05:37] willingc commented on #1189
Nope.

[2016-11-15 05:39] willingc commented on #1189
So I'm running in a conda environment with Python 2. Let me install python 2 from python.org and see if that solves it if I run without a virtualenv or conda env.

[2016-11-15 05:41] lgeiger commented on #1189
[code]

[2016-11-15 05:44] lgeiger commented on #1189
That's interesting. You have a different `gcc` version installed. This may cause the problem.

I'm getting:
[code]

[2016-11-15 19:02] #1189 closed

[2016-11-15 20:20] rgbkrk commented on #1179
I hope there is a way for us to catch this and deal with it so it doesn't break the main app.

[2016-11-15 20:43] jkornblum opened #1196 "mocha it() functions missing from menu-spec.js unit tests"
Noticed several tests in `menu-spec.js` are missing `it()` functions inside of their `describe()` function.
The code still runs but it doesn't report to console and doesn't describe issue on failure (it just throws an exception).

I have not checked if this is present in other test files.
I assume these was just a small oversight.

[2016-11-16 03:46] ivanov opened #1200 "display updates typo needs to be fixed"
Kyle just pointed out that in `example-notebooks/display-updates.ipynb` I wrote `print("typical ouput")` instead of `print("typical output")` - this is an nice easy bug for someone who wants to make their first contribution to nteract!

[2016-11-18 02:47] rgbkrk commented on #803
Done in #1167.

[2016-11-18 02:47] rgbkrk commented on #429
Done in #1167.

[2016-11-18 02:47] #429 closed

[2016-11-18 02:48] rgbkrk commented on #803
Actually, this discussion has more nuance, re-opening.

[2016-11-18 02:48] rgbkrk commented on #803
/cc @peggyrayzis

[2016-11-18 17:23] jdetle commented on #1190
Hi @michaelaye, it sounds like a kernel isn't being started and connected to. How have you installed your python kernel?

[2016-11-18 20:20] jdetle opened #1215 "Live markdown rendering change in user experience"
@scottdraves brought up that the beaker notebook live renders markdown inline, this is probably a better way of handling markdown, especially for large markdown cells.

Creating this issue as a discussion area for improvements to the user experience.

[2016-11-18 20:24] jdetle opened #1216 "Merge cell icon unintuitive, action not always apparent."
Showing the notebook off, we realized that the up arrow isn't really obvious for what it is doing, which is to merge the cell below into the cell above. I am opening this issue to discuss how to go about fixing the cell creator button to make it more first time user friendly.

[2016-11-19 05:33] rgbkrk commented on #1216
I totally agree. It's tempting to take it out until we have something sensible.

If we had multiselect of cells (again), I could imagine the cell toolbar having a "merge cells" option. No other ideas from me there.

[2016-11-19 05:39] rgbkrk commented on #1190
@michaelaye Couple things to run for diagnostics -- at a terminal run

[code]

As well as

[code]

Thanks for trying nteract out!

[2016-11-19 06:03] rgbkrk commented on #1215
As a WYSIWYG editor like with [Draft.js](https://facebook.github.io/draft-js/) or how it renders when unfocused in Beaker:

<img width="578" alt="screen shot 2016-11-19 at 1 02 29 am" src="https://cloud.githubusercontent.com/assets/836375/20453455/ec391298-adf3-11e6-9714-61dfcca44dba.png">
<img width="576" alt="screen shot 2016-11-19 at 1 02 36 am" src="https://cloud.githubusercontent.com/assets/8

[2016-11-19 06:43] cfljam commented on #297
Is it possible to move any cell?

[2016-11-19 06:47] cfljam opened #1219 "Feature Request: Split Cell Functionality"
I can see cell merge but no split...I use this a lot in Jupyter.

[2016-11-19 16:15] rgbkrk commented on #297
@cfljam On the left side of the cell (the input area) you can click to drag and drop cells. I'll chalk that one up to us needing better discovery of the drag and drop location and likely an alternate way of moving cells up and down.

[2016-11-19 21:57] jkornblum opened #1221 "No ability to stop cell code execution"
I was running code today that goes into an infinite event loop. I noticed there is no way to stop the cell execution like 'ctrl+c' or cell > stop execution.

When I tried to kill the kernel there is no response
When I try to restart kernel it displays `kernel null has been restarted`
The code continues to execute, I had to close nteract entirely.

[2016-11-20 01:26] rgbkrk commented on #1221
Just to clarify - it sounds like the discovery of the interrupt was hindered by the fact that kernel operations are under "Language". Then, beyond that, interrupt wasn't performing a true interrupt (and not providing much feedback).

[2016-11-20 01:58] cfljam commented on #297
Cool but too subtle! The really clean interface is part of the attraction

[2016-11-20 20:55] alexandercbooth commented on #1200
Closed by #1222

[2016-11-20 20:55] #1200 closed

[2016-11-20 21:51] rgbkrk opened #1223 "Initial cells wrong size"
Initial empty notebook looks like this (notice the extra height):

![screen shot 2016-11-20 at 1 48 17 pm](https://cloud.githubusercontent.com/assets/836375/20466405/0a260754-af28-11e6-89cc-f38b222b0038.png)

When creating new cells, they're all the right height:

![screen shot 2016-11-20 at 1 49 54 pm](https://cloud.githubusercontent.com/assets/836375/20466412/3c760704-af28-11e6-8799-2caf9f19b337

[2016-11-21 10:57] lgeiger commented on #1196
Closed by #1218

[2016-11-21 10:57] #1196 closed

[2016-11-21 12:39] #1168 closed

[2016-11-21 19:01] gvwilson opened #1226 "Non-ASCII characters in USER_GUIDE.md not rendered correctly"
Several quoted (gray) boxes in <https://github.com/nteract/nteract/blob/master/USER_GUIDE.md> contain non-ASCII characters that are rendered incorrectly, e.g.:
![screen shot 2016-11-21 at 1 58 13 pm](https://cloud.githubusercontent.com/assets/911566/20496373/e42fc816-aff2-11e6-8a9c-9e23081fc9a9.png)
These characters do not render correctly when viewing the raw source of the page at <https://raw.gi

[2016-11-21 19:09] gvwilson opened #1227 "Feature request: launch or prescribe update from within application"
It would be really helpful if I could run nteract and have it inspect my system and tell me things like, "You don't appear to have kernels installed, here are the commands you need to run and how to run them."

[2016-11-21 19:22] rgbkrk commented on #1226
Thanks for reporting!

We can switch those to literal `->`, they're currently some unicode character that renders well on my Mac and Windows machines.

<img width="537" alt="screen shot 2016-11-21 at 11 21 45 am" src="https://cloud.githubusercontent.com/assets/836375/20497117/cba8b476-afdc-11e6-8baf-8d812e1cdd67.png">

[2016-11-21 19:27] jdetle commented on #1227
Yes it would! This is totally something on my todo list. The current idea would be to have some sort of setup where we could go to `help > diagnostics` and have a set of scripts ready to be ran for all sorts of common issue. In addition, the ability to post an issue to github from the desktop app if these common issue fixes don't help would be desirable. I'd love to hear your thoughts on how to be

[2016-11-21 20:59] OliverEvans96 opened #1229 "Offline Plotly graphs not displaying"
The following code produces the expected output using the Jupyter Notebook, but only generates a blank output in nteract.

[code]
Jupyter:
![image](https://cloud.githubusercontent.com/assets/15915043/20500160/59ad644a-b002-11e6-92bd-2bf0fe973c2b.png)

nteract:

![image](https://cloud.githubusercontent.com/assets/15915043/20500096/24d777ce-b002-11e6-8dfa-950f2726adf3.png)

I get the following error

[2016-11-21 22:31] rgbkrk commented on #1229
We don't support the jupyter notebook's reliance on requirejs / `define` (AMD). We do have support for plotly embedded directly with an `application/vnd.plotly.v1+json` mimetype. An initial version of this is in https://github.com/plotly/plotly.py/pull/562 and needs to be revisited.

/cc @chriddyp - do you have cycles to finish up the plotly.py support?

In the meantime, here's a function that wil

[2016-11-22 02:19] gvwilson commented on #1227
This sounds like a job for [theme music] @wking - Trevor, any ideas on
how best to do something like this?

[2016-11-22 03:06] jdetle opened #1230 "Refactor tests to use builtin machinery of redux-observable."
In my lack of understanding of some of the builtin methods of redux-observable, I missed some opportunities to write cleaner tests.

In tests where I create a stream of observables (various epic tests), there are two lines that can be expressed in one:
[code]
can be rewritten into:
[code]
or
[code]

in addition, we may want to refactor some of the observable tests to remove the action buffer by co

[2016-11-22 05:45] wking commented on #1227
This is pretty much what the SWC installation scripts are [1],
although they handle “here are the command you need to run and how to
run them” by linking out to external docs [2].

Whether that approach is feasible depends on how many packages you
need to support and how consistently you can test for them.  Testing a
hundred commands where you can use ‘$COMMAND --version’ is a lot
easier to mainta

[2016-11-22 17:25] rgbkrk opened #1235 "Render codemirror statically when not focused"
Within JupyterLab, @blink1073 did this with the combo of:

* https://github.com/jupyterlab/jupyterlab/pull/1123
* https://github.com/jupyterlab/jupyterlab/pull/1158

Would be really cool for us to do that here as well.

[2016-11-22 17:27] blink1073 commented on #1235
This turned out to be a bad idea if you want to preserve line numbers or any other kind of gutters, so we instead used the `resize` and `refresh` methods more judicously.  cf https://github.com/codemirror/CodeMirror/issues/3364

[2016-11-22 17:28] rgbkrk commented on #1235
Awwwww.

[2016-11-22 17:28] blink1073 commented on #1235
😿

[2016-11-23 03:06] lgeiger opened #1237 "Support SVG output"
I just realized nteract doesn't support SVG output. We should change that!

[Here](https://github.com/nteract/transformime/blob/master/src/svg.transform.js) is the implementation by @n-riesco for Hydrogen using the native DOM.

[2016-11-23 03:51] rgbkrk commented on #1237
👍

Another way to do it, since we have a modern browser is to use a DOMParser:

[code]

That doc is a document fragment that can be added to the DOM wherever needed.

[2016-11-23 04:05] thomasballinger commented on #1223
There's a `margin-bottom: -11px;` style that isn't being applied to these extra-tall cells in the `class="CodeMirror-sizer"` div.

This seemed to be caused by https://github.com/codemirror/CodeMirror/blob/5fc55e8227b3c0d1d8e3178a45fbb37f6f581e48/src/display/update_display.js#L46 not clipping enough because there doesn't seem to be a scrollbar there; a scrollbar should cause a difference between `d

[2016-11-23 04:54] thomasballinger opened #1238 "tab behavior should match autoindent"
![out](https://cloud.githubusercontent.com/assets/458879/20551470/82b9bd5e-b0f5-11e6-93e1-8bbf35769315.gif)

At least while editing Python code, pressing tab should result in 4 spaces. Regardless of language, autoindent should insert the type of whitespace pressing tab would give the user so they can mix automatically indented lines with lines manually indented with tab.

Related to https://github

[2016-11-23 20:48] rgbkrk commented on #1238
Wow that's pesky.

[2016-11-24 21:43] lgeiger opened #1242 "Markdown cells don't render local images"
![bildschirmfoto 2016-11-24 um 22 48 59](https://cloud.githubusercontent.com/assets/13285808/20610330/39c77dd0-b298-11e6-980b-9b61396baf99.png)

~~The same happens with local images~~

[2016-11-24 21:45] rgbkrk commented on #1242
As for the absolute URL you're using there -- it needs to be without quotes.

For local images, there is a bigger problem. The page is relative to the install location, not the notebook. We have to change our architecture to handle relative assets.

[2016-11-24 21:47] lgeiger commented on #1242
Oops You're right. But the issue with local images is still there.

[2016-11-24 21:59] rgbkrk commented on #1179
Better error message when it breaks since we're on a newer version of Electron!

<img width="1440" alt="screen shot 2016-11-24 at 1 56 48 pm" src="https://cloud.githubusercontent.com/assets/836375/20610409/1efb7f8c-b24e-11e6-825b-ab9549abbcf3.png">

[2016-11-24 22:00] lgeiger commented on #1179
They fixed the error reporter in https://github.com/electron/electron/pull/8003

[2016-11-28 09:22] captainsafia commented on #1215
This would tie in nicely with the spellcheck issue as well.

[2016-11-28 18:38] #1223 closed

[2016-11-29 22:10] pylang opened #1249 "Feature Request: support existing kernels"
nteract is beautiful and zen.

Although I have ipykernel installed on several conda envs, I still have to install a kernel manually.  I believe they install for notebooks automatically through `nb_kernels`.   I'm requesting integration of existing kernelspecs from conda, as I don't know what how this manual installation with affect my prior setup.

[2016-11-29 23:36] rgbkrk commented on #1249
Thank you!

Part of this was done in https://github.com/nteract/nteract/blob/master/src/main/kernels.js, we need more adaptation to finish this off. I'll register this mentally as another vote to finish off #357. I know the next steps to take, I haven't had time to do this yet.

@lgeiger -- this relates to how we should be able to take any kernelspec in our current setup to do a run (rather than r

[2016-11-30 20:20] captainsafia commented on #1235
Thanks for letting us know, @blink1073! I'll take a look at the resize/refresh approach.

Closing this.

[2016-11-30 20:20] #1235 closed

[2016-11-30 20:22] captainsafia commented on #1219
Thanks for opening this issue, @cfljam! The split cell feature is hidden now as we are working on improving it's ability to split cells.  It'll take some thinking but I anticipate it'll be done soon especially now that we have more people using the app.

[2016-11-30 20:24] blink1073 commented on #1235
So much fun!  Here's the gist: https://github.com/jupyterlab/jupyterlab/pull/1158#issue-185244010.

[2016-11-30 23:28] dhirschfeld opened #1254 "Tooltip for function signature/docstring"
In the jupyter notebook `Shift-Tab` will bring up a tooltip showing the function signature/docsting whcih is incredibly handy.  It would be great if this were also available in nteract.

[2016-12-01 03:35] dhirschfeld opened #1256 "No Tabs!!!"
`TabError: inconsistent use of tabs and spaces in indentation`

It would be nice to have an option whereby tab always indented 4-spaces. It would also be nice to be able to configure whether or not to show *"invisibles"* e.g. spaces

[2016-12-01 03:51] dhirschfeld opened #1257 "Ability to control scroll behaviour of cells"
It seems in nteract that an output over a certain size will trigger a vertical scrollbar for the cell which is reasonable and follows the existing notebook behaviour IIRC. In the existing notebook you can toggle the scrolling and display the full cell by double-clicking in the left margin. It appears this isn't yet implemented in nteract?

In my usecase I've got a large mpl figure with several cha

[2016-12-01 03:52] dhirschfeld commented on #1256
Sorry, dup of #1137

[2016-12-01 03:52] #1256 closed

[2016-12-01 03:53] dhirschfeld commented on #1238
Also, From #1256:

[2016-12-01 03:58] dhirschfeld commented on #803
***Note:*** In the existing notebook `shift-enter` will execute and move focus to the next cell (possibly creating one in the process) whereas `ctrl-enter` will execute the cell, leaving focus in the same cell but displaying the newly calculated output below.

[2016-12-01 04:47] dhirschfeld commented on #1257
I see that it's available in the cell dropdown. Sorry for the noise!
![image](https://cloud.githubusercontent.com/assets/881019/20782171/0231f75a-b7d5-11e6-9aa6-255a4af17ab7.png)

[2016-12-01 04:47] #1257 closed

[2016-12-01 17:47] jdetle commented on #1257
Not noise at all! We really appreciate any user who takes the time to open (and close) an issue. Thanks very much @dhirschfeld.

[2016-12-01 21:30] fbrundu opened #1258 "Continue comment when inserting a newline"
Hi,
I would like to propose a small feature request: when writing a comment it would be useful to make nteract add automatically a comment symbol (e.g. `#` in Python) as soon as the user goes to the next line (inserting a newline). What do you think?

Thanks,
Francesco

[2016-12-02 03:42] captainsafia commented on #1258
Hello Francesco! Thanks for opening this issue! 🎉

This is certainly possible using the [comment add-on](http://codemirror.net/doc/manual.html#addons) in CodeMirror and some JavaScript on our end. If you're interested in implementing this, I'd be glad to help you through it. Otherwise we can leave this open and see if anyone else can tackle it!

[2016-12-02 05:18] rgbkrk commented on #1074
This was one was done at some point in the last month, based on what I see in the code, closing!

[2016-12-02 05:18] #1074 closed

[2016-12-02 05:23] captainsafia commented on #1075
To elaborate further on this, [the code in kernels.js](https://github.com/nteract/nteract/blob/master/src/main/kernels.js#L14) currently only checks to see if the Python IPyKernel is available. Ideally, we want to iterate through all the kernels in ${condaEnvironmentSysPrefix}/share/jupyter/kernels/*/kernel.json and check that they exist as well.

[2016-12-02 05:26] rgbkrk commented on #1096
This affects kernels that are a bit slower to start, which includes Scala and Julia.

We primarily need to do a retry of the sending of a kernel_info_request if we don't get it in time.

[2016-12-02 06:18] rgbkrk commented on #1095
@jdetle did you handle this recently?

[2016-12-02 06:20] jdetle commented on #1095
No, I did a different refactor inside that code. I'll tackle a refactor this weekend.

[2016-12-02 08:11] fbrundu commented on #1258
Hi Safia,
thanks for the prompt reply.
I would like to implement it but currently I have no time to do it.
I think it's better to leave it open and see if anyone else can implement it.

Thanks,
Francesco

[2016-12-02 17:55] #803 closed

[2016-12-02 22:47] #1238 closed

[2016-12-04 23:11] rgbkrk commented on #549
Another component I think we'll want to bring into here is `enchannel-zmq-backend` as well as `spawnteract` (I'm guessing we'd make it based off of `spawn-rx` in here). `jupyter-paths` can likely stay separate though.

I've updated the issue description with this great article too: http://www.macwright.org/2016/07/08/lerna-npm-organizations-new-wave-modularity.html

Soon I'll provide a better outl

[2016-12-07 13:29] laymonk opened #1265 "Modifying styles via IPython.core.display.HTML not working"
Typically, one can modify default jupyter notebook styles by importing  IPython.core.display.HTML (in python) and applying styles to it .. eg:
[code]
I am trying to modify the default table display styles for a pandas dataframe, but this is not working in nteract ..

Also, trying to add new themes the recommended Jupyter way does not work, and the themes are not available in nteract

**Generally,

[2016-12-07 14:08] laymonk commented on #1265
A peek in the pandas source code showed it was expecting the HTML object to be wrapped within the display object .. and the table css works fine now .. like so:
[code]

Would still appreciate a response to my question on how to define custom styles for nteract ..

[2016-12-07 14:28] alexandercbooth commented on #1265
Hi @laymonk, thanks for your question!

If you are building from source, you can create a custom theme by adding it to  [styles](https://github.com/nteract/nteract/tree/master/static/styles) and naming it `theme-laymonk.css`.

And once you have done that you can add it to the [menu](https://github.com/nteract/nteract/blob/master/src/main/menu.js#L358) with something like:

[code]

Then install and

[2016-12-07 17:34] laymonk commented on #1265
Thanks a million, @alexandercbooth  .. the menu definitions file (menu.js) is what I was seeking really.

[2016-12-07 20:17] fbrundu opened #1267 "Export to PDF preserving styles"
Hi all,
Is there any plan to provide an export to PDF, while preserving the style of the notebook?
Such as a print of the notebook. This would be nice for presenting the notebook as an article.
Unfortunately, I cannot work on it right now.

Thanks,
Francesco

[2016-12-07 20:21] jdetle commented on #1267
http://electron.atom.io/docs/api/web-contents/ <-- contents.printToPDF looks like the function we'd need to implement this. To the best of my knowledge we don't currently have it but I can work on it tonight for you @fbrundu!

[2016-12-07 20:21] alexandercbooth commented on #1265
My pleasure @laymonk, thanks for using nteract 🎉.  Your feedback is really valuable!

[2016-12-07 20:24] fbrundu commented on #1267
Thanks :)

[2016-12-08 03:48] jdetle commented on #1267
Hi @fbrundu, I have working prototype up and this is the result I got:
[printPDF.pdf](https://github.com/nteract/nteract/files/638367/printPDF.pdf)
It looks like the shadows are rendered rather poorly, and in my opinion I wouldn't want this on my website. If you are still interested I can go ahead and do some more work to hash out a pull request.

[2016-12-08 08:20] fbrundu commented on #1267
@jdetle ok. I think that's a nice result (shadows aside). It is not urgent, though, but I wrote to suggest a possible feature for a new release :)

Thanks

[2016-12-08 12:22] OliverEvans96 commented on #1267
Does it seem that nbconvert would be helpful here? Convert to latex ->
compile. That would require users having latex or including some subset of
it with the package, perhaps neither of which would be ideal. Also, perhaps
nbconvert doesn't preserve the style as viewed in nteract in the way you
would hope.

Oliver

On Thu, Dec 8, 2016 at 3:20 AM, Francesco Brundu <notifications@github.com>
wrote:

[2016-12-08 12:36] fbrundu commented on #1267
Yes, that was what I first thought.
The problem, as you said, is that if you prepare some document you cannot preserve the style once you go through latex. I had problem with listings, for example, with very long lines that were displayed correctly on the notebook but too long for the pdf.
However, the solution that @jdetle proposed, by using Electron API, seems to me the right way to do it, maybe

[2016-12-08 18:24] jdetle commented on #1267
@fbrundu @OliverEvans96, you're welcome to try to come up with a fix using nbconvert. I'll try to tackle that myself asap, but I just dont know very much about the project. Either way I think we'll need a special print stylesheet if you want to retain some amount of styling in a pdf.

[2016-12-09 07:15] jdetle commented on #1267
Awwww yuss! Check it out:
[printPDF.pdf](https://github.com/nteract/nteract/files/641468/printPDF.pdf)

Should be up in the next few days.

[2016-12-11 15:26] jkornblum opened #1274 "Unexpected statusbar update behavior"
When I run code the status bar changes to "python3 | idle" to "python3 | busy" as expected.
When the code completes the status bar stays at "python3 | idle" until I edit a code cell.

This happens because of the `shouldComponentUpdate` method in `status-bar.js`. The render function is gated by a change in notebook or lastSaved prop which does not happen until code cell is edited and the notebook c

[2016-12-12 03:41] dhirschfeld opened #1277 "Filename not updating after save"
After saving, the filename in the title bar doesn't update which is a bit disconcerting as you're unsure whether or not it actually did anything.

You can force the title bar to update by e.g. opening and closing the SaveAs dialog.

[2016-12-12 13:15] jkornblum commented on #1277
I also observe this on Windows 7. I have to "redraw" the Electron window (e.g. moving it, or resizing it) and the title bar will update. I believe this is an Electron issue, it's mentioned in this [ticket](https://github.com/electron/electron/issues/1821)

What operating system are you using?

[2016-12-12 23:00] dhirschfeld commented on #1277
Sorry, should have mentioned - also Win7. Happy for this to be closed if
it's an upstream issue...

On 12 Dec 2016 9:15 pm, "Joshua Kornblum" <notifications@github.com> wrote:

[2016-12-19 23:45] rgbkrk commented on #549
Here's how mapbox-gl-js organized it: https://github.com/mapbox/mapbox-gl-js/issues/3656

[2016-12-20 17:24] peggyrayzis opened #1287 "Remove PureRenderMixin (deprecated), extend from PureComponent"
We use the 'react-addons-pure-render-mixin' in some of our components to shallowly compare props & state in shouldComponentUpdate. This mixin is deprecated - we should extend our component classes from PureComponent instead to take advantage of this feature.

https://facebook.github.io/react/docs/pure-render-mixin.html

[2016-12-20 17:28] rgbkrk commented on #1287
Ooooh that's new to me. I had not heard of `PureComponent` yet!

[2016-12-20 17:35] peggyrayzis commented on #1287
Yeah it's pretty new! I'm willing to tackle this gradually throughout my provider refactor or offer help to a new contributor that wants to take this on. 😀

[2016-12-20 18:49] rgbkrk commented on #1242
Suggestion by @smashwilson: use [`<base>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base) and set the `href` to the notebook path. This would likely have to occur after we load our other assets.

[2016-12-20 20:01] peggyrayzis opened #1288 "Refactor components to remove Redux logic"
In order to keep our components modular and reusable, @rgbkrk & I discussed removing all Redux logic (dispatching, accessing the state tree) from the components themselves and moving them into providers.

Providers are HOCs that act as middlemen between presentational components & the Redux store (or any other form of data hydration). They provide presentational components with access to applicati

[2016-12-20 20:22] jdetle commented on #1288
I'll try to help out once I see your PR as a guide 👍

[2016-12-21 02:07] carsonfarmer commented on #1190
I'm having the same issue with `R` and `Javascript` kernels, but both Python kernels work fine:

[code]
[code]
And ideas?

[2016-12-21 16:19] #1287 closed

[2016-12-22 15:11] lgeiger commented on #1274
Closed in #1292

[2016-12-22 15:11] #1274 closed

[2016-12-23 07:48] gnestor commented on #1093
I tried out the GeoJSON example notebook and I'm getting the following error:

![image](https://cloud.githubusercontent.com/assets/512354/21449349/2207e8f0-c8a1-11e6-91d6-d1c69967f118.png)

Is this related or should I open a new issue?

[2016-12-23 16:17] rgbkrk commented on #1093
That's unrelated and fixed on master now. Your theme is nteract and instead of replacing the theme name with light or dark it put the nteract name in the tile URL.

[2016-12-23 21:16] gVallverdu opened #1297 "Kernel is loading and does not run"
Hello
I have just install nteract from the dmg on mac os 10.12.2. The nteract version is `0.0.15`.

I had a R version working with Rstudio and python installed with anaconda. Jupyter notebook works well and I love it. That is what I would like to try nteract.

If I launch nteract, I got a notebook like page but at the bottom left there is `Loading ... | not connected`. If I try for example to run

[2016-12-23 21:28] rgbkrk commented on #1297
Hi @gVallverdu! Thanks for trying out nteract.

I've been running into this with the R kernel too. I _think_ this stems from the R kernel not booting as fast as we expect and so it misses our `kernel_info_request`. In general we need to retry our initial `kernel_info_request` so that we can serve kernels that are slower to start more effectively. I could be wrong on this one for R -- either way I'

[2016-12-24 13:27] gVallverdu commented on #1297
Hi,
I do not understand why do I  need to install ipykernel once time more ? I have already a version installed :

[code]

Maybe I need to do only the second command ? In order to "activate" something in my user directory ?

[2016-12-26 21:51] rgbkrk opened #1301 "Tab key is switching between cells"
On master (I'm at 187548811c1629cce5b08303f32394b0e57ecf01) the tab key is no longer indenting - it's switching to the next cell.

[2016-12-28 19:01] #1301 closed

[2016-12-29 13:55] jarmokivekas opened #1306 "Clearing cells sets illegal 'outputs' key to markdown cells"
This is a little bit related to #1232  and #1233

Restarting the kernel and clearing cells sets  `outputs` keys to all cells, including markdown cells, where it is invalid.

I'm on master branch commit 974cdd2b05

## Reproducing

1. create of open any notebook with at least one markdown cell
2. use *Language > Restart and Clear All Cells*
3. save the notebook
4. opening the notebook using `jupyter

[2016-12-29 18:48] rgbkrk commented on #1306
Thank you for reporting this!

[2017-01-02 22:45] gnestor commented on #1093
I'm running master and still seeing this. Switching to "Light" or "Dark" themes fixes it.

[2017-01-02 23:31] rgbkrk commented on #1093
Alright, let me see if I can fix this.

[2017-01-02 23:58] gnestor commented on #1093
I'm going to re-open this to address the original issue which is configuring the strategy for fetching map tiles.

[2017-01-02 23:59] rgbkrk commented on #1093
Thanks!

[2017-01-05 19:11] rgbkrk commented on #549
Wish I had noticed this before:

Could have used that rather than the way we did it in the rush for time.

[2017-01-06 00:38] rgbkrk opened #1310 "Set up a new nteract slack inviter"
Our current one is down and the cluster it was on (via Carina) is in error. I've gone ahead and deleted our current carina cluster and began setting it up on now. Waiting on DNS to roll over now. Leaving this issue as a reminder for me to finish cleaning it all up.

[2017-01-06 00:42] rgbkrk commented on #1310
In the meantime, https://slackin-egwcornswi.now.sh works.

[2017-01-09 09:00] Fil commented on #1190
I have only
[code]

and it's not even working for some examples (e.g. download-stats.ipynb). It shows a red error with `"Kernel not connected!"`
Not sure what to do or where to look

[2017-01-09 09:59] captainsafia commented on #1277
Hi @jkornblum and @dhirschfeld! Thanks for opening this issue.

Can you confirm whether or not you are using the Windows Basic or Windows classic themes mentioned in the issue that @jkornblum linked to?

[2017-01-09 15:18] #1306 closed

[2017-01-09 18:45] rgbkrk commented on #1190
@carsonfarmer I am absolutely stunned that Python works and the others are running into problems. Usually it's the other way around.

What do the kernelspecs look like for your ir and javascript kernels? One reason we won't be able to launch is if the executables are not on the `PATH`.

[2017-01-09 23:49] dhirschfeld commented on #1277
I don't think I've ever use a Windows "theme" so I'm not sure how I would tell what theme if any I'm using. It's a corporate machine so I guess I'm not running any fancy themes.

It is a Citrix desktop though so it's likely that Citrix is also disabling DWM composition and causing problems for Electron.

[2017-01-10 23:40] carsonfarmer commented on #1190
@rgbkrk I'm guessing you want my JSON output?

[code]

[2017-01-11 00:00] michaelaye opened #1321 "No kernels installed error on OSX, using zipped pkg"
I just tried out 0.0.15 via the zipped packaged, so i'm launching the app directly from the Downloads folder.
The app opens like this
<img width="801" alt="screenshot 2017-01-10 16 58 34" src="https://cloud.githubusercontent.com/assets/69774/21829880/42b9d482-d756-11e6-8f48-7a83fb911a34.png">

 and i get no chance to configure anything. The docs on the release page don't mention anything special t

[2017-01-11 02:36] dhirschfeld opened #1322 "Improve tab-completion"
The current tab-completion seems to be somewhat limited - specifically in that it can't handle completion of nested objects. A further bugbear is that it won't trigger completion on a period but requires you to have finished typing the object name immediately before typing the period.
![completion](https://cloud.githubusercontent.com/assets/881019/21832952/85085c38-d7fa-11e6-85f0-3b6ecfb20f38.gif)

[2017-01-11 02:39] dhirschfeld commented on #1322
For reference, here's the same from my IPython (Spyder) session:
![completion2](https://cloud.githubusercontent.com/assets/881019/21832999/c7a41be0-d7fa-11e6-98c7-c1ac5ae6a51a.gif)

[2017-01-11 02:43] rgbkrk commented on #1322
Wow I'm surprised that the embedded terminal in Spyder has such great support for nested objects! Thanks for reporting this.

My jupyter notebook server and local IPython both show this:

<img width="443" alt="screen shot 2017-01-10 at 6 43 17 pm" src="https://cloud.githubusercontent.com/assets/836375/21833083/acc47e0a-d764-11e6-8104-b37161f71121.png">

[2017-01-11 02:51] dhirschfeld commented on #1322
Ah, that'll be because I use the greedy completer by default - it's *very* useful when mucking about interactively - which I think nteract is great for! You can test in IPython with:
 `%config IPCompleter.greedy=True`

You can't seem to enable that in nteract though? Also there remains the issue of having to delete the last letter of the object before typing the period to trigger completion. It se

[2017-01-11 03:49] rgbkrk commented on #1322
Tab does not trigger completion in nteract. There is a way to trigger the completion though: ctrl-space. Since tab is also setup for indent, the [logic for tab-completion in Jupyter is a bit hairy](https://github.com/jupyter/notebook/blob/179bb24fbf79d153812858126127a91431da3319/notebook/static/notebook/js/completer.js). We simplified the approach for now to have something while lowering our maint

[2017-01-11 04:00] dhirschfeld commented on #1322
`Ctrl-space` was the magic I was missing - given that I don't think there's anything to do here so will close...

[2017-01-11 04:00] #1322 closed

[2017-01-11 04:00] dhirschfeld commented on #1322
Thanks for your help getting me up to speed!

[2017-01-11 14:09] lgeiger opened #1324 "Store kernel specs on startup"
Currently `kernelspecs.findAll()` (**Edit:** and `kernelspecs.find()` are) called multiple times throughout the code base. (on startup, on menu init, on kernel launch via spawnteract).

Since it is a promise I think we should only call it once (on startup)  and store the kernel specs in a variable which then can be used throughout the code base.

This should improve performance everywhere kernel s

[2017-01-11 16:21] pachevalier opened #1325 "Error using R"
When I try to use nteract with R on Debian testing (ie 9), I've got the following error :

`Error in if (getOption("jupyter.rich_display")) {: l'argument est de longueur nulle`

[2017-01-11 17:20] pachevalier commented on #1325
Ok it's just because I had to update IRKernel using the following commands

[code]
It works now and it seems to be great.

[2017-01-11 17:20] #1325 closed

[2017-01-11 19:40] rgbkrk opened #1327 "Create a troubleshooting guide"
Largely speaking, the most consistent problem we run into is with kernels spawning (we have a lot of related issues for this). While we double down on fixing the core issues, we should also have a semi-handy guide (`TROUBLESHOOTING.md`) to help us help others.

Here's a starter:

## ERROR_EXECUTING Kernel not connected

* Open up the dev tools
* Report any errors seen
* Install the python kernel w

[2017-01-11 19:45] rgbkrk commented on #1327
Note: I'm lacking specificity in the above example, hoping someone can collate good information in the guide.

[2017-01-11 19:55] Fil commented on #1327
thanks for opening the issue
this is where I'm stuck
![c1kmcdqxuaa7gaa](https://cloud.githubusercontent.com/assets/7001/21864045/456f563a-d840-11e6-95f1-72f74aaf0479.png)

[2017-01-11 19:59] Fil commented on #1327
OK, found "dev tools" in menu "View" :)

it looks like the notebook is looking for python3 and I have only python2 (does this make sense?)

![capture d ecran 2017-01-11 20 57 30](https://cloud.githubusercontent.com/assets/7001/21864146/c18a6912-d840-11e6-9651-e1e99e6a1a6c.png)

[2017-01-11 20:02] rgbkrk commented on #1327
Oh interesting - we need to make sure to fallback to a different python kernel if the exact one from the notebook format is not available.

Does "Python 2" show up in the Language menu?

[2017-01-11 20:04] Fil commented on #1327
Yes, "Python 2" is the only language that shows.

(I would like to install Javascript as well, but couldn't find how.)

[2017-01-11 20:06] rgbkrk commented on #1327
Does it let you switch to Python 2 via that Language menu?

[2017-01-11 20:08] Fil commented on #1327
not sure; I can click on the menu item (it' not disabled), but it doesn't seem to have any consequence

[2017-01-11 20:10] Fil commented on #1327
also if I "restart" I receive this lovely message: “Kernel null has been restarted.”

[2017-01-11 20:17] rgbkrk commented on #1327
When you create new notebooks do they work properly?

[2017-01-11 20:57] Fil commented on #1327
yes it seems they do: if I copy/paste the cells one by one from the notebook that doesn't work, I get the expected results

[2017-01-11 21:49] rgbkrk opened #1328 "Provide fallback strategy for "missing" kernels"
When a user shares a Python3 notebook with a user who only has a Python 2 kernel, we should try to fallback on a different Python kernel (by `language` key of `kernel.json` rather than the kernel name).

Ref: https://github.com/nteract/nteract/issues/1327#issuecomment-271977246

[2017-01-11 21:53] rgbkrk commented on #1327
Opened https://github.com/nteract/nteract/issues/1328 as the issue for falling back to a different Python kernel.

As for the app generally not working after kernel failure, we need to set up explicit recovery / "retry" flows for our epics: #1177

[2017-01-11 21:54] rgbkrk opened #1329 "Handle no matching kernel for notebook case"
When a user loads a notebook for which they don't have the associated kernel, they need to be informed of this (at the very least).

[2017-01-11 21:54] rgbkrk commented on #1327
One more related issue I've posted: https://github.com/nteract/nteract/issues/1329

[2017-01-12 01:14] speakerToSystems opened #1330 "Tables not rendering in markdown cell"
The following simple table displays properly in Jupyter, but not nteract.

| H1 | H2 |
| --- | --- |
| v1 | 0 |

[2017-01-12 01:15] jdetle commented on #1330
Copying over comments and background given by @lgeiger:
nteract adheres to the commonmark spec: http://commonmark.org/

Which if I recall correctly doesn’t support this syntax

As a markdown parser we use: https://github.com/jgm/commonmark.js

Jupyter uses https://github.com/chjj/marked which is more or less unmaintained

An option would be to switch to https://github.com/markdown-it/markdown-it

[2017-01-12 01:35] nicobrenner commented on #1321
@michaelaye same problem here, it's easy to miss the instructions on the [Releases page](https://github.com/nteract/nteract/releases):

![image](https://cloud.githubusercontent.com/assets/2296756/21873478/83a56128-d823-11e6-8bf1-2fcb762a126a.png)
Running the commands like that didn't work on my Mac with El Capitan (10.11.6). What finally worked was, from the terminal, using [Homebrew](http://brew.

[2017-01-12 01:44] jdetle commented on #1321
@michaelaye, @nicobrenner, thank you for the excellent report and quick fix. If there is extra documentation you would like to add such that future users can install and use nteract with less friction, please don't hesitate to make a pull request. We really appreciate any help we can get.

[2017-01-12 03:47] rgbkrk commented on #1321
We could switch our guidance to python instead of python3.

[2017-01-12 03:49] rgbkrk commented on #1321
Thanks for reporting the issue, we'll detect the non registered python kernel by the next release (in flight PRs that address this).

[2017-01-12 05:10] michaelaye commented on #1321
As I said, I have a fully working jupyter environment with ipykernels installed, so that's not the problem here. Any other solutions?

[2017-01-12 05:43] rgbkrk commented on #1321
What's in ~/Library/Jupyter/kernels ?

[2017-01-12 05:49] michaelaye commented on #1321
I don't have that folder? I guess because I'm using nb_conda_kernels which just auto-discovers any installed packages with jupyter kernels (so, ipykernel is definitely installed), I don't need any kernel files?

[2017-01-12 07:06] rgbkrk commented on #1321
We don't currently detect conda environments or base python installations. All kernels detected come from looking at the kernel paths for jupyter. If you want nteract to see your current conda environments, you'll need to [create a kernel for the conda environment you want to use](http://www.alfredo.motta.name/create-isolated-jupyter-ipython-kernels-with-pyenv-and-virtualenv/). We've certainly bee

[2017-01-12 17:28] michaelaye commented on #1321
I was under the impression that pyenv and conda are not really comparable in terms of how they run things, so I'm not sure about following that link's instructions. But I'm not in a rush, just wanted to check how things are going with this, while deciding between hydrogen and nteract (but maybe you've seen that my hydrogen setup also doesn't work :/).

I'll be waiting for the detection to work, bu

[2017-01-12 17:28] #1321 closed

[2017-01-12 18:56] rgbkrk commented on #1321
Cool, we'll keep on keeping on so that it can work for you soon.

To answer your question, encoded in the notebook metadata is information about which kernel to launch. It's the same metadata that is used by Jupyter notebook and we intend to match the implementation there so that it's a consistent experience. Our conda env detection is the same namespace setup as `nb_conda_kernels`.

[2017-01-13 18:30] rgbkrk commented on #1330
Trying out `markdown-it` sounds like a good option. The only thing I'd probably be wary of is how/if HTML is sanitized (or not). I really wish we had a way to go from:

[code]

[2017-01-14 02:33] jdetle opened #1334 "[Proposal] Provide a list of Authors in Modules"
Hi,
When working on a refactor of a module it would be nice to ask the original author for links to documentation or other miscellaneous information. In order to track who has knowledge of what parts of a codebase, it would be nice to keep a commented record in each module being edited.

The idea is that upon committing changes to a module one would add their name to a list of authors given as a c

[2017-01-14 14:27] peggyrayzis commented on #1334
Facebook has something similar for their open source projects that might be easier to maintain. When you contribute (at least for React/React Native), they have a Github bot that analyzes git blame to identify and tag potential reviewers for your PR.

https://github.com/facebook/mention-bot

[2017-01-14 19:47] rgbkrk commented on #1334
I'm not at all interested for several reasons:

* `git blame` and GitHub's blame view are designed for this \*
* Not everyone who has contributed is working on the project any more (it happens - they change jobs, choose something else, people die) - people tend to forget why they did things a certain way in little chunks of the code base, it's your job to figure it out and leave it better than you

[2017-01-14 20:18] jdetle commented on #1334
Sounds good. I'll close this when I get home.
On Sat, Jan 14, 2017 at 11:47 AM Kyle Kelley <notifications@github.com>
wrote:

--
Have a wonderful day,
John J. Detlefs

[2017-01-15 15:10] JRehn opened #1340 "nteract-0.0.15.exe hangs explorer.exe"
Tried downloading and installing nteract-0.0.15.exe but listing the file will hang and crash explorer.exe on Windows 10. Malformed binary?

[2017-01-16 21:55] #1324 closed

[2017-01-17 04:58] #1334 closed

[2017-01-17 05:05] rgbkrk commented on #1265
We definitely need to figure out how we want to allow external themes. We do have an `nteract.json` file that is placed in your jupyter config directory. It lets you swap out the theme by name, yet not a reference to (or override of) the CSS file itself. It's tempting to allow custom styles in something like a user's `nteract.css` (in the config directory). We'd need to be fairly committed to our

[2017-01-17 05:08] rgbkrk commented on #263
I'm going to go ahead and close this since there is no way for us to handle this in a nice cross platform way until Electron supports it. Re-open if/when it seems feasible.

[2017-01-17 18:48] rgbkrk opened #1346 "nteract as a web app"
This is a bit of a high level overview of what we need to make nteract available as a web application in addition to components and modules for people to build their own (see #301) or for using our transforms in a standard way in JupyterLab (as @gnestor has done by grabbing the code and maintaining separately).

We ended up bringing in `react-jupyter-display-area` as well as `react-transformime` i

[2017-01-17 19:24] peggyrayzis commented on #1346
After the provider refactor, I think we should spend some time making our components more composable. Right now, we make a lot of assumptions about what a notebook should and should not have. For example, we embed the StatusBar into the Notebook but what if the end user wants to embed their own status bar? What if the user wants to display different buttons in the Cell Creator menu? Today, we don'

[2017-01-17 20:00] rgbkrk commented on #1346
Totally agree.

Yeah I think the status bar will probably be way different for a web app. I'm guessing the `<Notebook />` component shouldn't even have the status bar - it should be some higher component up that looks more like this for the opinionated electron notebook (note: as structure, not as the actual components):

[code]

The pinned cell(s) could be outside of `<Notebook />` here too. As l

[2017-01-17 20:01] rgbkrk commented on #1346
I'll have to spend some time learning about how we'll package / use CSS in that way. I've been really happy with our theming stylesheets and have lately wondered how we're going to expose the current styles in a good way.

[2017-01-17 23:55] rgbkrk opened #1347 "Create a notebook loading placeholder"
Something that I've personally enjoyed across Slack, Facebook, and _even on [nteract.io](https://nteract.io)_ is placeholder blocks:

nteract.io site hero video:

![screen shot 2017-01-17 at 3 51 47 pm](https://cloud.githubusercontent.com/assets/836375/22045034/db261d22-dccc-11e6-8c6b-85c9b85a0596.png)

Slack loading:

<img width="1548" alt="screen shot 2017-01-17 at 3 52 14 pm" src="https://cloud

[2017-01-18 00:05] jdetle commented on #1347
I would think that once we are loading a notebook from S3 or some other
remote location something like this will become even more useful, right?
On Tue, Jan 17, 2017 at 3:55 PM Kyle Kelley <notifications@github.com>
wrote:

--
Have a wonderful day,
John J. Detlefs

[2017-01-18 00:06] rgbkrk commented on #1347
My notebooks are big enough locally that it would be an improvement even on the desktop app.

[2017-01-18 06:56] theengineear commented on #1346
@rgbkrk just catching up on this issue and trying to get some bearings. I'm mostly just trying to learn more about how the repo is organized and such.

## Some responses

If I'm understanding this right, you're looking to pass down `dispatch`-y props to child components? I've found that using [`connect`](https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispa

[2017-01-18 17:25] rgbkrk commented on #1346
Yep, that's what folks are currently tackling as PRs for https://github.com/nteract/nteract/issues/1288.

I'm a little afraid of this too, though I think it's not a decision that will paralyze us. We can always change it again later as many of these function more like a library than a site we run. The pressures will likely come from us using nteract components in different fashions.

If the 3rd pa

[2017-01-18 17:28] rgbkrk commented on #1346
Ah, I see you linked a context menu (amusingly, we did use this one a few months ago). The menu mocks I'm talking about are top level app style for documents:

<img width="568" alt="screen shot 2017-01-18 at 9 26 49 am" src="https://cloud.githubusercontent.com/assets/836375/22075276/45f658a4-dd60-11e6-8d67-a79c29e0b40b.png">

<img width="667" alt="screen shot 2017-01-18 at 9 27 22 am" src="https:/

[2017-01-18 18:51] rgbkrk commented on #1346
Quick mock for nteract:

![nteract web app](https://cloud.githubusercontent.com/assets/836375/22078132/e03a4a0a-dd6b-11e6-87c7-fe717abb7e0d.png)

I'll post a Sketch file from that to https://github.com/nteract/mocks as well as one for the dashboard view.

[2017-01-19 00:53] rgbkrk commented on #1346
As promised: https://github.com/nteract/mocks/pull/14

[2017-01-19 07:56] theengineear commented on #1346
Re: top-nav or side nav, I definitely think top-nav is the way to go. I feel like horizontal space is always at a premium when I'm in a notebook.

[2017-01-19 07:59] theengineear commented on #1346
👍 👍 I think requirement here should be reasonably simple, I'd be surprised if an acceptable solution doesn't exist.

[2017-01-20 16:54] ekils opened #1359 "ReferenceError: IPython is not defined"
![screen shot 2017-01-21 at 12 49 32 am](https://cloud.githubusercontent.com/assets/16894518/22157669/8cb4218a-df73-11e6-9377-8399b47bc266.png)

I'm new for python, so there is lot of things hard for me.
Does anyone knows what is going on this issue?

I  was want to use Atom editor to show 3d plot( use %matplotlib notebook), but it seems  can not show inline with rotatable, so I use nteract notebo

[2017-01-20 17:07] rgbkrk commented on #1359
`%matplotlib notebook` doesn't work in nteract, you'll need to use `%matplotlib inline` for now.

-------------------------------------------------

## Background

It says `IPython` is undefined because matplotlib's js is expecting the javascript object IPython to exist, which definitely doesn't in nteract.

/cc @tacaswell

[2017-01-20 18:51] rgbkrk commented on #1277
I've been able to reproduce this after having a notebook open for a very long time on a mac that has gone through sleep and awake cycles. My kernel connection has been fine throughout but I can't seem to save and replace the filename:

![screen shot 2017-01-20 at 10 47 05 am](https://cloud.githubusercontent.com/assets/836375/22161157/09d15438-defe-11e6-8b8f-9e9ad453c773.png)

Since I know where th

[2017-01-20 19:43] rgbkrk opened #1360 "Convert to Markdown Cell should put Markdown cell in edit mode"
When I start typing in a code cell then realize I want a markdown cell, I tend to

* Wish I was in a markdown cell
* Move the mouse to the cell dropdown menu
* Click "Convert to Markdown Cell"
* Try to get back in the flow of typing
* Realize I need to double click to get in edit mode

I wish the transition to a markdown cell was faster. While keyboard shortcuts would help, I'm likely to keep usin

[2017-01-20 20:28] lgeiger commented on #1277
For reference: https://github.com/electron/electron/issues/8205

[2017-01-21 01:28] ekils commented on #1359
Is it still doesn't work on Atom when i use %matplotlib notebook ?
Because it just shows: <IPython.core.display.Javascript object> in the editor ,and doesn't show photo.

[2017-01-21 15:39] rgbkrk commented on #1359
Same issue in Hydrogen, yes.

[2017-01-23 20:11] tacaswell commented on #1359
`nbagg` / `notebook` is going to be replaced by `ipympl` which uses ipython widgets.  I am a bit unclear on how these interact with nteract still.

[2017-01-24 20:44] Fil commented on #1237
I wanted to try a [d3-geo](https://github.com/d3/d3-geo/) map with ipynb, and managed to create one with jupyter notebook + IJavaScript, using the notation `$$svg$$ = '<svg>…………</svg>';

Looking forward to be able run it with nteract.

[Map of the US.ipynb.zip](https://github.com/nteract/nteract/files/727901/Map.of.the.US.ipynb.zip)

[2017-01-24 22:57] arudhir commented on #1038
A temporary fix - moving the trash icon away from the run icon (or better yet, in that drop down menu thing) might cause less users to run into the issue of accidentally deleting their cells.

This is my first time ever making a notebook, so I dunno if this totally ruins power-users' workflow or not.

[2017-01-24 23:01] captainsafia commented on #1038
@arudhir: That's quite a wonderful idea! Would you be interested in implementing this? It's quite simple and I'd be happy to mentor you through the contribution process.

[2017-01-24 23:02] arudhir commented on #1038
Ooh! I would love to try to help out!

[2017-01-24 23:03] captainsafia commented on #1038
@arudhir: Fantastic! You can join our [Slack community](https://slackin-egwcornswi.now.sh/). Once you've created an account, say "Hi!" in the general channel and I'll reach out and help you.

[2017-01-25 18:48] #1237 closed

[2017-01-25 19:17] rgbkrk opened #1371 "[PDF] Hide Toolbar on Print"
The print stylesheet should set `display: none;` for the toolbar.

![screen shot 2017-01-25 at 11 14 26 am](https://cloud.githubusercontent.com/assets/836375/22305283/cbc7eeea-e2ef-11e6-8331-fe2d765fcc03.png)

[2017-01-25 19:19] jdetle commented on #1371
It was inevitable that I forgot something, this is a quick fix I'll address soon.

[2017-01-25 19:26] Fil commented on #1237
hello @captainsafia how do you summon those powers?

[2017-01-25 19:30] rgbkrk commented on #1237
I wanted to tackle a smaller issue than my other PRs, so after seeing your comment I went for fixing this @fil. :smile:

[2017-01-25 19:34] captainsafia commented on #1237
@rgbkrk implemented an SVG renderer in #1369. To utilize it you will need to create a notebook with the following code.

[code]

Let me know if that helps!

[2017-01-25 19:35] rgbkrk commented on #1237
We'll certainly be including this in the next release too, amongst other features and stability improvements.

[2017-01-25 19:43] rgbkrk commented on #737
We now have a conformance test that runs on Travis and our further flow typing is ensuring consistency at build time (at the very least). I'll go ahead and close this for now.

[2017-01-25 19:43] #737 closed

[2017-01-25 20:27] Fil commented on #1237
This is the IPython syntax, but my example is the d3-geo IJavascript notebook — does the `$$svg$$ = xxx` syntax work?

I'm sorry it seems I can't build nteract from source at this point (npm i stays stuck at `electron@1.4.15 postinstall`).… never mind, I'll wait

[2017-01-25 20:33] Fil commented on #1237
and… waiting was the solution :)  Electron finally built and ta-da!!  `$$svg$$ = ` works.

![capture d ecran 2017-01-25 21 32 54](https://cloud.githubusercontent.com/assets/7001/22308121/f4f91504-e345-11e6-989e-f38cf01345ba.png)

[2017-01-25 20:46] n-riesco commented on #1237
@Fil I think [this notebook](https://github.com/n-riesco/ijavascript/blob/dev/doc/custom.ipynb) may be useful to you. It demonstrates the new functionality in IJavascript to customise outputs.

[2017-01-25 21:23] Fil commented on #1237
I've updated the notebook with async `$$.svg()` and put it up on https://nbviewer.jupyter.org/gist/Fil/efb1c9f3f0a9092c420dfe4cef8def96

Thank you! Looking forward for more D3 notebooks :)

[2017-01-25 22:57] Fil commented on #1237
Very exciting, thanks! Here's a solution to use D3 with jsdom.
https://nbviewer.jupyter.org/gist/Fil/aec6cbf62f9b71c3407db87d5eb592e7

[2017-01-25 23:45] n-riesco commented on #1237
@Fil Thanks for sharing the solution using `jsdom`. I have a section for IJavascript tutorials [here](http://n-riesco.github.io/ijavascript/). I'd welcome a PR to add your notebook.

[2017-01-26 19:38] rgbkrk opened #1375 "Make it easier to discover kernels to install"
When a user opens [nteract for the first time](https://twitter.com/denormalize/status/824472075230343168) (or any time really), they need a way to discover other kernels. I think there are multiple opportunities:

* Include a menu item for discovering new kernels (could link to a new page)
* Create our own editorial version of [Jupyter kernels](https://github.com/jupyter/jupyter/wiki/Jupyter-kerne

[2017-01-27 02:10] hadim commented on #756
A naive question : would it make any sense for nteract to actually ship jupyterlab ? Or am I totally wrong here ?

[2017-01-27 02:18] jdetle commented on #756
Hi @hadim! I'm not exactly sure what you mean, but it would be difficult to integrate nteract components with Jupyterlab components, because nteract uses react and corresponding libraries in the react ecosystem, while Jupyterlab uses a similar-but-different library called PhosphorJS.

[2017-01-27 02:26] rgbkrk commented on #756
The nteract desktop app's primary goal is to only serve as an editor for notebook files. This means that you have to use a text editor for your non-notebook scripts, a native terminal for the terminal experience, and your native OS file manager for navigating.

If you want a desktop app for JupyterLab itself, I'd push for them to make an Electron app.

[2017-01-27 03:09] hadim commented on #756
Ok it makes more sense now. Thank you for the clarification !

(And great work by the way)

[2017-01-27 05:32] #1371 closed

[2017-01-27 23:42] rgbkrk opened #1377 "Create key paths for display IDs from pasted cells"
Something I noticed while doing #1366 - paste cell needs to account for transient display ids.

[2017-01-29 04:55] rgbkrk opened #1380 "Execute Result can also have display_id"
Our current support of the update display mechanics only support `display_data` (and `update_display_data`). We should also support `execute_result`.

I partially started this in #1198 and would love to see it to completion. I probably won't come back to this one so if anyone else wants to take a try at it I'm more than happy to advise.

[2017-01-30 00:43] dpo commented on #1237
Hi. I'm trying out nteract and it seems like a great project! I've been trying to produce a SVG plot using the Julia package [TikzGraphs.jl](https://github.com/sisl/TikzGraphs.jl). Unfortunately, instead of the SVG plot, I receive a description of the underlying Julia object. I'm using the first example here: http://nbviewer.jupyter.org/github/sisl/TikzGraphs.jl/blob/master/doc/TikzGraphs.ipynb

H

[2017-01-30 01:15] rgbkrk commented on #1237
This is fixed in master and has not been released yet. :soon:

[2017-01-30 20:59] cornhundred opened #1385 "are there plans to support interactive widgets? like ipywidgets?"

[2017-01-30 21:10] rgbkrk commented on #1385
Thanks for posting. No one is currently working on supporting the current version of the ipython widgets. It's open for someone to work on.

When the version for JupyterLab is more finalized, I'll begin working on integration if no one else gets to it.

[2017-01-30 21:13] cornhundred commented on #1385
Thanks

[2017-01-31 05:21] dhirschfeld opened #1387 "plotly example notebook broken on master?"
For me, with the latest master on win64/py35, The `plotize` command in the example notebook doesn't display the chart but also doesn't appear to throw any errors. The same notebook works fine for me with the last released nteract version.

Can anyone else see/repro this? It's highly likely there may have been some issue with my build, but in case its an actual bug I thought I'd report.

![image](h

[2017-01-31 19:29] rgbkrk commented on #1310
I've gone ahead and aliased the slack to https://slackin-nteract.now.sh, we'll keep that as our canonical one now.

[2017-01-31 19:29] #1310 closed

[2017-01-31 20:18] rgbkrk commented on #1387
I'm going to try out a fresh install here, this might relate to how I switched us over to freezing objects on `JSON.parse`.

[2017-01-31 20:24] rgbkrk commented on #1387
Confirmed. They load properly from a notebook but not when run. I introduced a regression, I'll fix this pronto.

[2017-02-01 03:40] rgbkrk commented on #1387
Thank you for being such a diligent tester @dhirschfeld, very happy you noticed this before a release. 😅

[2017-02-01 19:09] Carreau opened #1392 "Experiment with new completion messagespec."
Hey,

Sorry to re-start a thread here, but I'm working on integrating some new completion engine in IPython (jedi). I would be happy to shove new things in the `metadata` field of completion reply, and experiment with what kind of things we can get both in nteract and hydrogen.

Right now, I can easily change the `start, stop, list[matches], metadata` to include a list of `{start, stop, replace_st

[2017-02-01 20:14] rgbkrk commented on #1392
Hooray! Happy to be in this thread again.

Are you wondering where to go/what to change on the nteract side to view these responses?

I'm assuming the structure is going to swap out the list of string matches with a list of these objects?

[2017-02-01 21:29] Carreau commented on #1392
Yes, or work with SO that want to work on it and is familiarish with the codebase.

Yes. I'm just going to shove that list in `metadata` for now. I want to bikeshed:
- what field should be mandatory
- the naming.
- what else do you want.

Like I _think_ jedi can also provide a "long description" (which could be displayed only on hover, or show for the selected option ? ).

My other bikeshedding wi

[2017-02-01 21:34] rgbkrk commented on #1392
I assume it should be a string field. What does Atom do?

[2017-02-01 21:35] rgbkrk commented on #1392
/cc @rdblue who is working on improved completion for Scala kernel(s)

[2017-02-01 21:36] rgbkrk commented on #1392
I'm am _more than happy_ to get started on a branch we can both push to and change - I'll kick that off after I finish #1390.

[2017-02-01 22:52] blink1073 commented on #1392
Thanks for working on this!

[2017-02-01 23:04] Carreau commented on #1392
I've pushed update to to my ipython and ipykernel branches that should make that easy.

if you `c.Application.log_level='DEBUG'` it should also print the JSON in the terminal

[2017-02-02 04:25] dhirschfeld opened #1393 "interact won't execute cells after error, even after kernel restart"
If you execute a cell before the kernel is ready, an error occurs and then nteract won't respond to any further execution requests, even after a kernel restart.

Hopefully the gif below makes it clear that after the 2nd kernel restart the cells no longer execute:
![unresponsive2](https://cloud.githubusercontent.com/assets/881019/22537022/a2867ca4-e952-11e6-883d-675786701f87.gif)

[2017-02-02 04:37] rgbkrk commented on #1393
I keep noticing this while I'm in development and it totally relates to #1177. I'll make it my other big focus here.

[2017-02-02 08:03] jarmokivekas opened #1394 "Ubuntu .deb package linter errors"
I'm working on setting up a launchpad.net PPA for distributing automatic updates via the system update mechanism on debian based linux distributions (Ubuntu)

These are some of `lintian`s Errors for the current .deb built by `npm run dist`/`electron-build`. I'd like to try fixing these, but I'm not confident removing all of them will be possible within the constraints `electron-build`.

- [ ] `emb

[2017-02-02 19:49] #1387 closed

[2017-02-02 20:05] rgbkrk commented on #1394
I'll answer the easy ones first. 😄

Yes.

That's probably going to continue. :man_shrugging: The zeromq (zmq) ones come from us (not just by introducing it here, @lgeiger and I are maintainers on [zeromq.js](https://github.com/zeromq/zeromq.js)). The amount of work that was done for zeromq + Electron cross-platform was incredibly lengthy. The other dependencies I'm not sure of. The ffmpeg one is b

[2017-02-02 23:27] #1140 closed

[2017-02-03 20:00] jarmokivekas opened #1400 "nightly .deb package archive"
I'm in the process of setting up a debian package archive that allows installing nteract with `apt-get install` on linux distros such as Ubuntu. Also automatic updates.

- [x] I'd like to make nightly packages from the master branch on git available. Does nteract have a culture of merging mostly working code to master (no point in nightly builds if not)? From personal experience, I think yes.

My

[2017-02-04 17:25] greenkeeper[bot] opened #1402 "An in-range update of jsdom is breaking the build 🚨"
## Version **9.10.0** of [jsdom](https://github.com/tmpvar/jsdom) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/nteract/nteract/compare/greenkeeper%2Fjsdom-9.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jsdom
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-02-04 20:01] lgeiger commented on #1402
Fixed in #1401

[2017-02-04 20:01] #1402 closed

[2017-02-04 21:35] jarmokivekas opened #1404 "border around hovered cell in exported PDF"
A border line is drawn in the PDF around the cell that the cursor is hovering over when exporting a pdf using *File > Export PDF*.

![screenshot 2017-02-04 23 01 22](https://cloud.githubusercontent.com/assets/3074453/22621533/9ddaabd4-eb2e-11e6-9f8a-12eb706fe1f2.png)

Clicking the menu item leaves the cursor hovering above the topmost visible cell. The border around the active cell is removed as e

[2017-02-04 21:40] jdetle commented on #1404
I can tackle this now or if you'd like to make the change it would be very appreciated. Thanks for the catch, I really appreciate you trying it out! Brings a tear of joy to this contributors eye :)

[2017-02-04 22:04] jarmokivekas commented on #1404
I think I got it fixed a few seconds ago. I noticed that also the `cell-creator` boxes between cells were visible sometimes.

[2017-02-04 22:24] jdetle commented on #1404
Fantastic! I will definitely merge any pull request I see addressing these issues. Thank you so much @jarmokivekas.

[2017-02-05 18:43] Fil commented on #305
want! :)

[2017-02-05 21:17] jarmokivekas commented on #1400
I got a new update to  [GitKraken](https://www.gitkraken.com) today, and that process was quite nice as well, as far as self-updating applications on linux go.

On Linux their process is something like:

1. initial installation of the .deb
2. check for updates on application startup
3. notify user if there are updates available
4. the notification has a "download .deb" button, clicking it download

[2017-02-05 22:19] jkornblum opened #1410 "Keep cell type when created with ArrowDown"
When the last notebook cell is in focus and the down arrow is pressed a new cell is created. Currently regardless if the last cell is a markdown type or code type a code type will be created.

Any thoughts on persisting the last cell type for newly created cell types? That is, a down arrow on a markdown cell will create another markdown cell and a down arrow on a code type will create another code

[2017-02-06 05:20] rgbkrk commented on #1410
I like that idea.

[2017-02-06 20:25] rgbkrk opened #1412 "Fix the default theme"
We've had enough changes in `main.css` that it appears have made the "classic" theme no longer match Jupyter/IPython notebook. It would be great to have it in a reasonable state again.

## Our current implementation

![screen shot 2017-02-06 at 12 22 53 pm](https://cloud.githubusercontent.com/assets/836375/22664776/02ae40dc-ec67-11e6-8d53-e57cd4de772c.png)

## Jupyter notebook

![screen shot 2017-

[2017-02-06 20:33] peggyrayzis opened #1413 "Write more tests for CodeMirror HOC"
@rgbkrk made a lot of great suggestions in #1399 on areas we could improve our test coverage. Most of those involve testing CodeMirror functionality.

[2017-02-06 20:37] peggyrayzis opened #1414 "Migrate off eslint, switch to Prettier"
Amidst all the eslint slowness issues, @rgbkrk suggested that we switch to [Prettier](https://github.com/jlongster/prettier). This is a great idea and will hopefully make our lives easier! 😀

To achieve this, we need to:

- [ ] Close all open PRs to avoid merge conflicts
- [ ] Remove eslint, its plugins, and config.
- [ ] Add Prettier, ensure everything still works as expected

[2017-02-06 20:40] rgbkrk commented on #1414
Yay for the `gofmt` of JS!

[2017-02-06 21:06] rgbkrk commented on #852
From https://medium.com/@addyosmani/accessible-ui-components-for-the-web-39e727101a67#.jbzfgni08:

![image](https://cloud.githubusercontent.com/assets/836375/22666324/f196d9c0-ec6c-11e6-8311-65c910585da6.png)

[2017-02-06 23:57] rgbkrk opened #1415 "Last three alphas"
We're reaching a point of stability that I'm super eager to ship some final alphas. I've updated [the shipping board](https://github.com/nteract/nteract/projects/1) and created an [alpha milestone for this Wednesday](https://github.com/nteract/nteract/milestone/3) as well as created milestones for the remaining alpha releases. They're on a two week cadence, with an expectation that dates are flexi

[2017-02-07 00:02] rgbkrk commented on #65
Closing, tracking progress in [snakestagram](https://github.com/nteract/snakestagram).

[2017-02-07 00:02] #65 closed

[2017-02-07 00:04] rgbkrk commented on #301
Closing in favor of #1346.

[2017-02-07 00:04] #301 closed

[2017-02-07 00:07] rgbkrk commented on #411
Closing as this was purely speculative and we went a different route.

[2017-02-07 00:07] #411 closed

[2017-02-07 00:08] #1412 closed

[2017-02-07 00:10] rgbkrk commented on #430
The "don't execute too early" bug has been fixed by making our epics more resilient. We need some better UI/UX when a kernel is slow to start, which I'll outline in another issue.

[2017-02-07 00:10] #430 closed

[2017-02-07 00:12] rgbkrk commented on #481
We currently have a simple configuration file so in lieu of letting us expand our scope too much, I'll close this and we can open it again at a later date.

[2017-02-07 00:12] #481 closed

[2017-02-07 00:16] rgbkrk commented on #756
Closing since we're heading towards a path for shipping the components for a web app version (see #1346), which someone can use to build a jupyterlab plugin.

[2017-02-07 00:16] #756 closed

[2017-02-07 00:18] rgbkrk commented on #616
Whoa, do we still have these cases still out and about for our epics logic?

[2017-02-07 00:20] rgbkrk commented on #823
We now ship a basic little icon crafted from our main logo, I'll go ahead and close this.

[2017-02-07 00:20] #823 closed

[2017-02-07 00:37] rgbkrk commented on #898
Some unit tests for main are up, I'll go ahead and close this.

[2017-02-07 00:37] #898 closed

[2017-02-07 00:44] rgbkrk commented on #950
I think we could add this to our `toJS` stage or do it on notebook load.

[2017-02-07 00:44] rgbkrk commented on #956
I'm going to go ahead and close this unless there's a way to reproduce it.

[2017-02-07 00:44] #956 closed

[2017-02-07 00:45] rgbkrk commented on #963
Definitely need an expansion on how we do our config file, likely to take a raw javascript file.

[2017-02-07 00:47] rgbkrk commented on #983
How's this now? I'm _guessing_ the apt packaging in #1299 probably made this a bit easier for us to also have an Arch Linux release.

[2017-02-07 00:48] rgbkrk commented on #984
With the work that wasn't merged in #1384, we could have had conda support. I couldn't finish that up given some other priorities, it would be great if someone looked into where I started it to finish it off.

[2017-02-07 00:50] rgbkrk commented on #993
Somehow I missed this - yes, I think we should be able to go from source text on stream output (or text/plain) and include linked URLs.

[2017-02-07 00:50] rgbkrk commented on #1031
See #1346 for the current outline, progress, and direction.

[2017-02-07 00:54] rgbkrk commented on #1404
Closed by #1407.

[2017-02-07 00:54] #1404 closed

[2017-02-07 00:56] rgbkrk commented on #1177
Yay, I can close this. We still need to refine the UX. I can say we're good to go here with a sensible start though!

[2017-02-07 00:56] #1177 closed

[2017-02-07 00:59] rgbkrk commented on #1393
nteract is now much more resilient to this, I missed something obvious in how I setup our error handling originally. The UX still needs work (to show that it's not really connected any more e.g.).

Thanks again for posting this again, motivated me to figure it out. We've got to nail this experience!

[2017-02-07 00:59] #1393 closed

[2017-02-07 01:06] rgbkrk commented on #1360
This partially closes #1409. I realize now that we may want to switch up how we do cell components. The `<Editor>` component for a cell should remain the same when switching between markdown and code cells.

[2017-02-07 01:08] rgbkrk commented on #1340
Wow, I've yet to have that happen to me though I'm downloading with Chrome on my Windows machine. I'll try it on internet explorer next (is Edge ok?).

[2017-02-07 01:18] rgbkrk commented on #1329
Right now the error message reads `ERROR_KERNEL_LAUNCH_FAILED` with little extra detail.

Suggested changes:

* Leave the error message up longer
* Provide more details, including:
  - what kernel was launched
  - what kernels we see available
  - suggest steps to take

I'm beginning to wonder if we should devote time to investigating and designing better error interfaces within the app (likely ju

[2017-02-07 01:23] rgbkrk commented on #1297
That ipykernel command places a `kernel.json` file in the jupyter kernels directory. In a coming release we'll do detection of a python installation that doesn't include the `kernel.json`.

Closing as duplicate of #1327 and #1384 for now. Thanks again for trying nteract out!

[2017-02-07 01:23] #1297 closed

[2017-02-07 01:28] rgbkrk commented on #1277
Oh hey, I know how to fix this a bit better now than our current try catch. At any rate, this is "closed" in the sense that we've mitigated it. Need to fix (or document) better how to handle situations like this up in Electron.

[2017-02-07 01:28] #1277 closed

[2017-02-07 01:30] rgbkrk commented on #1092
This has been done as part of our state tree refactor.

[2017-02-07 01:30] #1092 closed

[2017-02-07 01:30] rgbkrk commented on #1091
I think we're alright with our current OS checking now. Closing!

[2017-02-07 01:30] #1091 closed

[2017-02-07 01:31] rgbkrk commented on #1089
We've got it now!

[2017-02-07 01:31] #1089 closed

[2017-02-07 01:31] rgbkrk commented on #1088
We are now consistent with our kernel now that main loads kernelspecs and sets up the default.

[2017-02-07 01:31] #1088 closed

[2017-02-07 01:32] #1084 closed

[2017-02-07 01:32] rgbkrk commented on #1078
Our main -> notebook load is now cleaned up and this isn't a problem anymore (as far as I can tell).

[2017-02-07 01:32] #1078 closed

[2017-02-07 01:36] rgbkrk commented on #1061
The Plotly.py one was recently completed by @theengineear. All that is left is R support.

Bonus points: Scala!?!

[2017-02-07 01:37] rgbkrk commented on #1059
Done in #1358 (as well as some follow on PRs)!

[2017-02-07 01:37] #1059 closed

[2017-02-07 01:38] rgbkrk commented on #1047
Wow, there were two issues for this apparently. I suppose I'll keep this one open, though we do have _some_ unit tests for main here.

[2017-02-07 01:40] rgbkrk commented on #1041
Closing as this can be done with a kernel for the virtual env.

After thoughts: perhaps we need some built in help that can assist users in creating kernels for virtual envs, conda environments, or generally debugging.

[2017-02-07 01:40] #1041 closed

[2017-02-07 01:53] rgbkrk commented on #1254
Note: this is the introspection API, which we have available for business logic. Most of the work that needs to be done is UI -- if anyone wants help, let me know.

[2017-02-07 01:54] rgbkrk commented on #1258
We now have the comment addon setup. How's this on master now?

[2017-02-07 01:54] jackparmer commented on #1061
@rgbkrk Nice idea. @pbugnion might be interested in this, he initiated plotly's Scala client:
https://github.com/ASIDataScience/scala-plotly-client

[2017-02-07 01:55] rgbkrk commented on #1265
I'll go ahead and close this. Feel free to re-open if you think this is still open. Seems like the question of direction was carved out. Would still love to see your theme. 😄

[2017-02-07 01:55] #1265 closed

[2017-02-07 01:55] rgbkrk commented on #1267
Done deal #1358

[2017-02-07 01:55] #1267 closed

[2017-02-07 01:55] rgbkrk commented on #1288
We're getting there!

[2017-02-07 01:57] rgbkrk commented on #1230
Neat, seems like some simple fixes.

[2017-02-07 01:57] rgbkrk commented on #1229
Closing since this has been implemented in plotly.py.

[2017-02-07 01:57] #1229 closed

[2017-02-07 01:59] rgbkrk commented on #1221
Now that I've had more experience with other notebook UIs, we should incorporate a `Cancel` button for when work is in progress or queued up.

[2017-02-07 02:05] rgbkrk commented on #1094
This is now cleaned up.

[2017-02-07 02:05] #1094 closed

[2017-02-07 02:05] rgbkrk commented on #1095
This is a bit more cleaned up, I'll go ahead and close it since this TODO Issue is a bit ominous.

[2017-02-07 02:05] #1095 closed

[2017-02-07 02:07] rgbkrk opened #1417 "Kernel fuzz testing"
We should put nteract through it's paces with a kernel that is not properly implemented or even one specifically designed to send weird data. The main goal would be to ensure that the notebook format is consistent and valid while also informative to the user.

[2017-02-07 02:07] rgbkrk commented on #1109
Done deal.

[2017-02-07 02:07] #1109 closed

[2017-02-07 02:08] rgbkrk commented on #1132
I haven't played much with this, it would be cool if you're able to run from master and help us fix this @tylerwince.

[2017-02-07 02:11] rgbkrk commented on #1031
Closing since this was primarily a question and we have an issue for tracking the web app progress.

[2017-02-07 02:11] #1031 closed

[2017-02-07 02:14] rgbkrk commented on #1166
I think this one is definitely open for implementing still. 😉

[2017-02-07 02:14] rgbkrk commented on #1165
Fixed in #1204.

[2017-02-07 02:14] #1165 closed

[2017-02-07 02:16] rgbkrk commented on #1164
That's the "right" numbering since it's broken up by a cell block in between. As for the lack of numbers when there is only one element, that comes from some CSS for when there is only one item. Perhaps we should only enable that for `ul li` instead of across all `li`.

[2017-02-07 02:16] rgbkrk commented on #1093
Our current strategy is to default to light unless the theme is explicitly set as dark. A 🆒  😎  thing we could do is to set it based on:

[code]

[2017-02-07 02:17] rgbkrk commented on #1170
This is confirmed fixed on master.

[2017-02-07 02:17] #1170 closed

[2017-02-07 02:18] rgbkrk commented on #1179
We've now got some try catch wrapping on some of our remote objects we were using. I'll close this as something that's slightly out of our overall control, we've mostly mitigated issues.

[2017-02-07 02:18] #1179 closed

[2017-02-07 02:20] rgbkrk commented on #1190
Sorry I had not looked at this again, got caught up with some other things. How are things now? How do they behave in the jupyter notebook? Are you on master or the latest release?

We'll be getting out a release on Wednesday that is far more stable than any previous release, still more to finish up for our beta.

[2017-02-07 02:21] rgbkrk commented on #1215
Yeah I'm unsure too. @jdetle - can you provide more context?

[2017-02-07 02:22] rgbkrk commented on #1221
[Cancellable execution from the Spark Roadmap in Jupyter](https://github.com/jupyter/roadmap/blob/46d4b808b6d2e548cbbb3907e0169bca25f7f616/spark.md#cancellable-execution)

[2017-02-07 02:24] rgbkrk commented on #1242
We definitely have to solve this one before the release candidate and have it kicked around during the beta or alpha stages.

[2017-02-07 02:27] rgbkrk commented on #1249
Closing as duplicate of #357. #1384 took us partway, I would need more time to finish that. Alas, I must admit I don't have time to fully finish that and need someone else to dive in.

[2017-02-07 02:27] #1249 closed

[2017-02-07 02:31] #1226 closed

[2017-02-07 03:21] tylerwince commented on #1132
When I fork the repo and `npm run start` in the repo, everything starts as expected and I am not able to run `nteract` using the master build. Any tips on being able to start nteract using the `nteract` command from master?

[2017-02-07 05:23] dhirschfeld commented on #1393
Thanks for fixing! I'm  on master and can confirm you can now simply restart the kernel if you get an error from trying to execute before the kernel is ready which is *much* better than having to reopen a new instance.

I'm not sure if it's technically feasible but the ideal UX (IMHO) would be if interact cached the execution requests until the kernel was ready. On my machine starting a kernel tak

[2017-02-07 06:22] dhirschfeld opened #1422 "Tab-indentation broken on master?"
On master, highlighting text and pressing tab will delete the text rather than indenting it!
![tab](https://cloud.githubusercontent.com/assets/881019/22679989/73850d1e-ed51-11e6-8686-e04766bb1e8e.gif)

Is anyone else seeing the same? On win64/py35.

[2017-02-07 06:34] JRehn commented on #1340
Thanks for you reply!
I've now tested with Chrome 56.0.2924.87, Edge 38.14393.0.0 and Internet Explorer 11.576.14393.0. Same result. Sorry to see that I cannot test run your project on my computer, heard about it on Hanselminutes and was really looking forward to testing it. Not impossible that that the error is on my end of course.
Glad to see that this is not a common problem!
If I were to build

[2017-02-07 09:40] lgeiger commented on #1132
@tylerwince After starting nteract with `npm start` run `Install Shell Commands` from the menu bar (you should find it in one of the submenus). This should initialize the shell commands.

[2017-02-07 12:50] peggyrayzis commented on #1422
That definitely could have been me, I pushed a refactor of editor yesterday. I'll take a look at it and push a quick fix this morning. 😊

[2017-02-07 13:41] peggyrayzis commented on #1422
Thank you @dhirschfeld for reporting this 🐛! What is your desired behavior for pressing shift + tab (or de-indenting)?

[2017-02-07 14:32] jarmokivekas commented on #1400
`.deb` packages include `postinst` maintainer scripts that are execute as root after installing the package. The current .deb created by electron-builder uses `postinst` to symbolically link nteract to PATH `ln -s /opt/nteract/nteract.sh /usr/bin/nteract`

This script could be used used to add an entry to `/etc/apt/sources.list.d/nteract.list` in order to configure itself for automatic updates via

[2017-02-07 15:16] jkornblum commented on #1242
I had looked at this probably a few weeks ago now and never really finished working on it.
I found this library [react-helmet](https://github.com/nfl/react-helmet), MIT licensed.

Which made it simple to edit `<base href="">` dynamically.

[2017-02-07 17:20] #1422 closed

[2017-02-07 17:39] gnestor commented on #1093
@rgbkrk 😮

[2017-02-07 18:00] gnestor commented on #993
Ok, should it live in `inlineBundleToReact`? And should it just parse words and render them as an `<a>` if they match an URL regex pattern?

[2017-02-07 18:19] rgbkrk commented on #993
Yeah that sounds like a good option. If it makes it easier to work with, feel free to bring it into nteract/nteract as yet-another-package-for-export.

[2017-02-07 18:28] rgbkrk commented on #1340
You will need to install node.js >= 6.0 and follow [the instructions for setting up nteract in dev mode](https://github.com/nteract/nteract#development).

[2017-02-07 18:29] rgbkrk commented on #1393
Yes, an issue about caching execution requests while waiting for kernel startup would be good. Thank you @dhirschfeld!

[2017-02-07 18:32] rgbkrk commented on #1422
Shift-tab should de-indent.

Are we overwriting something that codemirror would normally support out of the box?

[2017-02-07 18:36] rgbkrk commented on #1422
@dhirschfeld, you do such an excellent job of filing issues for what's happening on master that I've added you as a member of nteract - thank you for these contributions. Welcome!

[2017-02-07 18:56] peggyrayzis commented on #1422
Unfortunately, Codemirror doesn't support highlighting + Tab to indent out of the box. Originally, we had a tabToSpaces function that converted our tabs to spaces & took care of the highlighting + Tab. Codemirror came out with a new option (insertSoftTab) that converts your tabs to spaces for you and I didn't end up checking that it supported highlighting + Tab.

Shift + tab currently de-indents t