[2020-06-04 23:41] bryanchen-d opened #5145 "createOnDiskMediaBundle is very expensive when saving a notebook with large data section"
**Application or Package Used**
@nteract/core@13.1.1-alpha.0

**Describe the bug**
Saving a notebook with a large data payload in outputs takes a long time.

**To Reproduce**
Steps to reproduce the behavior:

1. load a notebook with a display output contains a large data payload, in my case, the size of data is about 250KB.
2. save the notebook
3. Then the UI will be frozen for like 10~ seconds

*

[2020-06-05 02:17] captainsafia commented on #5138
@MSeal Can you share a gif of what you mean when you have the chance? I'm not seeing the same thing you are describing but I might be misunderstanding something.

[2020-06-05 02:35] captainsafia commented on #5144
This occurs on the desktop app as well. We have the overflow on the outputs container set to the `auto` when it should be set to `overflow` to allow the tooltip to break out of the container.

We'll have to evaluate if this has any unintended consequences for the layout of the page but I don't suspect so.

Tagging as new contributor friendly/help wanted.

[2020-06-05 22:51] todo[bot] opened #5147 "figure out a configurable way to reformat the string when needed."
https://github.com/nteract/nteract/blob/cee476dc28b0a17f7bbc83e889feff6a9187e291/packages/commutable/src/primitives.ts#L216-L221

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in cee476dc28b0a17f7bbc83e889feff6a9187e291 when #5146 was merged. cc @bryanchen-d.

[2020-06-07 01:53] captainsafia commented on #5145
Closed via #5146.

[2020-06-07 02:04] captainsafia opened #5148 "Polish up drag-n-drop image implementation"
In https://github.com/nteract/nteract/pull/5113, @fiedl introduced support for dragging and dropping of images into the notebook into a feature branch. This issue outlines the remaining issues in this work as outline in [this comment](https://github.com/nteract/nteract/pull/5113#issuecomment-636515409).

- [ ] Add unit-tests for drag-n-drop released functions
- [ ] Verify and fix implementation of

[2020-06-07 12:43] #5092 closed

[2020-06-07 12:43] #5134 closed

[2020-06-07 18:32] #5145 closed

[2020-06-08 05:18] ramantehlan commented on #5054
Right now the nteract desktop is on the edge channel on the snap store. However, classic confinement is only supported for the stable channel.

If the request is approved, what do we do in that stage? Do we change the channel to stable or take the snap off the store and put it back once it is stable?

[2020-06-08 19:30] captainsafia commented on #5054
We can move to the stable channel if that will unblock labelling it with classic confinement.

[2020-06-08 21:08] miduncan opened #5149 "Two unclosed html tags in a markdown cell makes notebook disappear"
**Application or Package Used**
nteract desktop, nteract web

**Describe the bug**
Two unclosed html tags in a markdown cell makes notebook disappear

**To Reproduce**
Steps to reproduce the behavior:

1. Open nteract desktop
2. In a new notebook, create a markdown cell
3. Type "</br></br>"
4. Click off cell to unfocus
5. Notebook will disappear

**Expected behavior**
Either don't show invalid HTM

[2020-06-08 21:49] petebryan commented on #5149
This issue is not isolated to "</br></br>" at the end of the cell. Simply having two "</br>" tags anywhere in a markdown cell causes the same issue. For example:
"Print </br>
Print </br>
Print"

[2020-06-09 01:21] MSeal commented on #5138
![captured](https://user-images.githubusercontent.com/1863892/84095692-cc004a80-a9b4-11ea-9d9a-48be89e8fec0.gif)

[2020-06-09 11:39] ramantehlan commented on #5054
Yes, I think we should move it to the sable channel to be able to get classic confinement.

[2020-06-09 19:53] emeeks opened #5154 "Adding custom metadata to cells"
I'd like to decorate cell metadata with custom attributes based on interaction. I noticed that among nteract's actions there's a `OverwriteMetadataField` and I was thinking of using that to set a new property value on the cell.

Is that the right approach?

[2020-06-09 19:59] captainsafia commented on #5154
Good question!

The `OverwriteMetadataField` actually overrides metadata at the notebook level. Typically, you'd use this for updating the title, author, or tags of a notebook.

For modifying cell-level metadata, you'll want to use the [SetInCell](https://packages.nteract.io/interfaces/actions.setincell.html) action which you can use to modify any property within the cell. For example, to change t

[2020-06-09 20:02] emeeks commented on #5154
Wonderful, thanks so much!

[2020-06-09 20:29] captainsafia commented on #5154
Cool. Closing this now.

[2020-06-09 21:30] ramantehlan commented on #5149
Thank you for raising this issue @miduncan and @petebryan for the observation.

I was able to reproduce this issue. From my initial testing, this is what I found.

- It happens only with HTML tags which don't require closing tags(void elements). Ie. `</br>`, `</img>`. Even then it hasIdeally, with single tags, you should use `/` in the end, but this shouldn't break the application nonetheless.  so

[2020-06-09 22:07] Ashton-Sidhu commented on #5122
Hey @captainsafia not sure how high priority this bug is but if it's a lower priority bug, I can try taking a go at it.

[2020-06-10 02:22] captainsafia commented on #5122
@Ashton-Sidhu A community contribution is always welcome! If you have any questions about the contribution process, feel free to post on the nteract Slack which is linked in the repo's README.

[2020-06-10 02:25] captainsafia commented on #5149
Yeah, this should be transferred to the nteract/markdown repo. I'll do that now.

@ramantehlan Your analysis of this seems correct. I'm unable to reproduce this in a standard react-markdown component so I suspect that this error is caused by one of our custom parsers (either the LaTeX renderer or the code one).

[2020-06-10 02:27] captainsafia commented on #5138
Ah! I see you are referring to the experience when a cell is running.

This should be fairly trivial for us to do. We'll need to add a CSS classname `running` to the outputs that depends on the current execution state. Elements with the `running` class will take up the full height needed.

[2020-06-11 04:17] bryanchen-d opened #5157 "Does VDOM support injecting a 'script' element?"
**Application or Package Used**
@nteract/core

I'm evaluating if there is any XSS risks by turning on the VDOM transform, code like
[code]
would run, however the script is not executed, I am wondering if the content of VDOM object gets sanitized?

[2020-06-11 19:42] emeeks opened #5160 "Repository Link from @nteract/markdown NPM page is broken"
The `repository` link on this page:
https://www.npmjs.com/package/@nteract/markdown

Points to this broken link:
https://github.com/nteract/nteract/tree/master/packages/markdown

[2020-06-11 23:24] emeeks opened #5161 "@nteract/mythic-configuration referenced in MarkdownCell doesn't exist"
MarkdownCell here references `@nteract/mythic-configuration` but this doesn't appear to exist as published module.

https://github.com/nteract/nteract/blob/master/packages/stateful-components/src/cells/markdown-cell.tsx#L1

[2020-06-12 19:21] emeeks opened #5162 "Cell Execute Reply"
Is executionStateIdle and executeReply being attached to the cell via redux anywhere? I can see the timing of the idle/busy states in metadata and I can see the error response in outputs and that seems to be how you're determining an error but we should also be able to examine executeReply in case there's an error that doesn't give an output.

[2020-06-13 02:02] captainsafia commented on #5162
Yes, the execution reply that is sent from the kernel is stored in the Redux store via the execution epics ([ref](https://github.com/nteract/nteract/blob/master/packages/epics/src/execute/execute.ts#L141)).

Whenever we get a reply from the kernel, we check to see if the message type is associated with an output. These types are [defined here](https://github.com/nteract/nteract/blob/master/package

[2020-06-13 02:08] captainsafia commented on #5161
The mythic-configuration package was introduced this week and hasn't been pushed out as part of our weekly release cycle.

It'll be shipped as part of a packages pre-release on June 15th.

[2020-06-13 02:08] #5161 closed

[2020-06-14 21:49] MSeal commented on #5162
If it help, I think the intention here was to actually capture the execution_reply message because the outputs are the source of truth for if there was an execution error. E.g. a kernel could return an error output but not fail execution. Additionally if there's ZMQ buffer overflow issues you may never get an error output (also some less mature kernels don't behave well with error outputting), but

[2020-06-16 11:16] samialsindi opened #5163 "Dark mode not 'remembered'"
**Application or Package Used**
nteract desktop

**Describe the bug**
In previous versions of nteract, if you changed the preference to Dark theme it persisted upon shutdown and reopening of new windows. Recently, however, it always defaults to Light theme.

**To Reproduce**
Steps to reproduce the behavior:

1. Set theme to Dark.
2. Close
3. Reopen, it opens in Light theme instead of Dark.

**Expe

[2020-06-16 11:21] samialsindi commented on #1817
Adding my voice in to the mix, I love this app but I can't move to it until a basic global find is incorporated

[2020-06-16 16:42] emeeks opened #5164 "RFC: Multiselect Cells"
**Is your feature request related to a problem? Please describe.**
There are actions we want to perform on a discrete group of cells rather than the whole notebook.

**Describe the solution you'd like**
I'd like to add a *multiselectCell* action that, when fired, adds (if it does not exist) or removes (if it does exist) the id of a cell to an array. This would be entirely separate from focusCell s

[2020-06-16 17:52] emeeks commented on #5139
I'm sure it's a date object based on the details that's not being toStringed somewhere. Will follow up with Matt and knock it out.

[2020-06-16 17:53] #5154 closed

[2020-06-17 04:42] #1473 closed

[2020-06-18 18:42] bryanchen-d opened #5165 "Move the handling of focusNextCell action from reducer to epics"
**Is your feature request related to a problem? Please describe.**
I am implementing a read-only mode on top of the @nteract/core package, in which I am trying to disable adding new cells.
Currently when user hit shift+enter on the last cell, it emits the focusNextCell and focusNextCellEditor actions, the logic of determining whether to insert a new cell is done in the reducer. Even though there i

[2020-06-18 19:51] itko commented on #5092
The issue you mention deals with consolidating the shortcut methods. It doesn't specifically address the inability to configure the keyboard shortcuts.

Can you you clarify what you mean here? Are you saying there is a way to configure the nteract shortcuts?

[2020-06-18 20:41] b19e93n opened #5166 "ipynb overwritten by 0kb file"
**Application or Package Used**
nteract desktop

**Describe the bug**
When Trying to open ipynb, nteract desktop freezes and the ipynb gets overwritten by 0kb file (not sure it's overwritten first or nteract freezes first)

**To Reproduce**
Not sure. Possibly after you left the ipynb open when you shut down or restart mac. I have this happened to me twice but never know why.

**Expected behavior**

[2020-06-19 04:22] captainsafia commented on #5157
Transferring this to nteract/outputs.

The VDOM transform doesn't sanitize outputs. The reason the code isn't executed is because VDOM inserts elements into the UI using React's `React.createElement` API which inserts the element into React's virtual DOM, which is then copied to the browser's DOM. As a result, the script is never actually executed.

[2020-06-19 04:26] captainsafia commented on #5162
@MSeal I see. The content above should largely hold true. Here's a more complete example of implementing an epic that extracts all `execute_reply` messages emitted by the kernel.

[code]

[2020-06-19 04:27] captainsafia commented on #5163
Thanks for reporting this issue, @samialsindi!

This was a regression that was introduced in the May release. We've already fixed the bug and the bug fix will ship in the June release!

[2020-06-19 04:36] captainsafia commented on #5164
@emeeks Totally agree that using metadata to track this would be a little superfluous since multi-select state is not something that exists beyond the lifetime of the app.

I think it would be interesting to use the myths model to create a `mythic-multiselect` package that encapsulates this logic.

We'd start by defining a myth that outlines the type interface of the state.

[code]

Then we define

[2020-06-19 05:04] captainsafia commented on #5165
The overall scenario seems sensible. Although I don't think we need to move the logic to epics. We can support all the requirements in a reducer. It'll likely involve some changes to the actions.

This sounds like a bug. We should probably add logic in our `focusNextCellEditor` action that checks to see if the focus is currently on the last cell.

That aside, we can probably do this entirely in re

[2020-06-19 20:22] bryanchen-d commented on #5165
I agree this would also work. The logic can exist in either reducers or epics, but I think what I am trying to say is moving logic to epics would make the design on epics and reducer more clear - that IMHO reducer only take care of simply storing data without extra calculation, and move all logic to epics. What do you think?

[2020-06-20 01:26] aidanmontare-edu opened #5168 "View > Reload causes nteract desktop to quit and not reload"
**Application or Package Used**
nteract desktop

**Describe the bug**
Selecting View > Reload or pressing CTRL-R causes nteract desktop to close without warning rather than reopening.

**To Reproduce**
Either of these methods causes this to happen, regardless of what is open.

**Expected behavior**
I'm new to nteract, but I assume that this would either reload the view inside the app, or reload th

[2020-06-20 19:57] captainsafia commented on #5013
This is fixed now.

[2020-06-20 19:57] #5013 closed

[2020-06-20 19:59] captainsafia commented on #5166
Thanks for reporting this issue, @b19e93n! Apologies for the data loss.

This is correlated to https://github.com/nteract/nteract/issues/4953.

It appears that this issue happens sporadically. I haven't been able to reproduce it so I'm not sure what is causing it.

Did you happen to have a custom `autoSaveInterval` set in your `nteract.json` config?

[2020-06-20 20:08] captainsafia commented on #5168
Thanks for reporting this issue, @aidanmontare-edu!

I'm able to repro this on the release and dev version of the desktop app. It looks like the `closingState` of the notebook, which determines what lifecycle operations can happen on the app, is not set correctly when the notebook is opened.

[2020-06-20 23:54] captainsafia commented on #5163
Closing as duplicate of #5134.

[2020-06-20 23:54] #5163 closed

[2020-06-22 18:02] emeeks opened #5173 "Why is MakeMapXFromProps a thing?"
I've noticed throughout the codebase the same pattern used over and over again for the redux functionality (`mapStateFromProps` and `mapDispatchFromProps`) where it's in a wrapper called `makeMapDispatchFromProps` (or mutatis mutandis with `State`) and I don't see the value of it. It seems like it tries to isolate component props but that's available anyway.

For example, in index.ts of NotebookMe

[2020-06-23 16:38] #2749 closed

[2020-06-23 17:07] kjcho-msft opened #5174 "Kernel doesn't stop running cells on Runtime error"
**Application or Package Used**
 nteract desktop

**Describe the bug**
Kernel doesn't stop running cells on Runtime error

**To Reproduce**
Steps to reproduce the behavior:

1. Add two cells below
cell 1: raise RuntimeError("my error message")
cell 2: 1+1

2. Run all cells

**Expected behavior**
Kernel should stop running cells on Runtime error so the second cell should not be executed.

**Observe

[2020-06-23 20:46] dimitry-ishenko opened #5175 "`python3 | launching` forever"
**Application or Package Used**
nteract desktop

**Describe the bug**
Trying to execute a simple `print("Hello world")` cell, the app says  `python3 | launching` forever and nothing happens.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app:
![Screenshot from 2020-06-23 16-35-14](https://user-images.githubusercontent.com/2858291/85459788-92ad0a80-b570-11ea-92cf-a348c51c6ba5.png)

[2020-06-23 20:49] dimitry-ishenko commented on #5175
Is this of any help? Not sure why it's trying to launch `/usr/bin/python` (aka `python2`) instead of `python3`.

![Screenshot from 2020-06-23 16-40-38](https://user-images.githubusercontent.com/2858291/85460544-53cb8480-b571-11ea-9326-c07c468ae661.png)

[2020-06-24 00:19] captainsafia commented on #5175
Some questions to help dig into this:

* Did you launch the nteract desktop app via your OS's app manager or from the CLI?
* Is Python 3 installed using conda or another version management tool?

[2020-06-24 00:22] captainsafia commented on #5174
So, continuing to execute even if there is a runtime exception in one of the cells has been standard in nteract for a while.

I cannot recall if this was an intentional decision or one of those things were we shipped a different experience, no one raised any alarms, and so we stuck at it.

I'm pretty flexible on whether we change this model or not. I do have a slight reservation because we recentl

[2020-06-24 00:29] captainsafia commented on #5173
In general, this is recommended behavior in Redux to support memoization. You can read more about this [here](https://redux.js.org/recipes/computing-derived-data#sharing-selectors-across-multiple-components).

[2020-06-24 00:36] MSeal commented on #5174
I know VSCode and nteract both have this behavior, but I don't think it should be the default Run All experience. `papermill` for example halts on exception unless the allow-error flag as does most (all?) the other notebook interfaces when running the whole notebook. I had chatted with the VSCode folks about it and I think they similarly had just had that as an early default, but it can lead to ba

[2020-06-24 00:51] dimitry-ishenko commented on #5175
Thanks @captainsafia.

- I've originally launched it using the .desktop file, but launching via the terminal makes no difference.
- I am using vanilla (apt-managed) python that came with Ubuntu.

[2020-06-24 00:56] captainsafia commented on #5175
Got it -- one more question: what happens if you run the same cell again?

[2020-06-24 01:02] dimitry-ishenko commented on #5175
SSDD

[2020-06-24 01:05] dimitry-ishenko commented on #5175
@captainsafia additional nothingness :smirk: Please see my earlier comment. I've added more data and hopefully it gives a clue.

[2020-06-24 02:35] willingc commented on #5174
Hmm... if using `papermill` or `run all cells` then I agree with @MSeal about halt unless specific allow error. If running the notebook interactively by hand, I think that it's the user's choice to continue to run cells even if a prior cell had an error.

[2020-06-24 02:44] emeeks commented on #5174
I agree with Carol as it reflects my own experience (I know the cell errored because of something else that's sloppy but I still want to shift-enter through the rest of it) but I think that run-all or any "expect it to run the cells while I'm not looking" should stop and fail on an error cell.

[2020-06-24 18:48] captainsafia opened #5176 "Fix new cell toolbar in dark mode"
One last detail I noticed is the color of the toolbar and elements is a little off in dark mode.

This wasn't included in the original design so we might have to be creative with how it ends up looking here.

<img width="781" alt="Screen Shot 2020-06-24 at 1 34 31 AM" src="https://user-images.githubusercontent.com/1857993/85522826-0116ba80-b5bb-11ea-8fd2-1c5b2faabd63.png">

https://github.com/nter

[2020-06-25 05:04] Ashton-Sidhu commented on #5122
I found a fix + root cause and will submit a PR tomorrow.

[2020-06-25 09:55] ramantehlan commented on #5054
We have to the green flag from the snapcraft team and now nteract snap has the `classic confinement`.

However, we will have to move the snap to the stable channel. Also, we should add a note to the description asking users who have already installed the snap to upgrade it with classic confinement using below command.

[code]

[2020-06-25 16:12] todo[bot] opened #5179 "This could be a reusable class instead for hiding content */"
https://github.com/nteract/nteract/blob/f547ed4a3adf58ee612176c18d3673aa8953f645/packages/styles/command-palette.css#L97-L102

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f547ed4a3adf58ee612176c18d3673aa8953f645 when #5158 was merged. cc @ryanlanciaux.

[2020-06-26 15:12] dimitry-ishenko commented on #5175
@captainsafia is any of my data above helpful? Or do you want to do any other tests?

[2020-06-26 15:46] willingc commented on #5175
What is the output of `jupyter kernelspec list`?

[2020-06-26 20:12] dimitry-ishenko commented on #5175
@willingc thank you. Here is what I get:

[code]

[code]

[2020-06-26 20:14] dimitry-ishenko commented on #5175
FWIW `vscode` and straight up `jupyter` (`notebook' and `lab`) work totally fine on my box.

[2020-06-26 20:16] dimitry-ishenko commented on #5175
Also:
[code]
[code]

[2020-06-26 21:20] emeeks opened #5181 "What does `loadTransforms` do?"
I'm not clear why all the transforms are loaded after `componentDidMount` here:

https://github.com/nteract/nteract/blob/master/applications/jupyter-extension/nteract_on_jupyter/app/contents/notebook.tsx#L35

Is it so that if the assets don't exist that the app still loads or is it for something else?

[2020-06-28 06:45] robertlagrant commented on #4915
Just an update: I'm on MacOS and I got the same warning, which I could still click through when going into Settings and Privacy.

[2020-06-30 01:36] emeeks commented on #5139
This is fixed in `8.2.7`

[2020-06-30 01:36] #5139 closed

[2020-06-30 15:15] captainsafia commented on #5181
This is done as a performance optimization to improve the rendering time for the app on start.

An app can have a lot of transforms which have large dependencies that increase the render time of the app.

With this pattern, we can say "load all of the basic components of the app first then load these transforms that have larger dependencies."

As a result, the user will see the UI immediately with

[2020-06-30 15:24] captainsafia commented on #5174
Alright! We can ship this as part of the July release. I'm more comfortable with that since the June release contained the new UI and I didn't want to introduce yet-another-thing in that release.

From an implementation perspective, we'll need to short-circuit the execution lifecycle when an `error()` type is emitted from the kernel. We'll probably need to refactor the epics a little bit so that:

[2020-06-30 16:32] captainsafia commented on #5176
This can be closed now.

[2020-06-30 16:32] #5176 closed

[2020-06-30 16:42] captainsafia commented on #5092
CodeMirror's keyboard shortcuts are configured independently of nteract's app level keyboard shortcuts. These can be set via the `codemirror` config option in the config JSON. However, we currently disable this to avoid users overriding some of our default keymap configurations (e.g. requesting completions from the kernel when the user presses <kbd>Ctrl+.</kbd>).

It's possible for us to remove th

[2020-06-30 16:43] captainsafia commented on #5122
@Ashton-Sidhu Thanks! I'll take a look at your PR today.

[2020-06-30 19:07] CrystallineCat commented on #5092
In addition to CodeMirror's, the keyboard shortcuts for all commands in the menu should already be configurable (introduced in #5137), using e.g.:
[code]

See https://github.com/nteract/nteract/blob/master/applications/desktop/src/common/accelerators.ts for a list of all default shortcuts and https://github.com/nteract/nteract/blob/master/applications/desktop/src/common/menu.ts for the names of th

[2020-06-30 19:38] juanfcocontreras opened #5187 "Restore adding cell by hovering over the space between cells"
I love the new UI, but I really miss the ability to add cells by moving the mouse between two existing cells.

Could it be possible to restore the option to add a cell by moving around in the space between the cells like in the old UI?

[2020-06-30 19:45] captainsafia commented on #5187
@juanfcocontreras Glad that you enjoy the new UI!

@ryanlanciaux Our first feedback item on the new UI. Hoorah!

Restoring the new cell UI in its prior location (in the middle between cells) is likely going to not flow well with the existing UI. @juanfcocontreras Is this a requirement for you or are you more interested in having an easy way to add new cells?

We can probably restore the ever-prese

[2020-06-30 19:54] juanfcocontreras commented on #5187
Thank you very much for your answer @captainsafia.

In my opinion, the position (in the middle between cells) is not necessary. I would simply like to have a quick mechanism to add content between cells, and also to delete existing cells. That is, the two most frequent tasks, try to have a quick shortcuts (one click, instead of two clicks to run them).

But how to achieve this, I think it should b

[2020-06-30 21:02] szhorvat commented on #5092
Could you clarify:

 - Which file one needs to edit to change shortcuts?
 - Can the shortcut for auto-completion be changed? I do not see it in the files linked above.

[2020-06-30 21:07] eric-wieser opened #5189 "I can't find the source code for @nteract/transforms"
I'm following the breadcrumbs for a possible nteract issue (https://github.com/pygae/pyganja/issues/46), but they run out at

https://github.com/microsoft/vscode-python/blob/6abd30e50a36283b97f25418c357738021d2e9c8/src/datascience-ui/interactive-common/transforms.tsx#L92-L95

I can find the [`@nteract/transforms` package on npm](https://www.npmjs.com/package/@nteract/transforms), but I haven't bee

[2020-06-30 21:11] eric-wieser commented on #5189
I found an old copy at https://github.com/nteract/nteract/blob/v0.12.3/packages/transforms/src/javascript.js#L27, but that file is gone in master.

[2020-06-30 21:19] chameroy opened #5190 "nteract desktop hangs on launch"
I just installed nteract desktop 0.24 on Windows 10 (2004) and the application seems to hang during launch, never proceeding past the splash screen.

[2020-06-30 21:53] captainsafia commented on #5189
The nteract/transforms package was renamed to nteract/outputs a little over a year ago. It's sources are currently at https://github.com/nteract/outputs. Here's the code for the JavaScript transform: https://github.com/nteract/outputs/blob/master/packages/outputs/src/components/media/javascript.tsx.

[2020-07-01 12:38] ryanlanciaux commented on #5187
@juanfcocontreras Thank you a ton for this feedback and very glad to hear you're liking the new new UI!

I appreciate the idea of adding some additional controls to the cell buffer area. This is mostly for a "rough idea" of what this could look like, but maybe something like this?

![image](https://user-images.githubusercontent.com/85041/86244314-c93ce380-bb75-11ea-873f-f4ffaf03d5ce.png)

@captain

[2020-07-01 14:04] CrystallineCat commented on #5092
The file is `nteract.json` in the Jupyter config dir (`~/.jupyter` on my machine). However, auto-complete can't be changed right now via the config. The only way to change it right now is to edit this line: https://github.com/nteract/nteract/blob/e81cbb2565be0b08e222a8c172e8316ae36e2f37/packages/editor/src/index.tsx#L147
...and then build nteract yourself (`yarn build:all:cleanly && yarn dist`, th

[2020-07-01 15:20] captainsafia commented on #5092
@CrystallineCat I must've completely missed it in my review because I didn't realize that PR added support for customizing app-level keyboard shortcuts for the config file. We definitely need to let users know about this since it is a pretty highly requested feature.

I can update the changelog for the June release to reflect this and we'll need to add some documentation on docs.nteract.io about t

[2020-07-01 15:35] szhorvat commented on #5092
@captainsafia You are right that the default for Spotlight *in current macOS versions* is Cmd-Space. But I've been using certain global shortcuts for a long time, from before when that shortcut was added. Not using Ctrl-Space would be a major inconvenience for me (and I don't even know what other single-handed shortcut I could find that doesn't conflict with a lot of programs I already use), so I

[2020-07-01 18:15] chameroy commented on #5190
It now works. I had originally uninstalled 0.23.3 prior to installing 0.24. When I couldn't get 0.24 to start up, I uninstalled 0.24 and reinstalled 0.23.3. However, when I then ran 0.23.3, it automatically updated to 0.24. After that, 0.24 now starts.

[2020-07-01 19:20] chameroy commented on #5190
I'm also encountering the startup issue on MacOS 10.15.5. However, unlike with Windows, going the update route does not get me around the issue.

[2020-07-01 19:27] juanfcocontreras commented on #5187
@ryanlanciaux, I think that option would be great!

[2020-07-01 19:34] ctakasaka commented on #5190
Although I'm on Windows, this may work for you. I just had to select the nteract icon in my menu bar and forced it to open a new notebook with some engine. Then I could use nteract normally since the window then appeared. I think you could find something similar in your menu bar up top.

[2020-07-01 20:03] riccardosabatini opened #5192 "Python loading, kernels location issues, possible solution"
Hi all - first of us thanks (thanks thanks !!) for this amazing project, cannot stress enough how much a nativa app to run notebook helps.

While starting to setup things on Mac (10.14) with Anaconda + using conda virtual environments I stumbled on similar problems of #5175 (and probably similar to #3670 in Windows). After some profiling with Instruments of Xcode I noticed that nteract was trying

[2020-07-01 20:13] chameroy commented on #5190
Yes, it did! Even while the loading screen is still showing, the top bar menus are already available and I could use the file menu to create a new window.

Thanks. At least there's a workaround for both platforms for right now.

For the developers: would it be possible to not force updates in case a new release isn't working properly? In both of my cases, I tried to downgrade to 0.23.3, but was th

[2020-07-01 20:18] chameroy commented on #5190
Also, clicking on a notebook file in macOS also successfully starts up the application. I don't know about Windows. I guess the only issue might be that the application does not start up with a new window.

[2020-07-01 20:19] ichit commented on #5190
I am on windows 10. Version 0.24 works  perfectly  well, and i must confess it has a cool GUI. Thanks developers. You guys are doing great work .

[2020-07-01 21:56] #5173 closed

[2020-07-02 06:07] MSeal commented on #5174
If I recall correctly the classic jupyter UI -> notebook server actually sends all of the execute cells to the kernel and when an error occurs you get an `abort` message back from the kernel for the future request(s). Which is also a viable path for implementation with a try catch pattern. It also is a little more resilient to closing your browser tab because the requests are pending on the kernel

[2020-07-02 15:20] captainsafia commented on #5092
@szhorvat To help separate the two threads, can you open a separate issue about specifically supporting configuring CodeMirror's keybindings?

[2020-07-02 21:05] HTofi commented on #4995
This bug also makes it impossible to type Greek letters and special characters using the [LaTeX abbreviations](https://docs.julialang.org/en/v1/manual/unicode-input/index.html). I hope it gets fixed soon.

[2020-07-02 22:19] dimitry-ishenko commented on #5175
After running `ipython kernel install --user` I now have this:
[code]
and the problem is resolved. Feel free to close the issue.

[2020-07-02 22:53] #5175 closed

[2020-07-02 22:58] willingc commented on #5192
Hi @riccardosabatini, Thanks for your detailed write-up and your kind words about the project.

If you have time, would you like to make a PR with your suggested fix?

[2020-07-05 00:11] captainsafia commented on #5192
Ditto what Carol said! Thanks for taking the time to investigate this. It helps to have someone with more experience with conda to address this.

A PR to fix the issue over on nteract/jupyter-paths is certainly welcome!

[2020-07-05 03:34] captainsafia commented on #4915
I still haven't had the chance to go through the notarization docs and get that set up yet. I believe myself and @rgbkrk are the only ones with Apple Dev program accounts who can do this so this process is a bit bottlenecked.

Marking this for the July release so we can get it sorted this month hopefully.

[2020-07-05 04:18] captainsafia commented on #5190
You can disable auto-updates by setting the `NTERACT_DESKTOP_DISABLE_AUTO_UPDATE` environment variable to "1".

I'm not sure why you're experiencing inconsistent behavior with launching.

If you'd like to help us debug the issue further, you can try to see if you can reproduce the issue when running a development instance of nteract by cloning the repository and building the application from the s

[2020-07-05 08:24] festim-deari opened #5195 "Input disappears when choosing Monaco Editor"
**Application or Package Used**
nteract Desktop

**Bug Description**
Input disappears when choosing Monaco Editor. You can't type or even see the input.

**Runtime tested on**
Dotnet

**OS**
Windows 10

[2020-07-05 16:32] riccardosabatini commented on #5192
Hei @willingc @captainsafia, I'd be happy to make the PR but I've never developed an app in Atom/JS so I don't have the developer environment setup and cannot neither make sure the PR works or run the unit tests - can you run those once I commit ?

[2020-07-06 12:45] highandmighty opened #5196 "Cells navigation with arrow keys"
**Is your feature request related to a problem? Please describe.**
In previous versions of nteract Desktop I was able to navigate _between cells_ with arrow keys. It was extremely convenient. In the latest versions this functionality was excluded, now I am able to navigate with arrows only inside one cell. At first I thought this is a bug in my system, but I've checked it on other machines and OS

[2020-07-06 23:24] captainsafia commented on #5192
@riccardosabatini Yes. Running the tests locally is also possible.

In any case, a PR that includes the changes we need to make would be very helpful. Then someone on the maintainers team can shepherd the PR through tests and validation.

[2020-07-07 16:44] captainsafia commented on #5195
@festim-deari Thanks for reporting this! We don't yet have full support for the Monaco editor but we hope to ship it as part of the July release.

[2020-07-07 16:55] festim-deari commented on #5195
@captainsafia Thanks for the information. I'd also like to contribute, if help is needed.

[2020-07-09 01:36] captainsafia commented on #5174
The two are complimentary. We still need a way to implement the "stop processing" event when the abort message is emitted from the kernel.

Tagging for July release.

[2020-07-09 01:37] captainsafia commented on #5196
Thanks for reporting this issue, @highandmighty!

It looks like this is a regression from our previous behavior. We should fix this for the July release.

[2020-07-09 01:39] captainsafia commented on #5165
The guidance is that reducers should be purely modifying the state. However, in practice, this ends up being a little hard to do. In fact, we have a lot of reducers in nteract that modify the state conditionally. In particular, I'm thinking of the reducers for handling display updates.

In general, I think that it's fine to have additional logic in the reducer as long as the logic is deterministic

[2020-07-09 02:56] dimitry-ishenko opened #5200 "Linux users matter"
**Is your feature request related to a problem? Please describe.**

Thank you for the release v0.24.0. Sadly, the release page completely omits any mention of Linux. For example:

- a new command prompt (activated by pressing `Cmd+Shift+P` on macOS or `Ctrl+Shift+P` on Windows)

and

- One click installers for MacOS and Windows

Reading the release page I honestly thought "Did they ditch Linux?" A

[2020-07-09 03:10] #5200 closed

[2020-07-09 04:58] neolee commented on #5190
Same here. I wonder why it's not labelled as bug by devs. It's obvious and easy to re-produce.

[2020-07-09 15:45] step21 opened #5201 "Kernel Installation documentation could use improvment"
To me, the Kernel / environment documentation still unclear. I know it was discussed here https://github.com/nteract/nteract/issues/1513 but imo what is there does not always help.
Even as a seasoned python user, I am not sure in which environment nteract runs. Does it bundle its kernels? Does it use locally installed runtimes/kernels? which ones? Then I would know what to do with the info on that

[2020-07-10 19:34] willingc commented on #5201
Hi @step21, Thanks for sharing this. I think it's been 1.5 years since the documentation was written and a refresh does make sense.

The [source for the website information for kernels](https://github.com/nteract/nteract.io/tree/master/components/kernels) would be a good starting point for changes to instructions.

We would welcome any help from the community to update these files.

[2020-07-10 22:18] step21 commented on #5201
Hey, I would be happy to provide a PR. However before that, I would have to be sure how it actually works. So does nteract just use whatever it finds on the system? (that's what I am currently assuming) Does it look for kernels or pythong etc in $PATH or somewhere else?

[2020-07-10 23:24] willingc commented on #5201
Great! Yes, nteract uses the kernels that are installed for Jupyter.

[2020-07-11 23:11] step21 commented on #5201
Thanks. One more question - the examples mention either a conda or venv environment - how does nteract know which environment to use or does it use whatever is activated in a certain shell/terminal emulator?

[2020-07-12 04:27] yangcht opened #5202 "Side bar is not working properly"
**Application or Package Used**
Version 0.24.0 (0.24.0)

**Describe the bug**
Sidebar only shows the file opened, no other files/folders are showing up.

**To Reproduce**
open file.

**Expected behavior**
All files within the folder should show up.

**Screenshots**
<img width="731" alt="Screenshot 2020-07-12 at 00 26 38" src="https://user-images.githubusercontent.com/806801/87238885-67327880-c3d6-

[2020-07-13 20:39] MSeal commented on #5201
Whatever is active on the terminal / process.

[2020-07-14 23:53] captainsafia commented on #5202
Thanks for opening this issue, @yangcht!

We're working on rolling out more features to the sidebar and hope to ship this as part of upcoming releases! For now, the sidebar doesn't populate with files in the parent directory of the currently working notebook.

[2020-07-15 17:44] stephans3 opened #5205 "PDF export: only one page is printed instead of complete notebook"
Hi,
if I want to export (PDF) my notebook (including Markdown and Julia code) with **nteract desktop** (Linux app) then only one page instead of the complete notebook is printed. Furthermore, it prints the nteract window including scrollbars and does not format the notebook.

I have this problem since the latest version (0.24). The previous versions worked fine.

![nteract_pdf_problem](https://use

[2020-07-16 04:27] programatt opened #5206 "Missing dataset for example python notebook "Go from Pandas to GEOJson""
**Application or Package Used**
nteract desktop

**Describe the bug**
The OpenAPI dataset referenced in the notebook is no longer available from https://data.cityofberkeley.info/resource/k489-uv4i.json?$limit=20 . This results in errors in further cells expecting to use the data from the api call.

**To Reproduce**
Steps to reproduce the behavior:

1. Open nteract desktop
2. Click on menu  (File -

[2020-07-16 04:31] programatt commented on #5206
I would be willing to make a version of the notebook that works. It's pretty obvious this is just an example to show off how a nice notebook looks in the application. It shouldn't be that difficult to modify the example to use a different dataset from the Berkeley datasets that has lat/long values that will show up on the map. I did a brief search of the repository and wasn't able to see where the

[2020-07-16 05:46] willingc commented on #5205
Thanks for the report @stephans3. Would it be possible to look at your JavaScript console and post any errors here that you may see.

[2020-07-16 08:54] stephans3 commented on #5205
Could you please explain what I have to do step by step? I've found a console in Dev tools but there is no output and I've found a JavaScript Profiler but I have no idea what it is. I haven't found anything useful about "nteract JavaScript console" with google.

![nteract_console1](https://user-images.githubusercontent.com/62933754/87650796-84f33b00-c752-11ea-8291-fba88c945378.png)

[2020-07-16 15:09] willingc commented on #5205
@stephans3 Thanks for posting. What you did with dev tools and console was exactly what I was looking for.

@MSeal have you seen this on nbconvert?

[2020-07-16 15:30] Mohapatra-Hemanta opened #5208 "The nteract app hangs on opening in Windows 10"
**nteract app is not opening in Windows 10. This is first time I want to use it and want to use it for Julia. I also have Python installed on my laptop. I tried to install nteract 0.24.0-win multiple times, but same issue. It stops after flashing of the nteract logo.**

[2020-07-17 01:56] captainsafia commented on #5206
@programatt Thanks for offering to help with this! Our example notebooks are actually in the nteract/examples repo.

https://github.com/nteract/examples/blob/master/python/pandas-to-geojson.ipynb is the affected notebook.

[2020-07-17 01:59] captainsafia commented on #5208
Closing as a dupe of #5190.

[2020-07-17 02:01] captainsafia commented on #5190
I was just able to reproduce this on a Windows VM while validating another issue. This doesn't reproduce on my macOS dev machine.

Considering this and the fact that we haven't had an excessive amount of bug reports for this (compared to monthly users for nteract), there is something funkier going on here.

Now that I have a repro, I can dig around to see what might be going on.

[2020-07-17 02:01] #5208 closed

[2020-07-17 02:03] captainsafia commented on #5205
I think this might have something to do with our recent UI changes. I validated this print to PDF feature but one of our last-might UI fixes might've regressed something.

nteract uses Chrome's printing feature to print out PDFs and styles them with CSS. The funkiness is either in the CSS or the settings we pass to the Electron API method to print.

[2020-07-17 02:22] programatt commented on #5206
@captainsafia no problem! It looks like the 311 dataset just got moved to a different url and some of the columns were renamed. I opened a PR https://github.com/nteract/examples/pull/28 😄

[2020-07-19 18:15] Mohapatra-Hemanta commented on #5208
I have already checked the inputs in the thread #5190. Tried all possible options. Ran troubleshooter in windows. But still nteract refuses to progress beyond the flashing logo. Is there a 0.23.3 version available anywhere to to try out ?

[2020-07-20 09:28] matesitox commented on #5190
Same issue on ubuntu 2020.4 where I installed nteract 0.24.0 as a snap. nteract never gets past the splash screen.

[2020-07-20 10:10] vivek1729 opened #5215 "RFC: Monaco Editor"
Nteract desktop app and jupyter extension currently ship with CodeMirror as the default editor.
Thanks to the [extensibility options](https://github.com/nteract/nteract/blob/515c7eeff9ade7813622c4cf040bec80083251d3/packages/stateful-components/docs/extensibility.md) provided by the project, we want to contribute MonacoEditor as an additional editor that would be available to the community.

## Mot

[2020-07-21 15:29] captainsafia commented on #5215
Thanks for opening this RFC, @vivek1729!

Does the Monaco editor support all the configurations that CodeMirror supports?

How will this be done?

Will this flag default to `true`? Do we even need a flag to enable completions at all?

Yes, please! I opened an issue for this a while ago in #4743

Thanks for putting this in writing. We've actually had to do something similar for ipywidgets support.

[2020-07-21 19:23] vivek1729 commented on #5215
Thanks for the feedback @captainsafia.

I don't think so. The `cursorBlinkRate` is not supported as expected. I updated the RFC to reflect the same.
I also added details around the resize logic handler that we are planning to add in the Editor component.

Yes, the flag will default to `true`. I think it adds some value to make completions a configurable option because some consumers might want to

[2020-07-21 23:51] sammdu commented on #5190
Same on Ubuntu 18.04, nteract v0.24.0

It only opens existing notebooks, but cannot seem create a new notebook upon launch, therefore stuck at splash screen.

[2020-07-22 03:50] MSeal commented on #5215
First off, thanks for open the RFC with the thoughtful organization of thoughts around the change. Overall I think moving to Monaco editor provides a lot of benefits down the road as you outlined. A few naive questions on my end:

Will this differ from the Monaco editor integration in the jupyter-extension, or just make that a more generalized option?

Also, this may be out of scope of this conver

[2020-07-22 16:05] vivek1729 commented on #5215
Thanks for your feedback @MSeal.

The Monaco Editor component would be the same for both the desktop and jupyter-extension products. The only difference would be the way it is getting bundled into the package. As per my understandind right now, the only difference should therefore only be the webpack configuration.

As far as the package size difference is concerned, pulling in the `monaco-editor`

[2020-07-22 18:30] axidio commented on #5190
I have two macs. nteract starts normally on one. On the other mac, the splash screen will persist. Both macs are running up-to-date macOS.

[2020-07-22 18:46] captainsafia commented on #5190
@CrystallineCat I looked through a list of the commits that we published between v0.23.3 and v0.24.0. The config changes were the only major changes that happened in our startup flow. Is there anything there that you think might be sporadically causing hangs on startup?

[2020-07-23 16:32] MSeal commented on #5215
Thanks @vivek1729. 3MB is probably not an issue for the desktop app, but it might start making the web options less ideal. On a lower-end network if you're trying to reach an nteract host that could delay loading by a significant amount.

It might be interesting to include webpack build options that only provide one or the other editor so a deployment could choose one to reduce bundle size? Separa

[2020-07-23 17:51] vivek1729 commented on #5215
@MSeal, that's a great point. We'd definitely want to be cognizant about the bundle size for the web component.

I like your idea of having a webpack build option to choose a specific editor at build time through some sort of a dynamic configuration.

Do you mind expanding on this? My understanding is that the `codeMirror` and `monacoEditor` packages would be referenced directly in let's say the `

[2020-07-23 19:02] jarmokivekas commented on #5205
+1 on this. Seems like in v0.24.0 the nteract UI is fit to the paper size instead of adding pages to cover the entire ui.

The pdf page has a scroll bars, as if you could scroll the content on the page:

![image](https://user-images.githubusercontent.com/3074453/88327641-ea858f80-cd2f-11ea-97e0-39151b1120dd.png)

[2020-07-24 05:22] jarmokivekas opened #5221 "Add undo option to Delete Cell keyboard shortcut"
**Application or Package Used**

nteract desktop app v0.24.0 on Ubuntu

**Describe the bug**

Deleting a cell using the ctrl-shift-D shortcut deletes cell content without any way to recover it.

**To Reproduce**

1. select any cell with content
1. press ctrl-shift-D
3. cell is deleted
4. there is no undo mechanism unavailable

**Expected behavior**

Either:

1. add the a undo button to the ui, the

[2020-07-24 20:08] MSeal commented on #5215
@vivek1729 That sounds like a reasonable path forward with a few options. I'm not as strongly opinionated on which would be easiest / best to do here.

Probably not as I understand things.

[2020-07-25 04:58] jruales opened #5222 "`yarn build:desktop:watch` broken"
Commit "Fix WebPack" in PR #5115 actually fixed webpack for webpack.prod.js but broke it for webpack.dev.js (Now there's an error when running `yarn build:desktop:watch`). The "Fix WebPack" change should be reverted for webpack.dev.js.

In webpack.prod.js, the import is `const merge = require("webpack-merge");`, so it makes sense to use `merge.merge()`.

But in webpack.dev.js, the import is `const

[2020-07-25 05:03] jruales commented on #5222
Also seems like a regression of #5209

[2020-07-25 20:41] #5042 closed

[2020-07-25 20:41] #5043 closed

[2020-07-25 20:41] todo[bot] opened #5225 "Implement iterm.js here to connect with the termianl | This can be also done whe..."
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/components/Console.tsx#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:41] todo[bot] opened #5226 "Upload server from official account and replace the name */"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/auth/index.tsx#L36-L41

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:41] todo[bot] opened #5227 "We need to add nteract logo and few instructions here about the application, thi..."
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/index.tsx#L51-L54

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:41] todo[bot] opened #5228 "Functions like this are or can be used in"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/p/[...params].tsx#L51-L56

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:41] todo[bot] opened #5229 "Below two functions are identical, they can be one"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/p/[...params].tsx#L65-L70

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:42] todo[bot] opened #5230 "We need to be able to save multiple files, so this logic"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/p/[...params].tsx#L106-L111

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:42] todo[bot] opened #5231 "Add @nteract/mythic-notifications to file"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/p/[...params].tsx#L130-L135

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:42] todo[bot] opened #5232 "Add a blob here with changes made and push them to github"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/p/[...params].tsx#L185-L190

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 20:42] todo[bot] opened #5233 "Add a loading experience for the users and error if project not found"
https://github.com/nteract/nteract/blob/9b3a9d50013c13d66188d2911c349f60e9230824/applications/web/pages/p/[...params].tsx#L265-L270

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9b3a9d50013c13d66188d2911c349f60e9230824 when #5167 was merged. cc @ramantehlan.

[2020-07-25 21:11] CrystallineCat commented on #5190
@captainsafia I looked through the code, and I downloaded the v.0.24.0 AppImage tried various scenarios (config dir missing, no permissions, etc.), and I couldn't reproduce the bug or find any idea where it could be.

Do you have a repro with a debug version?

[2020-07-25 21:13] sammdu commented on #5190
@CrystallineCat I use the deb package if that helps.
.deb on Ubuntu 18.04.

[2020-07-25 21:20] CrystallineCat commented on #5222
Thank you for bringing this up! I think I missed the change made by #5209 when rebasing #5115. I'll fix this momentarily.

[2020-07-25 21:26] CrystallineCat commented on #5222
Oops, didn't see you already made a PR. :cat:

[2020-07-25 22:43] vsivsi commented on #5190
I have nteract v0.24.0 installed on three MacOS Catalina boxes. I see this bug on 1 out of the 3. On that machine I have uninstalled and reinstalled nteract and the issue persists.

A strange behavior is that invoking menu: nteract>Quit causes the loading splash to go away, but _doesn't quit the app_.

Instead the menus remain operational. If I then go to e.g. File>New>node.js I get an error dialo

[2020-07-26 03:20] #5222 closed

[2020-07-26 08:27] atoav opened #5235 "Freshly installed nteract is stuck on splash screen"
Edit: Maybe this is a duplicate of #5190

**Application or Package Used**
nteract desktop 0.24.0

**Describe the bug**
Freshly installed nteract is stuck on splash screen.

**To Reproduce**
Steps to reproduce the behavior:

1. Download nteract
2. Run `nteract-Setup-0.24.0.exe` and install nteract
3. Splash screen opens and lets you wait (I waited at least 15 minutes)

**Expected behavior**
nteract

[2020-07-26 19:52] NicholasWMRitchie commented on #5190
Me too.  Windows 10 1909 18363.959.   Using Firefox as my primary browser.
One Win10 box works, the other hangs on the splash screen.

[2020-07-27 02:55] #5196 closed

[2020-07-27 03:11] captainsafia commented on #5190
I was able to repro this on a Windows VM but haven't been able to track it down on either macOS machines I have. The issue doesn't reproduce reliably across all operating systems which is why we're seeing inconsistent reports from users.

This lack of a reliable reproduction can mean one of two things:

- There is indeed some common root cause (misconfigured Jupyter kernel, misconfigured configura

[2020-07-27 05:09] captainsafia commented on #5235
Thanks for opening this issue!

This does indeed seem to be the hanging issue discussed in the other thread.

I'll close this now so we can keep the conversation on the issue cohesive.

[2020-07-27 05:09] #5235 closed

[2020-07-27 05:10] captainsafia commented on #4458
Closing this.

We've redesigned the nteract UX and have something else in mind for this based on our redesign.

[2020-07-27 05:10] #4458 closed

[2020-07-27 05:25] captainsafia commented on #5215
Including both the CodeMirror and Monaco editor in the desktop app shouldn't be an issue as the user only pays a one-time download cost for the app.

As for how to package this for web hosts, we have to account for two things:

- We do not control the webpack configurations of end-user apps, in fact, we don't even control whether or not we use webpack
- Dynamic imports require some sort of code sp

[2020-07-27 05:29] captainsafia commented on #5221
Ideally, we should show the undo UI when deletion occurs via a shortcut. The fact that it isn't happening currently is a head-scratcher. However, I suspect the root cause is related to an incorrect action being issued when deletion occurs via a keyboard shortcut.

[2020-07-27 15:37] step21 commented on #5201
Made a proposal to nteract.io. I also looked at the code - I saw that it runs `python -m ipykernel --version` and `conda info --json` to get the basics of the environment, but couldn't quite figure out how it gets installed kernels from there, as these are not included in either.

[2020-07-27 18:56] emeeks commented on #5221
This is a pretty simple thing to fix, as @captainsafia said, the action being referred to is `deleteCell` and just needs to be replaced with `markCellAsDeleting`.

[2020-07-28 01:38] #5221 closed

[2020-07-28 18:50] gbrault commented on #5190
This problem seems not solved: just tried to install nteract and run into it???

[2020-07-28 19:00] clemwr commented on #5190
Yeah, I just get the splash screen with the animation playing over and over.  It never gives an error or progresses to show menus.

[2020-07-28 20:11] willingc commented on #5190
@gbrault @clemwr The issue hasn't been resolved in the July nteract release. Sorry. 😞 One of the difficulties that we are having is reliably reproducing the issue across the different operating systems.

[2020-07-28 20:15] willingc commented on #5190
@captainsafia I've updated the milestone for an August 2020 release.

[2020-07-28 20:29] willingc commented on #5190
@captainsafia I'm pretty sure the error is in [this file](https://github.com/nteract/nteract/blame/main/applications/desktop/src/main/index.ts) and how we are handling startup, splash screen and timing.

[2020-07-28 23:52] clemwr commented on #5190
Here is additional information about the hanging splash screen in case it helps.  While the splash screen is up, I do not see nteract in the list of processes in my Task Manager.  Once I close the splash screen from its icon in the Task Bar, nteract then shows as a running process in Task Manager.  I can't switch to it, and all i can do is end it.  Some times it takes more than one attempt to end

[2020-07-29 01:11] willingc commented on #5190
Thanks @clemwr. Info like that is super helpful for narrowing down the issue.

[2020-07-29 04:40] neolee commented on #5190
Could we have a way to download older versions? The new 0.24 branch is a disaster for me, I just wanna use it as a stable and clean tool. Please let us download and use the oldie-goodie 0.23.x version. Thanks.

[2020-07-29 05:00] willingc commented on #5190
@neolee All releases are always available on GitHub. Here's a link to [0.23.3](https://github.com/nteract/nteract/releases/tag/v0.23.3).

Just a reminder that nteract is a volunteer open source project, not a business. We contribute to nteract and maintain these repos because we find it worthwhile and rewarding. While we wish that this issue was resolved, patience and collaboration will motivate u

[2020-07-29 05:29] neolee commented on #5190
@willingc Thanks for the info! I haven't found that link myself.

[2020-07-29 05:35] gbrault commented on #5190
@willingc thanks for your help. I had no intent to point my finger to anybody. I hope you'll be able to recover from this issue soon.

[2020-07-29 05:58] willingc commented on #5190
You are welcome @gbrault @neolee. Thanks for the kind words. We're all good. I feel like we are getting closer to the cause which will hopefully result in a timely fix.

[2020-07-29 12:51] willingc commented on #5190
@captainsafia I did a `git bisect` this morning. This was the first commit that displayed errors when running `yarn build:desktop`:

[code]

This is the first commit where I see the behavior happening with the splash screen. It doesn't necessarily mean that this commit has an error since it may be an error in an underlying package.

@captainsafia @CrystallineCat If you have any ideas on how to fur

[2020-07-29 17:45] captainsafia commented on #5201
@step21 Thanks! I'll take a look at the PR.

We have some logic in the desktop app that looks through the environment for installed kernels. Jupyter places a JSON file that describes that installed kernels at a particular directory so we look there to figure out what kernels can be used.

[2020-07-30 11:41] vivek1729 commented on #5215
Thanks for the pointers @captainsafia. Apologies for the lengthy comment in advance. I thought it's important for me to share my understanding of the current architecture and then outline my thoughts in as much detail and clarity as possible right now.

### Dynamic imports in Nteract currently
I see that some transforms are loaded inside the `jupyter-extension` using the following pattern:

[code]

[2020-07-30 23:35] kycutler opened #5241 "CRLF line endings in loaded notebooks break magics"
**Application or Package Used**
Any nteract connected to an IPython kernel

**Describe the bug**
When a notebook is opened containing a magic followed by a CRLF line ending, IPython returns an error that the magic could not be found. See the IPython issue [ipython/ipython#12471](https://github.com/ipython/ipython/issues/12471)

Until this is fixed in IPython, nteract could mitigate this issue my n

[2020-07-31 22:48] captainsafia commented on #5241
Thanks for reporting this issue, @kycutler!

Given that it's an issue with the ipython kernel and not the nteract front-end, we should contribute the fix to ipython so that all front-ends can benefit from the fix. I'll close this issue in favor of the one opened in the ipython repo.

[2020-07-31 22:48] #5241 closed

[2020-08-02 12:03] step21 commented on #5201
Thanks. Fixed in https://github.com/nteract/nteract.io/pull/297

[2020-08-02 12:03] #5201 closed

[2020-08-02 18:17] #5230 closed

[2020-08-02 18:17] #5232 closed

[2020-08-02 18:18] #5228 closed

[2020-08-02 18:18] #5229 closed

[2020-08-03 15:01] willingc commented on #5206
Thanks for making the PR @programatt. I'm closing this now that your PR is merged.

[2020-08-03 15:01] #5206 closed

[2020-08-03 15:04] willingc commented on #4152
Unassigning @jdetle and bumping the milestone to August.

[2020-08-03 15:06] willingc commented on #4981
@captainsafia Do you want to bump this to August milestone or is this ready to close?

[2020-08-03 16:35] psmaragdis opened #5243 "Inconsistent tabbing behavior"
This is a set of related issues in the standalone nteract app.  They are present in 0.24.1, but they were there in previous versions as well.  This is on MacOS 10.15.6.

-- If I turn off smart indent, using the tab key to indent works fine for the first level, but stops afterwards.  For example, if I type ```for i in range( 10):``` and press return and then tab the cursor moves four spaces.  If in

[2020-08-03 16:58] captainsafia commented on #4981
Let's move it to August. There are still a few more packages that need to be moved out.

[2020-08-04 03:10] willingc commented on #5243
Thanks for the report @psmaragdis.

[2020-08-04 03:53] willingc commented on #5243
Verifying that I see similar behavior with Julia 1.5 kernel and latest nteract source.

- With smart_indent active and tab set to 2 spaces: returning after `for j in range(10):`, the second line indents 2 spaces. Unable to tab again on the same line.

- With smart_indent active and tab set to 3 spaces: returning after `for j in range(10):`, the second line auto-indents 2 spaces. If backspace to th

[2020-08-04 03:57] captainsafia commented on #5215
I'm not sure that we'll be able to use async/await in the render method.

We can probably try something similar to what we do with the transforms in the Jupyter extension. In particular, we dynamic import the components, then store them in the Redux state, then read the components from the Redux state at render time.

This way, we maintain the separation of concerns that stateful-components is onl

[2020-08-04 15:34] talbym commented on #5114
Here another case, tested with newest nteract (0.24.1) and Julia (1.5.0) versions:

(1.) /opt/nteract/nteract ~/Projects/_Julia/nteract/firstTest.ipynb
(2.) the opened notebook file lets indicate in the in the left corner of the bottom status bar "Julia 1.4.1|not connected", the "not connected" not being a surprise because I deinstalled that kernel package and no version 1.4.1 binary should be ava

[2020-08-04 15:45] willingc commented on #5114
Thanks @talbym. I've been seeing similar behavior when trying to resolve #5243

[2020-08-04 23:25] #5164 closed

[2020-08-05 02:07] emeeks opened #5245 "Where is focusCell fired when you click on a cell?"
Looking around the code it seems like `focusCell` is attached to a lot of different onClick listeners including `draggable` and `hijack-scroll` but neither of those are the onClick listener in a code cell. Where is the code cell `focusCell` event fired as a result of clicking on a code cell?

[2020-08-05 02:35] emeeks commented on #5245
It seems like once a code cell is selected, clicking on it *again* fires the `onClick` event on `hijack-scroll` whereas with a markdown cell clicking on it when it's unselected fires the event on `hijack-scroll` but I still can't seem to find out where the `onClick` event is that initially selects a code cell.

[2020-08-05 04:10] captainsafia commented on #5245
@emeeks Great question! The event that fires the `focusCell` when the code cell is clicked is actually in the editor. It's passed to the CodeMirror component [here](https://github.com/nteract/nteract/blob/49983455451c1038a59408537e8698ebca9f074a/packages/stateful-components/src/inputs/editor.tsx#L134) then called [here](https://github.com/nteract/nteract/blob/49983455451c1038a59408537e8698ebca9f07

[2020-08-05 19:55] todo[bot] opened #5247 "Replace all placeholder console with notification"
https://github.com/nteract/nteract/blob/70441972824c94ba68335f77658292a3d1c88a91/applications/web/pages/p/[...params].tsx#L352-L357

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 70441972824c94ba68335f77658292a3d1c88a91 when #5240 was merged. cc @ramantehlan.

[2020-08-05 19:55] todo[bot] opened #5248 "Make the below mode dynamic by identifying the language on open"
https://github.com/nteract/nteract/blob/70441972824c94ba68335f77658292a3d1c88a91/applications/web/pages/p/[...params].tsx#L642-L646

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 70441972824c94ba68335f77658292a3d1c88a91 when #5240 was merged. cc @ramantehlan.

[2020-08-06 23:37] bruno-brant opened #5250 "Edge Chromium is blocking nteract download"
I just went to https://nteract.io/ and tried to download the Windows app:

![image](https://user-images.githubusercontent.com/1890900/89592812-f9863a80-d823-11ea-9cdc-5bd89dfe11b8.png)
[This is the actual link that I was served.](https://github-production-release-asset-2e65be.s3.amazonaws.com/37496521/7144be80-d0da-11ea-803e-1f4f08a6c843?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYA

[2020-08-07 07:18] willingc commented on #5250
Hmm...I'm not quite sure why you would get this behavior.

Do you experience the same behavior if you download the release from GitHub's release page: https://github.com/nteract/nteract/releases/tag/v0.24.1

[2020-08-07 09:57] bruno-brant commented on #5250
Just tested, it's something concerning the binary.

![image](https://user-images.githubusercontent.com/1890900/89633579-6c220500-d87a-11ea-97d1-5ec95fa2c110.png)

It seems Edge Chromium actually uses SmartScreen:

![image](https://user-images.githubusercontent.com/1890900/89633686-9673c280-d87a-11ea-9f44-a073f0c7448e.png)

I have the option of reporting it as safe...

![image](https://user-images.

[2020-08-07 09:59] bruno-brant commented on #5250
FYI, the zip is downloading fine.

![image](https://user-images.githubusercontent.com/1890900/89634232-6f69c080-d87b-11ea-96d6-49fcc0cc7a6b.png)

(I'm curious, why is the setup so smaller than the zip file?)

[2020-08-08 10:30] #5227 closed

[2020-08-08 19:23] captainsafia commented on #5250
Chromium-based Edge might be blocking the download of the executable because unlike standard Chrome it's more tightly integrated with Window's app signing checks (done by Windows Defender as you pointed out).

We've got this tracked in other issues but, currently, the nteract app isn't signed for Windows. As a result, Windows/Edge interpret it as malicious and block the download.

The zip download

[2020-08-09 03:01] shishini opened #5254 "nteract doesnt start on windows"
I installed interact
And it wont open, or in other words wont finish loading

When I click nteract in the start menu, I get the logo screen, but the logo goes on forever

I also need to add, that the site, doesnt have any installation instruction,
And I came here from a julia academy course that required installing nteract

Many on the julia academy course seem to have had a similar issue

Please

[2020-08-09 03:53] logankilpatrick commented on #5254
I am also getting the same issue on a fresh install of windows and nteract 0.24.1

[2020-08-09 14:49] CrystallineCat commented on #5254
nteract 0.24.x has a bug (#5190) where it isn't able to select a proper fallback kernel if the configured kernel isn't found. Without a kernel, it can't launch a window, so the splash screen just hangs, waiting for a window that never arrives. The default configured kernel is `python3`. The bug was fixed yesterday in the `main` branch by #5252.

If you don't want to build from the source, you can

[2020-08-09 14:49] #5254 closed

[2020-08-09 14:51] logankilpatrick commented on #5254
Thank you!!!

[2020-08-09 15:32] shishini commented on #5254
Just for the record to install a python kernel run the following commands

[code]

[2020-08-09 20:12] MSeal commented on #5215
I generally agree with @captainsafia, though my opinions here aren't super strong beyond making sure the problem has been thought through and you all feel there's a reasonable path forward. Which appears to have been done well here imho.

[2020-08-09 20:13] ChetanVardhan opened #5255 "Not starting"
I just downloaded the appimage today and its not working, neither is the snap build, nor is the .tar.gz one
Fedora 32 x86_6
![Screenshot from 2020-08-10 01-40-48](https://user-images.githubusercontent.com/51269425/89740922-d620f100-daaa-11ea-9894-2ad3930c7240.png)
4

[2020-08-09 20:18] ChetanVardhan commented on #5255
Update: the command nteract a.ipynb works fine though

[2020-08-09 20:31] ChetanVardhan commented on #5255
Also, the plots are showing with scrolling bar by default
For the full plot, I've to enable and then disable for every plot

[2020-08-09 22:02] captainsafia commented on #5190
Thanks @CrystallineCat for putting in a fix for this. The fix will ship in the August release of nteract.

In the meantime, try the workaround that is documented at https://github.com/nteract/nteract/issues/5254#issuecomment-671061120.

[2020-08-09 22:02] #5190 closed

[2020-08-10 23:32] captainsafia commented on #5255
@ChetanVardhan These issues are dupes of #5190 and #4994. Would recommend looking there for more info or to express your interest in the feature.

[2020-08-10 23:43] #5248 closed

[2020-08-11 04:04] #5255 closed

[2020-08-13 18:10] jralfonsog opened #5259 "Remote jupyter server with nteract desktop"
It would be awesome to be able to connect to a remote server using nteract. In my case, I usually run jupyter with docker, and I can't use nteract without a feature like that.

I know it has already been taking into account before but, unless I'm mistaken, it's only available for the web nteract version, and I can't find any recent update/plan on the feature so I don't know if it is still on the r

[2020-08-13 23:43] #5122 closed

[2020-08-14 18:15] vivek1729 opened #5260 "Extensibility point for loggers"
Hi everyone,

I am wondering if there is a general logger interface available in Nteract. For instance, if users are consuming an nteract package in their larger application, they might want to log some information from within the nteract package (if the package supports it) for their own telemetry and feedback loop.
I am working on adding support for the monaco-editor package, and I wanted to kno

[2020-08-14 20:05] vivek1729 commented on #5215
@captainsafia  and @MSeal , thank you guys for the continued engagement. While I am adding the dynamic import functionality to load the editor components on demand, I'll add it so that it is a fall back and does not change the current functionality. This would allow current consumers to still be able to consume the stateful `editor` component using the pattern of EditorSlots. I have only removed t

[2020-08-15 02:20] captainsafia commented on #5260
Great question, @vivek1729!

nteract really only provides "logging" support in one place at the moment, we have a Redux middleware logger that logs actions and state to the console.

With regard to a general logging interface, there isn't really something specific and opinionated in nteract. I'd hesitate to introduce a logging abstraction within nteract itself. Instead, I'd be curious to see what

[2020-08-15 02:29] captainsafia commented on #5215
Thanks for the update, @vivek1729!

Agree with the approach of getting more feedback here. It'll help us make more confident decisions about how this part of the API will work. I also think we can build up to it incrementally since other aspect of the implementation (resize support and kernel completion support) aren't affected by it.

Cheers!

cc: @nathanieldeal This conversation around supportin

[2020-08-15 02:30] captainsafia commented on #5259
Thanks for sharing this idea, @jralfonsog!

This is actually something we are working towards with our introduction of the nteract web app. The idea is that we'll eventually unify the codebases of the nteract web and desktop app and the desktop app will support both remote and local kernels.

[2020-08-18 10:24] ptcane opened #5262 "Change indigo color used for links and operators in errors to something more readable"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I find the indigo colored text used for links in markdown cells and also in some elements of syntax error messages hard to read when using the dark theme.

**Describe the solution you'd like**
Change this color to something more readable on

[2020-08-18 21:59] vivek1729 commented on #5260
Thanks for the prompt feedback @captainsafia . Error boundaries is an interesting idea that I wasn't familiar with. What I wanted to understand better was just the support for a logger inside react components or nteract packages that people might use in isolation as well. As you rightly pointed out, the redux logger and error boundaries are limited in their domain. Instead of having a full fledged

[2020-08-19 21:33] captainsafia commented on #5260
The "might be emitted inside the package" is the key part here. Regardless of what interface we provide, we'd have to go through each component and add the logging invocations to it. This is ultimately where a bulk of the work and maintenance cost will come from. The subtleties here include:

* we need to determine what scenarios we want to log for
* we need to determine what log levels those scen

[2020-08-20 01:52] captainsafia commented on #963
This is implemented now as part of our config customizations in the desktop app.

[2020-08-20 01:52] #963 closed

[2020-08-25 01:56] robertwt7 opened #5271 "Stuck on loading in windows desktop version"
Hey guys,

I came across this repo and was interested to try it. But I can't even load the desktop app

**Application or Package Used**.
nteract desktop

**Describe the bug**

Its loading forever, been 20 mins. I closed it with task manager then reopen but no luck

![image](https://user-images.githubusercontent.com/15647967/91113736-9d4b6380-e6c9-11ea-8aa1-9f2f6181e035.png)

**To Reproduce**
Steps

[2020-08-25 02:00] captainsafia commented on #5271
Hello @robertwt7 -- this is a known issue that we recently fixed. It was originally reported in #5190. You'll find a workaround in the thread. The fix will be shipped next Monday!

[2020-08-25 02:07] robertwt7 commented on #5271
Ah alright thanks! I'll reinstall on monday then, in the meanwhile i'll try it on jupyter later

[2020-08-25 02:07] #5271 closed

[2020-08-25 06:19] arubhardwaj opened #5272 "Nteract hanged on loading"
Hi.
I just installed nteract for windows (I am using windows 10) and when I run it after installation, it is hanged on loading only. I tried multiple times by closing and restarting it but same issue is occurring. Could anyone help me why this is happening?
Thanks in advance!

![image](https://user-images.githubusercontent.com/60003385/91130214-ed75f600-e6c8-11ea-910b-6a45de1efd13.png)

[2020-08-25 14:12] NicholasWMRitchie commented on #5272
See #5254

[2020-08-25 14:31] NicholasWMRitchie commented on #5254
I'm still puzzled.
As best I can tell, `%JUPYTER_CONFIG_DIR% = C:\Users\nicho\AppData\Roaming\jupyter` on my Windows 10 system.  I can add a file `nteract.json` containing the three lines
[code]
to this directory (or the `kernel` or `runtime` sub-directories).  nteract still locks on startup.
In the `kernel` directory, I only have one kernel installed `julia-1.5`.  I don't have any Python kernels

[2020-08-25 14:38] shishini commented on #5254
Personally, I just installed a Python kernel and it worked for me
First install Python then run this

[code]
then start nteract, it will work

[2020-08-25 15:13] NicholasWMRitchie commented on #5254
It seems that if I create a directory `c:\users\nicho\.jupyter` and add one file, the file `nteract.json` into this directory, nteract will proceed past the splash screen.   I don't need to move any of the additional files or directories in `%JUPYTER_CONFIG_DIR% = C:\Users\nicho\AppData\Roaming\jupyter`.
This suggests to me that while Jupyter is using the `~/AppData/Roaming/Jupyter` directory for

[2020-08-25 15:16] shishini commented on #5254
@NicholasWMRitchie it is a bug that they will fix, so long term this doesn't oppose your objectives
you can install the newer version and uninstall python later

short term, just install Python and make it work 👍
just my opinion

[2020-08-25 17:10] captainsafia commented on #5272
Thanks for opening this issue, @arubhardwaj! In addition to the issue that @NicholasWMRitchie mentioned, I would recommend taking a look at #5190 for more info and a work around for this issue.

A fix will be released on Monday.

[2020-08-25 17:10] #5272 closed

[2020-08-25 17:13] captainsafia commented on #5254
Fix will ship on Monday! Thanks for your patience folks.

Can you open a new issue for this?

[2020-08-26 07:43] dwt opened #5274 "[Mac] Save window positions of notebooks"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated that I need to move the window of that specific notebook back to the side of the screen so I can see that other app that I need to enter data from. Would be much nicer if the app could just remember the window position of that notebook and restore it. I use this small data app I built in jupyter every day, so

[2020-08-27 17:26] NicholasWMRitchie opened #5275 "Search path for nteract.json incomplete?"
**nteract desktop**

While trying to resolve the bug #5190 on my system using the recipe provided in #5254, I discovered an additional problem.

The basic idea is correct:

The startup hangs at the splash screen when the default kernel is not present on the system.  This can be corrected by creating a config file in %JUPYTER_CONFIG_DIR%/nteract.json, and and setting it to:

[code]
or some other va

[2020-08-27 17:29] NicholasWMRitchie commented on #5275
@captainsafia Here is the issue you asked me to submit.
@CrystallineCat Does your fix for the splash screen hang address this concern?

[2020-08-29 04:03] captainsafia commented on #5275
It doesn't. This is a separate issue. We only look for the `nteract.json` config file in one location (under `~/.jupyter/nteract.json`) and not the other Jupyter config dirs.

It adds a certain amount of overhead to support all Jupyter config dirs and defaulting to `~/.jupyter` is a reliable fallback about 99% of the time.

Open to PRs for this though!

[2020-08-29 22:56] codepatel opened #5277 "Export PDF doesn't work"
I tried this on a Mac OS Catalina as well as a Win10 PC. In both platforms, the Export PDF doesn't seem to work. See attached image below.

<img width="967" alt="image" src="https://user-images.githubusercontent.com/7637981/91647478-bed98180-ea20-11ea-9294-1b166a51708a.png">

[2020-08-31 18:43] vivek1729 commented on #5260
Thanks for the feedback @captainsafia. Trying to understand your proposal a little better. You're suggesting the users could emit `LOG` actions for any errors they want to send across. So from a consumption point of you, any user wanted to log errors emitted from the components can define their own epic to do so. Is my understanding correct?

I understand your point around adding the support to th

[2020-09-01 07:30] willingc commented on #5277
Hi @codepatel, Thanks for the issue report. Today we released [v0.25](https://github.com/nteract/nteract/releases/tag/v0.25.0). Please give it a try and let us know if you still see the behavior. Thanks.

[2020-09-01 07:32] willingc commented on #5275
@NicholasWMRitchie FYI. We released [v0.25](https://github.com/nteract/nteract/releases/tag/v0.25.0) today. Please give it a try and let us know what behavior you see. Thanks.

[2020-09-01 07:35] willingc commented on #5274
@dwt Thanks for the enhancement suggestion. I tend to use the Magnet app to position windows on my mac. Perhaps that may help you.

[2020-09-01 07:39] willingc commented on #5262
Thank you for filing an issue @ptcane. Which OS are you using?

[2020-09-01 07:43] willingc commented on #5260
@vivek1729 Thanks for the additional context. Question about the above statement: are you looking at this from the standpoint of a developer extending nteract or a user of nteract itself?

[2020-09-01 07:51] dwt commented on #5274
It probably will, but at the same time, this is a really nice Mac OS feature that especially document based apps like nteract can easily support and make the app much nicer for all users - even those not using crutches like Magnet.

[2020-09-01 07:54] willingc commented on #5195
@festim-deari The August release was just posted as [0.25](https://github.com/nteract/nteract/releases/tag/v0.25.0). Addition of full Monaco editor is part of this release.

Closing as 0.25 addresses this issue.

[2020-09-01 07:54] #5195 closed

[2020-09-01 07:57] willingc commented on #5274
@dwt I agree. If you have experience adding this functionality for macOS, we would welcome a PR. Thanks!

[2020-09-01 08:21] willingc opened #5283 "Possible regressions with 0.25"
@captainsafia I'm seeing some issues with:
- closing/quitting the desktop app (had to `ps -ax | grep nteract` and then kill)
- switching of editors resulting in blank page
- individual windows will not close

I was checking if the Export -> PDF worked and ran into this.

[2020-09-01 15:06] codepatel commented on #5283
shall I wait for evaluating v0.25 until these issues are resolved?

[2020-09-01 16:22] willingc commented on #5283
@codepatel I was seeing these issues on macOS from running from the dmg. I will be trying to reproduce this today/tomorrow. If you want to give it a try, I would appreciate it and we would welcome more feedback in this issue. Thanks.

[2020-09-01 17:37] codepatel commented on #5277
I tried v0.25 on a Windows, and the Export->PDF still didn't work for me.

I didn't try v0.25 on Mac due to #5283

[2020-09-01 17:44] codepatel commented on #5277
@willingc , Also a report "request" feature might be add a Table of Contents in PDF, based on MD cells/heading and easy to navigate bookmarks in the PDF based on the MD cells. Please add this as a separate feature request if you think so.

[2020-09-01 17:55] vivek1729 commented on #5260
When I say user, I didn't imply someone using the nteract desktop app or jupyter extension. Rather, I was alluding to a developer extending nteract like you pointed out. For instance, someone relying on nteract's editor components as part of their larger project. In that scenario, they might want to capture and act upon errors that stem from the nteract components

[2020-09-01 17:59] captainsafia commented on #5260
Correct. They could use their own epic or the one we bundle. A scenario where they might use their own epic is if they wanted to aggregate and dispatch their logs to a monitoring service like [Sentry](https://sentry.io/welcome/).

Yep. I understood that. My point was that we needed to come up with a plan on what needs to be logged in each component since it is the SDK's responsibility to emit the

[2020-09-01 18:46] ptcane commented on #5262
@willingc MacOS.

this could be an issue highlighted by my monitor (which hasn't got very good contrast) but I suggest it's likely to be an issue in part for others too. I've not encountered issues with other alternatives (VSCode, jupyterlab dark theme, etc)

[2020-09-01 18:47] ptcane commented on #5262
@willingc also poor visibility on Android phone.

[2020-09-04 17:32] kubark42 commented on #5283
@willingc I do not see anything which strikes me as unusual on a Mac Air with macOS 10.15.6. I am running v0.25 which installed automatically as an upgrade from 0.24.1 (i.e. so not running from a DMG).

However, I am not sure that I have fully understood the 2nd issue, so I cannot guarantee that I have tested it correctly.

[2020-09-05 00:52] emeeks opened #5286 "createCellBelow not honoring source"
**Application or Package Used**
@nteract/core

**Describe the bug**
When I fire an `actions.createCellBelow({ id: validid, cellType: "code", source: "Some kind of set source", contentRef: validContentRef })` the cell is created properly but is empty.

**To Reproduce**
fire `actions.createCellBelow` with a string in source

[2020-09-05 09:39] lwbaqueros commented on #1817
+1

[2020-09-06 21:23] geffenacademyatucla commented on #5022
This is still an issue as of v0.25.

I am able to run the example from the ipywidgets Getting Started:

[code]

However, the above code in nteract v0.25, Mac OS 10.14.6 only outputs 10.

If this could be fixed that would be awesome and my students (and I!) would really appreciate it.

[2020-09-08 18:42] jarmokivekas commented on #5277
+1 on this for v0.25.0 desktop app. I'm running on Ubuntu.

1. open any notebook
2. File -> Export -> PDF
3. The pdf is not created, and there is also no pdf export notification in the interface (you used to be able to open the pdf from the notification).

There are error messages in the developer tools console or stderr.

Another aside related to this, is using the PDF export menu toggles the cel

[2020-09-08 21:45] jarmokivekas commented on #5119
@captainsafia I'm working on fixing some PDF export issues this week, if you have some pointers on where to maybe do this the best I'm open to suggestions. It's in PR #5289. The toggling logic this issue refers to is a little broken in v0.25 anyway, so it solves two issues for the price of one.

[2020-09-08 22:28] jarmokivekas commented on #5283
^^ I'm seeing this on v0.25.0 and current master.

1. open any notebook
1. Preference > Editor Type > Monaco
1. entire page goes white

Running the .deb package on Ubuntu.

[2020-09-08 23:51] jarmokivekas commented on #5119
@captainsafia @jdetle

I had around poke the `content.printToPDF` function docs for page size (I'd like to have A3 pages in my PDFs), and it seems it might be possible to supply arbitrary height and width:

https://www.electronjs.org/docs/api/web-contents#contentsprinttopdfoptions

Single-page pdfs do make sense for notebooks sometimes, but I feel like there needs to at least be an option to choos

[2020-09-08 23:52] onebacha commented on #5111
I had the same problem and this solution worked for me. I uninstalled nteract with CleanMyMac and then re-downloaded + re-installed it. nteract was able to open then.

[2020-09-10 15:44] vivek1729 commented on #5283
@willingc , @captainsafia  I am seeing the issue as well on the Windows App for the latest release. However, when I try to run the desktop app locally from the `main` branch, I don't see any issues. Can you help me with the instructions to do a production build for the desktop app locally?
I feel some difference in the way the app is packaged in prod vs dev might have triggered this issue.

[2020-09-10 18:31] vivek1729 commented on #5283
Pre-requisite: I downloaded the nteract setup for the desktop release version 0.25.0 from nteract.io
Took a closer look at the issue and I think I was able to root-cause the issue when switching editors. Looking at the console I see the following error:

![image](https://user-images.githubusercontent.com/1658576/92779509-f74d5980-f356-11ea-9c86-2655c9db1075.png)

The [call ](https://github.com/nte

[2020-09-10 21:02] joshuali925 opened #5291 "IE 11 Compatibility"
**Is your feature request related to a problem? Please describe.**
I'm working on a Kibana plugin that uses nteract. After this PR https://github.com/elastic/kibana/pull/59972 Kibana validates syntax of bundled node_modules to enforce IE compatibility and nteract fails the check. Specifically for
[code]

**Describe the solution you'd like**
Have nteract packages in ES5 and compatible with IE 11.

[2020-09-10 21:34] vivek1729 commented on #5260
Got it. Thanks for clarifying that @captainsafia. I am not really sure what the ideal plan should be. It seems like the work needed to emit errors as log actions would follow a single pattern where we either pass the action as a prop to stateless components or dispatch it directly from the stateful ones. We can consider taking an incremental approach where let's say we do it for one stateful compo

[2020-09-15 16:36] ramantehlan opened #5292 "[nteract/web] Cell not running when notebook opened before server connection."
**Application or Package Used**
nteract/web

**Describe the bug**
When you are working on nteract web and opens a notebook before it is connected to a server. If you wait for it to connect it to the server, it still won't run, either you have to refresh it or work on some other file.

**To Reproduce**
1. Start nteract web.
2. Open a notebook while application is not connected to the server.
3. Wai

[2020-09-17 17:51] willingc commented on #5283
Ping @captainsafia who has done production releases. Sorry I have not done them yet.

[2020-09-18 18:59] captainsafia commented on #5283
The RELEASING.md documentation in the root of the repo contains docs on this. Should just need to run `yarn dist` then find the executable in `application/desktop/dist`.

[2020-09-18 22:19] vivek1729 commented on #5283
Thanks @captainsafia. I consistently get a heap allocation error when I try to do `yarn dist`. I am on a windows 10 machine. I was able to unblock myself by setting the `NODE_OPTIONS` environment variable. On Windows, I did `set NODE_OPTIONS=--max_old_space_size=8172`. Had a follow-up question just to confirm that I validate thoroughly. The `dist` folder has the following structure:
![image](https

[2020-09-19 04:02] jruales opened #5295 "Broken Slack link in docs.nteract.io/"
**Repro**
1. Go to https://docs.nteract.io/
2. Click on [nteract Slack community](https://slack.nteract.io/)
3. 404: NOT_FOUND

[2020-09-19 17:14] captainsafia commented on #5295
Closing as a dupe of https://github.com/nteract/nteract.io/issues/303.

[2020-09-19 17:14] #5295 closed

[2020-09-20 15:04] fiedl commented on #5148
Hi @captainsafia, sorry being silent for a while. My life situation has changed because I‘m a proud father of a wonderful daughter now. At the moment, I think I won‘t have the time to bring the remaining steps to a satisfactory conclusion. If you want, however, please feel free to merge https://github.com/nteract/nteract/pull/5113 into master. Maybe someone else could check for windows compatibili

[2020-09-22 08:50] vivek1729 opened #5298 "Improve resize performance for Monaco Editor"
Monaco Editor adapts to the available space in its container through the [`resize`](https://github.com/nteract/nteract/blob/main/packages/monaco-editor/src/MonacoEditor.tsx#L268) method in the component. The `resize` method explicitly calls the editor's `layout` function to do a bunch of calculations and renders. This rendering happens for every instance of the editor in a notebook and is therefor

[2020-09-22 16:25] captainsafia commented on #5260
Woop! Had a comment written here that I never posted.

An incremental approach sounds good. I would take a look at the way things evolved in the RFC to move stuff out of the monorepo (#4981). An ordered list of packages to add logs to should suffice.

Starting off with stateful-components sounds like a good idea. I'd probably put outputs and up high on the list too (particular jupyter-widgets).

[2020-09-22 17:08] vivek1729 commented on #5283
To verify the electron app, I ran `yarn dist` on two commit points:
- I checked out the [commit](https://github.com/nteract/nteract/commit/b87e929837496ed6f45e8b4ec48add699709fd7d) pertaining to the August release
- I checked against the latest pull from `main`

For both these commits, I was able to successfully run `nteract.exe` in the `win-unpacked` folder and also run the app without hiccups af

[2020-09-22 17:45] captainsafia commented on #5283
OOOOOOOOOOK! Thanks folks for all your patience on this thread. Been a little busy with day job/writing/variety of other shenanigans.

@vivek1729 You followed the correct steps for producing a local production build. Having to increase the allocated heap size is not-problematic since the Electron build does consume quite a bit of memory.

I was able to reproduce the issue on the v0.25 release on m

[2020-09-22 23:42] captainsafia commented on #5291
Thanks for reporting this issue, @joshuali925!

Happy to welcome a contribution from you to add support for this. But considering the market share of IE11, I don't think this is something we'll be prioritizing.

[2020-09-23 00:02] captainsafia commented on #4004
Closing this since we'll realistically not be able to handle this any time soon.

[2020-09-23 00:02] #4004 closed

[2020-09-23 00:10] captainsafia commented on #5298
Can you provide a reference to the docs you're referring to here?

This approach makes sense.

It's roughly related to the conversations that we've had on-and-off  in the Jupyter community about making non-focused editors static to reduce the perf overhead of having multiple CodeMirrors on the page. This isn't strictly the same thing but the two approaches are fundamental in that they exploit the

[2020-09-23 00:19] captainsafia commented on #4031
Moving this over to the data-explorer repo.

[2020-09-23 01:20] joshuali925 commented on #5291
I see, thanks for letting me know. I'll close the issue then.

For anyone running into this I believe adding a `postinstall` script in your `package.json` that runs babel on `node_modules/@nteract/*/lib` would be a workaround.

[2020-09-23 01:20] #5291 closed

[2020-09-23 15:26] vivek1729 commented on #5298
@captainsafia, thanks for your prompt response. I have updated the issue to include the reference to the Monaco Editor [Readme](https://github.com/nteract/nteract/tree/main/packages/monaco-editor#documentation). I am essentially referring to the `Performance Tip` bit in the documentation section.

This absolutely makes sense and I believe this would be a step in that direction.

Yes, I was hoping

[2020-09-23 16:03] vivek1729 commented on #5283
@captainsafia , thanks a lot for taking a look. That was exactly my [observation](https://github.com/nteract/nteract/issues/5283#issuecomment-690605324) when I tried to root-cause it in the last few days.

It's fascinating that the package is auto-updated for Mac and not on Windows. It's also possible that this happens for some other packages too but we have not yet encountered run time errors wit

[2020-09-23 18:57] captainsafia commented on #5283
Auto-update is supported on all operating systems, which is what makes this more puzzling. In addition to the fact that @willingc reproduced this on a fresh `.app` file from a DMG on macOS.

My thinking about how to approach this at this point:
1. Generate the distributed builds for all operating systems (have to do this on macOS because you can only make macOS builds on macOS devices)
2. Inspect

[2020-09-24 01:03] captainsafia commented on #5298
That seems fine. We've already got rules for processing the CSS imports since we do that in other components.

[2020-09-24 01:03] captainsafia commented on #5148
@fiedl Thanks for the heads up and congrats on the new blessing!

I'll try to get this contribution in as is into main so we can get this out to users as is and keep iterating.

[2020-09-24 17:55] captainsafia commented on #5274
Good recommendation, indeed!

This GitHub issue (https://github.com/electron/electron/issues/526) has more information on how to do this and some sample implementations.

Tagging this as new-contributor-friendly since the code samples are pretty buildable.

[2020-09-27 16:46] captainsafia commented on #4150
Closing since were deprecating the Jupyter extension.

[2020-09-27 16:46] #4150 closed

[2020-09-27 16:46] captainsafia commented on #4158
Closing this since we are deprecating the Jupyter extension.

[2020-09-27 16:47] captainsafia commented on #4155
Closing this since we are deprecating the Jupyter extension.

[2020-09-27 16:47] #4155 closed

[2020-09-27 16:47] captainsafia commented on #1496
Pinning this since we want to pursue this work at some point.

[2020-09-27 16:58] captainsafia commented on #5262
Thanks for the feedback!

This issue is related to the fact that our syntax highlighter doesn't update when the theme is switched from light to dark theme.

There's a dupe of this issue somewhere but having trouble digging it up as I'm on mobile.

Tagging this for hacktoberfest since it should be new contributor friendly.

[2020-10-01 15:51] captainsafia commented on #4915
OK! The latest release of the nteract desktop app (0.25.1) is notarized. Try it out and let me know how it works. Setup for it is in the PR referenced above.

[2020-10-01 16:00] vivek1729 commented on #5283
@willingc , I can confirm that the editor switching works correctly with the `0.25.1` release :)

[2020-10-01 16:12] captainsafia commented on #5283
Yep! Meant to respond back to this thread after shipping the release this week.

I'll close this issue for now. Export to PDF still needs work but we have another issue tracking that.

[2020-10-01 16:12] #5283 closed

[2020-10-02 09:39] vivek1729 opened #5313 "Unable to load IpyWidgets"
**Application or Package Used**
Nteract desktop app (v 0.25.1) and also on `main`

**Describe the bug**
Attempting to render an IpyWidget with the following code snippet throws an uncaught exception:

**To Reproduce**
Steps to reproduce the behavior:

1. Start a new notebook in the Nteract desktop app or local dev build from `main`
2. Make sure that you have the `ipywidgets` module installed. Add

[2020-10-05 16:58] #4634 closed

[2020-10-08 09:56] margiki commented on #1817
I thought it's impossible not to be a global find until seeing this thread...

[2020-10-12 08:16] sasikiran commented on #5111
If a macOS user downloads the zip file release and unzips it with the default 'Archive Utility' app, the app doesn't work and we are greeted with the 'The app 'nteract' can't be opened' message with nothing shown in the Security Preferences. Safari automatically opens zip files using the mentioned app by default.

If the user opens the zip file with another program such as 'The unarchiver', nterac

[2020-10-12 12:08] #4915 closed

[2020-10-15 02:38] resaldiv opened #5325 "Account for Windows env in test suite"
**Is your feature request related to a problem? Please describe.**
While I was following the contribute guide, I ran `yarn test` and one test failed. It happened because the test suite does not support the C drive file path style.

**Describe the solution you'd like**
Support C drive file path style.

**Additional context**
![image](https://user-images.githubusercontent.com/72623351/96070281-bb754

[2020-10-16 16:15] vivek1729 commented on #5313
@willingc , were you able to reproduce this bug?

[2020-10-16 16:29] willingc commented on #5313
@vivek1729 I haven't had time to do so. Tagged it to reproduce so others could try too. Just curious does it matter if the import doesn't use `*`?

[2020-10-16 16:36] willingc commented on #5313
Confirming @vivek1729 that I see on Mac released version.
![Screen Shot 2020-10-16 at 9 36 39 AM](https://user-images.githubusercontent.com/2680980/96284902-19a84780-0f93-11eb-921f-b2a53500c25e.png)

[2020-10-16 16:44] willingc commented on #5313
Also tried
[code]
The same error is thrown on the display call.

[2020-10-17 22:48] captainsafia commented on #5313
I have a hunch as to what is going on. Taking a look at it today! Thanks for investigating folks.

[2020-10-18 23:15] alpaix opened #5327 "RFC: Add real-time collaboration layer to nteract apps"
## Motivation
Multi-user collaborative experience is one of the most desired features for Jupyter notebook-based IDEs. Consider adding support for real-time collaboration to nteract apps and libraries.

## Solution
There are multiple OSS solutions available, including but not limited to jupyterlab/rtc, microsoft/fluidframework, sagemathinc/cocalc. Ideally, it'd be great having a generic collaborat

[2020-10-19 19:46] captainsafia commented on #5327
@alpaix Thanks for opening this issue!

We've had real-time collaboration on the roadmap for a while. In fact, some variant of it is in our mission statement (e.g. "Creating fantastic interactive computing experiences that allow people to collaborate with ease.")

Unfortunately, we haven't had the time/resources to invest in this work. We started making headway in some areas of the problem include

[2020-10-20 21:26] nicholaswold opened #5330 "Jest Test Failures on MacOS"
**Application or Package Used**
This is on a clean clone of the Nteract monorepo.

**Describe the bug**
On MacOS, two Jest tests are failing on a clean build of the repo:

1. `KeyboardShortcuts: Executes focused cell if the correct key combination is pressed`
1. `KeyboardShortcuts: Should not focus next cell's editor if it is markdown`

**To Reproduce**
Steps to reproduce the behavior:

On a MacOS

[2020-10-21 03:46] captainsafia commented on #5330
These failures do occur on macOS machines sporadically but we haven't been able to track down the cause and strengthen them here. They also don't occur on our Linux-based CI environments.

[2020-10-21 04:04] captainsafia commented on #5325
Marking this issue as a test chore.

At some point, Node must've changed whether or not they include the drive letter in Windows-based paths and our tests haven't accounted for this. Tests will need to be updated accordingly.

[2020-10-21 18:43] willingc commented on #5330
I'm running into these test failures consistently with Catalina 10.15.7. It did not occur on my Linux machine.

[2020-10-21 19:37] captainsafia commented on #5286
You can try passing a `cell` property to the `createCellBelow` action with the cells content, similar to the code below.

https://github.com/nteract/nteract/blob/f8afe2940b4b44838b29da5a9016e73e134c5bd6/applications/desktop/src/notebook/insert-images.ts#L89-L98

[2020-10-21 21:42] #5286 closed

[2020-10-22 00:02] captainsafia opened #5332 "test"
just testing the auto comment bot

[2020-10-22 00:04] #5332 closed

[2020-10-22 06:22] alpaix commented on #5327
I'm interested in contributing to the client-side collaboration model in nteract. I have some experience working with a couple of different peer-to-peer frameworks, based on maintaining consistent distributed data structures. It seems, the server-side model might be orthogonal to defining collaborative experience.

I propose addressing the following areas in the spec:
1. A mechanism of synchronizi

[2020-10-22 17:06] captainsafia commented on #5327
The overall structure sounds good.

In the past, we've explored tackling this problem by implementing a server-side model of the notebook, essentially an API that can be queried to get the contents of the notebook, current outputs, etc. Would be curious to know if this approach will allow the Redux store to be rehydrated from an external data source. I assume yes.

[2020-10-22 17:08] captainsafia commented on #4777
We still need to do this audit.

[2020-10-23 00:18] captainsafia commented on #5111
Thanks for sharing these additional details, @sasikiran!

I'm closing this thread now since I don't think there's anything we can do within our app packaging to resolve this. We've recently configured our mac app for notarization so that might help resolve things.

In the event that others run into these issue, I hope the workarounds documented here will be helpful. If not, please open a new issue

[2020-10-23 00:18] #5111 closed

[2020-10-23 00:31] captainsafia commented on #5277
I'm gonna see if I can take a stab at finishing the PR that @jarmokivekas started for the October release.

[2020-10-26 22:43] #5313 closed

[2020-10-27 09:20] jacobo-diaz commented on #5022
I agree with all the above. This would be great for my lectures in the next semester.

[2020-10-27 16:18] birrellwalsh opened #5336 "Nteract not connecting with Julia"
I have JuliaPro_v1.5.2 1.5.2 set as the default kernel when I run Nteract.  It is not finding it (though I am running Julia in that version), and I am sorry to say I do not see a way to connect it.

When I click restart, I get a msg from N. that says "

I have installed Julia as a kernel using the instructions on https://nteract.io/kernels.

Thanks!

[2020-10-27 19:25] willingc commented on #5336
Hi @birrellwalsh. The IJulia kernel is maintained by the greater Julia community. It looks as if they made a new release of IJulia a few hours ago. https://github.com/JuliaLang/IJulia.jl/releases/tag/v1.22.0

I will try to test on my system with the latest nteract version 0.26 that was released yesterday.

[2020-10-27 20:04] captainsafia commented on #5022
Moving this to the outputs repo where the ipywidgets transform now lives.

[2020-10-27 20:07] willingc commented on #5336
Hi @birrellwalsh. A brief update: I was able to get IJulia working within nteract.

Can you try updating the IJulia package at a Julia prompt:

[code]

You may need to reinstall the kernel using the `IJulia.installkernel` command. Only 1 parameter needs to be passed which is what you would like the display name to be (in this example `"Julia nteract"`):

[code]

I would make sure that you restart

[2020-10-28 07:30] anant-k-singh opened #5339 "[Question]: Send data back to notebook cell"
I have created a custom package under `nteract/packages/my-custom-package` and I am able to render a React component from this custom package via a python function in nteract notebook
### Requirement:
1. I want to call a python function from a notebook cell
1. This python function would create a request for `nteract/jupyter-extension` and that request gets mapped to my custom package, which is a R

[2020-10-28 18:20] #5339 closed

[2020-11-01 11:44] anderspersson opened #5341 "Engine for TypeScript support (Deno gives TypeScript support)"
**Describe the solution you'd like**
A engine for running TypeScript, engine DENO is using TypeScript as default, maby it could be used

**Additional context**
Link to DENO is https://deno.land/

[2020-11-01 11:46] #5341 closed

[2020-11-02 08:17] ramantehlan opened #5342 "[nteract/web] Code cell not visible, or is not populated."
**Application or Package Used**
nteract web

**Describe the bug**
Code cell is not visible or is not populated in the nteract web.

**To Reproduce**
Open any notebook in nteract web.

**Screenshots**
- This is the actual content of the file.
![gh](https://user-images.githubusercontent.com/29037312/97844426-04f8dd00-1d11-11eb-8bd1-dc3c90f75919.png)
- This is how it looks in nteract web.
![nteract](

[2020-11-03 03:28] sammdu commented on #5277
I don't know if this is helpful, but here are a couple other projects that attempted to implement PDF generation with Node.js/Electron:

https://github.com/marcbachmann/node-html-pdf
https://github.com/fraserxu/electron-pdf

I imagine even if you choose not to use them directly, they can still serve as reference.

[2020-11-03 03:37] captainsafia commented on #5277
Thanks -- this is actually fixed and will ship in the November release.

[2020-11-03 03:37] #5277 closed

[2020-11-03 12:08] clad26 opened #5343 "The extended output doesn't work properly"
**Application or Package Used**
nteract desktop

**Describe the bug**
The "extended output" is buggy.

**Expected behavior**
I expect it to show my plots fully.
Setting it "on" does nothing.
Then setting it "off" again gives me the extended view of the plot

**Screenshots**
Case 1:
![Screenshot from 2020-11-03 17-29-20](https://user-images.githubusercontent.com/51269425/97982876-69439b80-1dfa-11eb

[2020-11-03 14:48] willingc commented on #5343
Thanks for the report @clad26.

@captainsafia I've gone ahead and was able to reproduce on macOS (the report was Fedora). It seems as if the ExtendedOutput and ParameterizedCell toggles are not changing the cell upon toggle. I'm not sure what the designed behavior is. This happens in both the CodeMirror and Monaco editors.

[2020-11-03 15:07] willingc commented on #5343
Verifying that I see this on main with latest commit too.

[2020-11-03 16:02] clad26 commented on #5343
@willingc Is it still there on the latest commit? Thanks for checking!

[2020-11-03 18:57] captainsafia commented on #5343
I can take a look at this. Probably an action not being dispatched correctly or some funky CSS.

[2020-11-03 20:47] willingc commented on #5343
@clad26 Yes it still exists with the latest commit.

[2020-11-04 00:29] captainsafia commented on #5343
Acutally, hm, I can't reproduce the issue with extend output not working. I see the correct behavior when working with text and graph outputs.

@clad26 Can you share the notebook where you ran into the issue?

[2020-11-04 00:31] emeeks commented on #5165
I wouldn't create a new `FOCUS_NEXT_CELL_AND_EDITOR` rather we should ensure that `FOCUS_NEXT_CELL_EDITOR` also focuses the cell. We shouldn't ever have a situation where the editor focus does not match the cell focus except in the case where the editor is not focused and only the cell is focused.

[2020-11-04 01:27] willingc commented on #5343
@captainsafia Can you drop a GIF in of the correct behavior? Thanks.

[2020-11-05 00:55] captainsafia commented on #5165
@emeeks That sensible too. Would you be interested in contributing the necessary changes here?

[2020-11-05 01:04] captainsafia commented on #5343
Here it is:

![extended-output-demo](https://user-images.githubusercontent.com/1857993/98184591-9c039780-1ebf-11eb-871b-33b61db9656b.gif)

[2020-11-05 08:02] aitikgupta commented on #5343
I can't reproduce this, leaving my system configurations here:
- Pop OS 20.04
- Version 0.26.0

[2020-11-05 08:51] aitikgupta opened #5345 "[Feature Request] Search interpreters instead of kernels"
I've been reading around some issues regarding kernel discovery, and I have a few points:
Right now nteract discovers all jupyter kernels through: `python3 -m jupyter kernelspec list --json`, [ref](https://github.com/nteract/nteract/blob/e0a171427916ceda6b880c420255b184d710503b/packages/fs-kernels/src/kernelspecs.ts#L68).
- Instead of searching for all jupyter kernels, what if nteract searches all

[2020-11-05 09:02] clad26 commented on #5343
I'm plotting with GR backend in Julia.
Specifically, this notebook... https://raw.githubusercontent.com/SciML/SciMLTutorials.jl/master/notebook/introduction/01-ode_introduction.ipynb

Also, just tested with Gnuplot in Julia, it does work with gnuplot. I'm just displaying the plots as png images.
For Gnuplot,
[code]

[2020-11-05 19:19] clad26 commented on #5343
@willingc Can you tell the name of the plotting package you used?

[2020-11-05 20:01] willingc commented on #5343
@clad26 I think matplotlib.

[2020-11-05 22:39] captainsafia commented on #5345
Thanks for opening this issue!

Yep, this is dupe of https://github.com/nteract/nteract/issues/1227.

The feature is definitely supported. Just a matter of carving out the time for implementation.

I'll close this issue in favor of the earlier one. Feel free to transfer your comment over there so we can consolidate the conversation.

[2020-11-05 22:39] #5345 closed

[2020-11-06 00:16] captainsafia commented on #5330
Closed via a895ddb.

[2020-11-06 00:17] #5330 closed

[2020-11-06 17:17] jarmokivekas commented on #5343
Haven't looked into this closely, but I have a hunch may be related to #5119 and things that are done during printing to PDF.

I remember addressing this in PR #5289 (which was not merged). Don't remember what was causing it though.

[2020-11-06 22:46] #5325 closed

[2020-11-08 03:30] captainsafia commented on #5343
I removed the expand logic in a recent PR so if that is the case, it shouldn't be reproducing in main.

If someone can share a GIF of the _buggy_ behavior, that would be great.

[2020-11-08 20:09] anant-k-singh opened #5348 "Cannot render ipywidgets"
**Application or Package Used**
nteract desktop v0.26.0
Python 3.8.6
ipywidgets 7.5.1

**Describe the bug**
Cannot use ipywidgets (e.g. _IntSlider_ widget) in an nteract notebook

**To Reproduce**
Steps to reproduce the behavior:

1. Open nteract desktop
2. Create new notebook with python3 kernel
3. Execute the following code
[code]
4. No output is generated

**Expected behavior**
Widget should re

[2020-11-09 18:18] #5174 closed

[2020-11-09 18:28] captainsafia commented on #5348
Ugh. The fix placed in #5334 must've gotten reverted in the latest publish.

I was trying to put a more permanent fix for this by putting @nteract/core as a peer dependency in the widgets package but that caused some weirdness with Redux. We'll need to revisit this for the November release.

[2020-11-10 03:45] captainsafia commented on #5168
@rgbkrk Any ideas on what might be going on here? I tried to debug this but I admittedly got a bit lost in the ping-ponging of events between the main process and renderer on reload. I'm getting the sense that the assumption that `onbeforeunload` will always fire after the `reload` IPC dispatch is processed is no longer correct...

[2020-11-11 00:17] shibbas opened #5349 "KernelStatus not matching with state being added to redux store"
**Application or Package Used**
nteract/packages/reducers

**Describe the bug**
The status of the kernel being set in the redux store does not seem to match the `KernelStatus` types.

**To Reproduce**
Steps to reproduce the behavior:

State being set in store:
`LAUNCH_KERNEL_BY_NAME` status is set to `"launching"`
https://github.com/nteract/nteract/blob/5d25c23fd23e2e20aa6abb43b84c37f8a60ebeea/pac

[2020-11-11 01:17] rgbkrk commented on #5168
Looks like we've got to make sure we're using the right Electron APIs (and assumptions about them). Seems like a good one for me to hack on.

[2020-11-13 09:33] alpaix opened #5351 "saveFulfilled action should not ignore notebook content attached to model"
**Current behavior**
When dispatching `saveFulfilled` action with a notebook content attached to the model, the `byRef` reducer simply creates a checkpoint via calling `setNotebookCheckpoint` API, which in its turn clones `notebook` to `savedNotebook`.
[code]

**Describe the solution you'd like**
In our scenario due to an asynchronous file save workflow the current notebook state might differ from

[2020-11-13 20:34] epassaro opened #5352 "Light-colored icon for system tray"
**Is your feature request related to a problem? Please describe.**
`nteract` system tray icon is black and is not visible with dark styled desktop themes.

**Describe the solution you'd like**
A light-colored icon for system tray.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-11-13 22:06] captainsafia commented on #5352
Thanks for opening this issue, @epassaro! [This StackOverflow response](https://stackoverflow.com/a/41998326) outlines the changes that we need to make to fix this.

[2020-11-15 01:35] alpaix commented on #5351
Another scenario to consider is creating a new notebook instance out of a template by dispatching `FETCH_CONTENT_FULFILLED`. Currently, nteract assumes the notebook is saved and clones its content to `savedNotebook`. This assumption is not correct as the notebook instance only exists in memory.

We need to tweak reducers to accommodate the aforementioned scenario.

[2020-11-15 03:51] CrystallineCat commented on #5352
I've noticed this issue on Ubuntu.

AFAICT, we're already set up for the method mentioned in the article @captainsafia linked, however, that method only seems to work on MacOS. I think we need to do something like this for other platforms: https://stackoverflow.com/questions/60333505/provide-different-dock-and-tray-icons-for-electron-based-app-on-mac

I've partially done this (not updating when th

[2020-11-15 06:15] #5336 closed

[2020-11-15 06:31] willingc commented on #5343
@captainsafia Extended output appears to be working with a Julia 1.5 kernel on nteract v0.26.0.

[2020-11-15 06:52] oscarrutt opened #5354 "Please waste less vertical space"
Nteract uses far, far too much vertical space. And it seems that each version uses more. At 0.26, with one line of code per cell, I can see only five lines of code on my 15" laptop screen!

[2020-11-15 07:12] oscarrutt opened #5355 "Too hard to discren the selected cell"
The selected cell is too hard to discern—the subtle shadow is almost impossible to notice. Plus the shadow hogs even more vertical space. Changing the color of the surround box would be better.

[2020-11-15 07:14] oscarrutt opened #5356 "Default plot size too large for subwindow"
The default plot size is too large for the inset subwindow. One must scroll through the subwindow just to see all of the plot. 0.26 and earlier.

[2020-11-15 07:41] oscarrutt opened #5357 "Need improved scrolling in plot subwindow"
Scrolling multiple plots in a plotting subwindow is sluggish and very processor intensive.

Putting a scrolling subwindow inside another scrolling window is tricky and of questionable UI design wisdom. But in nteract 0.26, it's also wrong. In nteract, when the subwindow has scrolled to its upper or lower limit, continued scrolling effort is transferred to the outer window. Given the sluggishness,

[2020-11-15 21:59] willingc opened #5358 "Returning to last code cell executed when scrolling and trying to focus on another cell"
**Application or Package Used**
nteract desktop (main HEAD and 0.26.0)

**Describe the bug**
I execute a code cell. I scroll down a few cells and click in a markdown cell to edit. The window scrolls back to the code cell.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a code cell.
2. Execute the cell.
3. Scroll down a few cells.
4. Try to edit a markdown cell
5. Click into the markdo

[2020-11-16 02:42] captainsafia commented on #5356
@oscarrutt Can you share your plotting code? The plot size is typically dictated by your plotting tool.

Also, you can set your output to "expanded" view to remove the scroll window by enabling the "Expanded Output" option under the cell menu.

[2020-11-16 03:38] #5352 closed

[2020-11-16 03:42] captainsafia commented on #5352
@CrystallineCat Thanks for taking a look at that!

[2020-11-16 12:00] clad26 opened #5359 "IQSharp kernel"
nteract 0.26.0
Fedora 33 x86_64

The IQSharp kernel, which I got by running into my teminal

from https://docs.microsoft.com/en-us/quantum/quickstarts/install-jupyter?tabs=tabid-dotnetcli

Works nicely on Jupyter
![Screenshot from 2020-11-16 17-26-43](https://user-images.githubusercontent.com/51269425/99249968-f510eb00-2830-11eb-8914-53302ae1bbf2.png)
And although nteract detects it, the kernel do

[2020-11-16 12:44] clad26 commented on #5359
Also, when I set it as default, it does open
Although its forever stuck at the "launching" part!
![Screenshot from 2020-11-16 18-13-48](https://user-images.githubusercontent.com/51269425/99253950-9b5fef00-2837-11eb-93ad-fbc98460e709.png)

[2020-11-16 16:56] willingc commented on #5359
Hmm...I  did some troubleshooting this morning and can confirm it does not easily install on Mac Big Sur. It may be a dotnet / Big Sur thing. Will try another system later.

[2020-11-16 20:26] captainsafia commented on #5359
@cgranade I think we were taking a look at this a while back. Did we ever end up figuring out what is going on here?

[2020-11-16 20:32] captainsafia commented on #5358
I think @emeeks reported similar behavior when using the focus action/reducers. We can address this as part of https://github.com/nteract/nteract/issues/5165.

[2020-11-16 20:36] captainsafia commented on #5351
With regard to the first point, having the `SAVE_FULFILLED` action set the `savedNotebook` state from a value provided in the payload instead of reading the current notebook state seems fine.

Hmmm. Can you clarify this scenario a little bit more?

[2020-11-16 20:37] captainsafia commented on #5349
Yep, this looks like an oversight. I don't think the introduction of the KernelStatus enum propagated to all the actions/reducers/epics/etc...

[2020-11-16 20:57] alpaix commented on #5351
The scenario implies fetching notebook content from somewhere else, rather than from a file associated with it. It might be either a notebook generated in-memory, or a notebook fetched from an external source, or a notebook cloned from another one. In all these cases the new instance should get `isDirty` flag as it's not persisted yet.

[2020-11-16 22:54] cgranade commented on #5359
@captainsafia: I don't think so, no... got it narrowed down to how [the Microsoft.Jupyter.Core library](https://github.com/microsoft/jupyter-core/) used by IQ# handles startup and the first few Jupyter protocol messages, but I don't know that we found the exact issue. @rmshaffer may know more, as he's now code owner for IQ#. Would love to figure it out, as it'd be great to be able to use IQ# from

[2020-11-17 05:45] willingc commented on #5114
I'm unable to reproduce these errors with nteract v0.26. I'm going to go ahead and close this. If folks still see issues when using nteract 0.26 with IJulia, please leave a message here and I will reopen the issue. :sunny:

[2020-11-17 06:03] willingc commented on #3994
I'm unable to reproduce this with nteract v0.26 using a Julia 1.5.3 kernel. Closing as resolved.

<img width="795" alt="Screen Shot 2020-11-16 at 10 02 18 PM" src="https://user-images.githubusercontent.com/2680980/99352412-6fecfc80-2857-11eb-9b56-ec547c054a8f.png">

[2020-11-17 06:03] #3994 closed

[2020-11-17 06:24] willingc commented on #4362
While I was getting errors with the Jupyter Extension, I was able to get Blink, WebIO for Electron, to work.

https://juliagizmos.github.io/WebIO.jl/latest/gettingstarted/#Blink

<img width="1298" alt="Screen Shot 2020-11-16 at 10 19 48 PM" src="https://user-images.githubusercontent.com/2680980/99353780-133f1100-285a-11eb-9da4-caef8e63d3c6.png">

[2020-11-17 08:41] PaulSoderlind commented on #5114
Hi, I still have the problem opening and resaving a Julia notebook: was created with Julia 1.3.1, now I am using 1.5.3. Here is an example (see kernelspec below)
[code]

[2020-11-17 15:25] willingc commented on #5114
Thanks @PaulSoderlind. I've reopened this issue.

Are you still using WIndows 10 when executing this example notebook?

From a terminal, would you be able to run and post the output of `jupyter kernelspec list`?

---

Notes to self:
- WebIO in metadata
- kernelspec info differs from language info in metadata

[2020-11-17 15:54] willingc commented on #5114
@PaulSoderlind Would you mind trying the steps below? Please let us know what behavior you see when doing so.

I don't have easy access to Windows. These results are based on macOS Big Sur.

---

Notes from trying the sample notebook:

1. Launch nteract and open sample notebook
    - Kernel displayed in bottom left is Julia 1.3
    - Julia 1.3 is not installed on my system
    - Kernelspec metadat

[2020-11-17 16:18] #5349 closed

[2020-11-17 18:30] shibbas commented on #5349
Fast! Thanks!

[2020-11-17 20:52] PaulSoderlind commented on #5114
Thanks. Here is reply to your first questions:

yes

Available kernels:
  julia-1.5    C:\Users\XX\AppData\Roaming\jupyter\kernels\julia-1.5
  python3      C:\Miniconda3\share\jupyter\kernels\python3

No, this appears to be a problem when working on an old notebook.

[2020-11-17 20:56] PaulSoderlind commented on #5114
Again, thanks, Here is a reply to your second set of questions.

I believe I see the same behaviour.

[2020-11-17 21:16] captainsafia commented on #5114
Something funky might be going on here. We have some conditional logic that sets kernel metadata in the notebook after the kernel has been launched if it can find the kernelspec in the list of installed kernelspecs.

https://github.com/nteract/nteract/blob/1a674f787bb68405bd508f06be524dc4a72f08da/packages/epics/src/kernel-lifecycle.ts#L146-L159

The `kernelSpecName` is the value that is paused in

[2020-11-17 21:25] PaulSoderlind commented on #5114
I wish I could help, but this seems beyond me. (Not really sure what `yarn` is...) Anything else I could do?

[2020-11-17 21:28] captainsafia commented on #4362
@willingc Way cool! Did this require any code changes?

[2020-11-17 21:29] captainsafia commented on #5351
@rgbkrk Thoughts on this since you have experience with UIs that load notebooks from external sources?

[2020-11-17 21:37] captainsafia commented on #5114
@PaulSoderlind No worries! The info that you've given thus far has been helpful.

The instructions I provided were for running a development version of nteract from the cloned repo. The [contribution docs](https://github.com/nteract/nteract/blob/main/CONTRIBUTING.md#how-do-i-validate-my-changes-to-nteract) have some more info on this.

I think there's enough info here to investigate the bug tho.

[2020-11-17 22:21] willingc commented on #4362
@captainsafia For Blink, no.

For WebIO integrated in the notebook the answer is likely yes as it seems to use extensions with Jupyter.

[2020-11-18 01:38] travigd commented on #4362
WebIO uses it's own JS library, the core of which is published as `@webio/webio` (and is all in the WebIO.jl repo under the `packages/` repository). Definitely open to any changes required to help y'all with this (there are parts that are in need of some love).

[2020-11-19 05:52] dwt opened #5364 "Mac: Automatically switch between dark and light theme based on system settings"
**Is your feature request related to a problem? Please describe.**
When working after dark, nteract notebooks scream lightning into my face, making me feel disturbed until I find the manual dark mode switch and am just annoyed.

**Describe the solution you'd like**
My system already knows I like not to be screamed at with light at night and auto switches to dark mode. nteract should listen and do

[2020-11-19 07:30] oscarrutt commented on #5356
On Nov 15, 2020, at 7:42 PM, Safia Abdalla <notifications@github.com> wrote:

Yes, thank you. I did not notice that. Very nice. I wonder if you could make it even easier to switch to expanded or collapsed view, perhaps by a key combination or a single-click widget or both.

Another note, however: I notice that if the “dots” widget that one clicks to bring up the pop-up menu is too near the bottom,

[2020-11-19 07:54] oscarrutt commented on #5356
[[Please see my previous e-mail.]]

BTW, sometimes the menu item does not display the correct state:

[2020-11-19 22:18] yilmazdurmaz opened #5366 "new kernels ignored, working with winpython"
**Is your feature request related to a problem? Please describe.**

I use both dotnet core and winpython from their no-install packages. dotnet paths are set in environment and I use winpython command line starter to set python environment then start programs in it. likewise, nteract is in a folder extracted from its zipped file.

dotnet and/or winpython, for some reason, install new kernels into

[2020-11-20 02:06] captainsafia commented on #4362
Got it. I think it would be worthwhile to investigate wrapping the WebIO package in a output transform to get the display working. This would happen in the https://github.com/nteract/outputs repo.

[2020-11-20 03:51] willingc commented on #4362
That would be awesome.

[2020-11-24 06:09] willingc commented on #5348
Nudge @captainsafia. Do you want to open a PR for your fix-ipywidgets branch? Verifying that it was working ;-)

[2020-11-24 06:15] willingc commented on #5250
Resolution: Use the zip download for Windows from the [latest release page on GitHub](https://github.com/nteract/nteract/releases).

[2020-11-24 06:22] willingc commented on #5215
@vivek1729 @captainsafia Is this issue ready to be closed? Since Monaco is in the latest release :cake:, do we want to track improvements in individual issues or a roadmap issue?

[2020-11-24 12:45] bruno-brant commented on #5250
Just to add to this, I don't it's just because of lack of signing - in that case the warning is different. I think it may be good to try to reach out to MSFT and ask for help, as the warning is bogus and might scare away some users.

[2020-11-24 15:06] willingc commented on #5250
Thanks for the additional info @bruno-brant. I'll reopen this.

[2020-11-25 15:59] vivek1729 commented on #5215
I think the original intent with the RFC was to lay down the details for the initial contribution of Monaco Editor and highlight some of the potential improvements we can take up in the future. We've already unified the configuration and checked in some perf improvements for the Editor component. I imagine that the improvements are going to be an ongoing effort, so it might make more sense to trac

[2020-11-25 16:26] willingc commented on #5215
Thanks @vivek1729. It's a fantastic addition. Let's track ongoing work in individual issues. 👍

[2020-11-25 16:26] #5215 closed

[2020-11-25 16:29] willingc commented on #5215
I've added a Monaco editor label in case you wish to use it to tag issues. Thanks again @vivek1729.

[2020-11-25 16:33] #5189 closed

[2020-11-30 03:15] captainsafia commented on #5348
@willingc Put in a fix or this in the PR above. Care to confirm on your end just so we're sure?

[2020-11-30 20:48] #5348 closed

[2020-12-01 07:19] clad26 commented on #5359
Well, any update on this?

[2020-12-01 13:11] pammacdotnet opened #5383 "PDF export just first page"
The current version of nteract (0.27) just outputs the first page of a PDF export. Animation [here](https://tva1.sinaimg.cn/large/0081Kckwgy1gl8nws9nklg30dc0737ti.gif).

[2020-12-01 13:51] willingc commented on #5383
Thanks for the report @pammacdotnet. PDF support was partially fixed in https://github.com/nteract/nteract/pull/5338#issuecomment-718888160.

I'll leave this issue open in case someone wishes to open a PR to fix the multiple pages output.

P.S. Thanks for the animation too.

[2020-12-01 16:32] rmshaffer commented on #5359
After some debugging, this appears to be because the Microsoft.Jupyter.Core implementation (used by the IQ# kernel) does not send a `status` message with `execution_state: 'idle'` after sending the `kernel_info_reply` message. This seemingly causes nteract to continue to send `kernel_info_request` messages and never mark the kernel as ready. If I force that `status` message to be sent immediately

[2020-12-01 16:44] captainsafia commented on #5383
I believe we already have an issue tracking the single page problem at https://github.com/nteract/nteract/issues/5205. Closing in favor of that issue.

[2020-12-01 16:44] #5383 closed

[2020-12-01 17:23] willingc opened #5384 "Create an alpha release including cell id for testing"
Since cell id is a change that supports the recent jupyter JEP and its implementation
at https://github.com/jupyter/nbformat/pull/189, let's create an alpha release for testing. cc/ @ryanlanciaux @MSeal

[2020-12-01 17:25] willingc commented on #5384
@captainsafia If you want to pair on this, we can see if I have permissions to cut a release and am up to date on the process just in case you need someone to release the monthly version for you.

[2020-12-01 17:49] boc0 opened #5385 "Export to PDF only exports currently visible portion of document"
**Application or Package Used**
nteract

**Describe the bug**
Export to PDF only exports currently visible portion of document

**To Reproduce**
1. Add cells with any content until their total height is more than that of the window.
2. Do File -> Export to PDF

**Example exported PDF**
[dipole.pdf](https://github.com/nteract/nteract/files/5624388/dipole.pdf)

**Setup:**
- macOS Big Sur 11.0.1
- nt

[2020-12-01 18:02] willingc commented on #5385
HI @boc0. Thanks for opening the issue and for using nteract. This is a known issue that we are working on. Displaying a single page was the first step toward resolution. See details in original issue: #5205

[2020-12-01 18:02] #5385 closed

[2020-12-02 19:08] captainsafia commented on #5359
@rmshaffer Awesome! Thanks for looking into it. Closing this in favor of the other issue.

[2020-12-02 19:08] #5359 closed

[2020-12-02 20:58] abhay-agarwal opened #5389 "TypeError: fs.existsSync is not a function"
**Application or Package Used**
nteract web, nteract-on-jupyter

**Describe the bug**
This is likely a problem with my own environment, but I wasn't able to solve the issue. Web-based builds seem to be requiring the desktop electron, which uses the fs library. When running the web application, this call fails. I followed the documentation on the web and jupter extension versions -- both returned t

[2020-12-03 05:05] #5389 closed

[2020-12-05 18:59] clad26 opened #5394 "Problems with default kernel and Julia kernel versions"
**Application or Package Used**
nteract desktop 0.27.0 linux AppImage

**Describe the bug**
The "default kernel on startup" option under Preferences doesn't work. I set it to Julia but it always opens with Python. Even if I remove python, some other random kernel opens up.

**To Reproduce**

1. Change the "default kernel on startup" option
2. Restart nteract

**Expected behavior**
I expected ntera

[2020-12-05 23:45] willingc commented on #5394
@clad26 If you open the Developer Tools in nteract, do you see:

<img width="1196" alt="Screen Shot 2020-12-05 at 3 43 31 PM" src="https://user-images.githubusercontent.com/2680980/101267732-e3748200-3710-11eb-8331-6c1ff1381588.png">

[2020-12-06 11:16] clad26 commented on #5394
@willingc
![Screenshot from 2020-12-06 16-44-44](https://user-images.githubusercontent.com/51269425/101278621-952fb380-37e2-11eb-8804-a8970cd2ef01.png)

[2020-12-06 11:17] clad26 commented on #5394
1) The default kernel option worked in 0.26.0
2) The problem where, when I open a Julia notebook, it opens with a julia kernel of some random version existed in the previous versions too.

[2020-12-06 17:39] camilogarciabotero opened #5396 "Tab completion doesn't work on Julia kernel"
**Application or Package Used**
nteract desktop

**Describe the bug**
Tab completion works on python using the `ctrl + space` shortcut, but doesn't work when using other kernel like Julia 1.5.3

**To Reproduce**
Steps to reproduce the behavior:

1. Open `nteract`
2. Runtime –> Julia 1.5.3
3. Open a cell
4. As an example: type `\alpha` then try `ctrl + space` and no options are spotted

**Expected

[2020-12-06 22:16] willingc commented on #5394
Thanks for the additional detail @clad26 especially about the regression from 0.26.0

[2020-12-07 20:12] clad26 commented on #5394
Any update on this?
Were you able to reproduce it?

[2020-12-07 20:14] nathanieldeal opened #5398 "Update dependency @nteract/outputs"
Hi, could you please update the @nteract/outputs dependency to 3.0.11 in [@nteract/stateful-components](https://github.com/nteract/nteract/blob/master/packages/stateful-components/package.json) && [@nteract/editor](https://github.com/nteract/nteract/blob/main/packages/editor/package.json)

@nteract/outputs version (3.0.9) includes a dependency of @nteract/markdown: "^4.3.10-alpha.0" which seems to

[2020-12-07 21:04] willingc commented on #3364
Should be closed by #5399

[2020-12-07 21:18] willingc commented on #5396
Thanks for opening this issue @camilogarciabotero.

[2020-12-07 23:04] willingc commented on #5394
Sorry @clad26. I injured my hand and can only type with one so it will take a while for me to repro this.

[2020-12-08 23:20] #5398 closed

[2020-12-15 06:04] clad26 commented on #5394
@willingc No problem! I hope you heal soon and revert to your healthier condition!

[2020-12-16 17:04] rgbkrk commented on #5351
`isDirty`, to me, should mean either "has differed from the last save" (what I think we're talking about here) or "code has changed in a cell that has not been run".

[2020-12-17 19:59] MSeal commented on #5384
I can tackle this over the weekend. @rgbkrk for CI automation you were looking at I'm not positive if it will support alpha releases so I might do this release manually for now. Thoughts on that?

[2020-12-17 20:06] captainsafia commented on #5384
I believe @willingc already handled this.

[2020-12-17 20:08] MSeal commented on #5384
Got it, should we close this issue then?

[2020-12-17 20:09] captainsafia commented on #5384
Yep.

[2020-12-17 20:09] #5384 closed

[2020-12-18 18:34] uncle-phil opened #5404 "Starting out with julia/nternact using juliaacademy.com, I can't run run code in the notebooks. Help please."
Hello guys!

I trying to learn the programming language julia right now. I've found a course on juliaacademy.com. I followed their steps to install Julia, nteract and ijulia, but whenever I try to run the the codes in the notebooks, which I downloaded from the lessons, I get the same error: Execute failed. There are no connected kernels. Yesterday it miraculously worked after trying for a while, w

[2020-12-18 18:49] uncle-phil commented on #5404
I got this message now:

Launch kernel failed
A kernel named julia-1.0 does not appear to be available. Try installing the julia-1.0 kernelspec or selecting a different kernel.

[2020-12-25 14:16] #4780 closed

[2020-12-25 14:16] #2649 closed

[2020-12-29 22:21] pwang347 opened #5411 "Persist cell status (and possibly other transient data) when outputs are cleared"
**Is your feature request related to a problem? Please describe.**
[`cleanCellTransient`](https://github.com/nteract/nteract/blob/main/packages/reducers/src/core/entities/contents/notebook.ts#L103) is being triggered whenever outputs are cleared (e.g. in [`clearOutputs`](https://github.com/nteract/nteract/blob/main/packages/reducers/src/core/entities/contents/notebook.ts#L145)) and this clears all

[2021-01-02 13:46] deepweather opened #5412 "Nteract IJulia Installation Instructions lead to an error"
Not a code bug, but an issue that might confuse beginners:

Currently, on the nteract website  https://nteract.io/kernels/julia IJulia installation says
`
julia> using Pkg
julia> Pkg.update("IJulia")
julia> IJulia.installkernel("Julia nteract")`

what leads to a not defined error, since IJulia was not imported. Needs to be replaced with

`
julia> using Pkg
julia> Pkg.update("IJulia")
julia> using

[2021-01-04 02:21] captainsafia commented on #4809
We shipped this. Closing.

[2021-01-04 02:21] #4809 closed

[2021-01-04 02:24] captainsafia commented on #5412
@deepweather Are you able to submit a PR to address this? You'll need to modify the text here: https://github.com/nteract/nteract.io/blob/master/components/kernels/julia.js.

[2021-01-04 02:35] captainsafia commented on #5411
Thanks for opening this issue, @pwang347!

Sensible approach here is to make the `clearOutputs` API more explicit and remove the calls to clear out the transient state. If we need to do that in places where it is intentionally (e.g. the cell execution epics) we can dispatch a separate action to clear out the transient state.

[2021-01-04 18:01] pwang347 commented on #5411
Sounds good! I'll look into creating a PR following this approach, thanks.

[2021-01-05 16:54] captainsafia commented on #5404
@uncle-phil Can you share how you installed the Julia kernel on your machine?

[2021-01-06 08:37] uncle-phil commented on #5404
Hello @captainsafia !

I followed this [step-by-step-guide](https://www.youtube.com/watch?v=Yx9krfmUGzQ).

In the meantime, I figured out what I had to do: When I open a notebook, nteract doesn't automatically start the Julia kernel. I need to manually select Runtime -> Julia 1.5.3 from the dropdown and then click Runtime -> Restart. After a couple seconds I am connected.

Thanks for caring to rep

[2021-01-13 03:54] shibbas opened #5419 "websocket kernel lifecycle getting stuck in "launched" state intermittently"
**Application or Package Used**
nteract packages

**Describe the bug**
We recently took an update and we see that after this change [5331](https://github.com/nteract/nteract/pull/5331), the kernel execution state intermittently gets set to `"launched"` state. Looking at the kernel message sequence from Jupyter classic, the status messages for the kernel are not sent in a deterministic sequence so

[2021-01-14 03:39] captainsafia commented on #5419
cc: @nicholaswold

Can you clarify what you mean by "prevent reusing this message later on if needed"?

Do you have a repro that we can use to test this scenario?

My thinking is that we might want to strike a balance with an approach that address both this case and the "kernel takes too long to launch after being started" case.

[2021-01-14 03:59] captainsafia commented on #5404
Glad you figured it out! Happy coding.

[2021-01-14 03:59] #5404 closed

[2021-01-14 05:32] shibbas commented on #5419
Sure! I don't know if there is a scenario that might require this, but if `kernel_info_request` is sent to the kernel NOT at launch but at a later time, `kernel_info_reply` will reset the state to `"launched"` instead of what was there before. In nteract it's looks like it's used at launch, but kernel_info_request can be sent at any time to the kernel as a message, correct?

Using Jupyter classic

[2021-01-14 13:22] HeiWiper commented on #963
Is this feature shipped in the version 0.27.0 ? I cannot seem to find it.

[2021-01-19 19:11] shibbas commented on #5419
Also, it looks like if the kernel is busy, no `kernel_info_reply` gets sent until the kernel becomes idle again since the kernel_info_request gets queued up. So the kernel state will from "busy" -> "launched" after a long time in case of a long running operation.

[2021-01-21 12:55] renovate[bot] opened #5423 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-24 09:05] clad26 commented on #5343
Hello! Any idea how I can have the extended plots by default?
Thanks

[2021-01-24 21:37] captainsafia commented on #5343
@clad26 We don't have a configuration option for this at the moment, but it is is something that can be added.

[2021-01-24 21:38] captainsafia commented on #963
@HeiWiper You can read about how to customize them here: https://github.com/nteract/nteract/blob/990fa64f9526b3bd022b777d4e44d7411ce15758/docs/kbd-shortcuts.md#customizing-keyboard-shortcuts

[2021-01-25 08:51] renatobellotti opened #5425 "Sha512 checksum correct?"
Are you sure that the checksum of the 0.27.0 AppImage matches the sha512 sum in ``latest-linux.yml``? I get different checksums, but the program executes normally...

[2021-01-25 09:07] HeiWiper commented on #963
@captainsafia I can't figure out how to set vim keybidings from that guide.

[2021-01-25 17:17] captainsafia commented on #963
@HeiWiper We don't currently support vim keybindings since that requires implementing a command/edit mode and we don't support that. Only standard meta-key based keyboard shortcuts are supported.

[2021-01-25 17:28] captainsafia commented on #5425
@renatobellotti The checksums are generated automatically by our build tool so there's not anything we do here specifically. Can you share the process you've identified to deduce the different checksums and we can sort out what might be going on?

[2021-01-29 14:00] loretoparisi opened #5433 "dlopen no suitable image found (runtime: nodejs)"
**Application or Package Used**
State which application or package this affects. For example: nteract desktop, nteract web, nteract on jupyter, etc.

**Describe the bug**
[code]

and here
[code]

**To Reproduce**
Steps to reproduce the behavior:
-

**Expected behavior**
-

**Screenshots**
-

**Desktop (please complete the following information):**

- OS:`macos, 10.14.5`
- Browser `chrome, latest`

[2021-02-01 01:11] captainsafia commented on #5433
@loretoparisi Can you share the repro steps for this issue? Do they occur when you try to open nteract or when you edit a notebook?

[2021-02-01 18:12] loretoparisi commented on #5433
@captainsafia this happens when I try to run `nteract` cell that contains my Node library that has `couchbase` and `cld` among node dependencies.

[2021-02-02 05:43] captainsafia commented on #5433
I see.

Are you using the Node kernel that comes bundled with nteract?

If so, that kernel exists within the Electron context and doesn't have access to the same packages installed in Node on your system.

You might have more luck installing the ijavascript kernel on your machine.

[2021-02-02 06:59] loretoparisi commented on #5433
@captainsafia yes I'm using the embedded kernel in nteract. Please describe me how to use my local node installation. Thank you!

[2021-02-02 10:08] n-riesco commented on #5433
@loretoparisi

The instructions to install IJavascript on macOS can be found [here](https://github.com/n-riesco/ijavascript#macos). Please, let me know if those instructions don't work, as I've recently noticed that [zeromq.org](https://zeromq.org/download/) recommends `brew install zmq` instead of `brew install zeromq`.

[2021-02-02 14:42] loretoparisi commented on #5433
@n-riesco thank you, I have successfully update `ijavascript` and `jupyter`. But within `nteract` I still get the same error. What is missing?

[2021-02-02 15:35] n-riesco commented on #5433
To use IJavascript, please select the runtime `Javascript (Node)`. If an error is still happening, please, post the new error message.

[2021-02-02 15:38] loretoparisi commented on #5433
So I do not see this option in the `nteract` menu after installing `ijavascript` and restarting the application.

[2021-02-02 15:42] n-riesco commented on #5433
What do you get when you run `jupyter kernelspec list` in a terminal?

[2021-02-02 16:44] loretoparisi commented on #5433
[code]

that said I guess if `python3.9` that is also installed could be a problem...

[2021-02-02 18:18] n-riesco commented on #5433
That means they IJavascript kernelspec hasn't been installed yet. To do so, you need to run `ijsinstall`.

[2021-02-03 03:50] everdark commented on #2014
Is there a document on the configuration parameters?
I have difficulty finding on related to indent size.
Here is the configuration doc: https://docs.nteract.io/desktop-config/

[2021-02-03 04:21] captainsafia commented on #2014
@jeromefv Adding this to your radar as something we're missing docs on.

[2021-02-03 14:06] jebej opened #5437 "Wrong syntax highlighting for Julia"
**Application or Package Used**
nteract desktop 0.28

**Describe the bug**
I can use nteract, but the syntax highlighting is wrong. From seeing a few comments here and on Julia discourse here it appears that it should work. Is any special configuration needed?

**To Reproduce**
Steps to reproduce the behavior:

1. Open a julia notebook
2. See that the syntax highlighting is wrong

**Expected behav

[2021-02-09 17:17] knkumar commented on #1817
Search of any form would be appreciated, cell, global etc

[2021-02-09 17:23] captainsafia opened #5442 "Make execution handling more resilient to out of order messages"

[2021-02-09 21:50] nicholaswold opened #5443 "Kernel message buffers should use Array instead of TypedArray"
**Application or Package Used**
nteract/messaging

**Describe the bug**
Ref: https://github.com/nteract/nteract/blob/main/packages/messaging/src/messages.ts#L98

Nteract uses TypedArrays to represent file buffers in its kernel messaging. This becomes a problem when it is sent to the kernel via the usual rxJS method (`kernels.channels.next`) because rxJS uses `JSON.stringify` under the hood to seri

[2021-02-10 01:17] captainsafia commented on #5437
@jebej Thanks for opening this issue!

Are you able to reproduce this in older versions of nteract or did this issue just start happening? Also -- can you share the notebook you are seeing these issues in if possible?

[2021-02-10 01:26] captainsafia commented on #5443
@nicholaswold Thanks for opening this issue.

I introduced this change [when we created the epics package and migrated to TypeScript](https://github.com/nteract/nteract/pull/3681#discussion_r239895074) to match some of the type conventions that existed in our actions/reducers.

I believe ipywidgets uses the `ArrayBuffer` type for there buffers as in although I'm not sure how RxJS interacts with th

[2021-02-10 14:26] jebej commented on #5437
I can reproduce this with 0.26. I tried older versions but they didn't even launch.

I can also reproduce this with any notebook, I attached an example (as zip since github doesn't accept ipynb files):
[symplectic_circle.zip](https://github.com/nteract/nteract/files/5958779/symplectic_circle.zip)

[2021-02-10 17:04] nicholaswold commented on #5443
In my tests it looked like RxJS was stringifying TypedArrays as JS objects in the style of `{index: byte, ...}` before sending them over the wire.

I've got another issue open in Jupyter Server to tackle the other side of this: https://github.com/jupyter-server/jupyter_server/issues/406, and @kevin-bates brought up the good point that this doesn't affect binary messages sent down the websocket. I

[2021-02-11 22:02] erem-stripe opened #5445 "Unable to load mythic-configuration in browser due to node package reference"
**Application or Package Used**
mythic-configuration

**Describe the bug**
Importing mythic-configuration into a browser setting results in this stack trace:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Start with a react application in the browser
2. Add `mythic-configuration` as a dependency
3. Attempt to import mythic-configuration
4. Note the stack trace

**Expected behavior**

[2021-02-14 08:19] alpaix commented on #5327
I sketched out a design document and would be interested in early feedback.
[Real-Time Collaboration RFC](https://1drv.ms/w/s!AsWd1mY3RwOLhcoMxPFLLGz0N52hJA?e=4lEjPh)

[2021-02-15 00:54] willingc commented on #5327
Thanks @alpaix. Will give it a look.

[2021-02-16 03:29] captainsafia commented on #5327
@alpaix Would you be interested in presenting about this at one of the contributor meetings?

[2021-02-16 17:09] rgbkrk commented on #5443
This is one area where the initial implementation was the pure JSON jupyter protocol in as simple a way as possible. At the time I didn't want to have to worry about the buffers since they were less well-specified at the time. It's time to figure out the right way to handle it now!

[2021-02-16 19:04] alpaix commented on #5327
Ah yes! It'd be great to present my ideas and learnings to initiate a discussion on the topic. When is that?

[2021-02-17 04:19] captainsafia commented on #5327
It's typically held on Tuesdays at 9am PT. You can find more info at https://github.com/nteract/meeting-minutes.

We'll be taking next Tuesday off to join the Jupyter community meeting but you should be able to present the Tuesday after that (March 2nd).

[2021-02-17 14:22] jebej commented on #5437
@captainsafia, sorry for pinging, are you able to reproduce this issue?

[2021-02-17 18:30] schiebel opened #5447 "nteract desktop app hangs"
**Application or Package Used**
nteract desktop app for macos

**Describe the bug**
Basic operations cause the nteract desktop notebook to begin using 100+% CPU and become unresponsive.

**To Reproduce**

1. start nteract desktop app for macos
2. select python3 runtime (Runtime => Python 3)
3. enter in cell:
            import requests
            data = requests.get('https://api.github.com/repos/

[2021-02-22 19:04] captainsafia commented on #5445
@erem-stripe Thanks for the PR! After taking a look at it, I decided it's best to remove the top-level export of `setConfigFile` from mythic-configuration altogether. Since it's backend specific (and really only used for the desktop app), it doesn't make sense to export this as part of the top-level API.

[2021-02-22 19:04] #5445 closed

[2021-02-27 20:37] quantum-corn opened #5464 "Installed nteract --edge v0.25.1 through snap on Linux. Had kernels installed already, working fine but only default javascript kernel shows up"
#### Hi there I'm really glad this project is being done... It's amazing to have a native app for notebooks.
### Appreciation for everyone doing this.
###### I am kind of new to the development world but I am learning and I really want to contribute too. Maybe someday I'll be able to.
________________
So I had python3, javascript and c kernels installed working fine with jupyter and Hydrogen but n

[2021-03-04 10:55] vbardakos commented on #5354
I'm new with _nteract_ and I believe this extra spacing makes it look neat and clean. In my opinion, this is very helpful with large projects, where I get lost whenever I try to refactor my code (due to the density).

Anyways, you can use your browser's zoom out as a temporary solution.

[2021-03-04 12:29] vbardakos opened #5469 "Ctrl Shift Shortcuts"
In windows, some of the Nteract `Ctrl+Shift` keyboard shortcuts trigger the browsers' default shortcuts. For example,

| Notebook | Chrome | Shortcuts |
| ----------- | --------- | ---------- |
Copy Cell | Inspect Element Mode | Ctrl+Shift+C
Cut Cell | --- | Ctrl+Shift+X
Delete Cell | Save open tabs as bookmarks | Ctrl+Shift+D
Paste Cell(s) Below | --- | Ctrl+Shift+V
Convert Cell to Code Cell | --

[2021-03-08 19:13] erem-stripe opened #5472 "Friction Log: Prototyping a notebooking solution on top of nteract"
Hi there! At the weekly meeting 2 weeks ago I promised to share my friction log for prototyping our notebooking solution for back office operations on top of nteract. Find the friction log attached as a PDF!

Rereading it, if I had to bubble up the main highs and lows, and improvements they would be:

Highs:
  * Package-level and source-level documentation is really solid.
  * I was able to put to

[2021-03-09 00:41] captainsafia commented on #5472
Can you share what build errors you ran into?

Can you clarify what happened here?

Thanks for gathering and sharing this info!

[2021-03-09 01:57] captainsafia commented on #5469
@vbardakos Are you using the nteract desktop app or the Jupyter extension?

[2021-03-09 02:02] captainsafia commented on #5464
Thanks for opening this issue, @quantum-corn!

We've been running into issues publishing our Snap packages as of late, which might've contributed to this bug. I'm glad you got things resolved on your end.

We should probably sort out what to do with the snap packages...

[2021-03-10 20:56] davidanthoff opened #5474 "vega-lite 5"
Vega-lite 5 is out, and it would be great if we could add support for it (and the new MIME type for it) to nteract :) I think nteract had this awesome system, where it essentially can support all vega and vega-lite versions at the same time, right? So fingers crossed this might be a relatively simple change?

CC @domoritz

[2021-03-12 15:06] vbardakos commented on #5469
I suppose it's Jupyter extension since I installed with `conda install -c conda-forge nteract_on_jupyter`

[2021-03-23 17:17] bryevdv commented on #5354
Just chiming in that I also would appreciate a way to condense things.  In particular, trying to make a tutorial notebook and the markdown narrative text is just very far from the related code.

![image](https://user-images.githubusercontent.com/1078448/112188894-ab5e5580-8bc0-11eb-994b-864d5394b212.png)

The effective "extra lines" below both the markdown and code are very distracting. It would b

[2021-03-23 19:58] willingc commented on #5354
Hey @bryevdv, Nice to see you here. Personally I agree with you that less vertical space per cell would be lovely. Hope all is well.

[2021-03-24 17:30] captainsafia commented on #5469
@vbardakos Ah I see. The keyboard shortcuts documented above only work on the desktop app. We don't have keyboard shortcuts for the Jupyter extension and it is not actively maintained at the moment.

[2021-03-28 14:34] GarciaPL commented on #5396
It seems it was tackled here https://github.com/nteract/nteract/issues/4415 but still it does not work, even with Julia 1.6.0 runtime

[2021-03-31 22:46] dpgarrick opened #5479 "nteract.io website down"
**Describe the bug**
The nteract.io website is reporting an internal server error and not loading

**To Reproduce**
Steps to reproduce the behavior:

navigate to nteract.io

**Expected behavior**
the website should work

**Screenshots**
![image](https://user-images.githubusercontent.com/59327926/113220502-c5461980-92df-11eb-8f71-55d0e108de3a.png)

**Desktop (please complete the following informati

[2021-04-01 01:23] willingc commented on #5479
Thanks for the report. I believe I resolved the issue in https://github.com/nteract/nteract.io/pull/367. Please let us know if you are still seeing the issue after reloading your browser. Thanks for using nteract :sunny:

[2021-04-01 01:23] #5479 closed

[2021-04-01 02:19] willingc opened #5481 "Update docs releasing instructions"
Now that we are building docs from this repo, we should update the `now` command to use a more recent command with `vercel`: https://vercel.com/docs/cli#commands/overview/project-linking

[2021-04-01 02:20] willingc commented on #5481
The docs are now live. Yay @jeromefv :tada: @captainsafia please double check the deploy config in vercel. I had to change some things now the the docs repo is not used.

[2021-04-01 04:09] azraelrabbit opened #5482 "C# Syntax highlighting missing"
**Application or Package Used**
nteract desktop

**Describe the bug**
I'm using nteract desktop with dotnet interactive.
that i can run c# code in nteract, but there is no syntax highlighting for c#.
as the  screenshots , error log in devtools is : Cannot find module './c#/c#.js'.
both in codemirror and Monaco editor.

**Expected behavior**

**Screenshots**
![image](https://user-images.githubuserc

[2021-04-01 04:52] MSeal commented on #5479
Thanks for addressing @willingc. The site is loading correctly for me atm if that helps with any additional reports.

[2021-04-01 05:15] chengjun opened #5483 "attachment image does not show"
**Application or Package Used**
nteract desktop

**Describe the bug**

      ![image.png](attachment:image.png)

**To Reproduce**
Steps to reproduce the behavior:

1. In jupyter notebook, make a new jupyter notebook
2. Copy and paste a image into a markdown cell
3. Open the jupyter notebook with nteract desktop version 0.28.0
4. See error

**Screenshots**

![image](https://user-images.githubuserco

[2021-04-01 08:27] willingc commented on #5483
Hi @chengjun, If you remove the `attachment:` in the markdown link, it should work in nteract.

[2021-04-02 04:27] chengjun commented on #5483
@willingc thank you for your kindly reply. I test the solution you suggested. However, It does not work. The image in the form of attachment is not a stand-alone object. It's embedded into the jupyter notebook.

[2021-04-05 12:58] padmer commented on #5437
I am able to reproduce this issue in 0.28 and 0.26. Syntax highlighting seems normal in 0.25

[2021-04-08 10:04] GarciaPL opened #5487 "Adding Open recently edited for File menu item"
It would be very beneficial for a user if a new option under 'File' menu item can be added like '**Open recently edited**' under 'Open' but above 'Open Example Notebook'. It will speed up a little bit loading of ipynb files in general

![openrecently](https://user-images.githubusercontent.com/1670370/114008152-dc45b800-9859-11eb-88e4-65e26725655e.PNG)

[2021-04-08 22:47] marcdhansen opened #5488 "Gallery of Plotly Plots can't run gapminder scatterplot due to deprecated plotly library"
**Application or Package Used**
nteract desktop

**Describe the bug**
Gallery of Plotly Plots can't run gapminder scatterplot due to deprecated plotly library.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to File->Open Example Notebook->Python->Gallery of Plotly Plots
2. Click on Run All
3. Scroll down to the 10th cell (containing the gapminderDataFiveYear.csv bubbleplot
4. See error:

[2021-04-08 23:14] captainsafia commented on #5488
@marcdhansen Would you be interested in updating the sample notebook over at https://github.com/nteract/examples/blob/master/python/plotly.ipynb?

[2021-04-08 23:28] marcdhansen opened #5489 "example using plotly's figure widgets"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I would love to see an nteract example using plotly's figure widgets, e.g., https://plotly.com/python/figurewidget-app/

**Describe alternatives you've considered**
I tried using the plotize function from the plotly example, and using display() to show the widgets, but changing the widgets'

[2021-04-09 07:04] kenpu opened #5491 "@nteract/notebook-app-component (7.7.7) does not compile in a tsx app."
**Application or Package Used**
@nteract/core
@nteract/app-component

**Describe the bug**
I am trying to include nteract components in a minimal `npx create-react-app --template typescript`  project.  The following @nteract npm packages are included using `yarn add ...`
[code]
But I keep running into compilation error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `$ npx create-r

[2021-04-11 05:39] #5491 closed

[2021-04-11 06:24] kenpu commented on #5491
Update: create-react-app (CRA) does not include ts-loader by default.  I found it rather difficult to modify CRA's webpack.config.js file.  Instead, I started a new npm project with webpack from scratch.

[2021-04-12 01:24] smjochum commented on #3364
I am having this issue on Mac OS.

For a work around I am using either %display unicode_art or %display ascii_art.
![image](https://user-images.githubusercontent.com/36968291/114328975-0d8ce500-9af3-11eb-8d8c-165c711f54db.png)

[2021-04-13 15:53] captainsafia commented on #5491
@kenpu Great! Glad you got this resolved.

@jeromefv This makes me think that we might want to have a "Meta" section in the docs that outlines things like needing to configure Webpack/TypeScript in your application if you are using the nteract packages.

[2021-04-14 00:38] captainsafia commented on #5487
@GarciaPL It looks like you're on Windows. If the nteract app is pinned to your desktop, you should see the recently opened documents in the pane that pops up when you hover on a menu item.

We previously explored adding a recently opened item but Electron didn't have the APIs to implement this at the time.

[2021-04-14 00:41] captainsafia commented on #5481
I think we can probably remove the section about releasing the docs altogether now that we have automatic builds working for it.

We still need to sort out how we can get automated releases for the API doc working though, although I think that is less important.

[2021-04-14 00:42] captainsafia commented on #5482
@azraelrabbit Thanks for the bug report! It looks like there is an issue when resolving the syntax type with our new syntax highlighting resolver.

[2021-04-14 00:50] captainsafia commented on #5483
We added support for rendering attachments in https://github.com/nteract/markdown/pull/10.

It looks like there might be a bug with this that we will need to validate.

[2021-04-14 00:51] captainsafia commented on #5489
@marcdhansen Would you be interested in adding an example notebook to our examples repo at https://github.com/nteract/examples

[2021-04-14 05:07] willingc opened #5497 "Automate releases for API doc"
From #5481:

@captainsafia Created a new issue so we don't forget to do it at some point.

[2021-04-14 05:11] willingc opened #5498 "Improve snap package release experience"
From #5464:

[2021-04-14 05:12] willingc commented on #5464
Closing this issue and added #5498 to improve snap release publishing.

[2021-04-14 05:12] #5464 closed

[2021-04-14 05:15] willingc commented on #5487
Closing as resolved.

[2021-04-14 05:15] #5487 closed

[2021-04-14 05:18] willingc commented on #5472
@jeromefv FYI if you haven't seen the above PDF, it may inspire some documentation.

[2021-04-14 05:19] willingc commented on #5472
Thanks @erem-stripe for the detailed write-up too. :sunny:

[2021-04-14 05:20] willingc commented on #5469
Closing as resolved.

[2021-04-14 05:20] #5469 closed

[2021-04-14 05:22] willingc commented on #5442
@MSeal Do you want to write up something or should we close this?

[2021-04-14 05:24] willingc commented on #5425
Closing this issue as stale.

[2021-04-14 05:24] #5425 closed

[2021-04-14 05:25] willingc commented on #5433
Closing issue as resolved. Thanks for your help on this @n-riesco 👍🏼

[2021-04-14 05:25] #5433 closed

[2021-04-14 16:20] captainsafia opened #5500 "Add semantic release and GitHub Actions CI to nteract repos"
We currently have semantic release and GitHub Actions CI set up on the ansi-to-react repo which means that the tests run on every PR/merge and new packages are published to npm with every merge. This means that the repo can be pretty hands-off when it comes to releases.

- [ ] https://github.com/nteract/ansi-to-react
- [ ] https://github.com/nteract/enchannel-zmq-backend
- [ ] https://github.com/n

[2021-04-14 16:55] #5481 closed

[2021-04-14 17:23] captainsafia commented on #5498
I think the issue description is incorrect.

TBH, I'm thinking about removing the snap release process. I haven't been able to get it working reliably since it first released and it adds an additional burden to the release process.

[2021-04-15 00:48] marcdhansen commented on #5488
Very much so.  I’ll take a crack at it over the weekend.

Thanks,
Marc

On Thu, Apr 8, 2021 at 4:15 PM Safia Abdalla ***@***.***>
wrote:

[2021-04-15 13:17] marcdhansen commented on #5488
I would be interested.  Let me take a look at the examples and see what I
can do.

On Thu, Apr 8, 2021 at 4:15 PM Safia Abdalla ***@***.***>
wrote:

[2021-04-15 13:19] marcdhansen commented on #5488
I would be interested.  Let me take a look at the instructions for
contributing and see what I can do.

On Thu, Apr 8, 2021 at 4:15 PM Safia Abdalla ***@***.***>
wrote:

[2021-04-16 05:26] willingc commented on #4981
@captainsafia Are you good with closing this now?

[2021-04-16 06:04] willingc opened #5506 "Correct the failing tests"
I believe that I have Electron running in CI. Now, we should correct failing tests or skip them temporarily.

<img width="855" alt="Screen Shot 2021-04-15 at 10 59 04 PM" src="https://user-images.githubusercontent.com/2680980/114978771-959a2400-9e3e-11eb-89f4-425e6eafe4b3.png">

[2021-04-16 15:42] captainsafia commented on #5506
Which tests are failing?

[2021-04-16 15:48] captainsafia commented on #4981
I think there's still packages that we need to move out but we can close this since most of the items in the original list have been done.

[2021-04-16 15:48] #4981 closed

[2021-04-23 13:58] willingc commented on #5506
Closing this since the latest changes to CI has resolved these.

[2021-04-23 13:58] #5506 closed

[2021-04-24 02:05] jabbera commented on #4956
What does this mean for those of use who use nteract as part of a jupyterhub installation? Will there be a similar offering?

[2021-04-26 19:56] captainsafia commented on #4956
The existing published version of the nteract Jupyter extension will continue to work although it is no longer supported. The current plan is to consolidate nteract web and the desktop app. There's no plans to bring back the Jupyter extension although it should be possible to repurpose the existing code and the new model to get something working.

Let me know if you have any follow-up questions/

[2021-04-27 01:06] jabbera commented on #4956
Thanks! Hopefully there is a comparable offering at some point. Hosted notebook environments that scale horizontally based on active users is key to our use case.

[2021-04-28 14:55] willingc commented on #5500
GH actions added to Python packages:
- [ ] https://github.com/nteract/papermill
- [ ] https://github.com/nteract/scrapbook
- [ ] Not sure which other packages we want to update yet

[2021-04-30 07:33] jruales opened #5527 "Non-standard use of "collapsed" metadata property"
**Application or Package Used**
nteract web

**Describe the bug**
in #4972, nteract started to use the "collapsed" metadata property to indicate whether an output is shown in a scrolled div or otherwise shown in its entirety. However, the standard field for that is not "collapsed", but rather "scrolled" (see official ipynb schema [here](https://github.com/jupyter/nbformat/blob/373d926154d47fa09c45

[2021-04-30 07:37] jruales commented on #5527
FYI @miduncan

[2021-05-02 22:06] dumblob commented on #5205
We stumbled across this just recently and it prevents us from using nteract "in production" where the requirement is to submit PDFs.

Any ideas how to circumvent this? I'm fine with some dirty hacks for now as otherwise we like nteract and would like to use it and support it :wink:.

[2021-05-02 22:31] dumblob commented on #5205
I've found something potentially useful - see https://github.com/nteract/nteract/pull/5289#issuecomment-830917032 . Could others also test it?

[2021-05-03 19:28] benabel opened #5531 "Use pyodide in nteract web"
Hi dear nteract developers, sorry to disturb you in your work.

I would like to easily share playable notebooks with my students in a static site. I've tested the web application in this repo that seems really promising.

However I have already experienced issues with binder when used in a classroom with poor internet connections.

I'd like to know if you think it's possible to integrate [pyodide]

[2021-05-04 00:36] captainsafia commented on #5205
Transferring my comments from the other thread here.

[2021-05-04 00:48] captainsafia commented on #5531
Thanks for sharing this idea, @benabel.

At the moment, the notebook-app-component is a React component that is intended to be used within Javascript-based applications. Technically, it is possible to build a notebook UI that uses pyodide to provide the kernel execution support but that's not something nteract provides support for out of the box.

At the moment, we're still targeting running Jupyt

[2021-05-04 03:02] willingc commented on #5205
I tried it yesterday as well and couldn't get it working properly.

[2021-05-04 08:42] dumblob commented on #5205
Thanks for trying! I can't speak for others, but for our use cases a hack which would produce **any** A4 PDF with **all content** (disregarding there are some superfluous pages or formatting is slightly off or whatever) is significantly better than nothing.

We even thought about moving the viewport by 100% one by one from the top of given ipynb and taking PDF snapshots each time and in the end co

[2021-05-04 21:38] captainsafia commented on #5205
This is a good point. Printing all the content, even if it contains superfluous stuff, is probably a better situation than just printing some of it.

[2021-05-05 12:22] benabel commented on #5531
Thanks for your quick reply, I'll investigate in [jupyterlite](https://github.com/jtpio/jupyterlite).

[2021-05-05 12:22] #5531 closed

[2021-05-06 13:52] anton-petrov opened #5536 "New release"
Hi! When is the next release expected? Best regards ;)

[2021-05-06 16:44] jasonrwang commented on #5060
The .zip file worked fine for me, but I also have a separate Jupyter and Python system set up through miniconda. It seems like your error comes from not finding Python, but I'm not entirely certain.

[2021-05-07 06:16] willingc commented on #5536
Hi @anton-petrov, It looks like 0.29 is available [here](https://github.com/nteract/nteract/releases/tag/nteract%400.29.0).

@captainsafia Is there another step that we need to take to get the packages for 0.29 out?

[2021-05-07 06:37] anton-petrov commented on #5536
<img width="1301" alt="Screenshot 2021-05-07 at 09 31 22" src="https://user-images.githubusercontent.com/2428315/117407789-bb838780-af17-11eb-8c87-d20bb8cd4cdf.png">

[2021-05-11 19:13] captainsafia commented on #4956
@ramantehlan I think we probably want to do a round of testing/QA before that and also figure out some sort of CI for the deployment.

We can track that work in a separate issue. Would you be interested in creating it and identifying some scenarios to test?

[2021-05-11 19:22] ramantehlan commented on #4956
@captainsafia Sure, I will create the issue for the testing and for deployment pipeline.

[2021-05-13 04:16] pragyagarg642 opened #5537 "How to add NotebookApp component in a react app?"
We want to embed notebook app component (@nteract/notebook-app-component) in our react application to create/ open a basic notebook with kernel attached, but there isn't much documentation available around how to use it. Docs could show a complete usage example with below things:

1. How to configure redux store?
2. How to configure kernels?
3. How to sync state between notebook and react parent c

[2021-05-13 22:53] captainsafia commented on #5537
@pragyagarg642 Document is ongoing for this. I'd recommend reviewing the content over at docs.nteract.io to build a general understanding of the components.

I'd also take a look at web app implementation in https://github.com/nteract/nteract/tree/main/applications/web for guidance.

https://github.com/nteract/nteract/blob/main/applications/web/redux/store.ts is a helpful example for this.

You'll

[2021-05-13 22:53] #5537 closed

[2021-05-16 12:56] deeplook commented on #1817
Seems like it's going to be soon four year to find a find feature, amazing! ;)

[2021-05-16 17:42] #5536 closed

[2021-05-17 18:01] #5527 closed

[2021-05-17 18:01] todo[bot] opened #5541 "Revisit when implementing "auto" scrolled mode. We should update this to reflect..."
https://github.com/nteract/nteract/blob/0877a521ba3ef6668f852a0425630a0a54a15f2c/packages/reducers/src/core/entities/contents/notebook.ts#L866-L871

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0877a521ba3ef6668f852a0425630a0a54a15f2c when #5538 was merged. cc @nteract.

[2021-05-17 18:01] todo[bot] opened #5542 "Revisit when implementing "auto" scrolled mode."
https://github.com/nteract/nteract/blob/0877a521ba3ef6668f852a0425630a0a54a15f2c/packages/stateful-components/src/outputs/index.tsx#L59-L64

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0877a521ba3ef6668f852a0425630a0a54a15f2c when #5538 was merged. cc @nteract.

[2021-05-18 20:26] rgbkrk commented on #5327
Great presentation! I'd love to see this move forward and am more than happy to help incorporate it into nteract.

[2021-05-20 12:50] pragyagarg642 opened #5543 "Importing compiled code for editors in notebook app component"
In nteract notebook-app-component, for loading the editors, uncompiled versions of the packages are being used instead of compiled version. In a react app (without nextjs), it errors out saying "Module parse failed: the keyword 'interface' is reserved". Is there any reason as to why this is being done and is it possible to use compiled code (JS files) instead of uncompiled one?

Additional context

[2021-05-22 00:13] barryt2 opened #5545 "Monaco autocompletion should return suggestion content after the last dot"
**Application or Package Used**
Regression within the nteract monaco-editor package.

**Describe the bug**
Monaco autocompletion should return suggestion content after the last dot. Today, there are cases that a kernel when given "suggestion1.itemA" text and typing "." that it will suggest the full path of "suggestion.itemA.itemB" instead of just "itemB". Another case is where given "suggestion1.i

[2021-05-24 21:28] captainsafia commented on #5543
Yes, this is part of a feature that will attempt to either load the CodeMirror or Monaco editor depending on what the app has been configured with.

This feature relies on Webpack's chunking support so you'll need to make sure that you're NextJS app is configured to support it correctly.

[2021-05-25 03:47] shibbas opened #5547 "Multi-client kernel support"
Happy to make this contribute this change to nteract! Please let me know if there is any feedback on the proposed solution below.

**Application or Package Used**
nteract on jupyter. And nteract packages.

**Describe the bug**
When you open the same notebook in two browser sessions, the websocket connection of the second session stomps on the websocket connection of the first terminating the cell

[2021-05-25 03:58] shibbas opened #5548 "Kernel auto-restarts should probably be detected and an action raised"
Happy to contribute the fix to nteract.

**Application or Package Used**
nteract on jupyter, and nteract packages.

**Describe the bug**
Nteract does not seem to detect kernel auto-restarts like Jupyter. It allows cell execution to continue but the cell that triggered restart gets stuck in [*]

**To Reproduce**
Run the following code in jupyter vs. nteract:

[code]

**Expected behavior**
Cell exec

[2021-05-25 05:05] #5543 closed

[2021-05-25 06:09] shibbas opened #5549 "Provide the execute_reply.status on cell execution"
Happy to contribute this to nteract. Feedback appreciated.

**Is your feature request related to a problem? Please describe.**
Currently it looks like the "ok" | "aborted" | "error" status from the kernel on cell execution is not being raised during cell execution along with update_cell_status or updating execution counts.

This is part of the messaging protocol that is coming directly from the ke

[2021-05-25 16:18] willingc commented on #5548
Note from meeting: jupyter server being discussed. Autorestarting tests.

[2021-05-25 16:22] willingc commented on #5549
"aborted" gets lost completely.

[2021-05-25 17:00] shibbas commented on #5548
Thanks for the meeting @willingc @codeseal. Here are the links to the Jupyter auto-restart tests: https://github.com/jupyter/notebook/blob/56416cbd2ddc92feba1978f21efb29da6406f40a/notebook/tests/services/kernel.js#L285

And the [notebook config option](https://jupyter-notebook.readthedocs.io/en/stable/config.html) for the kernel restart:

Default: True
Should we autorestart the kernel if it dies.

[2021-05-25 18:12] MSeal commented on #5549
The described solution sounds like the right path. We should make a follow-up issue to render the cell specially for abort events.

[2021-05-28 04:49] rmekdma opened #5554 "update nteract-on-jupyter on PyPI"
https://pypi.org/project/nteract-on-jupyter/
The package on PyPI is 2.1.3 which was uploaded on July 2019.
I think the latest version is 2.15.0.
https://github.com/nteract/nteract/blob/7a0ad1a1b8dfa337615ca8e9decb36da5aedc3ad/applications/jupyter-extension/nteract_on_jupyter/package.json#L3

Could you update nteract-on-jupyter package?

[2021-05-28 18:04] jruales opened #5555 "Icon for "Add cell above" should have arrow pointing up, not down"
**Application or Package Used**
nteract desktop

**Describe the bug**
Icon for "Add cell above" has arrow pointing **down**, which is confusing.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a notebook
2. In a code cell, click on the cell menu

**Expected behavior**
Icon for "Add cell above" should have arrow pointing **up**.

**Screenshots**
![image](https://user-images.githubuserco

[2021-05-28 18:16] jruales commented on #5168
+1 on this issue. It's also making it slower iterate on the desktop application during development since it becomes necessary to relaunch it with `yarn spawn` after each change.

[2021-06-01 20:47] captainsafia commented on #5554
@rmekdma We haven't published the nteract-on-jupyter app in a while since the plan at the moment is to deprecate it in favor of the new web app. We phased out publishing to PyPI as part of this.

[2021-06-02 20:12] dumblob commented on #5205
Today I accidentally came across https://www.pagedjs.org/documentation/ . And it seems to have a nice-looking solution for just about everything. Feel free to try it with nteract as it might solve most (all?) the problems with printing :thinking:.

[2021-06-02 20:59] #5545 closed

[2021-06-04 16:26] prothSFDC opened #5559 "Where can I find documentation on how to use JSX / @nteract/data-explorer with nteract?"
**Is your feature request related to a problem? Please describe.**

I'm having difficulty determining which project the problem is under, but any help is appreciated

TLDR - I cant use most of the components defined within [nteract components](https://components.nteract.io/#!/RichMedia) within the nodejs runtime or the [data explorer](https://github.com/nteract/data-explorer)

I'm not sure how to

[2021-06-04 18:25] #5559 closed

[2021-06-08 17:59] john-swanke opened #5563 "RFC: cell merge and split (redux mechanics only)"
## Objective

We are allowing users to perform these two cell operations:
* Merge two adjacent cells into one cell.
* Split a single cell into two distinct adjacent cells.

This RFC concerns cell merge/split redux mechanics (i.e., actions, reducers, etc.). There will be a separate RFC and PR for updating UI and keyboard shortcuts to expose the features. We're hoping to contribute the groundwork qu

[2021-06-08 19:02] rgbkrk commented on #5563
I'm assuming this matches what JupyterLab is doing? Maybe this is something worth documenting in `nbformat` (maybe `jupyter_core` to guide implementations?

[2021-06-09 14:54] john-swanke commented on #5563
Thanks @rgbkrk! I can bring this up in both nbformat and jupyter_core.

And good follow-up on split... I suppose we could either duplicate original cell's metadata into the newly split cells or follow the trend of upper cell preference and keep metadata only for the upper-most split cell. Regardless, I'll investigate JupyterLab and Jupyter Notebook classic to analyze their behavior to follow what

[2021-06-09 23:17] #5542 closed

[2021-06-09 23:17] #5541 closed

[2021-06-11 15:46] rgbkrk opened #5571 "Last nteract/commutable release has the wrong version number"
It looks like commutable regressed in version number

![image](https://user-images.githubusercontent.com/836375/121713266-8677d100-ca91-11eb-91ee-d55249103155.png)

That or v1 was _also_ published due to automation. It's weird there's not an update to the package number though.

[2021-06-11 20:15] captainsafia commented on #5571
This was my fault. v1 got published due an issue with the new automation I was setting up. It wasn't reading the correct git tag format so it thought a new v1.0.0 release was due. I think we'll have to go through and remap what "latest" points to.

As for writing the versions back to the file, that's another change I need to make using the semantic-release/git extension.

[2021-06-11 23:14] rgbkrk opened #5572 "Where's transform-plotly?"
I don't see it in the monorepo and I don't see a standalone repo. Where is `@nteract/transform-plotly` nowadays?

[2021-06-11 23:15] rgbkrk commented on #5571
Strange, it happens. For what it's worth, this was the only package I ran across that had this issue.

[2021-06-11 23:18] rgbkrk commented on #5572
Nevermind, I forgot it was in the outputs repo: https://github.com/nteract/outputs/tree/master/packages

[2021-06-11 23:18] #5572 closed

[2021-06-13 21:08] marcdhansen commented on #5488
I made the changes, tested, and verified them.  However the node_modules folder seems to be git-ignored, so it's not picking up the change here: nteract/applications/desktop/node_modules/@nteract/examples/python/plotly.ipynb.  Can anyone tell me where I should be making the change so it can be properly committed?

[2021-06-14 17:50] marcdhansen opened #5575 "test suite fails on MacOS 11.4 BigSur"
**Application or Package Used**
nteract desktop

**Describe the bug**
3 test suite failures

**To Reproduce**
follow build steps from contributing page (https://github.com/nteract/nteract/blob/main/CONTRIBUTING.md) using MacOS 11.4 BigSur.  Test failures occur during the yarn test step

**Expected behavior**
all test suites either pass or skipped

**Screenshots**
n/a

**Desktop (please complete th

[2021-06-14 21:19] captainsafia commented on #5575
Can you share the steps you ran? I've been able to get things working on macOS 11.4 with the following steps:

[code]

[2021-06-14 21:41] brism17 opened #5576 "Inappropriate scroll on opening a notebook in firefox."
**Application or Package Used**
State which application or package this affects. For example: nteract desktop, nteract web, nteract on jupyter, etc.
nteract web, nteract on jupyter

**Describe the bug**
A clear and concise description of what the bug is.
When any long notebook loads the page is scrolled several pixels down from the top of the page. Within azure notebooks the offset is 32 px.  Here

[2021-06-18 22:39] captainsafia commented on #5571
Fixed now!

[2021-06-18 22:39] #5571 closed

[2021-06-25 21:36] #5576 closed

[2021-07-07 23:31] marcdhansen commented on #5575
I just tried with the same steps and still got the same 3 failures
[code]

[2021-07-21 14:31] gauravbrills commented on #5483
@captainsafia facing same issue with commuter as well not sure if both are linked ? Will try to look at the code and figure out .

[2021-07-23 11:37] chunjieChang opened #5586 "any ways to stick editor and sessions for existing react app?"
Hi, I am trying to stick nteract code editor to existing react app. (and I'm new to react, but I've used vue.js past)

just for editor and session connector - and It should be managed by redux as nteract uses redux as store & state manager.

I've found an example of doing with this https://github.com/nteract/nteract/issues/4413, but how can I manage this kinds of things (it could be state) easily?

[2021-07-27 21:32] vivek1729 opened #5588 "Migrating to react-redux v7"
Hello nteract,

I noticed that the mono repo relies on react-redux [v6](https://www.npmjs.com/package/react-redux/v/6.0.1) which was released about 2 years ago. [Redux 7](https://github.com/reduxjs/react-redux/releases/tag/v7.0.1) has been out for a bit and has seen good community adoption. Beyond stabilization, v7 also provides some performance improvements and new APIs. Most notably, they introd

[2021-07-28 21:49] miduncan opened #5589 "Cell status incorrectly marked busy by widget in different cell"
**Application or Package Used**
@nteract/core
@nteract/outputs

**Describe the bug**
When interacting with a JupyterWiget, changing the value will mark the last-ran cell with the status of "Busy".

**To Reproduce**
1. Start with a fresh notebook
2. Create an IntSlider in the first cell
[code]
3. Create a new code cell underneath where you create a separate widget
[code]
4. Adjust the slider in the

[2021-07-28 21:53] miduncan commented on #5589
@captainsafia @rgbkrk
What do you guys think of the proposed solution? Happy to do the work, just want to make sure there is agreement on the proposal before coding it.

[2021-07-30 02:15] barryt2 opened #5590 "Monaco editor should take into consideration that the value prop changed before calling setValue"
**Application or Package Used**
nteract monaco-editor package.

**Describe the bug**
The Monaco editor should take into consideration that the value prop has changed before calling setValue with a new value.

Current code in componentDidUpdate:

[code]

The use case for taking in consideration of "the value prop has changed" is to allow folks who may want to do some performance/scalability optimiz

[2021-08-13 22:10] kycutler opened #5592 "Input prompts don't disappear after entry"
**Application or Package Used**
nteract desktop

**Describe the bug**
Input prompts do not disappear after a reply is sent. Thus if there are multiple prompts (for example with multiple `input()` calls, or when using the pdb debugger), prompts accumulate endlessly. Also the input text is synchronized across all prompts, and remembered after clearing the cell outputs.

**To Reproduce**
Steps to rep

[2021-08-17 16:51] alpaix commented on #5327
Accidentally closed. Re-opening..

[2021-08-25 03:07] willingc commented on #5588
Hi @vivek1729. This seems like a reasonable thing to do. I'm not sure how much updates need to be done when going from 6 to 7.

[2021-08-25 03:26] willingc commented on #5588
@vivek1729 and others, Perhaps let's start a checklist of things that would need to be updated to go from v6 to 7.

## Breaking changes from v6 to 7 that impact nteract

- [ ] Likely widgets

[2021-08-27 01:37] bryanchen-d opened #5595 "outputToJS is expensive when there is a large portion of "stream" output"
**Application or Package Used**
@nteract/core@15.1.4

**Describe the bug**
Saving a notebook with a large data payload of "stream" output takes a long time.

**To Reproduce**
Steps to reproduce the behavior:
load a notebook with a display output contains a large data payload of a stream output
save the notebook
Then the UI will be frozen for like 10~ seconds

**Expected behavior**
This is due to c

[2021-08-28 11:40] lwbaqueros commented on #1817
It is our 4th anniversary here 🤣😂😅😀😐😣😥😭(

[2021-08-28 12:33] jarrodu commented on #5054
I am also running into this issue with the Julia kernel. Is there any update on when nteract will be available on the stable channel?

[2021-08-30 18:30] todo[bot] opened #5597 "figure out a configurable way to reformat the string when needed."
https://github.com/nteract/nteract/blob/5fa27d8ff9cdd9a584b428901bf232f0aa6a885b/packages/commutable/src/v4.ts#L237-L241

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5fa27d8ff9cdd9a584b428901bf232f0aa6a885b when #5596 was merged. cc @bryanchen-d.

[2021-08-30 18:47] #5595 closed

[2021-09-01 01:18] vivek1729 commented on #5588
Here are some of the added benefits to updating react-redux to v7 (from Barry's notes):
- Perf improvments: It seems like the v6 released had a regression in performance as compared to v5. In the newer version, the authors have started relying on `React.memo` to cache rendered result for given props and avoid un-needed re-renders. ([source](https://github.com/reduxjs/react-redux/releases/tag/v7.0.

[2021-09-10 03:41] yangyongyongyong opened #5599 "三年前没有语法提示 现在仍然没有 tab键还是无法触发"
三年前没有语法提示 现在仍然没有 tab键还是无法触发

[2021-09-10 06:14] Sandural opened #5600 "height need to be fix and content need to be overflow: scroll"
![image](https://user-images.githubusercontent.com/16163090/132808299-79de334d-d555-4250-9a59-3e55910af157.png)

[2021-09-14 16:31] willingc commented on #5588
Communicate breaking change
- change log
- blog post

[2021-09-22 04:06] markerikson commented on #5588
Yipes, I'm amazed anyone is still using v6 this long after v7 came out! Please do migrate to v7 ASAP - it's _vastly_ better than v6 was.  There should be no meaningful changes API-wise, just bump the package version and make sure you're on React 16.8+ (which you should be anyway at this point).

You should also know that we're currently working on React-Redux v8, which is aimed to come out alongsi

[2021-09-23 02:43] simonrouse9461 commented on #5599
别指望了、这个项目多半是烂尾

[2021-09-25 18:11] willingc opened #5603 "Set up security.md policy for vulnerabilities"
Let's set something up for where folks should report possible vulnerabilities.

[2021-09-26 11:02] Anubha13kumari commented on #5603
hi @willingc .first timer this side .i want to contribute on this issue please guide me .

[2021-09-27 02:49] #5588 closed

[2021-09-28 10:30] e8panse commented on #5491
@captainsafia I know it's old issue, but in documentation there still nothing about webpack configuration and we are facing the same issue. Could you please briefly explain solution?

[2021-09-29 04:51] captainsafia commented on #5491
@e8panse This doc page might prove to be a helpful starter: https://webpack.js.org/guides/typescript/

[2021-09-29 22:30] e8panse commented on #5491
@captainsafia webpack correctly process all ts/tsx in node_modules except this package - connected editors

Creating simple app with:

1) create react app with typescript template ( yarn create react-app appname --template typescript )
2) install component from this library  (yarn add  @nteract/notebook-app-component  )
3) include import {
  Cell,
  Input,
  Prompt,
  Source,
  Outputs
} from "@nt

[2021-09-30 00:25] captainsafia commented on #5491
connected-editors have an app size optimization that takes advantage of chunking in WebPack so you'll need an analgous config to support it. The code below might help as a starting point.

https://github.com/nteract/nteract/blob/df958a94565520df1645b54ba7218b24be4e1a6a/packages/notebook-app-component/src/decorators/editor-loader/index.tsx#L15-L31

[2021-10-01 22:15] vivek1729 opened #5605 "Monaco perf improvement: Call updateOptions API only for props that have changed"
We rely on the helpful [`updateOptions`](https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#updateoptions) API on the editor instance to update a generic set of options. Since, this is tied to the `componentDidUpdate` lifecycle method, several calls to the underlying `updateOptions` API can lead to potentially unwanted dom manipulations.

We can consi

[2021-10-01 22:20] vivek1729 opened #5606 "Monaco perf improvement: Optimize editor.layout calls"
The [`layout`](https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#layout) method instructs the editor to remeasure itself and resize if the container has changed since the last update. Under the hood, the `layout` method tries to call some core DOM apis to get the size of the container DOM element iff there are no params passed to this method.

https:

[2021-10-01 22:27] vivek1729 opened #5607 "Monaco perf improvement: Update the editor focus only when its prop value has changed"
To update editor's focus state, we check if the passed in prop is true and if the editor is not already focused:

https://github.com/nteract/nteract/blob/d2088d09a13fc6be213542044db14496b867d4cb/packages/monaco-editor/src/MonacoEditor.tsx#L382-L385

Imagine a scenario where the passed in prop is true but the editor was already focused. We can see that we'd still end up calling the core [`hastTextF

[2021-10-03 10:08] ramantehlan commented on #5054
@captainsafia I don't have access to the snap package anymore. If we can move it to stable channel, it should work.

[2021-10-05 19:19] xinyi-joffre commented on #5443
@rgbkrk, is there an ETA on supporting binary message data in nteract? We are trying to use nglview widget, but it passes binary data back and forth to support the visualizations:

https://github.com/nglviewer/nglview

It uses binary data, and this is currently causing a JSON exception to be thrown:

![nglview-binary](https://user-images.githubusercontent.com/20933017/136088573-6134ad5a-81ad-416e-

[2021-10-06 05:27] willingc commented on #5603
Hi @Anubha13kumari, Sorry I missed your message when I was on vacation. Please read our CONTRIBUTING.md guide which should help you get started on finding an issue and making your first contribution. :sunny:

[2021-11-29 10:49] lschwetlick opened #5624 "Autocomplete not working (MacOs)"
**Application or Package Used**
using nteract desktop version 0.28.0 on MacOs 11.6 Big Sur

**Describe the bug**
I have been using nteract for a long time and only just realised there is actually autocomplete. Unfortunately I cannot get it to work at all. If I press Ctrl+space nothing happens. The tool tip support on Ctrl+. does work.

It works neither in the Python nor in the R Kernels that I hav

[2021-12-10 19:58] vivek1729 opened #5625 "Input prompt loses focus despite clicking into the text box"
**Application or Package Used**
nteract desktop, `PromptRequest` component
Python kernel

**Describe the bug**
Input prompts lose focus even after clicking the text input element.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a python cell (let's call it Cell A) expecting user [input](https://www.w3schools.com/python/ref_func_input.asp) via this snippet:
[code]
2. Execute this cell

[2021-12-24 11:48] jadsonjs opened #5627 "Projects with low Build Activity - Survey"
Dear Developers of project **nteract/nteract**,

We are conducting a study on CI metrics and we noticed that in your project, something peculiar happened.

During the period you are using Travis CI, the project passed by a long period of inactivity.
We noticed that the TravisCI configuration file (.travis.yml) was committed to your project on the date of **2016-01-06**.
But there is only a build h

[2021-12-30 02:12] jrmarcum opened #5628 "print to pdf"
**Application or Package Used**
nteract desktop

**Describe the bug**
export to pdf only exports exactly what is in the nteract window at the time of export. It does not export the entire notebook contents.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'File>Open Example Notebook>Python'
2. Click on 'Meet Markdown and Math'
3. Save the file locally
4. Go to 'File>Export'
5. Click on

[2022-01-03 20:45] #5627 closed

[2022-01-06 15:55] holgerbrandl opened #5634 "Add kotlin-jupyter kernel"
It would be great if nteract could also support https://github.com/Kotlin/kotlin-jupyter

https://nteract.io/kernels could/should detail out how to setup the kotlin kernel so that is shows up in nteract.

[2022-01-09 09:28] yilmazdurmaz commented on #5366
I haven't used winpython for over a year now so I am not sure if this issue still applies.

in case it still does, is it possible to set location to kernels through environment variables that nteract already reads?

[2022-01-09 14:01] #4949 closed

[2022-01-09 14:01] #2780 closed

[2022-01-09 14:01] #4499 closed

[2022-01-09 18:15] willingc commented on #5634
Hi @holgerbrandl.

Great suggestion. The place to add this detail would be in the nteract.io repo [here](https://github.com/nteract/nteract.io/blob/main/pages/kernels.js) and in its `components/kernels` folder.

I would be happy to review any PR to that repo if you wish to make one. Just @-mention me there.