[2019-04-11 19:42] bryanchen-d commented on #4342
in addition, token is another one with inconsistent type

[2019-04-11 22:39] stormpython commented on #4223
Ok, I have changed the approach to be:

Publish button is in the Notebook Menu under `File`. If `bookstore` is enabled, the `Publish` option will appear in the `File` dropdown menu. If a user clicks `Publish`, the notebook is first saved using the `contents` API, then it is sent over to `Bookstore`.

See changes [here](https://github.com/stormpython/nteract/blob/editable-header-publish-button/pack

[2019-04-12 04:13] #3656 closed

[2019-04-12 12:13] pybokeh opened #4343 "nteract desktop does not find python kernel (windows 10)"
**Application or Package Used**
nteract desktop

**Describe the bug**
nteract desktop does not connect or find my python kernel

**To Reproduce**
Step 1) python3 -m venv my_environment_name      # create a virtual environment
Step 2) my_environment_name/Scripts/activate.bat  # activate the virtual environment
Step 3) python -m pip install ipykernel          # install the python kernel (ipykernel)

[2019-04-12 12:24] pybokeh commented on #4343
OK, I think I found the problem.  Looks like nteract desktop isn't "smart" enough to look at other possible locations of the python kernel.

I issued this command at the command prompt: jupyter --paths
Which returns:
config:
    D:\.jupyter
    d:\python37-32\envs\notebook\etc\jupyter
    C:\ProgramData\jupyter
data:
    D:\.jupyter
    C:\Users\some_random_guy_on_Internet\AppData\Roaming\jupyter

[2019-04-12 19:35] BenRussert commented on #4343
Can you check the GitHub issue search feature to see if it's "smart" enough to help you find our open kernel detection on Windows issue?

I didn't read the rest of your comments to know if it will help us, but maybe you can figure out how to discuss a problem constructively there.

[2019-04-12 19:35] #4343 closed

[2019-04-13 02:20] pybokeh commented on #4343
@BenRussert I apologize, I did not know there was an already open issue https://github.com/nteract/nteract/issues/3670  Also, I think you mistook my comment as a jab towards nteract and that is not the case at all.  I would like to personally apologize if you took it that way.  I just meant that it looks like it just needed to search in other paths or directories.  Poor choice of words on my part.

[2019-04-13 02:25] BenRussert commented on #4343
Cool @pybokeh, I get a little sensitive sometimes because many of us do all this for fun in our free time.

Do you think this is the same issue as #3670? What version of nteract are you on?

[2019-04-13 02:39] pybokeh commented on #4343
I was using nteract at work for the first time today and I won't be returning work until a week later. So I won't be able to get back to you until then.  But, I know I downloaded the .zip version since I don't have admin rights to my machine.  So I'm guessing it is version 0.13.  Would be curious what the output looks like for others when issuing the ```jupyter --paths``` command in that issue pos

[2019-04-13 16:25] BenRussert commented on #4247
This is fixed in #4332, which we hope to ship next week.

[2019-04-13 16:25] #4247 closed

[2019-04-13 16:35] v715 opened #4346 "Remove kernel, status, and savetime from PDF export"
I am exporting a notebook as a PDF to I can share it with others. There is a bar at the bottom that contains information that I don't want to share, but I can't figure out how to hide this information.

Is there a way to hide this? If not, I would love if I could remove it!

Here's an example of my problem:
![streaming_bayes](https://user-images.githubusercontent.com/29757116/56082609-c9be5280-5de

[2019-04-14 06:08] x1angli commented on #2924
Viewing malformed math formulas indeed bothers me (and others, I believe)

A very common case:
Normally MathJax does NOT require `$$` signs enclosing math expressions to lead or follow line-breaks. That is to say, if a math expression wrapped by a pair of in-line starting and closing $$ signs.

But, the particular Mathjax shipped in nteract does have such peculiar requirements, therefore nteract c

[2019-04-14 17:04] BenRussert commented on #2924
@x1angli could you paste that snippet into a comment?

[2019-04-14 19:17] #4322 closed

[2019-04-15 01:11] #4342 closed

[2019-04-15 06:30] x1angli commented on #2924
you can use any math expression to reproduce this issue, as long as the beginning double dollar sign `$$` and the ending one is not put in a separate line.

something like
[code]

All I'm proposing is just bumping the MathJax's version.

[2019-04-15 21:33] BenRussert commented on #2924
@x1angli would you want to send a PR to fix?

@lgeiger, wonder if you have thoughts on this?

[2019-04-17 04:41] x1angli commented on #2924
Sorry, please disregard that part.

After revisiting this issue, I found it more complicated than bumping a version number.

Actually, nteract-on-jupyter (the web one) has a condensed/minified .js file with a version number of 2.3.5, which is the latest.  I am unable to check the version number of the Electron packed desktop one ,  but given the fact that the scrambled-text-following-not-isolated-

[2019-04-17 23:05] andrewfogg opened #4350 "Line wrapping in PDF export"
**Is your feature request related to a problem? Please describe.**
Export to PDF results in unreadable code because cannot control whether lines wrap or font-size.

**Describe the solution you'd like**
I would like to be able to control whether PDF export wrapped lines or not.  Additionally it would also be nice to control the overall font-size at which the PDF export occurs

**Describe alternativ

[2019-04-18 15:53] Alalalalaki opened #4351 "Altair plot doesn’t show up"
I update nteract desktop to 0.13 and then altair plot doesn’t show up. Though I am not 100% sure it's related to the update.

[2019-04-18 16:02] mphuie commented on #3630
I am seeing the same thing, using Python

    import os
    os.getcwd()

Is showing the parent directory.  I'm unable to import anything from the directory I launched nteract. ( With command `nteract .`)

[2019-04-18 16:14] todo[bot] opened #4352 "What does it mean if we have a failed GET on the content"
https://github.com/nteract/nteract/blob/3ecb0b48aeb60a97edf46ece27186f8105ea55be/packages/epics/src/contents.ts#L397-L402

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 3ecb0b48aeb60a97edf46ece27186f8105ea55be when #4349 was merged. cc @nteract.

[2019-04-18 19:37] ViralBShah opened #4353 "Windows installer is unsigned"
**Application or Package Used**
nteract desktop

**Describe the bug**
The installer is not signed, leading Windows to suggest to me that the application is from an unknown provider and I should not use it. You have to install it by ignoring the warning.

- OS: Windows 10

[2019-04-18 19:38] ViralBShah commented on #4353
The reason I filed this issue is that we are considering using `nteract` for all our Julia training materials for users to run their Julia codes in. This issue might confuse users installing nteract.

[2019-04-18 20:10] emeeks opened #4354 "Color with a range based on a numerical value"
For instance, using time of day as a color

[2019-04-18 20:27] emeeks opened #4355 "Add trendline to contour plot"
And any other scatterplot functionality.

[2019-04-18 20:31] emeeks opened #4356 "Add Annotation Functionality"
Threshold annotations in scatterplot
Point annotations in scatterplot

Hull enclosure in network

Other annotations where appropriate

[2019-04-18 20:33] BenRussert commented on #4353
@ViralBShah that's awesome! Hearing this really gets me excited to work more on nteract desktop, we've been picking up some steam lately!

Lets prioritize this and hopefully fix for the release on Monday, what do you think @captainsafia ?

[2019-04-18 20:35] captainsafia commented on #4353
It can be done! Our last desktop release was done a new machine and it looks like the configuration for Windows releases wasn't in.

We are doing another desktop release Monday evening so we will look into addressing this then.

[2019-04-18 20:40] emeeks opened #4357 "Use arrays of accessors"
Take advantage of `nName` functionality in Semiotic to allow users to select multiple columns of data for scatterplots and such. Expose the column names as categories for coloring.

[2019-04-18 20:48] emeeks opened #4358 "Implement Faceting"
In Data Explorer provide a `Facet By` option to create small multiples

[2019-04-18 23:20] mbauman opened #4359 "SVG outputs do not display on Windows"
**Application or Package Used**
On nteract desktop (v0.13.0), Windows 10, with a Julia Kernel

**Describe the bug**
SVG images do not display on Windows, but do on Mac.

**To Reproduce**
Run the following Julia cell:
[code]

**Expected behavior**
A blue box is displayed

**Screenshots**

Mac works:
![Screen Shot 2019-04-18 at 6 19 11 PM](https://user-images.githubusercontent.com/154641/56396846-80

[2019-04-19 01:13] #2901 closed

[2019-04-19 01:38] captainsafia commented on #4359
Thanks for opening this issue, @mbauman!

I was able to reproduce it on Windows, but not Mac, on nteract 0.13 as well. It appears that something might be off with the output picker that is causing it to not default to the richer output type. I'll dig into it.

![image](https://user-images.githubusercontent.com/1857993/56400304-d2fc5480-6218-11e9-8421-d0b5e7742678.png)

[2019-04-19 01:46] captainsafia commented on #4351
Hello @Alalalalaki! Thanks for opening this issue.

I suspect that this is related to #4359, in that our output picker might be off. Updates were made to it between the the recent release and the one prior so it is not a farfetched hypothesis.

I'll investigate further and see if I can get a fix in for next week's release.

[2019-04-19 01:51] captainsafia commented on #4350
Hello @andrewfogg! Thanks for opening this thorough issue and apologies for the trouble you are having. The PDF export feature currently works in a fashion very similar to that on a browser, where you can't really control the look and feel of the output. We're in the process of redesigning the notebook view so we'll hopefully be able to take this into effect soon.

@fabric-8 Here's another issue t

[2019-04-19 01:54] captainsafia commented on #4346
Hello @v715! Thanks for opening this issue and great notebook!

@jdetle Do you know if we can customize the `printToPDF` function to print only certain parts of the DOM?

[2019-04-19 01:56] captainsafia commented on #4301
This can be closed as I addressed this in https://github.com/nteract/nteract/commit/e734f3dc8c0a79a597a79cafaaa7831f7d15ecb9.

[2019-04-19 01:56] #4301 closed

[2019-04-19 02:49] captainsafia commented on #4320
Hello @KnutJaegersberg!

Thanks for opening this issue! I'm only slightly familiar with the SOS experience in JupyterLab but I believe that it requires the installation of an extension? From my understanding, that extension adds a lot of functionality, like the language dropdown, that is needed for SOS.

nteract doesn't currently support these extensions so working with SOS in nteract desktop migh

[2019-04-19 02:58] captainsafia commented on #4254
Following up on this, @mstetson!

Do you run into this issue when using nteract v0.13.0?

[2019-04-19 03:19] #4359 closed

[2019-04-19 03:39] mstetson commented on #4254
Thanks for the follow up, @captainsafia. I just retested in v0.13.0 and it looks fixed. Closing. Thanks again!

[2019-04-19 03:39] #4254 closed

[2019-04-19 08:02] KnutJaegersberg commented on #4320
yes you need to install an extension for jupyterlab, and there is one for jupyter notebooks as well. As far as I can tell, sos is more reliable in jupyternotebook than in jupyterlab. The ones for notebooks is the required ones.
pip install sos
pip install sos-notebook
pip install sos-r

and install the IRkernels for each kernel did the job for me, i.e.

install.packages('IRkernel')
IRkernel::insta

[2019-04-19 17:17] #2905 closed

[2019-04-19 20:58] mbauman opened #4361 "Mac app tells me it will update but never does"
**Application or Package Used**
nteract desktop, version 0.12.3

**Describe the bug**
On launch I get a notification there's a new release that's been downloaded and will be installed upon re-launch, but it never happens.  I always get the notification and after successive quit/restarts I always remain on 0.12.3.

**Screenshots**
This notification appears on every launch but the app is never updat

[2019-04-19 20:59] mbauman commented on #4359
Thanks! I didn't realize my Mac app was stuck on 0.12.3.

[2019-04-19 21:14] mbauman opened #4362 "Support for interactive widgets with Julia kernels (WebIO.jl)"
Akin to ipywidgets (#1385), it'd be great to support interactive widgets for Julia.  The Julia package [WebIO.jl](https://github.com/JuliaGizmos/WebIO.jl) provides the backend for notebook/HTML widget support... and it additionally has support for [JupyterLab through an extension](https://github.com/JuliaGizmos/WebIO.jl/tree/master/packages/jupyter-lab-provider).

[2019-04-19 21:59] captainsafia opened #4363 "Add notes on label convention to CONTRIBUTING.md"
We've got quite a few standardized labels configured in our GitHub but no documentation on which labels to use and when.

We should add a "Labeling Issues" section to our CONTRIBUTING.md so this informational is accessible to people.

[2019-04-20 00:49] captainsafia commented on #263
This is supported on both Mac and Windows now.

On Windows, users need to be sure that nteract is set as the default program for .ipynb file types via the Default Apps settings page on Windows. Then Windows will populate the jump list accordingly.

[2019-04-20 00:49] #263 closed

[2019-04-20 01:39] captainsafia commented on #879
I'm in favor of throwing an error instead of adding backwards compatibility because:
- it reduces the amount of complexity that we have to manage
- it encourages kernel maintainers to stay up-to-date with the latests fixes and modifications in the spec

[2019-04-20 01:44] captainsafia commented on #886
I think we can implement this feature behind the first option that @dhirschfeld describe (a keyboard combination) to get the ball rolling with respect to having the epics and actions laid out.

@fabric-8 Bringing this into your radar as component to design. We need a component that can be used to display a list of the past commands the user has typed.

[2019-04-20 01:47] travigd commented on #4362
I'm also happy to serve as the technical contact for this (thanks to @mbauman for drumming up interest in this).

[2019-04-20 01:54] captainsafia commented on #1038
Looking through old issues.

@drbh Can you clarify what you mean by Ctrl+D destroying cells in nteract?

I'd love to see undo for cell deletions implemented alongside universal undo/redo. I think it makes the user experience much more pleasant and editor-like.

We'll be doing a UI overhaul soon so we'll definitely try to make it less likely to press the delete button in future designs.

@fabric-8

[2019-04-20 01:56] captainsafia commented on #1221
@fabric-8 Another bit of design feedback. Users would like to be able to cancel the execution of a cell that is already being run.

[2019-04-20 02:08] captainsafia commented on #1471
I like the option that @rgbkrk outlined of adding functionality in commutable to convert RMarkdown to our in-memory format.

@robertmitchellv I don't know much about the internals of the RMarkdown files but it should be possible to implement whatever customizations we want with respect to how an RMarkdown file is interpreted as long as it eventually maps with the in-memory format we store. I'm rea

[2019-04-20 02:18] captainsafia commented on #2023
I think we can close this now. Developer tool are available via the menu on the main releases of the Mac and Windows app.

You still can't right click to inspect element but I think having Developer Tools enabled via a menu item is enough to resolve this issue.

[2019-04-20 02:18] #2023 closed

[2019-04-20 02:19] captainsafia commented on #2034
I think we can go ahead and close this since GeoJSON rendering is working now.

[2019-04-20 02:19] #2034 closed

[2019-04-20 02:21] captainsafia commented on #2127
This was recently fixed in v0.13.0 of the nteract desktop when https://github.com/nteract/nteract/pull/4326 was merged.

[2019-04-20 02:21] #2127 closed

[2019-04-20 02:23] captainsafia commented on #2387
I'm gonna go ahead and close this one because it seems to be resolved.

[2019-04-20 02:23] #2387 closed

[2019-04-20 02:25] captainsafia commented on #2662
I like the idea of seeing if it would be possible to use react-virtualized to render cells. I'm gonna self-assign and see if I can dig into it this weekend.

@williamgilpin We don't currently downsample large images when displaying them on large screens.

[2019-04-20 02:28] captainsafia commented on #2729
Yay! We shipped it!

[2019-04-20 02:28] #2729 closed

[2019-04-20 02:34] captainsafia commented on #1884
I was able to open the Merge sort notebook in v0.13.0 of the notebook. It looks like that notebook is serialized using v3 of the notebook format which we support upgrading form.

I don't think it is worthwhile to explore support for notebooks older than v3 so I'm going to go ahead and close this.

[2019-04-20 02:34] #1884 closed

[2019-04-20 02:40] captainsafia commented on #2953
@fabric-8 Another bit of UI feedback to consider. In our current interface, you create new cells by hovering in between cells but this is a little undiscoverable for users.

[2019-04-20 02:41] captainsafia commented on #2959
Closing this in favor of https://github.com/nteract/nteract/issues/4363 to ensure that we capture this information in our documentation.

[2019-04-20 02:41] #2959 closed

[2019-04-20 02:42] captainsafia commented on #2954
We no longer have a merge cell feature so we can close this.

[2019-04-20 02:42] #2954 closed

[2019-04-20 02:43] captainsafia commented on #2964
Closing this as it has gone stale and I can't reproduce. If this issue still exists on the latest version of nteract, please reopen. Thanks for opening the original issue,  @qzcool!

[2019-04-20 02:43] #2964 closed

[2019-04-20 02:44] captainsafia commented on #2989
We've moved to gatsby-transform out of the monorepo so this can be closed.

[2019-04-20 02:44] #2989 closed

[2019-04-20 02:50] captainsafia commented on #3255
Closing this as it is a duplicate of https://github.com/nteract/nteract/issues/741.

nteract currently doesn't support `input_request` messages. I've started a branch with updates to resolve this and will hopefully have something in soon. In the meantime, we can track this in the master issue.

[2019-04-20 02:50] #3255 closed

[2019-04-20 02:52] captainsafia commented on #3269
Thanks for opening this issue, @e184633!

Unfortunately, at the moment, nteract doesn't support Jupyter extensions. We do have design work in mind to support the table of contents feature by default but nothing to address the others.

[2019-04-20 02:52] #3269 closed

[2019-04-20 17:17] probonopd commented on #3022
Not doing anything is never a good reason to close bug reports imho...

[2019-04-21 00:53] captainsafia commented on #3022
Hi @probonopd! A few releases of nteract have come out in the 10 months this issue was opened and we are on a newer version of electron-builder. Can you reproduce the issue on the latest release of nteract?

[2019-04-21 06:22] probonopd commented on #3022
Hi @captainsafia, where can the AppImage be downloaded? I don't see it on GitHub Releases (anymore?). Thanks.

[2019-04-21 14:14] captainsafia commented on #3022
Try it at this link: https://github.com/nteract/nteract/releases/tag/v0.13.0

I've been trying to figure out how to pin certain releases to the top of the release page for easy finding but haven't found an elegant solution thus far.

[2019-04-21 16:14] probonopd opened #4366 "Please reopen #2738"
Please reopen https://github.com/nteract/nteract/issues/2738 as it is still an issue in https://github.com/nteract/nteract/releases/download/v0.13.0/nteract.0.13.0.AppImage. Thanks.

Also, please do not lock conversations as "resolved and limited to collaborators", especially if no one ever has actually positively confirmed that the issue has been resolved.

Reference:
https://github.com/AppImage/

[2019-04-21 20:55] drbh commented on #1038
@captainsafia Ctrl+D deletes the cell and it’s code contents.

I strongly agree that there should be a “undo cell deletion” as well as the universal undos. This would make the Ctrl+D problem much easier to fix (since you could just undo the deleted cell).

However I still think Ctrl+D should duplicate the line - and not remove the cell as many other IDE’s have as the default hotkey.

[2019-04-21 23:45] captainsafia commented on #4366
That problem is already tracked in https://github.com/nteract/nteract/issues/3022. It appears there are multiple issues opened for the same problem so let's resolve to make #3022 the authoritative one.

[2019-04-21 23:45] #4366 closed

[2019-04-21 23:53] #3022 closed

[2019-04-21 23:53] #3394 closed

[2019-04-21 23:54] #879 closed

[2019-04-22 02:32] captainsafia commented on #4361
Hello @mbauman! Thanks for opening this issue. It's a duplicate of https://github.com/nteract/nteract/issues/4329, so I will go ahead and close it.

It seems like this was an isolated problem caused in the last release. Things should be smoothed out in the v.0.14.0 release that will go live tomorrow.

[2019-04-22 02:32] #4361 closed

[2019-04-22 04:54] #4351 closed

[2019-04-22 08:32] probonopd commented on #4366
Agree that we should track this in https://github.com/nteract/nteract/issues/3022 but that one got closed, too... please reopen that one then.

[2019-04-22 08:33] probonopd commented on #3022
Please reopen, as the problem persists in `nteract.0.13.0.AppImage`.

Log:
https://api.travis-ci.org/v3/job/522757670/log.txt

[2019-04-23 02:14] captainsafia commented on #4329
This is fixed now.

[2019-04-23 02:14] #4329 closed

[2019-04-23 02:15] captainsafia commented on #3022
This issue was auto-closed with a PR. Can you verify if the problem persists in 0.14.0?

https://github.com/nteract/nteract/releases/tag/v0.14.0

[2019-04-23 14:41] mbauman commented on #4361
Thanks!

[2019-04-23 16:25] dylanross3 opened #4369 "Data Explorer table not displaying booleans"
**Application or Package Used**
Data Explorer

**Describe the bug**
Boolean values are not displayed.

**To Reproduce**
Execute the following code in a notebook that supports the Data Explorer and look at the table view.

[code]

Alternatively, render the Data Explorer component directly with the following data/schema:
https://pastebin.com/raw/LduMB3Ce

**Expected behavior**
I expect to see a repr

[2019-04-23 21:28] jdetle commented on #4346
Yeah I can do this! All we need to do is add a media query in the css sheets.

[2019-04-24 18:46] bryanchen-d opened #4373 "allow to pass protocol into websocket construction"
**Is your feature request related to a problem? Please describe.**
In order to authenticate the websocket connection, we need to attach authorization token in the headers of the websocket request, using the Sec-WebSocket-Protocol as mentioned in https://stackoverflow.com/questions/22383089/is-it-possible-to-use-bearer-authentication-for-websocket-upgrade-requests/35108078#35108078

However current

[2019-04-25 00:41] dylanross3 opened #4374 "Data Explorer: No default nesting category for Dendrogram chart"
**Application or Package Used**
Data Explorer

**Describe the bug**
When I select the Dendrogram chart type, there is no default nesting category selected, so there is no visualization shown until the user selects a nesting category. This is a confusing user experience.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [here](https://t.co/AoPtdG6BFM) to load the "Happiness" example note

[2019-04-25 00:47] dylanross3 opened #4375 "Data Explorer: Reliance on CSS variables"
**Application or Package Used**
Data Explorer

**Describe the bug**
When I include the Data Explorer component in my application, the toolbar icons do not look the same as they do in the context of an nteract notebook. In particular, the Dendrogram icon is not visible (see screenshot).

**Expected behavior**
- At the very least, I expect the Dendrogram icon to be visible.
- It would also be nice i

[2019-04-25 01:00] dylanross3 opened #4376 "Data Explorer: Scatterplot size ignored in Firefox"
**Application or Package Used**
Data Explorer

**Describe the bug**
Selecting a size for points in the Scatterplot chart type has no effect in Firefox. Works fine in Chrome.

**To Reproduce**
Steps to reproduce the behavior:

1. Go [here](https://t.co/AoPtdG6BFM) to load the "Happiness" example notebook
2. Select the Scatterplot chart type
3. Select something in the Size dropdown
4. See the points

[2019-04-25 02:27] dylanross3 opened #4377 "Data Explorer: Set initial settings via code"
**Is your feature request related to a problem? Please describe.**
A common problem with notebooks is reproducibility. I'm assuming the nteract notebook UI persists the Data Explorer settings in the output's metadata, and my application does that too, allowing the same view to be restored later. However, this actually decreases reproducibility of the execution, because running the notebook again (

[2019-04-25 13:11] feifeimao666 opened #4378 "Why can't access jupyter api in browsers"
I open nteract desktop app,and it runs a jupyter notebook service on localhost:8888.
Why I can't access jupyter api in chrome browser?

[2019-04-25 19:06] emeeks opened #4379 "DX Line chart Performance is Bad with 5000 datapoints"
Introduce user controllable sampling (smooth every n points or base it on screen resolution)

Implement canvas rendering for line charts

Tooltip bug with traffic failover dataset

[2019-04-26 04:22] hydrosquall commented on #4205
Similarly, `react-hot-loader` also appears to be [unused](https://github.com/nteract/nteract/search?q=react-hot-loader&unscoped_q=react-hot-loader), although its less than a 1 KB so it won't help much.

Semiotic itself takes the majority of the weight, as seen here:

This treemap could probably help with determining a bundle optimization strategy.

<a href="https://cl.ly/395f104acf7f" target="_bla

[2019-04-26 20:36] #4373 closed

[2019-04-27 03:12] emeeks commented on #4377
1) We need some documentation, that also means we become committed to a version of the API as it exists in the documentation (which resolves the implicit contract in 4). The approach you're using is the one I'd expect until such a time as the notebook was "smarter" and knew to save the settings in some way when the cells were re-run.
2) I will add an initial stab at this and we can tighten up the

[2019-04-27 03:22] emeeks commented on #4376
Apparently, Firefox hasn't implemented setting `r` via CSS style: https://stackoverflow.com/questions/51551729/styling-of-svg-circle-doesn%C2%B4t-work-in-firefox-browser-removes-radius-property?noredirect=1&lq=1

This will require a patch release to Semiotic in order to pass the radius as an attribute as well as via style but it's a minor change.

[2019-04-27 03:31] emeeks commented on #4355
Relies on a fundamental change in how Semiotic works with `summaryType` in `XYFrame`: https://github.com/nteract/semiotic/issues/468

[2019-04-27 03:40] emeeks commented on #4304
This is a better question for @rgbkrk than me but I thought it was working this way (that the metadata was scoped to the mediaType).

[2019-04-27 03:49] #4200 closed

[2019-04-27 03:49] emeeks commented on #3371
Going to close this based on lack of reproducibility and age.

[2019-04-27 03:49] #3371 closed

[2019-04-27 03:50] emeeks commented on #3272
Going to close this due to lack of reproducibility and age

[2019-04-27 03:50] #3272 closed

[2019-04-27 03:52] #4140 closed

[2019-04-27 03:54] #2995 closed

[2019-04-27 03:54] #2857 closed

[2019-04-27 03:55] emeeks commented on #2323
@rgbkrk Is this still an issue? If so could you give more context?

[2019-04-27 20:58] #4303 closed

[2019-04-27 20:58] #4369 closed

[2019-04-27 20:58] #4375 closed

[2019-04-28 02:36] captainsafia commented on #4378
Hello @feifeimao666! Thanks for opening this issue.

Can you clarify what you mean by this question? The nteract desktop app doesn't launch a server on localhost:8888. Are you referring to the Jupyter extension?

[2019-04-28 02:44] captainsafia commented on #4362
Thanks for opening this issue!

Is there a Binder demo of WebIO widgets working in Jupyter Notebook? I'd like to play around with.

[2019-04-29 07:10] feifeimao666 commented on #4378
I try to execute command yarn run app:jupyter-extension ,but it seems that webpack couldn't complete the task and show this in browser.
<img width="1433" alt="屏幕快照 2019-04-29 下午3 06 06" src="https://user-images.githubusercontent.com/18097924/56880798-c08fdf80-6a90-11e9-9843-aab06705ff1c.png">

[2019-04-29 16:34] dylanross3 commented on #4377
We can continue to iterate on this and involve UX designers, but I was imagining one workflow would be like this.
1. User executes a cell to display the Data Explorer
2. User clicks around to configure it
3. User clicks a button to copy the settings as JSON (so it's not coupled to Python) to the clipboard
4. User pastes the JSON settings into the editor in the appropriate place
5. User executes ce

[2019-04-30 14:41] dylanross3 opened #4385 "Data Explorer: Multiple configurations"
**Is your feature request related to a problem? Please describe.**
Some users want to be able to display multiple configurations of the Data Explorer for the same dataset. Currently, this requires outputting the DataFrame multiple times (in the same cell or multiple cells). Unfortunately, this approach duplicates the DataFrame schema/data, which bloats the notebook file. For larger datasets, this

[2019-05-03 14:55] drewbo opened #4386 "Can't find nteract from commandline"
**Application or Package Used**
nteract desktop (for mac v0.14.0), command-line tool

**Describe the bug**

When trying to run nteract from the command-line I see `zsh: command not found: nteract`

This is probably not a "bug" and more likely my `PATH` is wacky in some specific way but I couldn't find the installed location of the command line binary in the documentation or repo anywhere.

**Deskt

[2019-05-03 18:18] jdetle commented on #4346
Looked into this today, it looks like some media queries from before styled components haven't got brought in yet. I can find the relevant components and move them over there.

[2019-05-03 18:54] jarmokivekas commented on #4247
I'm so happy this is fixed now. :heart_eyes:

ctrl + f2, `killall nteract` was pretty much a habit for me...

Thanks

[2019-05-04 01:26] nickeubank opened #4388 "ENH: Show run code in dock as well as results?"
Would it be possible for the dock to show not just output of executed code, but also the code that was run to generate a given set of outputs?

Basically mimicking the behavior or spyder/JupyterLab/RStudio?

[2019-05-04 07:09] jarmokivekas opened #4389 "Nteract desktop statusbar exported to PDF"
**Application or Package Used**

Nteract desktop, version 0.14.0 installed in Ubuntu using .deb installer from Github releases

**Describe the bug**

The status bar at the bottom of the Nteract screen is included at the bottom of every page in the PDF export. Sometimes the status bar overlaps with notebook content, making the text unreadable.

This is a regression introduced sometime after version

[2019-05-04 07:52] jarmokivekas commented on #4389
I downgraded to previous versions. Seems v0.12.1 does not have this bug, but v0.13.0 does.

[2019-05-04 08:37] jarmokivekas commented on #4389
Selecting the status bar in the developer tools and running `$0.style.visibility= "hidden"` from the developer console before exporting works as a work-around (pdf looks fine).

On a related note, also tab-completetion dropdown lists are exported to pdf, although just pressing ESC before export gets rid of them.

![image](https://user-images.githubusercontent.com/3074453/57176328-8000df00-6e5f-11e

[2019-05-04 10:12] #2743 closed

[2019-05-04 10:12] #2730 closed

[2019-05-04 12:51] #1472 closed

[2019-05-04 12:51] #2677 closed

[2019-05-04 16:49] mrfunnyshoes commented on #3918
I'm having the same issue on Python 2.7.15. This syntax is incompatible with 2.7:

[code]

But works fine on [Python 3.5+](https://docs.python.org/3/whatsnew/3.5.html#pep-448-additional-unpacking-generalizations)

[code]

[2019-05-05 00:52] xinpingwang commented on #4386
By default, the `nteract` command is installed at `$HOME/.local/bin` directory, and you should add this directory to your `PATH`.

[2019-05-05 16:23] danielgomz commented on #3918
This is the error I would like to correct. I would like to run the shell command. I click on the “Install Shell Commnands” and I get this:

ENOENT: no such file or directory, symlink '/Applications/nteract.app/Contents/Resources/bin/nteract.sh' -> '/Users/danieljosephgomez/.local/bin/nteract’

Daniel Gomez
(925)418-2269
sfdanielgomez@gmail.com

[2019-05-05 16:47] captainsafia commented on #3918
Thanks for opening this issue, @danielgomz! For the original issue, does the problem persist when you run the nteract Jupyter extension in a Jupyter installed in a Python 3 environment?

Also, can you open a different issue for the problem regarding installing the shell command. It'll help make it easier to triage and search for that issue.

[2019-05-05 16:48] captainsafia commented on #4386
Thanks for taking the time to answer @drewbo's question @xinpingwang! Would you be interested in submitting a PR to update our desktop app user guide with this information?

[2019-05-05 16:48] daniel-j-gomez opened #4391 "Install Shell Commands"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-05 16:56] #3918 closed

[2019-05-05 17:04] captainsafia commented on #4391
Hello @danielgomz, can you add some more information to this post?

- What version of nteract are you using?
- What version of Mac OS?
- Any special OS configurations you might have?
- What have you already tried to resolve this issue?

[2019-05-05 17:09] captainsafia commented on #2950
This will still need to be addressed. I'm gonna mark this as new contributor friendly/help wanted since it seems reasonable enough for a new contributor to approach.

[2019-05-05 17:20] captainsafia commented on #1472
Not sure if we need to re-open this. Maybe just keep it in mind as we rework kernel interactions in the new fs-kernels package.

[2019-05-05 17:23] danielgomz commented on #4391
0.12.3
macOS Mojave
Version 10.14.4

I haven't found a way into the directory. I couldn't inject the directory.

Essentially, what I understand is the I could not write shell script. I can open the nteract.sh
Which could be the installation file.....

However, I'm still getting the ENOENT: no such file or directory.

The result that I'm expecting would be the command 'nteract' from the terminal.
N

[2019-05-05 17:30] captainsafia commented on #2660
I'll re-open this. Although ideally, we'd want to build this out once a standard for execution times stored within cell metadata has been established.

[2019-05-05 17:34] captainsafia commented on #2852
Re-opening and tagging as help wanted/new contributor friendly.

[2019-05-05 17:36] captainsafia commented on #2685
Re-opening this.

Agree that this should be deferred until security on cells has been implemented.

Is there a reason that papermill displays the information this way, @MSeal!

By the way, thank you for your work in tagging this, @qzcool!

[2019-05-05 17:48] captainsafia commented on #2833
Re-opening.

Thanks for this thorough report @epsxy! There have been a couple of releases of nteract since. Are you able to reproduce the issue in the latest release?

[2019-05-05 18:07] captainsafia commented on #2864
This still needs to be done so I'll re-open. I tag it as a chore/ops work.

[2019-05-05 18:19] captainsafia commented on #2714
I'm gonna go ahead and transfer this to the new nteract/play repo.

[2019-05-05 18:23] captainsafia commented on #2720
Re-opening.

This is relevant not only in Jext, but other contexts where our front-end components are used to connect to back-end compute.

[2019-05-05 18:52] epsxy commented on #2833
Thanks for your answer @captainsafia! It's been a while I haven't used `nteract` for Haskell, and I had to restart the whole installation process for Haskell, IHaskell. Finally, *I can confirm I have been able to reproduce the issue*.

- Opening a Haskell notebook displays `no kernel | not connected`
- If I open a second time the same notebook, the kernel connects in the first one: `haskell | idle

[2019-05-06 03:45] MSeal commented on #2685
The html mixing is used to color the message so it is clear that an error occurred when loading the page. Without it the stack trace might be much lower down and off screen and it's harder to tell at a glance there is an issue without the large red text. We could likely give it a format pass for easier integration in tools, but it has worked well so far.

[2019-05-06 13:53] drewbo commented on #4386
Thanks for the response @xinpingwang ; I actually don't see that directory (in `$HOME/.local` I only see `lib` and `/share` directories)

[2019-05-06 21:35] mpacer opened #4394 "Keyboard shortcuts for saving files in web extension"
When I use ⌘+S no matter where focus is, the browser tries to save the file, not nteract.

When I use a key that has a OS level mapping from capslock to Ctrl, it does not trigger a save. The regular Ctrl+S does seem to work.

@stormpython

[2019-05-06 22:32] dylanross3 opened #4395 "Data Explorer: styled-components should be in peerDependencies"
**Application or Package Used**
Data Explorer

**Describe the bug**
The [styled-components](https://www.npmjs.com/package/styled-components) package is listed in `dependencies` of the Data Explorer [package.json](https://github.com/nteract/nteract/blob/master/packages/data-explorer/package.json). This goes against guidance for library authors in the styled components documentation [here](https://w

[2019-05-06 22:59] captainsafia commented on #4395
Hello @dylanross3! Thanks for opening this issue.

Would you be interested in submitting a PR to update the `package.json` file in the Data Explorer to use styled-components as a peer dependency?

[2019-05-07 05:50] jarmokivekas commented on #4134
The prompt buffer in markdown cells would also have practical use. Currently the part of the text editor where the prompt buffer should be is a drag handle for the cell, and you can't position the text editor cursor to the left edge of the editor by clicking.

![image](https://user-images.githubusercontent.com/3074453/57274578-5f759680-70a4-11e9-9c14-e113048ad9f2.png)

[2019-05-07 10:26] mattbit opened #4397 "Altair plots do not render"
**Application or Package Used**
nteract desktop v0.14.2 (Linux AppImage)
altair version 3.0.1
(Note: I get the same with Atom+Hydrogen)

**Describe the bug**
Altair (Vega) plots do not render properly. Instead, I get the following message:
[code]

**To Reproduce**
[code]

**Expected behavior**

Altair [should be working out of the box](https://twitter.com/nteractio/status/984257546985783297).

[2019-05-07 19:04] #4395 closed

[2019-05-08 15:41] BenRussert commented on #2660
@aviatesk is working on an execution time feature as part of some enhancements for the hydrogen kernel monitor. Anyone with a chance to look that over we could always use feedback.

(The difference for hydrogen is we're not talking about in terms of metadata since the value don't persist anywhere, just rendered for the user.

https://github.com/nteract/hydrogen/pull/1601

[2019-05-08 16:13] captainsafia opened #4399 "Standardize error actions across nteract"
We emit a variety of actions when network requests or notebook events fail, generally these actions have a type `ACTION_NAME_FAILED` and contain some kind of error payload.

However, the payload differs across the different actions. Sometimes it is stored within an `error` key, other times the error is the payload itself.

We should standardized on a common convention for all error actions used in

[2019-05-08 19:07] BenRussert commented on #4388
I wonder if you meant to post this on the Hydrogen repo?

[2019-05-08 19:57] nickeubank commented on #4388
Um... yes. Yes I did. :)

[2019-05-08 19:57] #4388 closed

[2019-05-08 20:35] BenRussert commented on #4388
If I had a nickel for every time I did that I'd have at least $0.55

[2019-05-08 23:40] captainsafia opened #4400 "Add support for saveAs in saveEpic"
Currently, the saveEpic handles updating the contents of a file that has already been created. However, if the user attempts to to save a file that has not been created yet, it will throw an error.

We should capture this error cleanly and proceed with the save as a save as instead of preventing the save.

TL;DR: Semantics of the save epic should account for new files.

[2019-05-09 04:23] #2968 closed

[2019-05-09 23:07] #2965 closed

[2019-05-10 15:07] #2977 closed

[2019-05-10 16:31] dylanross3 opened #4401 "Data Explorer: Unexpected high contrast table styles"
**Application or Package Used**
Data Explorer

**Describe the bug**
The styles of the Data Explorer changed in #4339. The light theme now has very high contrast for striped rows, which looks unpleasant in my opinion. I understand there are contrast guidelines for usability, but this seems to be more contrast than necessary. The left-most column also has a border that I'm not sure is needed.

![ima

[2019-05-10 16:45] BenRussert commented on #4401
For anyone fixing this, the relevant colors to change are probably all [here](https://github.com/nteract/nteract/blob/master/packages/data-explorer/src/css/index.tsx#L14-L33) .

[2019-05-10 16:51] todo[bot] opened #4402 "What does it mean if we have a failed GET"
https://github.com/nteract/nteract/blob/f9aadb3431851407de1ec5f5d160a3a982f87cca/packages/epics/src/contents.ts#L399-L403

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f9aadb3431851407de1ec5f5d160a3a982f87cca when #4122 was merged. cc @stormpython.

[2019-05-10 16:51] todo[bot] opened #4403 "Add last saved timestamp for published bookstore content"
https://github.com/nteract/nteract/blob/f9aadb3431851407de1ec5f5d160a3a982f87cca/packages/reducers/src/core/entities/hosts.ts#L33-L38

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f9aadb3431851407de1ec5f5d160a3a982f87cca when #4122 was merged. cc @stormpython.

[2019-05-10 23:23] captainsafia commented on #4401
Thanks for pointing to the place for a fix, @BenRussert!

@dylanross3 Do you think you can resolve this one as well with Ben's guidance? Your contribution is appreciated!

[2019-05-10 23:39] captainsafia opened #4404 "Cell toolbar overlaps with notification item"
The cell toolbar appears over the notification element when the user is prompted with a notification item.

[2019-05-10 23:43] captainsafia commented on #4397
Hello @mattbit! Thanks for opening this issue. I was able to reproduce this issue in the nteract desktop as well.

It appears that there is a bug in our output rendering with respect to Vega outputs that will need to be resolved before the next release.

Thanks again for submitting this bug report.

[2019-05-10 23:56] captainsafia commented on #4389
This can be closed via https://github.com/nteract/nteract/pull/4390.

[2019-05-10 23:56] #4389 closed

[2019-05-11 00:17] #4379 closed

[2019-05-11 09:22] duytrung commented on #4281
Hi @BenRussert ,

I copied the folder of Anaconda to my USB. It can run, for example, jupyter application in there. But not sure how to figure out the path to run nteract.

My apologies for late reply.

[2019-05-11 16:12] BenRussert commented on #4281
Do you have an anaconda console? You should be able to launch nteract from a terminal that way and keep the same environment variables as that terminal. `nteract ./something.ipynb` for example

[2019-05-12 00:52] #2991 closed

[2019-05-13 03:43] jarmokivekas commented on #4134
Closing as fixed by #4396

[2019-05-13 03:43] #4134 closed

[2019-05-13 10:49] parthi2929 opened #4406 "Keyboard shortcut editor request"
**Is your feature request related to a problem? Please describe.**
Not a problem but feature request

**Describe the solution you'd like**
I want to have keyboard shortcuts same as jupyter. If it cannot be default, I request an editor so I could manually map as much as I want. I am very used to A, B, DD, Ctrl+M, etc. It takes a lot of mind muscle power to be able to switch between notebook and nte

[2019-05-13 15:01] #4346 closed

[2019-05-13 15:02] jdetle commented on #4346
Closed by #4390

[2019-05-13 20:04] willingc commented on #4134
Awesome! Thanks again @jarmokivekas

[2019-05-14 00:28] #4374 closed

[2019-05-16 07:55] giux78 opened #4408 "Cell default height too big in nteract web"
**Application or Package Used**
nteract web, nteract on jupyter https://github.com/nteract/nteract/blob/master/applications/jupyter-extension/nteract_on_jupyter/app/index.tsx

**Describe the bug**
The cell default height is too big with too many lines. When for example I want to create a chart of a dataframe normally i use cell of one or few lines.

**To Reproduce**
All cells on web apps are affec

[2019-05-16 17:53] davidanthoff opened #4410 "Windows auto update doesn't seem to work"
I'm on Windows and nteract version 0.12.2. In the past, nteract desktop auto updated whenever a new release came out, but that seems to no longer happen? I think there have been numerous releases in the meantime?

[2019-05-16 18:23] davidanthoff opened #4411 "Julia vega-lite plot doesn't show"
The notebook [here](https://gist.github.com/davidanthoff/b9ff6e31ac64788c1204e90cdda64ac1) shows correctly with a plot in jupyter notebook, jupyter lab and on github. But in nteract, I don't see a plot.

If you look into the notebook, it has the plot as a vega-lite JSON spec, a PNG or SVG MIME bundle, so I would assume that one of them should work :)

[2019-05-17 00:13] emeeks commented on #4376
@dylanross3 when you get a chance pull the latest version and let me know if this resolves the problem. I tested it locally and seems to be fine but I just want to make sure.

[2019-05-18 20:49] #3017 closed

[2019-05-18 21:13] mattbit commented on #4411
May be related to the problem with the output rendering in #4397.

[2019-05-18 22:29] bionicles opened #4413 "how do you add notebook-app-component to a react app?"
**Application or Package Used**
@nteract/notebook-app-component

**Describe the bug**
Thanks @captainsafia for notebook-app-component as it looks useful in a range of situations. We want to embed this in our knowledge graph editor and are curious about how we might improve the docs for this package with usage / installation guide for react apps bootstrapped with create-react-app?

Console output:

[2019-05-18 22:42] davidanthoff commented on #4411
Yes, that might well be the same issue!

[2019-05-20 14:37] PaulSoderlind opened #4415 "autocomplete with Julia"
in nteract 0.14.2 (on Windows 10), using the Julia 1.1.1 kernel there seems to be no auto-complete.

To reproduce:
type `ab` and nothing happens (with/without Ctrl-Space).

In contrast, with the python3 kernel, it works.

[2019-05-20 23:37] BenRussert commented on #4282
Just bumping this issue because I noticed it is still ongoing. We have some updates to our prod version to ship once this is fixed. I'll take another look now to see if I can find the missing import.

[2019-05-21 14:26] dylanross3 commented on #4401
Sorry, I don't think I can get to this one anytime soon.

[2019-05-21 15:47] BenRussert commented on #4415
I tried debugging this for a bit and didn't find a fix yet. The Julia inspection and completion messaging works in hydrogen with the same kernel so I think the issue is somewhere in the monorepo.

If I subscribe to the kernel observable in the console and log all the kernel messages in nteract I don't see any complete or inspect replies coming through. I do see a time out error message for complet

[2019-05-22 04:48] hydrosquall commented on #4413
I took a pass at modifying the codesandbox @bionicles code started to work with a canonical Redux store, based on the desktop app as a guide (code provided below).

https://github.com/nteract/nteract/blob/8bc063beaa8956a2e33a20d5eb2fdc908dd830ca/applications/desktop/src/notebook/index.tsx#L164

An important detail: you must use `react-redux` in the version `6` family, since that is the version cur

[2019-05-22 12:24] liuxize opened #4420 "The cursor cannot move to the forefront in markdown editor"
When editing markdown, I cannot use the mouse to move the cursor to the front of each line of words. I must use the keyboard wipe to move the cursor to the front.

[2019-05-23 11:32] #4420 closed

[2019-05-23 12:19] robertdefilippi opened #4421 "Inline Documentation Does Not Render Correclty"
**Application or Package Used**
nteract desktop

**Describe the bug**
When I try to look at the documentation using the keyboard shortcut (CTRL + .) the documentation renders, but it is not opaque. Meaning the notebook code blends in with the documentation code. Additionally, the "X" to close the documentation is not clickable, so it cannot be closed.

**To Reproduce**
Launch documentation with ke

[2019-05-23 20:11] #2424 closed

[2019-05-24 13:48] Foadsf opened #4422 "LaTeX mathe is not rendered properly"
**Application or Package Used**
State which application or package this affects: nteract desktop

**Describe the bug**
As I reported in [this tweet](https://twitter.com/fsfarimani/status/1131827926209581057) and this [Slack post](https://nteract.slack.com/archives/C08FBMK1T/p1558685536004300), In the text cells (MarkDown cells in Jupyter lingo) some of the LatEx equations are not rendered properly

[2019-05-24 13:58] lgeiger commented on #4422
I just tried the example you provide with nteract 0.14.3:
![Bildschirmfoto 2019-05-24 um 14 56 27](https://user-images.githubusercontent.com/13285808/58332938-3c810b80-7e34-11e9-85f3-12200eb3e690.png)

It looks like you are missing a linebreak after the `$$`.

[2019-05-24 14:17] Foadsf commented on #4422
That's strange. So the `$$` should be on its own line. 🤔 now it works properly. Thanks.

[2019-05-24 15:54] lgeiger commented on #4422
Glad it's working now

[2019-05-24 15:54] #4422 closed

[2019-05-26 11:15] PaulSoderlind commented on #4410
My Win10 based nteract desktop 0.14.2 auto updated to 0.14.3 yesterday. Maybe just a coincidence, but the update was triggered when I ran nteract from the command line.

[2019-05-27 07:44] Foadsf commented on #4422
@lgeiger I still would consider this as an issue. The fact that the first pair of `$$`s needs to be stand-alone is not LaTeX compatible.

[2019-05-28 08:47] hkmoon opened #4423 "Bokeh output_notebook()"
**Application or Package Used**
nteract desktop

**Describe the bug**
When I tried to use bokeh in nteract desktop, it shows "Loading BokehJS ..." and keep busy.

**To Reproduce**
Just run the below code:

[code]

**Expected behavior**
It shows the result in Jupyter notebook without any problem.

**Screenshots**
<img width="774" alt="Untitled_-_busy" src="https://user-images.githubusercontent.com/

[2019-05-28 14:14] #4282 closed

[2019-05-28 23:01] BenRussert commented on #4421
I had work started on these issues a few weeks ago. I'll see if I can revive that and get this fixed soon.

[2019-05-29 18:09] Mikeymice commented on #4108
any update on this issue? I am still having trouble with autosave on the latest release

[2019-05-30 13:19] norci opened #4425 "clear the output of current cell"
I wish nteract will have a feature, clear the output of current cell, and has a keyboard shortcut for it.

I need to clear a few cell's output, in order to make my report looks more compact.

[2019-05-31 06:06] Alalalalaki opened #4426 "Unable to select the leftmost side in the markdown cell"
I find it is unable to select every line's first word in the markdown cell. It clashes with selecting the whole cell. Mac OSX.

[2019-06-02 18:37] #3054 closed

[2019-06-03 16:07] yogevyuval opened #4428 "Local images are not displayed in markdown cells"
Local images are not displayed in markdown cells. Probably related to the path not being relative to the current notebook.

![image](https://user-images.githubusercontent.com/962869/58816693-ad91a180-8632-11e9-8b28-608061711c7d.png)

Seems like it was already fixed by @captainsafia in https://github.com/nteract/nteract/pull/4326 but it does affect the web app.

This is crucial for long detailed no

[2019-06-03 16:12] yogevyuval commented on #4421
Affects the webapp as well.

[2019-06-03 21:46] captainsafia opened #4429 "Export enum for kernel states"
We should use an enum to manage our kernel states and export it from our SDK.

[2019-06-05 02:55] davidanthoff commented on #4397
Any update on this? This is also affecting the julia side of things.

[2019-06-06 03:23] #3036 closed

[2019-06-06 09:48] ShalokShalom opened #4432 "F# Support"
Hi :hugs:

So far as I can see, is F# currently unsupported? How exactly do you port/use kernels?

This project is very interested, especially in combination with the Atom integration.

[2019-06-06 13:38] wadethestealth commented on #4432
Search f# kernel. This is already one out there. Once you install it properly set it up with the hydrogen package if you want atom integration

[2019-06-06 15:33] ShalokShalom commented on #4432
Yes, this is exactly what I am asking: How? Is this any different from setting it up for an own instance of Jupyter? https://github.com/fsprojects/IfSharp#linux-local-installation-and-use

Thanks

[2019-06-06 15:46] wadethestealth commented on #4432
Hydrogen should automatically detect kernels that are available, but kernels also require a grammar for hydrogen, so if the kernel and grammar don't match then you map them to each of in the package settings of hydrogen

[2019-06-06 16:18] rgbkrk commented on #3036
Oh ha, I added the pinned label a little late. This got marked as stale a while ago.

[2019-06-06 16:55] rgbkrk commented on #4304
You're correct @dylanross3, the metadata needs to be stored under the `application/vnd.dataresource+json` key. The current implementation is incorrect, as it needs to be scoped to the right media type.

[2019-06-06 17:51] dylanross3 commented on #4304
Thanks for the response.

1. Do we still want the `dx` key in case there is other metadata relevant to the `"application/vnd.dataresource+json"` MIME type?

[code]

2. Should we make this change in a backwards compatible way, so the Data Explorer will initialize with metadata in the old location if not present in the new location? It could also remove the old metadata when calling `onMetadataChang

[2019-06-06 18:28] rgbkrk commented on #4304
I think scoping it to a `dx` key is smart so that we don't have to worry about stepping on the toes of anyone else using this media type.

I feel like adoption is likely nascent enough with changes occurring frequently that we should just switch to the new one (and possibly convert from the old on notebook load). Within the `dx` python package I was scoping the metadata originally: https://github.

[2019-06-06 22:08] ShalokShalom commented on #4432
So I should just add support for my language and should be fine? And why is there a specific step for Scala, C++, Javascript and so on mentioned on the homepage?

I see a lack of clearity in the documention.

[2019-06-06 22:22] rgbkrk commented on #4432
We wanted to create a place where people could add kernel installation instructions to one page so that people could get started quick. You can add F# to the site too by updating  https://github.com/nteract/nteract.io 😄

[2019-06-06 22:29] ShalokShalom commented on #4432
Well, I have no idea how. Still

[2019-06-06 22:34] ShalokShalom commented on #4432
Just look at your page and put yourself into the position of someone who sees it the very first time. It seems like you have to specifically add support for the languages, no where is mentioned that actually all Jupyter languages should work.

You also see zero mentions that Hydrogen is supposed to automatically detect them.

And finally, I am still not certain how to install such a supported kern

[2019-06-06 22:59] rgbkrk commented on #4432
We detect any jupyter kernels installed on disk following the current jupyter spec. I don't know much about the F# kernel, though it does look like it has some special install instructions and possibly some special jupyter instructions. Sorry I can't be of more help there, this seems like uncharted territory at the moment!

[2019-06-06 23:11] rgbkrk commented on #4432
As for other languages, I agree we should have some verbage about how it will work for all jupyter kernels!

[2019-06-06 23:23] wadethestealth commented on #4432
All kernels should follow the same communication scheme as defined by jupyter. We lack documentation because we don't have the knowledge to provide information for every language or kernel. It is also unclear to us which issues can arise because it's all based on the setups of the kernels and what they need. For example some kernels must be started from an active environment others don't. We can't

[2019-06-06 23:24] wadethestealth commented on #4432
If you believe something should be documented that isn't, we welcome PRs with good suggestions

[2019-06-06 23:40] ShalokShalom commented on #4432
So I have to essentially install Jupyter in order to use nteract and once I have installed a kernel there, I am ready to use it in Atom via Hydrogen. Very easy

[2019-06-06 23:41] ShalokShalom commented on #4432
I will do this for FSharp/OCaml and also commit documentation.

[2019-06-07 20:08] #4401 closed

[2019-06-08 00:10] davidanthoff opened #4435 "Distribute via the Windows Store"
Is there a chance that the app could be distributed via the Windows App Store? That would make deployment even easier. I believe [this](https://electronjs.org/docs/tutorial/windows-store-guide) explains how that can be done for electron apps.

[2019-06-08 00:40] #4410 closed

[2019-06-08 20:51] #2688 closed

[2019-06-08 23:49] willingc commented on #4435
An excellent idea @davidanthoff. @captainsafia do you want to take lead on this?

[2019-06-09 20:29] BenRussert opened #4436 "Managing update dependency Renovate bot PRs"
We have a distracting number of open PRs for package updates right now. I have commented on those I have an opinion on, but not tried the others because it seems like low reward most of the time.

Does anyone have ideas for cleaning this up, or is the current process working? Should we try to tag team these?

[2019-06-10 13:27] #3079 closed

[2019-06-10 17:52] captainsafia opened #4438 "Use lodash method modules to reduce bundle size"
In the epics package, we use a named import from the lodash package to extract the `sample` method. We should use a module package to reduce the size of our bundles.

[2019-06-10 19:20] davidanthoff commented on #4397
Sorry to bump again, but it would be really helpful for us to get a vague sense of when a version of nteract might ship that has this fixed. I'm exploring nteract as an option for some workshops that I'm giving, but this is blocking for that. So, just a short update on whether a fix might make it into the next release would already be fantastic :) Thanks!

[2019-06-10 19:25] davidanthoff opened #4439 "Support latest vega and vega-lite MIME types"
Looking at [this](https://github.com/nteract/nteract/blob/29879454aa96d972549c51e87e185716010beed6/packages/transform-vega/src/index.tsx#L6), I think currently nteract supports the MIME types for v2 and v3 for vega, and v1 and v2 for vega-lite. It would be great if for vega v4 and v5 and for vega-lite v3 would also be supported.

I guess this would also require shipping the latest versions of thos

[2019-06-10 21:50] captainsafia opened #4440 "Expose epic for restarting a kernel via Jupyter server API"
Currently, our `restartKernel` epic restarts the kernel by killing the kernel then launching the kernel. Amongst other reasons, this has precedence in the fact that we built a desktop-focused API for kernel lifecycle management that assumed that the kernel was a process adjacent to the front-end.

We should expose a `restartKernel` epic that operates under the assumption that the user is is connec

[2019-06-12 18:37] emeeks opened #4443 "Failure States for Chart Views"
Right now the views are suppressed if dimensions and metrics are not available to enable those views (for instance, Network Viz is not available unless you have two dims) instead it should show a message to the user saying "You can't display a chart like this unless your data has x,y & z"

Likewise, there should be upper limits on dataset size to not enable a view unless someone explicitly asks fo

[2019-06-12 18:41] emeeks opened #4444 "Enable Basic Sampling"
With large datasets, prompt user to enable some set of standard sampling options with messaging about how they should do sampling better. So that for instance if you try to render a million points on the scatterplot it doesn't just say "Sorry, no" it says "Here we can show 50,000 of these points using one of the following three built-in sampling options (or you could sample the data yourself in a

[2019-06-12 18:51] drbh opened #4445 "No code coloring - nteract - OSX"
There is no code coloring in nteract. Is there a custom theme I need to install? I followed the install instructions and the code execution is working fine. Did I miss some styling?

Versions:
[code]

related ticket on gophernotes: https://github.com/gopherdata/gophernotes/issues/158

[2019-06-12 18:57] drbh commented on #4445
This is also true for the Rust kernel....

<img width="597" alt="Screen Shot 2019-06-12 at 2 56 53 PM" src="https://user-images.githubusercontent.com/9896130/59378469-5d959780-8d22-11e9-86a7-fcd3ab107606.png">

[2019-06-13 05:27] captainsafia opened #4448 "Implement UI support for collapsed property in notebook"
We currently parse and style collapsed cells outputs via commutable and our component but don't give users an interface for toggling the collapsed state from the notebook.

The ideal implementation would allow users to toggle this via the cell menu so that it has a little bit more visibility to the user than the classic Jupyter UI and co-exists alongisde our other visibility toggles.

Verification

[2019-06-13 15:25] #4429 closed

[2019-06-13 18:37] earlev4 opened #4449 "Accessing Documentation From Cell (Using ?)"
Hello,

Good day! First off, I just want to thank you for all your efforts on putting out a great application. I sincerely appreciate it! Please forgive me if this is a known issue or a requested feature. I searched opened and closed issues and did not find a similar issue. I also scanned the nteract documentation (docs.nteract.io) but did not find anything addressing this issue. I am not sure if

[2019-06-14 18:21] stormpython opened #4450 "Bookstore API Change"
**Is your feature request related to a problem? Please describe.**
The bookstore API is changing, see [here](https://github.com/nteract/bookstore/issues/132). In order to keep integration, we need to change what we look for on the call back from bookstore.

**Describe the solution you'd like**
Bookstore will no longer send back `bookstore: True` since it is equivalent to getting a `200` back. With

[2019-06-15 00:52] #1737 closed

[2019-06-15 17:17] jarmokivekas commented on #1394
Stale-bot is right to close this. The electron deb packaging does not produce completely lint-free packages regardless of how carefully they are configured. Closing this as not-quite-done-but-fixing-it-is-far-more-work-than-value-and-would-require-major-overhaul-of-packaging-architecture.

[2019-06-15 17:17] #1394 closed

[2019-06-15 21:32] robertdefilippi commented on #4421
Great. I thought it might have just been my set up. Thanks for taking a look into it @BenRussert

[2019-06-16 12:56] MaggieAppleton opened #4455 "Components Syntax error on Out-of-the-Box desktop app installation"
I'm a beginner dev and would love to use nteract to take notes but running into some problems. I'm probably just incredibly thick / doing something wrong...

But I just downloaded the nteract desktop app and opened it up.
Started trying to use components from https://components.nteract.io/ and get a syntax error immediately.

![image](https://user-images.githubusercontent.com/5599295/59564373-e885

[2019-06-17 01:05] #3102 closed

[2019-06-17 10:42] scls19fr opened #4458 "Insert Code Cell Above / Below icons"
Hello,

Using an other notebook system, I noticed that nteract UI could be improved to provide icons to insert code cell above (or below) current cell.

![ui_example](https://user-images.githubusercontent.com/109167/59598584-d028bd80-90fc-11e9-83c8-92b81406c1c9.png)

`+` on top of current cell insert code cell above
`+` at bottom of current cell insert code cell below
`...` displays a contextual m

[2019-06-17 13:40] yogevyuval commented on #4458
From my experience with Jupyter Notebook the most convenient way to add or remove cells quickly is with a keyboard shortcut. Jupyter allows adding cells before / after by pressing 'a' / 'b'.

[2019-06-17 16:21] scls19fr commented on #4458
From my experience of teaching programing to 18-19yo students, neither menus nor keyboard shortcuts can replace a well designed user interface. But I can perfectly understand that more experienced users have their productivity increased using shortcuts.

[2019-06-17 16:51] #4440 closed

[2019-06-17 18:52] captainsafia opened #4459 "Investigate solution for cleaner implementation for WebSocket subject error handling"
Currently, Websocket failures that occur when the Jupyter server or kernel crashes bubble up via an uncaught exception on the root epic, making it difficult to catch and address in a composable way.

[2019-06-17 21:32] #4404 closed

[2019-06-19 00:17] wadethestealth opened #4461 "Nteract Mathjax package has trouble with rendering in Atom"
### Background Info
We have recently just upgraded all of hydrogen's old components to the new outputs package, which is a great improvement. However, it seems like the @nteract/mathjax does not like this new style of rendering components. When trying to use LaTeX through either python or our new markdown result bubbles, we are constantly getting a Content Security Policy Error.

I have done some

[2019-06-19 01:31] 123385918 opened #4462 "keyborad for helping"
in jupyter notebook i press shift+tab for brief help and press shift+tab+tab for detailed help.
it's very useful for new functions.
can nteract add this keyborad help ?

[2019-06-19 14:54] SpencerPark commented on #4445
Also curious about the proper route to package a codemirror mode or similar with a kernel, but oddly enough the in markdown _source_ the code fences are properly highlighted, but when rendered that highlighting is lost.

`go` does in fact appear to be in the codemirror standard languages but is missing when highlighting in markdown source. I also tried with `java` which was working in markdown sou

[2019-06-19 15:26] nicolaskruchten opened #4463 "Plotly dependency"
Hello,

I work for Plotly and so we often get issues reported to us that are related to users of nteract or users of downstream systems, such as VSCode, that use nteract code under the hood. Much of the time, these issues are due to the version of Plotly.js that is being used. Digging a little bit, it looks like in this repo we depend on `@nteract/plotly`: https://github.com/nteract/nteract/blob/m

[2019-06-19 15:38] wadethestealth commented on #4463
Hi @nicolaskruchten, I am a contributor on nteract/hydrogen, and as far as I know their are no working differences to using your plotly or ours. In fact to debug, nteract/hydrogen#1653 I have used your active github version to try and solve that issue, and everything functioned as normal. The best people to answer your question are @rgbkrk and @captainsafia

[2019-06-19 16:11] nicolaskruchten commented on #4463
Thanks @wadethestealth ! I'm having trouble interpreting your answer... are you saying that there are no differences so there should be no problems with the status quo, or that there should be no downside to tracking our official version instead of a trailing version? :)

The class of issues that is arising now is that our newest Plotly.py-derived libraries (e.g. Plotly Express) generate Plotly.js

[2019-06-19 16:18] wadethestealth commented on #4463
I was just saying that functionally everything worked and looked the same, so I assume their are no downsides unless it's speed, bugs, or file sizes. I don't know the original intent behind the separate package, but it started over 2 years ago I think, so it could have been any reason. We also love to support the newest and greatest python libraries/component, so I am sure they, mentioned above, w

[2019-06-19 16:48] nicolaskruchten commented on #4463
Ok awesome! Thanks for the clarification :) I can see bundle size being an issue but we also now publish official compact bundles also eg https://www.npmjs.com/package/plotly.js-dist

[2019-06-19 22:11] captainsafia commented on #4463
Hello @nicolaskruchten!

Yes, the original intent of the minimal-plotly package was because it allowed us to provided a minifed bundle of plotly.js that we could ship to front-ends without affecting the overall bundle size.

Since you now publish official compact bundles, would you be interested in updating the plotly-transform to rely on plotly's official compact bundle and submitting a PR?

Than

[2019-06-19 23:25] nicolaskruchten commented on #4463
Sure, I’ll prep a PR, should be pretty easy! In the meantime if you could push the latest minimal-Plotly to NPM soonish it would help unblock some people :)

[2019-06-20 00:04] captainsafia commented on #4463
I can publish a release when I get home in about 2 hours.

Sorry for the hold up, again! I've slipped on the weekly Monday release cycle over the past few weeks.

I'll ping back here once that is done.

[2019-06-20 01:22] nicolaskruchten commented on #4463
OK, naively-simple PR submitted :)

[2019-06-20 02:40] captainsafia commented on #4463
@nicolaskruchten The version bump has been published to npm for minimal-plotly. I'll take a look at your PR now.

[2019-06-20 12:58] nicolaskruchten commented on #4463
Thank you very much!

[2019-06-24 18:58] dylanross3 commented on #4376
Reopening. I thought this was fixed but that's only for initial render. When I change which field is selected for size, the diameter of the data points does not update in Firefox. As a workaround, switching to another chart type and back produces the expected visualization.

[2019-06-24 19:59] rgbkrk commented on #4461
Oh no, that is troubling. It seems the provider logic is off at the moment. Maybe the right approach is to override the Markdown package for now within Hydrogen (set it up to handle the same media type). cc @BenRussert

[2019-06-25 14:47] ocefpaf opened #4469 "Confusing metadata regarding the version of nteract-on-jupyter"
I'm trying to package https://pypi.org/project/nteract-on-jupyter/2.0.12/ but while the PyPI version is 2.0.12 the source distribution provides 0.0.1-dev and the source here is 0.0.o-dev, see https://github.com/nteract/nteract/blob/54c50e856930e9489e9b920365dacc3f10320af4/applications/jupyter-extension/setup.py#L8

Not sure if the package on PyPI was originated from the code above BTW, this repo i

[2019-06-25 14:51] wadethestealth commented on #4469
Go into applications and the nteract-jupyter. This is a monorepo, so things are sectioned off in folders

[2019-06-25 15:04] ocefpaf commented on #4469
This one?

https://github.com/nteract/nteract/blob/ea1048408d78acbdc0a03f00e9a42911dc7dc52f/applications/jupyter-extension/setup.py#L8

Looks like it is the one on PyPI but the versino confusion remains.

[2019-06-25 15:11] ocefpaf opened #4470 "What is the license for the nteract_on_jupyter package on PyPI?"
I could not find the license information or license file for package https://pypi.org/project/nteract-on-jupyter/ in the published tarball or in the folder here. Is it the same as nteract? BSD-3-Clause?

[2019-06-25 15:56] rganardi commented on #4316
@captainsafia what do you mean by the map overflows? Is it just that it appears over the status bar, or is it supposed to be a scrollable element?

On a related note, it seems that I can't get the GeoJSON displayed (usually there would be marker for every point). Is this a known issue?

[2019-06-25 19:57] willingc commented on #4470
@ocefpaf Thanks for the work over on conda-forge. The LICENSE file for nteract on jupyter is the same as the nteract project.

[2019-06-25 20:00] ocefpaf commented on #4470
Thanks! Using that license for the conda package.

[2019-06-25 20:00] #4470 closed

[2019-06-25 20:01] willingc commented on #4469
@captainsafia @rgbkrk To make things easier for the conda-forge distribution of nteract on jupyter, we should probably update the packaging for Python for this extension: updated version numbering in metadata, adding LICENSE and README (perhaps from the repo root) to Manifest.

[2019-06-26 14:37] #4421 closed

[2019-06-26 15:23] captainsafia commented on #4316
@rganardi That's what I meant by overflows. It appears over the status bar when it should really be behind it at all times and scroll with the page.

As for the maps not rendering, I believe there is an open issue around GeoJSON styling, although I'd have to confirm if it was recently closed or not.

Do you have a screenshot or notebook you can share? What version of nteract is this happening in?

[2019-06-27 18:24] #3159 closed

[2019-06-27 18:25] #3161 closed

[2019-06-27 18:25] #3160 closed

[2019-06-27 18:25] #3162 closed

[2019-06-27 19:24] #3165 closed

[2019-06-28 05:22] sammdu commented on #4245
Hey, @willingc

Any progress on this feature yet?
I would love to start using nteract in place of Jupyter web interface, but it's hard to do since I work with virtualenv's a lot.

Thanks!

[2019-06-28 19:44] #2041 closed

[2019-06-29 00:10] captainsafia commented on #4245
Hello @sammdu! There hasn't been any work on this feature yet. There's a related feature tracking the ability to resolve kernel dependencies when the user launches nteract.

@fabric-8 Bringing this up to your radar for design work. One of the user scenarios is to select the environment they would like to use for their kernel. Ideally, this would be some sort of picker. You can check out the screen

[2019-06-29 00:22] jenren opened #4475 "Unable to open notebooks from desktop on Windows"
Hi! I'm new to filing issues on GitHub, so please let me know if there's any additional information I can provide to be helpful. Thanks in advance to y'all for building an awesome product :)

**Application or Package Used**
nteract desktop (0.14.3)

**Describe the bug**
When trying to open a notebook by clicking on it from my local machine, I get an error that blocks me from loading my notebook in

[2019-06-29 00:27] captainsafia commented on #4445
For @drbh's issue, I believe that this is an issue with the `codeMirrorMode` selector that we use to extract the codemirror styling from either the notebook metadata being borked.

@SpencerPark Your issue might have something to do with the way Markdown rendering is configured in our Markdown preview component. Can you open another issue for that?

[2019-06-29 00:30] captainsafia commented on #4458
Thanks for opening this issue @scls19fr!

@fabric-8 Bringing this on to your radar for future design work.

[2019-06-29 00:34] captainsafia commented on #4455
Thanks for opening this issue, @MaggieAppleton! You're definitely not at fault for this.

I don't see the status bar for your nteract application but I assume you are running on the built-in NodeJS kernel. If so, then the kernel does not have access to packages downloaded from npm in your machine or the ability to import packages using ES6 syntax.

[2019-06-29 00:38] captainsafia commented on #4475
Thanks for opening this issue, @jenren! Let's see if we can help you resolve it.

Do you have Jupyter installed on your machine?

[2019-06-29 02:29] jenren commented on #4475
Hi @captainsafia! Yep, checking my base conda environment and verified that I've got Jupyter installed.

[2019-06-30 03:27] #4316 closed

[2019-06-30 19:33] SpencerPark commented on #4445
Hi @captainsafia, thanks I can open another issue if necessary but the intention was to add information to this issue. The goal was to show that there are cases where some syntax highlighting is working in nteract (markdown editor) that is not necessarily supported in the code cells for some reason to help debug why go isn't working at all.

Could you direct us to where that selector is generated/

[2019-07-01 17:35] #3113 closed

[2019-07-02 21:12] captainsafia opened #4479 "Enable linkify in StreamText output renderer"
Currently, the `StreamText` component sets the `linkify` flag to false. We should enable this by default or make it a prop that consumers of the component can pass in.

Note, that prior to enabling this, we should sanity check that our `linkify` component can sanitize data appropriately.

[2019-07-03 17:36] #1987 closed

[2019-07-03 21:56] wadethestealth commented on #4461
@rgbkrk I have absolutely zero idea what has changed in 2 weeks, however the above result is no longer what we get. Now the problem lies in queueing MathJax to be rerendered. I have no idea when or where to call the [mathjax queue](https://docs.mathjax.org/en/latest/advanced/typeset.html). What I know is that we are left with MathJax Script tags that need to be called, which the docs say you can d

[2019-07-03 23:36] #3193 closed

[2019-07-04 00:47] wadethestealth commented on #4461
It seems like on first run the script seems to think it is processed and the element says processing
I can easily rerender everything, and it looks normal. No just need to figure out where to patch this script in
[code]

[2019-07-04 01:36] #2504 closed

[2019-07-05 20:43] Casyfill opened #4481 "Altair 3 chart support?"
not sure where to post, but is there any recommendations/thoughts on how to make Altair charts ( work on commuter? I was pretty sure it supports vega...
Showing `<VegaLite 3 object> `for me

[altair docs](https://altair-viz.github.io/user_guide/troubleshooting.html)

[2019-07-06 06:14] #741 closed

[2019-07-06 21:26] #3215 closed

[2019-07-08 16:51] rgbkrk commented on #741
`stdin` support is now on master!

[2019-07-10 17:56] Casyfill commented on #4481
Thanks for the answer!
I suspect that given that Nteract does show earlier versions of vega, maybe it be as easy as bumping the specs of vega-transform - or adding the most recent version of vega as a dependency?

I think Altair returns vega specs and tries to use local vega/vega-lite renderer (built into the Juputerlab, for example)

[2019-07-12 01:25] mybarbie9917 commented on #4481
I have the same issue. I tried to run a simple Altair chart on nteract and it gave the this message:

"<VegaLite 3 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/troubleshooting.html"

I can run it successfully in Jupyter Notebook though. I recommend nteract

[2019-07-12 02:02] wadethestealth commented on #4481
@Casyfill @mybarbie9917 Altair is just sending back a vega result. It is up to the front-end to determine how to display the result. Nteract and consequentially hydrogen use `packages/transform-vega` to display vega results. However this package does not yet support Vega 3. It is currently in developing support though. See #4442 for progress.

[2019-07-12 21:05] captainsafia commented on #4481
I've reviewed and posted next steps for driving #4442 to completion.

[2019-07-13 21:18] captainsafia commented on #2504
I think we can keep this closed. Some of the reading I've done on electron-updater implies that it will automagically check for the GH_TOKEN set on the user's machine.

[2019-07-13 21:22] captainsafia commented on #3802
Closing again.

[2019-07-13 21:53] captainsafia commented on #4402
I resolved this issue a while back in the implementation of the `saveAs` epic.

[2019-07-13 21:53] #4402 closed

[2019-07-13 21:58] captainsafia commented on #4428
To support this, we will need to add the `base` tag to our scaffold for the nteract web app. We'll also need to investigate if this has any ramifications on our configuration for the web app. Marking this as new contributor friendly since there is an existing implementation in the desktop app and an implementation solution.

[2019-07-13 21:59] captainsafia commented on #3037
Still needs to be done.

[2019-07-13 22:08] captainsafia commented on #4445
Understood. I want them to be tracked in a separate issue since the fixes for each of these issues will likely come in different PRs and touch different packages within the monorepo. Separating them will make the bookkeeping easier.

The selector is located [here](https://github.com/nteract/nteract/blob/af570afbe21ac61aa7c1368cf45825b60e5dea81/packages/selectors/src/notebook.ts#L222) and is used w

[2019-07-13 22:28] captainsafia commented on #4436
@willingc created a set of workflow labels to manage these kinds of things before. I think our strategy for this should be.

1. Minor/patch version updates with no conflicts and no failures in build: merge immediately
2. Minor/patch version updates with no conflicts and failures in build: tags as chore and comment with conflict, resolve any issues that come as a result of introducing the update an

[2019-07-14 21:54] bnbarak commented on #4448
@captainsafia I will take this one. Can you please provide a little more details?

[2019-07-15 14:30] #4479 closed

[2019-07-15 16:59] BenRussert commented on #4436
Thanks for this @captainsafia. This plans sounds good to me. The minor/patch ones alone will de-clutter our PRs significantly.

[2019-07-15 20:56] rgbkrk commented on #4461
Thank you for continuing to come back to this. I've been a bit overstretched and haven't been able to catch up on this 😭

[2019-07-15 21:02] wadethestealth commented on #4461
@rgbkrk it seems like the only rendering error is after the very first process, all other elements will be queued as processing and never finish. A reprocess request fixing any unloaded latex, but that's not ideal. I still need to debug why the first request is always left processing. Also it seemed when we created our own markdown component for a different feature, we got the mathjax to use the c

[2019-07-16 04:28] captainsafia commented on #4448
Hello @bnbarak! Thanks for offering to help.

To implement this feature we would need to add:

1. A `collapsed` property to the notebook metadata in commutable, similar to the way `inputHidden` and `outputHidden` are managed now
2. A set of Redux actions that will toggle the collapsed property given a `CellId` and a `ContentRef`
3. A dropdown menu element that will invoke the actions from #2 appro

[2019-07-16 04:32] captainsafia commented on #4435
Yes! I can take a look at this. This might also help resolve the issues we've been having around needing to get signing certificates for executables on windows. I'll see what kind of work I can get done on this soon.

[2019-07-16 04:33] captainsafia commented on #4426
Hello @Alalalalaki! Thanks for opening this issue.

Can you provide a GIF or screen recording to showcase the bug you are encountering?

[2019-07-16 04:39] captainsafia commented on #4108
@Mikeymice Thanks for being patient for this reply.

The default auto-save time is 30 seconds. It looks like there has been a regression and auto-save is not currently working on the desktop app.

@jdetle Any clue what might be going on here?

[2019-07-16 04:41] captainsafia commented on #4413
Working through my GitHub notifications and came across this. Thanks so much for taking the time to share your knowledge, @hydrosquall!

[2019-07-16 04:42] captainsafia commented on #4415
@BenRussert Is this issue resolved now that #4453 is in?

[2019-07-16 04:43] captainsafia commented on #4411
Thanks for your patience folks! Hopefully #4442 will be merged soon and we can close this and related issues.

[2019-07-16 04:47] captainsafia commented on #4423
Thanks for opening this issue, @hkmoon! I am able to reproduce the problem that you are experiencing.

It appears that Bokeh is returning an mimebundle with an HTML type and the `Loading BokehJS` text listed above. My suspicion is that the `output_notebook` method is not returning the appropriate media bundle when the front-end is not Jupyter classic.

Can you open an issue for this on the Bokeh r

[2019-07-16 13:52] #4397 closed

[2019-07-16 14:09] CrystallineCat commented on #4439
Should be fixed by 97721aa.

[2019-07-16 14:09] #4439 closed

[2019-07-16 14:10] CrystallineCat commented on #4481
I just merged #4442 (97721aa), so this should be fixed.

[2019-07-16 14:10] #4481 closed

[2019-07-16 14:11] CrystallineCat commented on #4411
Should be fixed by 97721aa.

[2019-07-16 14:11] #4411 closed

[2019-07-16 15:20] CrystallineCat commented on #4423
This appears to be a bug in `@nteract/commutable`.

When creating a frozen version of a media bundle, we currently expect JSON media types to be objects and just pass them to `deepFreeze`. Bokeh sends a key of `"application/vnd.bokeh...+json"` and a value that is a simple string, which `deepFreeze` fails on.

Fix incoming.

[2019-07-16 15:57] #4426 closed

[2019-07-16 15:57] captainsafia commented on #4423
Thanks so much for the explanation and the bug fix, @CrystallineCat!

[2019-07-16 16:26] Casyfill commented on #4481
Just to be sure, will that automatically propagate to the commuter, or I
should wait for the bump in version there?

On Tue, Jul 16, 2019 at 10:10 AM Magdalena Kiesel <notifications@github.com>
wrote:

--
Philipp Kats,
data journalism, analysis and visualization

philipp-kats.squarespace.com <http://cargocollective.com/Cityfish/>

email: casyfill@gmail.com
cellphone: +7(916)438 68 04

[2019-07-16 18:02] BenRussert commented on #4415
@captainsafia unfortunately not. Both inspection and completion are not working. It seems to me that the inspection request messages sent to IJulia are ignored silently.

My guess was it's something about the format of the inspect_request message, but took a pretty close look and found no issues. Inspection works fine on hydrogen, but I'm not sure what we do differently. I was thinking of asking f

[2019-07-16 20:21] captainsafia commented on #4415
@BenRussert Got it! Thanks for clarifying. I'd be interested in helping out. I'll ping you on Slack to discuss more.

[2019-07-17 01:44] hydrosquall commented on #4475
Thanks for the detailed report, @jenren ! Two small debugging questions:

1. Prior to installing nteract, did you add the ipython kernel for python3 using the same steps as the [docs page](https://nteract.io/kernels), or did you have ipython installed for some previous work? Additionally, was this done as a global install or using a virtual environment?
2. Did the temporary workaround from the lin

[2019-07-17 01:56] hydrosquall opened #4490 "[feature-suggestion] Add Static Analysis / Automated Code Review Github App"
The nteract codebase is large, and keeping up to date with everything can be difficult. I recently came across a static analysis tool which is used to detect vulnerabilities, and scans open source projects for free. The report for nteract's repo is here:

https://lgtm.com/projects/g/nteract/nteract/overview/

From an initial scan of the "alerts", many of the listings are things which can be change

[2019-07-17 02:23] captainsafia commented on #4490
@hydrosquall I like this idea! Something similar has been growing in the back of my head as well but I haven't had the time to work on it. I'm all for adding it to our organization and seeing what kind of impact it will have on our bug load.

[2019-07-17 20:26] mike-seekwell commented on #3519
@rgbkrk couldn't figure out why everything in `_jupyter_types_experimental` was `<uknown>`, thanks for the answer.

Do you know of any replacements? I saw some discussion around using `inspect` instead.

[2019-07-18 17:32] SpencerPark opened #4494 "Syntax highlighting works in markdown source yet not in rendered markdown"
For some languages in the markdown _source_ editor, code fences are properly highlighted, but when rendered that syntax highlighting is lost. This is a tear off of a comment left on the related issue #4445.

`java` is working in markdown _source_ but not in code cells, nor in _rendered_ markdown. Here is a screenshot:
![nteract-syntax](https://user-images.githubusercontent.com/9256594/59776019-1bb

[2019-07-19 00:19] captainsafia commented on #4445
@SpencerPark Good catch! Would you be interested in submitting a PR to fix this?

[2019-07-19 18:16] dar10p commented on #1473
![Screen Shot 2019-07-19 at 14 15 19](https://user-images.githubusercontent.com/49408138/61556382-a5998f80-aa2f-11e9-9718-3324049dae1a.jpg)

It seems 'publish to Gist' is broken again =(

[2019-07-19 21:05] rachelgshaffer opened #4496 "saveAsContentEpic uses wrong filepath"
**Application or Package Used**
nteract/core 10.6.0

**Describe the bug**
The saveAsContentEpic does not use the correct filepath when saving - it uses content.filepath instead of action.payload.filepath

**To Reproduce**
n/a

**Expected behavior**
A clear and concise description of what you expected to happen.
It uses the passed in filepath: action.payload.filepath

**Screenshots**
n/a

**Desktop

[2019-07-20 01:04] hydrosquall commented on #4490
Glad to hear it, thanks @captainsafia ! This will take effect next time a new pull request is opened, I've just added the app to the `nteract` repository only. If we find it useful, it can be enabled for other repositories too.

For future readers, documentation about how managing the app works is [here](https://lgtm.com/help/lgtm/github-apps-integration).

[2019-07-20 01:04] #4490 closed

[2019-07-20 01:12] hydrosquall commented on #4462
Hi 123385918, I think this keyboard shortcut may do what you seek, the control key + period command is equivalent to `shift+tab`. `ctrl`  + `.` . Please feel free to re-open if this doesn't work for you.

https://github.com/nteract/nteract/issues/3124

[2019-07-20 01:12] #4462 closed

[2019-07-20 01:15] hydrosquall commented on #4449
Hi @earlev4 - thanks for the detailed writeup! There is a similar command as an alternative to `shift+tab` in Nteract, namely `ctrl + .`, which will open some "tips" about how the function under your cursor behaves.

https://github.com/nteract/nteract/issues/3124

[2019-07-22 00:38] captainsafia commented on #4496
Thanks for opening this issue, @rachelgshaffer!

I've submitted a PR to fix this in https://github.com/nteract/nteract/pull/4498. It should be in the next patch release of @nteract/core.

[2019-07-22 00:45] captainsafia commented on #1473
@dar10p Thanks for opening this issue!

It looks like our oauth server deployment for Gist publishing is misconfigured on our deployment service. I'll go ahead and fix this later today.

[2019-07-22 00:48] #3630 closed

[2019-07-22 02:13] captainsafia commented on #1473
This is fixed now.

[2019-07-22 02:53] dar10p commented on #1473
I still get the sam 404 error... don't know if there is something I need to do.

[2019-07-22 03:12] captainsafia commented on #1473
@dar10p Try now?

[2019-07-22 03:26] dar10p commented on #1473
Working now.

[2019-07-23 02:46] #1469 closed

[2019-07-23 02:46] todo[bot] opened #4499 "All the `<li>` below that have role button should just be `<button>`"
https://github.com/nteract/nteract/blob/ffb65b0c3bef36c0d40d194c337f9269eff8747b/packages/notebook-app-component/src/toolbar.tsx#L6-L10

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ffb65b0c3bef36c0d40d194c337f9269eff8747b when #4493 was merged. cc @CrystallineCat.

[2019-07-24 09:45] Algebrazebra commented on #4108
Also experiencing the same issue. I am running
- MacOS 10.14.5
- nteract 14.4

[2019-07-24 20:44] #4496 closed

[2019-07-24 23:11] willingc commented on #4108
Thanks for the additional report @Algebrazebra.

[2019-07-24 23:36] captainsafia commented on #4108
I think I know why this might be happening. I'll see if I can work on a fix later tonight.

[2019-07-25 07:37] hkmoon commented on #4423
@captainsafia @CrystallineCat Thank you for handling this issue. Unfortunately, after updating to nteract 0.14.4, the issue still exists. Can you check it again?

[2019-07-25 15:18] captainsafia commented on #4423
@hkmoon I'm seeing that Bokeh isn't returning the "application/vnd.bokeh` mime bundle in its responses at all. All that is being returned in the execution reply is a media bundle with `text/html` as the type. I would follow-up with the Bokeh team to see if their `output_notebook` method is designed to return the right media bundle for nteract targets.

[2019-07-25 23:46] andrewfogg commented on #2014
This would be great, especially useful when copying pasting code from nteract to IDE or text editor.

[2019-07-27 12:42] CrystallineCat commented on #4423
@hkmoon @captainsafia I don't think patch #4487 shipped with 0.14.4; I don't see it in the [commits for the tag](https://github.com/nteract/nteract/commits/v0.14.4).

Here's what I'm seeing when I execute the code in the OP (`nteract@master`, `bokeh@1.2.0`, `python@3.7.3`) and save the file ([full `.ipynb`](https://gist.github.com/CrystallineCat/d8629897d7dacef82f28ea4405733c8b?short_path=356bf5d)

[2019-07-29 03:06] captainsafia commented on #1385
Commenting to remove stale tag. This is still something we need to do.

[2019-07-29 03:15] captainsafia commented on #4423
@CrystallineCat Thanks for investigating this. Looks like you are right about this not making it into the release. It looks like the branch was merged after the release went out. It'll be included in tomorrow's release though.

[2019-07-29 15:34] rgbkrk commented on #1385
Added the `pinned` tag so it sticks around.

[2019-07-30 00:32] wadethestealth commented on #1385
[`@jupyterlab/widgets`](https://github.com/jasongrout/jupyterlab/tree/master/src/widgets) that @rgbkrk mentioned during the meeting. Plus [`ipywidgets` docs](https://ipywidgets.readthedocs.io/en/stable/examples/Widget%20Low%20Level.html) that explain how they work under the hood. Also link to nteract/hydrogen#27

[2019-07-30 05:24] jasongrout commented on #1385
The jlab widget manager is at https://github.com/jupyter-widgets/ipywidgets/tree/master/packages/jupyterlab-manager

In addition to the docs, see the controls schema specification at https://github.com/jupyter-widgets/ipywidgets/blob/master/packages/schema/jupyterwidgetmodels.latest.md and the message spec at https://github.com/jupyter-widgets/ipywidgets/blob/master/packages/schema/messages.md#wid

[2019-07-30 05:25] jasongrout commented on #1385
Also, I'd point to the discussions with @williamstein when he implemented widgets for cocalc: https://github.com/jupyter-widgets/ipywidgets/issues?q=is%3Aissue+author%3Awilliamstein+is%3Aclosed

[2019-08-02 00:38] Fdango commented on #3736
@kylebarron Thanks for the plugin provided, can this plugin show the codemirror syntax highlighting in thebelab?

[2019-08-02 12:38] hkmoon commented on #4423
It's confirmed that nteract version 0.14.5 resolves this issue. Thank you so much! @captainsafia @CrystallineCat !
<img width="782" alt="__Untitled_ipynb_-_idle" src="https://user-images.githubusercontent.com/3864647/62370705-2c239600-b533-11e9-85ce-13d4e4113b9b.png">

[2019-08-02 12:38] #4423 closed

[2019-08-02 21:58] #3181 closed

[2019-08-04 09:52] jmon12 commented on #1817
What is the status on this?
This feature is missing drastically, I actually have to use another editor in parallel just to search some pattern.
One of the key point of nteract is to have a notebook editor really integrated with the desktop. When you have to read a lot of notebooks, it becomes very handy, but the lack of search functionality makes it of little use!
I'm sorry not to be able to contr

[2019-08-05 02:39] captainsafia opened #4505 "@nteract/core proposal: improved selector API"
**Problem**
Over the past few months, I've had the chance to experience how developers leverage the state selectors exposed by the nteract SDK to do development work. The key takeaway is that our selectors are currently designed to target the design requirements of the application (for example, `codeCellsBelowId`) and not generic selectors that can be composed by developers to build their own note

[2019-08-05 02:40] captainsafia commented on #3292
Closing since it is stale and commuter is in a separate repo now.

[2019-08-05 06:07] motin commented on #3030
I wonder if there are some updated plans regarding implementing this? Also, maybe https://github.com/iodide-project/pyodide can be a possible way to achieve a bundled python environment?

[2019-08-05 07:05] motin commented on #3030
There is also this answer from so https://stackoverflow.com/a/52867787/682317:

[2019-08-05 22:38] captainsafia opened #4507 "@nteract/core proposal: Jupyter server context component"
Note: This is an idea I am noodling on. Very in-progress but putting it out there.

**Problem**
Currently, when users want to connect their Jupyter notebook to a Jupyter server via nteract, they must configure the state in the host. This can be cumbersome for users who want to embed the nteract NotebookAppComponent within their own UIs without having to deal with state management.

**Solution**
I'

[2019-08-05 22:51] #3292 closed

[2019-08-07 17:22] saulshanabrook opened #4509 "Feedback on execution timing proposal"
A frequently requested feature in JupyterLab is to be able to record when a cell starts and stops executing in the notebook. In the process of exploring this feature, we have discovered that there are actually many different events  we could consider as the "start" of the cell execution. So we are proposing adding a `timing` object to the `metadata` of each cell to the notebook format: https://git

[2019-08-07 22:01] BenRussert commented on #1805
Closed by #4453

[2019-08-07 22:01] #1805 closed

[2019-08-08 11:38] maddukurisrinivasarao opened #4511 "nteract server?"
Jupyter Notebook launches python based webserver, is nteract also uses the same? or it has it's own webserver?

[2019-08-09 07:03] motin commented on #1385
TLDR of this thread so far:
- Interactive widgets that support Jupyter Lab will eventually be supported by nteract
- @jdfreder did some initial work related to widget cross messaging in December, which was great but ultimately did not end up with any working proof of concept of a jupyter widget in nteract
- Nteract maintainers had a meeting about this about 10 days ago, which shed some light on po

[2019-08-09 07:35] nlaille opened #4513 "Failed to minify ./node_modules/@nteract/commutable/lib/primitives.js:32"
**Application or Package Used**
@nteract/commutable package (version 7.1.3)

**Describe the bug**
When building a react application using create-react-app, running npm run build returns a “Failed to minify” error resulting from ./node_modules/@nteract/commutable/lib/primitives.js:32

**To Reproduce**
Build a react application using create-react-app with @nteract/commutable dependency

**Expected b

[2019-08-09 07:44] motin commented on #1385
To clarify this workaround: I tried this for a couple of ipywidgets (qgrid, ipysheet, pivottablejs) and these were the results:

## [Qgrid](https://github.com/quantopian/qgrid)
[code]
Results: The datatable renders but all interactivity is broken. [QGrid 1.0 does not support static export](https://github.com/quantopian/qgrid/issues/110#issuecomment-336929573) since sorting and filtering is done se

[2019-08-10 08:05] motin opened #4514 "The `display-update` Example notebook is not working as described - display() without update=True does not update previous display outputs"
**Application or Package Used**
I have reproduced this on:
- nteract desktop
- nteract on jupyter

**Describe the bug**
The `display-update` Example notebook is not working as described - display() without update=True does not update previous display outputs

**To Reproduce**
Steps to reproduce the behavior:

1. Open the `display-update` Example notebook
2. Run all commands up until and including

[2019-08-10 08:06] motin opened #4515 "The `display-update` Example notebook hangs when creating an instance of AutoupdatingProgressBar"
**Application or Package Used**

I have reproduced this on:
- nteract desktop
- nteract on jupyter

**Describe the bug**

The `display-update` Example notebook hangs when creating an instance of AutoupdatingProgressBar

**To Reproduce**

Steps to reproduce the behavior:

1. Open the `display-update` Example notebook
2. Run all commands up until and including:
[code]

**Expected behavior**
A progre

[2019-08-14 16:23] captainsafia commented on #4513
Hello @nlaille! Thanks for opening this issue. Let's see if we can figure out what is going on here.

Do you have a repo with a simple reproduction for this issue? It would help in diagnosing the problem.

[2019-08-14 16:40] nlaille commented on #4513
I was able to fix it. I had to upgrade create-react-app to v2 or v3 instead of v1.
https://github.com/octokit/rest.js/issues/828

[2019-08-14 16:40] #4513 closed

[2019-08-14 17:18] captainsafia commented on #4511
Hello @maddukurisrinivasarao!

The nteract desktop app does not launch its own web server. Instead, it directly communicates with the file system and the kernel to fetch contents and execute code.

The nteract Jupyter web app is an extension on the Jupyter server and communicates with the Jupyter server it is connected to.

[2019-08-14 22:54] BilLOPGVkPPn8z0JGJhgiAGNo9YAqpk5ruChl0F opened #4517 "Respect IPYTHONDIR and JUPYTER_CONFIG_DIR"
Thank you very much for making a sane application that respects the XDG specs. That being said, due to ipython/jupyter deciding to abandon it, could support of `IPYTHONDIR` and `JUPYTER_CONFIG_DIR` be implemented? I have those env vars set but nteract seems to ignore them.

[2019-08-14 23:36] andrewfogg opened #4518 "if there is a full stop or period (".") in a column name then values from that column will not display in the data explorer"
**Application or Package Used**
nteract desktop

**Describe the bug**
I open a JSON file, which is a list of dictionaries.  There are no nested values in the dictionaries.  However all the column names have periods in them "." e.g. "collector.field_name".

If I run nteract with the following flag set

```pd.options.display.html.table_schema = True```

and try and view my dataframe, no values come

[2019-08-15 20:34] Italosayan commented on #1038
Has there been any progress on this? Thanks!

[2019-08-16 04:01] wadethestealth commented on #4461
@rgbkrk Adding a 10 ms wait to the typeset fixes our issue on hydrogen. I am just not sure what we need to assert to remove the wait.
[code]

[2019-08-18 20:30] Madhu94 commented on #4428
I'm picking this up.

[2019-08-21 01:39] captainsafia commented on #3503
We'll still want to do this so we can standardize our UI on one component system.

[2019-08-21 08:43] motin commented on #1385
@rgbkrk @jasongrout @wadethestealth, what is the outline of what would be necessary to support interactive widgets? Some code pointers?

[2019-08-21 10:18] motin opened #4523 "Prevent npm install (since Yarn is required)"
Using yarn is required due to how lerna and yarn workspaces are used to support the mono-repo structure. Running `npm install` is still possible but leaves the working directory in a horribly broken state that can't be fixed just by running `yarn install` afterwards (starting over with a clean git clone is recommended instead).

See https://github.com/yarnpkg/yarn/issues/4895 for a couple of possi

[2019-08-21 10:27] motin commented on #4523
Related, and a candidate to fix at the same time, is the fact that package-lock.json is versioned in the root repo folder, causing confusion and this warning:
[code]

[2019-08-21 12:46] wadethestealth commented on #1385
@motlin the first problem is CSP doesn't allow script injections, so we have to make sure we use local scripts to bypass that. Then we need to be able to create the html of the component to be rendered on the dom and link it to the widget state and behavior in the kernel so that when the kernel widget changes the Dom component changes too. I am pretty sure there is also a vice versa for Dom value

[2019-08-21 19:08] captainsafia opened #4524 "Focus on next cell when executing code cell should not enter edit mode"
**Problem**
Currently, when a user executes a code cell that comes before a markdown cell, the focus will shift to the markdown cell and enter edit mode. This is jarring and not the flow that users are used to in classic.

**Solution**
When shifting focus, we should check to see if the cell that focus is being shifted to is a markdown cell and not focus on the editor if so.

[2019-08-21 19:09] motin commented on #1385
Thanks @wadethestealth for your reply. How does this relate to @jdfreder's [PR](https://github.com/nteract/nteract/pull/3642#issue-229971989), which seem to presume that the widget will be rendered in cross domain iframes?
CSP should not be an issue in Electron, or at least I would assume that it is possible to workaround it.

I started looking at the nteract source code and so far I get the follo

[2019-08-21 19:29] wadethestealth commented on #1385
That pr is some early work of trying to provide support. CSP is an issue in this cause because the implementation should also attempt to support nteract/hydrogen which is an atom package. Atom has CSP and I also think nteract added one too but I am unsure. Statement 1 is true. Statement 2 is kinda true. The data is the original message sent so that you can setup the component and the communication

[2019-08-21 19:30] wadethestealth commented on #1385
You should read some of the links posted here as they give big hints and insights into how this should be implemented

[2019-08-21 20:26] motin commented on #1385
Aha that explains the CSP restriction and the general outline, thanks again. I read the linked material a bit more thoroughly this time and there are plenty of good reference implementations. Tomorrow I’ll try to figure out the nteract format, ie how transforms gets set up in the nteract React app how messaging between the kernels and React app work, and what the model_id parameter is. Baby steps.

[2019-08-21 21:27] captainsafia commented on #4523
Thanks for opening this, @motin!

Do you think you can submit a PR that removes the `package-lock.json`?

It seems like [the approach used my amphtml](https://github.com/ampproject/amphtml/blob/master/build-system/check-package-manager.js) might be a good one to try but we can probably do that in a separate PR.

[2019-08-21 21:43] captainsafia commented on #1385
@motin The cross-domain iframes is an implementation strategy that targets usage of nteract in web environments where we want to avoid the widgets having access to things like cookies in the domain.

I spoke with @jdfreder recently and while that was the direction he was headed, it isn't complete necessary for our implementation. Personally, I would start with an approach that is sans iframe and t

[2019-08-21 22:26] JulianChu1 opened #4525 "Support Jupyter Terminal"
**Is your feature request related to a problem? Please describe.**
In both classic Jupyter and Jupyter lab, they provide functionalities to launch a Jupyter terminal.
It is very handy feature for advanced user

**Describe the solution you'd like**
Ideally it is a react component to render the terminal by current nteract connection
Not sure what is the best practice to manage these connections
In J

[2019-08-22 00:04] captainsafia opened #4526 "Even out padding in NotebookApp"
**Problem**
The `NotebookApp` component currently has a 10px padding around the top, left, and right but not the bottom.

[2019-08-22 00:29] #4450 closed

[2019-08-22 08:24] motin commented on #4524
Great observation! To add to this, I would expect to be able to Shift+Enter my way throughout the notebook, so it'd be great if the "not focus on the editor" still maintained information about that we are essentially in edit/execution mode without actually rendering markdown cells in edit mode.

[2019-08-22 09:19] #3354 closed

[2019-08-22 13:45] nikitavoloboev opened #4527 "Add dark mode support"
**Is your feature request related to a problem? Please describe.**
I would love to have dark mode support added. I searched existing issues and found no issue that addresses this feature request.

**Describe the solution you'd like**
Add dark mode support. No glaringly white blank canvas. There should be option to have it use darker colors.

[2019-08-22 15:44] captainsafia commented on #4527
Hello @nikitavoloboev! Thanks for opening this issue.

Dark mode is already currently supported under the "Theme" menu option in the "View" menu.

Please re-open if you are having trouble configuring dark mode.

[2019-08-22 15:44] #4527 closed

[2019-08-22 16:15] nikitavoloboev commented on #4527
Is it possible to turn the top bar black on macOS?

![2019-08-22 at 17 14](https://user-images.githubusercontent.com/6391776/63531401-58ae4a80-c500-11e9-941e-23b98b378575.png)

[2019-08-24 13:07] winterflags commented on #4527
It would be good if the "Theme" setting was referenced in the online docs somewhere. Although obvious in hindsight, I didn't see this setting when looking the first time, and spent more time than I should have searching online for how themes work in nteract.

[2019-08-24 16:43] hydrosquall commented on #3177
A related project for ideas around what sorts of summary statistics could be piped into the table:

https://github.com/pandas-profiling/pandas-profiling

[2019-08-26 02:38] captainsafia commented on #4524
@motin Agreed! I created a PR for this and requested your review.

[2019-08-26 02:43] captainsafia commented on #4527
@nikitavoloboev It is possible but we will need to update the version of Electron that the application is on per [these instructions[(https://electronjs.org/docs/tutorial/mojave-dark-mode-guide). cc: @BenRussert

@winterflags Thanks for the feedback! Would you be interested in submitting a PR to add this documentation over on the [documentation repo](https://github.com/nteract/docs)?

[2019-08-26 21:32] jfhbrook opened #4531 "nteract becomes unresponsive when backgrounded"
**Application or Package Used**

nteract desktop :)

**Describe the bug**
When nteract is spawned in a shell with `nteract &` it never shows a window; if it's backgrounded w/ `ctrl-z` then it becomes unresponsive until you run `fg` in the same terminal

**To Reproduce**
Steps to reproduce the behavior:

1. Crack open a terminal window
2. Run `nteract` in that terminal; nteract should spawn and be

[2019-08-27 10:43] motin commented on #4523
Done: #4532

Yes that would be great since it would also prevent direct runs of `npm run`. Not sure how to integrate it directly though so will leave this to another contributor :)

[2019-08-27 10:52] motin commented on #4523
@captainsafia I pushed https://github.com/motin/nteract/commit/8428d9f5f9c9ea24e70f444ced30ec2409bf96c3 - this only prevents `npm install` - should I send a PR on this in the meantime?

[2019-08-27 22:07] skritch opened #4535 "Publishing with bookstore 404s"
**Application or Package Used**
nteract on jupyter, probably also applies to regular nteract

**Describe the bug**
The Nteract publish endpoint https://github.com/nteract/nteract/blob/aaf56557af1bbd48e834ba621815230da046bdae/packages/rx-jupyter/src/bookstore.ts#L13 404s against bookstore/master https://github.com/nteract/bookstore/blob/master/bookstore/handlers.py#L103, apparently introduced in ht

[2019-08-28 08:22] Ornataweaver commented on #4527
I suggest you look at https://draculatheme.com/ color syntaxing.
Currently if you type >>> help() in the notebook, some blue text is so dark that is unreadable on the dark background.

[2019-08-29 04:51] earlev4 commented on #4449
Hi @hydrosquall!

Good day to you! I greatly appreciate the information. It was most helpful.

Thanks so much!!!
earle

[2019-08-30 03:56] ceruleangu opened #4540 "Lost all my works after nteract got stuck"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
please enable auto save, thank you

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
please enable auto save, thank you

**Describe alternatives you've considered**
A clear and concise descrip

[2019-08-30 09:28] maddukurisrinivasarao commented on #4511
Thanks @captainsafia

[2019-08-30 18:27] #4511 closed

[2019-08-30 20:53] captainsafia opened #4541 "Execution count not updating when kernel does not send execute_input message"
Currently, in implementations of the Q# and C# kernels for Jupyter, the kernel does not respond back with an `execute_input` message to execution requests, just an `execute_reply` message. Currently, the `executionCounts` operator in nteract only looks for execution counts set on the `execute_reply` message. The protocol seems to be ambiguous on which one is required so we should update the `execu

[2019-08-31 17:08] #4449 closed

[2019-09-01 01:21] m1sta commented on #1817
I think every day that there isn't even a basic find feature is another day I rethink whether this tool is for me.

[2019-09-02 05:03] captainsafia commented on #4540
Apologies for the inconvenience, @ceruleangu!

This is a known issue that has been reported in https://github.com/nteract/nteract/issues/4108.

I've been trying to find time to dig into it but haven't had the chance. I'll close this issue in favor of the older one above. Please follow that one for updates on a bug fix. Thank you.

[2019-09-02 05:03] #4540 closed

[2019-09-02 05:04] captainsafia commented on #4535
@mpacer Do you have an intuition on why this might be happening? Thanks!

[2019-09-02 05:05] captainsafia commented on #4531
@jfhbrook Have you tried setting nteract as the default app for .ipynb files and using `open` that way?

[2019-09-02 16:40] jfhbrook commented on #4531
I haven't configured this in osx yet I don't think, but linux is actually the sticking point for me - I don't have a real desktop environment so xdg mime stuff is still a bit of a fiasco.

[2019-09-02 16:41] jfhbrook commented on #4531
anyway this isn't a blocker for me, now that I understand the problem I can work around, but it's *weird* and *probably not intended behavior* lol

[2019-09-03 16:50] #4108 closed

[2019-09-04 09:17] rendaw opened #4547 "Nonexisting file in CLI arguments ignored"
**Application or Package Used**
nteract desktop 0.14.5

**Describe the bug**
When specifying a nonexistent file on the command line nteract should create a new notebook with that name.  Currently it ignores the argument and creates a new file named `Untitled.ipynb`.

**To Reproduce**
In an empty directory run `nteract a.ipynb`

nteract starts with the filename `Untitled.ipynb` in the titlebar.  Pr

[2019-09-04 18:08] captainsafia commented on #4547
Thanks for opening this issue, @rendaw!

Our initialization code currently will fallback to an new  unnamed file if the current file doesn't exist. I think it makes the most sense to add an explicit `--create` flag to the CLI that will create a file with the given name if it doesn't exist and preserve the existing functionality in all other cases.

Would you be interested in submitting a PR with t

[2019-09-04 18:57] rendaw commented on #4547
Thanks for the quick response!

Most command line editors will create a new file when presented with a nonexistent file name: Vim, Emacs, KWrite, Atom, VS Code, Lyx.  Similarly other CLI tools also treat filenames for existing and nonexisting files the same: `echo hi > x.txt`, `touch x.txt`, `sqlite3 x.db`.  I think requiring a `--create` flag would be counter convention, and the reason you'd spec

[2019-09-04 22:46] #3124 closed

[2019-09-05 15:32] jameskoch opened #4552 "opencollective / lightercollective post-install errors in CI"
I have an in-house CI environment failing during `yarn install` on a call to `lightercollective`.

This matches an issue described here: https://github.com/webpack/webpack-cli/issues/738

I didn't root cause, but there's a ton of chatter around what might be a root cause over here - https://github.com/WebReflection/document-register-element/pull/165

I also saw some people w/ similar issues w/ the

[2019-09-05 16:53] #3358 closed

[2019-09-05 16:53] #3158 closed

[2019-09-05 23:09] captainsafia commented on #4547
@rendaw That's fair reasoning. I was optimizing for reducing the likelihood of regressions and the scope of the change by preserving as much of the existing code-base as possible.

I'm not too opinionated on a particular approach.

[2019-09-05 23:10] #4552 closed

[2019-09-06 01:55] zengxf opened #4554 "How to support `code` syntax"
E.g:
[code]
Render out:
expression: `var a += 1`

[2019-09-06 03:57] #4554 closed

[2019-09-06 07:24] rendaw commented on #4547
Okay, great!  If you aren't opposed to the behavior I'm pushing I'll go ahead and make a PR.

[2019-09-06 22:24] captainsafia commented on #4547
Yes, please!

[2019-09-07 04:28] #3164 closed

[2019-09-08 15:38] #3433 closed

[2019-09-09 15:35] ptcane opened #4560 "Files renamed after notebook has been opened cannot be imported without restart"
**Application or Package Used**
nteract desktop

**Describe the bug**
Unable to import files in a notebook using updated filename without re-opening the notebook first.

**To Reproduce**
Have an Excel file in same folder as notebook called 'data-oldname.xlsx'
Open / create new notebook in that folder
Rename Excel file (e.g. via Finder on Mac, or Windows file system UI) to 'data-newname.xlsx'
Try t

[2019-09-09 18:53] Kethku opened #4561 "Non DRY redux action definitions"
**Application or Package Used**
actions package

**Describe the bug**
Currently the redux actions in the nteract actions package have repeat code in two ways:

First, the type string constant is repeated twice making the likely hood of an error higher.
Second, the action type definition is defined along with the return value shape of the action constructors.

I think the first problem could be fix

[2019-09-10 11:06] chenxinyanc opened #4562 "Markdown parsing is not correct when bold and italic text are adjacent to each other"
**Application or Package Used**
* `@nteract/markdown v4.0.1`

**Describe the bug**
`MarkdownRender` renders the following text
[code]
as

rather than

**To Reproduce**
Steps to reproduce the behavior:

See https://github.com/chenxinyanc/nteract-test .

**Expected behavior**

**Screenshots**
[code]
renders into
![image](https://user-images.githubusercontent.com/50703224/64608690-d1b50980-d3fd-11e9-

[2019-09-10 14:56] wadethestealth opened #4563 "nteract/mardown failing install and build"
Markdown publish is breaking
Due to [this commit](https://github.com/nteract/nteract/commit/c1f1ca41081f9e569dda7da68ebaa8d51736922f#diff-2aefa3dbe60d43c8058f25804d2ad46a), the ci fails to find nteract/presentational-components used in the index. I believe the fix is to add nteract/presentational-components to the package.json as a dependency. Looking at the ci though you may also need nteract/out

[2019-09-10 14:58] wadethestealth commented on #4563
Original find nteract/hydrogen#1768

[2019-09-10 15:18] #4563 closed

[2019-09-10 20:36] captainsafia commented on #4562
Thanks for opening this issue and taking the time to create a reproduction, @chenxinyanc!

I was able to reproduce the issue on the [demo app for  react-markdown](https://rexxars.github.io/react-markdown/) which is the package that we use to render Markdown in the @nteract/markdown component.

We might be able to [configure](https://github.com/rexxars/react-markdown#options) react-markdown to rend

[2019-09-10 22:38] captainsafia opened #4566 "Add `kernelForContent` to support multi-kernel scenarios"
Currently, our execution and kernel-related epics extract the kernel that is reference by the `currentKernel` selector and identified by the `currentKernelRef` state in our core state.

The `currentKernelRef` is updated whenever the kernel we are connected to changes, either when switching to a new notebook or connecting to a different kernel.

The fact that only one kernelRef exists at a time pre

[2019-09-10 22:59] rgbkrk commented on #4566
I think `currentKernelRef` needs to go away, as we should be determining the kernel via the `content` itself. For a `MultiKernelNotebook` it should have a record of each kernel it uses. There can be multiple kernels in the `kernelByRef` portion of the store.

[2019-09-10 23:07] captainsafia commented on #4566
Agree on `currentKernelRef` going way, but why should we remove determining the kernel by the current content? IMO, it makes sense for the kernelRef to be something on content (as it currently is) since the content is responsible for spawning the kernel.

[2019-09-10 23:42] rgbkrk commented on #4566
We want to keep that.

👍

[2019-09-11 10:06] PaulSoderlind opened #4567 "Option for disabling autosave"
I often want to just view my notebook. Other times I want to work on the code before saving. In these cases, the current autosave  is a nuisance. I would suggest having an option for disabling autosave - or (alternatively) autosave to a temporary file.

[2019-09-12 01:18] #3440 closed

[2019-09-15 06:02] #3458 closed

[2019-09-15 11:03] javad94 opened #4569 "SAVE_FAILED when not saving file"
**Application or Package Used**
nteract desktop

**Describe the bug**
When running code without saving notebook, this error comes indefinitely.

**To Reproduce**
Steps to reproduce the behavior:

1. Open nteract desktop for windows.
2. Write and run some code.
3. The error comes in.

**Expected behavior**
This Error shouldn't show up.

**Screenshots**
![image](https://user-images.githubusercontent

[2019-09-16 01:04] #1889 closed

[2019-09-16 15:37] #4547 closed

[2019-09-16 18:29] #3471 closed

[2019-09-16 18:34] captainsafia commented on #4569
Thanks for opening this issue, @javad94!

This happens because the auto-save functionality kicks in and dispatches a `Save` event but the save fail because of the directory the file is in.

To resolve this, we can add a permissions check to the auto-save logic to prevent it from dispatching an auto-save if the notebook is not writeable for any reason.

Tagging this for hacktoberfest participation.

[2019-09-16 18:42] javad94 commented on #4569
Yes exactly. but this issue arises just in the latest version. there was no issue with saving in the previous version.

[2019-09-16 18:42] captainsafia commented on #4463
Closing this issue as it is now resolved.

[2019-09-16 18:42] #4463 closed

[2019-09-16 20:23] captainsafia commented on #4569
Correct, auto-save was broken in previous versions and was not dispatching the event. It was recently fixed and as a result we are now seeing these issues.

[2019-09-17 15:27] javad94 commented on #4569
Ah, I see. Thanks for the information.

[2019-09-18 20:44] captainsafia opened #4571 "Expose API handles for disposing of a notebook"
**Problem**
Currently, we don't expose any Redux actions or epics that handle disposing of a notebook once we are done with it.

In both desktop and web app, we rely on the assumption that the user will either close the application window (or the browser tab) and hence dispose of the Redux store and any open WebSocket connections.

We cannot always rely on this assumption in multi-notebook scenari

[2019-09-18 22:22] rgbkrk commented on #4461
Gross yet workable.

[2019-09-19 15:17] wadethestealth commented on #4461
@rgbkrk However this isn't implemeted because the code belongs inside our mathjax package

[2019-09-19 18:42] #3149 closed

[2019-09-20 01:04] jameskoch commented on #4408
It looks like this regressed in https://github.com/nteract/nteract/commit/7fcb71fcbe1e81f35805e7229174fd2b20119b14#diff-ac4acad2081a1ced22ecae1d968c8ca7L9

[2019-09-21 01:43] #3505 closed

[2019-09-21 20:43] #2349 closed

[2019-09-23 19:17] captainsafia opened #4573 "RFC: @nteract/jupyter-widgets Implementation Approach"
**Note:** I'll update this document as I get feedback and clarify more details of the design. You can [view a history of the edits via GitHub](https://help.github.com/en/articles/tracking-changes-in-a-comment).

## Problem Statement

Currently, the nteract project does not export a React component that renders ipywidgets. As a result, users who want to leverage the functionality of a comms-enabled

[2019-09-23 19:22] captainsafia commented on #1385
To those following this thread, below is an RFC for ipywidgets support.

https://github.com/nteract/nteract/issues/4573

[2019-09-24 07:37] languy commented on #4567
+1
The auto-save was not designed with multiple notebooks opened in the same app scenario. There is a single timer that will trigger auto-save for all the notebooks at the same time. One we close a notebook, the timer still runs and saves (but there is logic to skip saving if there's no content for the notebook).

It would be great if we can move that auto-save logic into the notebook-app-componen

[2019-09-24 08:59] languy opened #4575 "Restart kernel yields a 500"
**Application or Package Used**
nteract on jupyter, nteract SDK.

**Describe the bug**
When issuing a restart kernel, either from the "Runtime" dropdown menu item in the nteract webapp or dispatching a `restartKernel` action, I'm observing:
a. a DELETE call on the current session
b. a POST call on sessions
c. a POST call on /api/kernels/<current kernel id>/restart. This fails with a 500 response.

[2019-09-24 13:21] #4408 closed

[2019-09-24 17:36] akinsella commented on #4535
Last versions of Bookstore use "publish" in path instead of "published" starting version 2.2.1, this is the reason why nteract_on_jupyter for example + bookstore 2.4.1 fails to call APIs path exposed by Bookstore module.

2 options: Make the target path parameterizable in rx-jupyter or use by default new path.

[2019-09-24 17:40] languy opened #4576 "Change kernels doesn't get saved"
**Application or Package Used**
Using nteract on jupyter

**Describe the bug**
Changing kernel in notebook doesn't get saved.

**To Reproduce**
Steps to reproduce the behavior:

1. Open notebook
2. Select from the dropdown menu Runtime -> Change Kernel -> new kernel
3. Save notebook
4. Close notebook
5. Open notebook: the current kernel displayed at the bottom is not the newly selected kernel in s

[2019-09-25 20:18] #3549 closed

[2019-09-26 02:25] msschwartz21 commented on #4458
I have also found that I cannot change between cells using arrow keys in execution mode. Unfortunately this has really hampered my ability to use nteract in my daily workflows. I would love to see this arrow key feature which is common in jupyter notebooks incorporated in nteract.

[2019-09-26 08:28] scls19fr commented on #4458
I haven't seen this feature in Jupyter but in a [Javascript notebook](https://www.google.com/search?q=javascript+notebook)

That's why I also opened a similar issue in Jupyter repository https://github.com/jupyter/notebook/issues/4687

This UI idea is simple and interesting as it improves workflow significantly.

[2019-09-26 08:31] scls19fr commented on #4458
@msschwartz21 what you are looking for is ability to move from 1 cell to an other one, which is (to my understanding), a different feature request... (and so could be suggested in an other issue)... but I 100% follow your idea... being able to move from one cell to an other one using arrows could be a great feature also!

[2019-09-26 10:33] rwb27 opened #4579 "kernelspec handled differently between nteract and Jupyter"
**Application or Package Used**
nteract desktop

**Describe the bug**
I have a kernelspec on my system that starts a kernel in Windows Subsystem Linux.  This requires me to:
1. prepend ``wsl.exe`` to the ``argv`` entry in ``kernel.json``
2. replace ``{connection_file}`` with `` `wslpath -a '{connection_file}'` ``
Doing this works in Jupyter notebooks running on Windows, but nteract just fails to c

[2019-09-27 08:26] jarmokivekas-fmi commented on #4569
This issue also applies to installs on Ubuntu using the .deb packages, which saves in `/opt/nteract/Untitled.ipynb`

[2019-09-28 00:57] #3581 closed

[2019-09-28 00:57] #3570 closed

[2019-09-29 05:42] wadethestealth commented on #4461
@rgbkrk Would the above code be allowed to be merged into the nteract mathjax package?

[2019-09-29 18:42] rgbkrk commented on #4461
I think so. Please feel free to submit it. I'm finally setting aside some time on the weekend I can catch up with nteract contributions. We'll get this in shape together.

[2019-09-29 18:42] rgbkrk commented on #3581
We did this!

[2019-09-30 01:10] captainsafia commented on #3435
This can be closed. While updating this issue for Hacktoberfest, adding the jsx-no-lambda and jsx-no-bind rules to tslint flagged no issues.

[2019-09-30 01:10] #3435 closed

[2019-09-30 01:12] captainsafia commented on #4569
For Hacktoberfest participants: to resolve this issue, we need to add some logic to the auto-save epic that will not emit the save action under the following conditions:

- If the file doesn't exist, which can be determined when by either using fs.exists or querying the contents API in the case of a WebSocket kernel

This logic should be added in contents.ts within packages/epics.

[2019-09-30 01:20] captainsafia commented on #3177
For Hacktoberfest 2019 participants: resolving this issue will require changes across the pandas and nteract repos.

@rgbkrk's comment above is a great place to start on the changes required on the Pythons side -- which is the first place to start with this modification.

[2019-09-30 01:25] captainsafia commented on #4575
Thanks for opening this issue, @languy!

I'm tagging this one for our Hacktoberfest 2019 participation as it should be manageable for a new contributor.

For Hacktoberfest 2019 participants: the [restart epic](https://github.com/nteract/nteract/blob/master/packages/epics/src/kernel-lifecycle.ts#L214) will need to be updated to only dispatch a single call to the restart API when the kernel that we

[2019-09-30 01:26] captainsafia commented on #4541
For Hacktoberfest 2019 participants: the instructions above still apply as a way to resolve this issue. The executionCounts operator is locating in the messaging package.

[2019-09-30 07:40] languy opened #4583 "SAVE_FAILED because of inaccurate last_modified property"
**Application or Package Used**
nteract on jupyter, nteract SDK

**Describe the bug**
I'm running a jupyter server with the nteract-on-jupyter extension from a docker container.
The first save of a notebook succeeds, but subsequent save attempts result in SAVE_FAILED emitted.
The failures happen [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnteract%2Fnteract

[2019-09-30 09:57] Antzee1 commented on #1817
I love the nteract notebook, but I too think it's hard to use without a search / find option. Also my boyfriend just tried nteract and commented the same thing. Apologies for not being able to contribute.

[2019-09-30 22:56] captainsafia commented on #4561
Tagging this for Hacktoberfest.

Hacktoberfest participants: we've already begun the work of cleaning up the repeative nature of type definitions in our actions. The pattern that we've adopted leverages the fact that you can access properties within a TypeScript interface. For example:

[code]

would be come

[code]

If you are interested in helping out with this work, please submit changes on a p

[2019-10-01 06:29] jatinparmar96 commented on #4569
@captainsafia I have tried to fix this issue but I am not able to publish my branch, getting error Permission Denied.

[2019-10-01 10:50] irvslyy commented on #4569
i can

[2019-10-01 15:44] padmer commented on #4415
I tried with Julia v1.2.0 and nteract 0.15.0 and still get the same issue. After Ctrl-. or Ctrl-Space it shows busy on the bottom left for some seconds then goes back to idle but autocomplete doesn't work for me.

[2019-10-01 21:13] stormpython commented on #1503
Most of this functionality was introduced with #4122.

[2019-10-01 21:13] #1503 closed

[2019-10-02 15:49] languy commented on #4583
I figured out the following logic to repeatedly check until a value is stable:

`export const adjustLastModifiedOnSaveEpic = (
  action$: ActionsObservable<actions.SaveFulfilled>,
  state$: StateObservable<AppState>
): Observable<{} | CdbActions.UpdateLastModifiedAction> => {
  return action$.pipe(
    ofType(actions.SAVE_FULFILLED),
    mergeMap(action => {
      // Retry updating last modified

[2019-10-02 19:25] nathancarter opened #4587 "Smarter selection of current working directory"
**Is your feature request related to a problem? Please describe.**
In the nteract.app on Mac OS X (version 0.15.0), I'm always frustrated when I do File > New > Python 3 then File > Save As, but the Python runtime in the notebook is somehow in my home folder.  I never asked it to initialize its cwd to my home folder, I can't imagine a situation in which I would want that.  The only way to fix it i

[2019-10-03 19:11] andrewfogg commented on #4567
I would like to add my voice to this.  I do a lot of exploratory work using data explorer and it appears that the autosaving is constantly increasing the size of the notebook down and degrading performance of nteract (typing hangs / is slow).

[2019-10-04 15:39] #3607 closed

[2019-10-05 09:30] captainsafia commented on #4587
Thanks for opening this issue, @nathancarter!

Triage note: I think this is a dupe of an existing issue, other than #386 mentioned above, but cannot find it at the moment.

When you launch the notebook that was just saved again, is the cwd set to the correct path?

The change in #919 doesn't affect the restart path so this is still a relevant issue.

I'm a little hesitant to take the approach in #

[2019-10-05 10:22] captainsafia commented on #4583
Thanks for opening this issue, @languy!

Context for readers: this piece of code carries over some logic that exists in classic to assert that the local_modified value is as expected. Notably, the Jupyter server can sometimes return a skewed value due to FS issues so this hard code value accounts for that.

Thanks for sharing your example solution!

[2019-10-05 13:39] nathancarter commented on #4587
Hi, @captainsafia -- thanks for the quick reply!

The cwd is correct only if you close the notebook entirely in nteract, then re-open it; in that case it is correct.  Just saving the file for the first time does not correctly set the cwd.

Yes, I see.  I probably shouldn't have suggested a specific method of solution, since I don't know your system or goals, sorry.  But here's what I would think n

[2019-10-05 17:44] hydrosquall commented on #4277
I took a look at this again today as a possible hacktoberfest fix, and was unable to reproduce the issue - any idea which PR may have solved this @emeeks ? Separately, the "chart type on hover" feature now indicates that this "candlestick" was actually parallel coordinates, thanks for adding that too.

Closing the issue since it's out of date :).

[2019-10-05 17:44] #4277 closed

[2019-10-06 02:58] ym-han commented on #2662
Hi! I just wanted to chime in because I've been having a similar issue. Basically it becomes quite choppy for me after making some graphs and running some code;  I can definitely post some sample notebooks if that'll help.

[2019-10-06 10:37] captainsafia commented on #2662
Hello!

Wanted to post a quick note here to catch some folks up on this issue and add some more context to it.

So, there are two different types of performance issues related to notebooks:

1. The amount of time it takes to read the notebook from the on-disk file to the in-memory format via @nteract/commutable
2. The amount of time it takes to render the notebook in the UI because the notebook is

[2019-10-06 14:49] ym-han commented on #2662
Thank you for the note!

[2019-10-08 16:12] languy commented on #4571
Attempt to fix here: #4597

[2019-10-09 17:45] todo[bot] opened #4599 "This can be removed once the work to rely on deriving KernelRefs"
https://github.com/nteract/nteract/blob/056378164cba01e97e746d9a0b1814edf7dcde81/packages/reducers/src/core/index.ts#L10-L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 056378164cba01e97e746d9a0b1814edf7dcde81 when #4581 was merged. cc @nteract.

[2019-10-09 20:24] wadethestealth opened #4601 "Documentation links broken"
Documentation links inside the `README.md` of a couple of nteract package are broken (ex: commutable and rx-jupyter). To fix them it only requires a `.html` at the end, but I am unsure if you accidentally changed something on nteract.io where routing no longer works without `.html` so I am openning an issue for it

[2019-10-10 00:30] captainsafia commented on #2662
@hydrosquall Yep! That's what I was looking at. Took a stab at it in #4602.

[2019-10-10 05:57] #3840 closed

[2019-10-11 08:01] HDembinski commented on #2662
I like nteract very much, but the new version 0.15.0 is so slow now, it makes nteract unusable for me.

Environment: macOS Mojave 10.14.6, Python 3.7 kernel

[Here is a public notebook, which is affected](https://github.com/scikit-hep/iminuit/blob/develop/tutorial/basic_tutorial.ipynb). When I try to type in one of the cell, there is ~300 ms delay for each character.

[2019-10-11 16:35] #4526 closed

[2019-10-12 18:18] davidanthoff opened #4607 "Default working dir on Windows shouldn't be install dir"
This is about the nteract Windows app. When I start it, it creates a new notebook, and the path for that is `C:\Program Files\nteract\Untitled.ipynb`. That is not great, because I of course don't have write access to that folder and it is in general a location where one shouldn't save user files.

I think the ideal solution would be that if I create a new file it doesn't have any path associated i

[2019-10-12 18:20] davidanthoff opened #4608 "Add an option to configure a default runtime"
This is about the windows desktop app.

I'm a julia user, and use nteract only for julia. It would be great if I could make the julia kernel my default kernel, so that any new notebook I create on my machine will use that kernel and I don't have to manually switch things over to julia for every new notebook I create.

[2019-10-12 19:16] willingc commented on #3854
Going to close this since #4578 has landed.

[2019-10-12 19:16] #3854 closed

[2019-10-13 15:58] schedutron commented on #4428
Can I work on this issue?

[2019-10-13 18:13] captainsafia commented on #4428
@schedutron Yes, you can!

[2019-10-14 05:49] chenxinyanc opened #4609 "Cannot assign a custom renderer in nteract/markdown"
**Is your feature request related to a problem? Please describe.**
I want to add some extra spacing before and *after* rendered code fence. But I couldn't find a location where I can customize it.
[code]
![image](https://user-images.githubusercontent.com/50703224/66731221-df403200-ee88-11e9-82ac-61ca0f7d1df7.png)

The `margin: 0` is hard-coded in the generated HTML, so I actually cannot change it.

[2019-10-14 06:53] wadethestealth commented on #4609
Pretty sure your solution was how it was supposed to be created, but the implementer must have forgot that the last value takes precedence. You can submit a PR for this and the nteract contributors will make sure this doesn't break any of their packages, and then merge.

[2019-10-14 07:47] #4609 closed

[2019-10-15 20:33] AndyTheFactory commented on #4567
What I noticed is that since the autosave feature the notebooks lag more often without even with the kernel freshly loaded.

[2019-10-15 22:41] virangai opened #4612 "Client keeps reconnecting to the old kernel when there's a kernel switch"
**Application or Package Used**
nteract web, nteract on Jupyter

**Describe the bug**
The client keeps reconnecting to the old kernel when there's a kernel switch.

**Expected behavior**
The client should dispose the old socket connection and switch to the new kernel

[2019-10-16 11:51] szhorvat opened #4613 "Instructions for installing cling kernel do not work"
I followed the instructions for installing the cling (C++) kernel here:

 - https://nteract.io/kernels/cplusplus

Unfortunately, the kernel that is installed with these instructions is a Python one, not a C++ one.

If I `source activate cling`, then use `jupyter notebook`, then I see multiple C++ kernels labelled C++11, C++14, C++17.  If I use `jupyter lab`, I see none of these. If I use nteract,

[2019-10-16 13:47] #3590 closed

[2019-10-16 16:19] captainsafia commented on #4567
Howdy folks! Thanks for posting this feedback. Some thoughts.

- Considering the number of issues we were getting before hand about people encountering data loss because they thought that nteract had the same auto-save experience as Jupyter, I don't think we'll go through with disabling it by default on the desktop and web apps.
- Consumers of the nteract SDK can "disable" auto-save by de-register

[2019-10-17 20:04] mistguy commented on #2929
My recent test with nteract 0.15.0, julia 1.2 and IJulia 1.20.0 shows autocomplete is completely gone.

[2019-10-17 20:21] schedutron commented on #4428
@captainsafia Can you please provide a little more detail on how to solve this? The app/contents/notebook.tsx file already imports the notebook app which has the Helmet element with <base> you added in your PR. Why is the extension not working then for local files? Please guide me a bit on where would I need to make the necessary change.

[2019-10-17 20:31] kjfergu opened #4620 "[Desktop] Support opening notebooks in tabs"
**Is your feature request related to a problem? Please describe.**

I frequently have my notebooks in a "hierarchy" - I.E - notebook A does this, notebook B does that, and notebook C does this other thing. It would be useful to have related files collected in tabs rather than having a bunch of different windows floating around.

**Describe the solution you'd like**

Support for tabs for each noteb

[2019-10-17 20:32] kjfergu commented on #4620
I have some familiarity with Electron and could always use more, so I'd be happy to hack on something like this if it's in line with the project goals and if someone can point me towards where I might want to start looking!

[2019-10-17 21:22] Abdelkrim opened #4621 "where is the documentation?"
**Where is the documentation?**

* nteract keeps stating : "SAVE_FAILED - EPERM: operation not permitted, open 'C:\Program Files\nteract\Untitled.ipynb'"
* bottom-left of the screen is 'no kernel|not connected'
* the menus do not contain any 'settings' kind of option

![nteract-jupyter-setup-cropped](https://user-images.githubusercontent.com/791663/67048922-631e4680-f135-11e9-8734-3d8fa2bd2869.png

[2019-10-17 21:38] wadethestealth commented on #4620
Jupyter widgets isn't supported on nteract either, and hydrogen is our atom package which is also a front end like nteract. Both hydrogen and nteract run in electron with CSP and are trying to implement jupyter widgets (we share our libraries) see #4573. This should not stop you from creating tabs though.

[2019-10-18 14:04] szhorvat commented on #4613
This has solved the problem:

https://github.com/QuantStack/xeus-cling/issues/177#issuecomment-410860709

You may want to update the instructions (which seem to be incorrect as also pointed out [here](https://github.com/QuantStack/xeus-cling/issues/176#issuecomment-410746671))

[2019-10-18 17:26] captainsafia commented on #4620
@kjfergu I think this would be helpful!

I think we probably want to implement something in notebook-app-component. We need some sort of `Tab` and `TabPanel` component that can take a list of contentRefs as a prop. These contentRefs are references to  notebooks that are already loaded in memory. With this information, it will render a tab for each ContentRef and a TabPanel with the NotebookApp com

[2019-10-20 04:56] #4461 closed

[2019-10-21 17:30] lbarons opened #4627 "Jupyter Server endpoint associated with kernel"
We have a scenario where we need to be able to easily map the jupyter server endpoint of the host to the associated kernel.
Scenario: pick which contentRef by the related kernelRef that had the endpoint of the selected host.

Right now there is no mapping maintained in the kernelRef, and a non-consistent workaround (within channels->_source).

Example of a state that would solve this scenario for

[2019-10-21 21:08] virangai opened #4629 "Need a way to pass username with kernel interactions"
**Application or Package Used**
nteract web, nteract on jupyter.

**Describe the bug**
There is no way to pass username with kernel interactions today. As a result, it always defaults to "nteract" today. It would be great if we could either make this a parameter/option that we could pass in, or override the corresponding methods.

[2019-10-22 11:05] ivanradicek opened #4631 "A way to import CM syntax highlighter theme"
**Is your feature request related to a problem? Please describe.**

I'd like to have syntax highlighting style to match the CodeMirror theme used in the notebook cells. I'm using `react-syntax-highlighter` and would like to use the theme provided in the file: https://github.com/nteract/nteract/blob/master/packages/presentational-components/src/syntax-highlighter/theme.ts However, this file is not

[2019-10-22 21:05] johnletey commented on #2660
Hello everyone!

I would love to know the progress on this, as I love using the [ExecuteTime](https://github.com/ipython-contrib/jupyter_contrib_nbextensions/blob/master/src/jupyter_contrib_nbextensions/nbextensions/execute_time/readme.md) extension included in the [jupyter_contrib_nbextensions](http://jupyter-contrib-nbextensions.readthedocs.io/en/latest) package.

I would also love to know if th

[2019-10-23 15:14] edurenye commented on #2761
Would be nice to have this

[2019-10-23 19:04] johnletey commented on #963
Hello everyone, I'm currently working on this!

You can take a look at my branch ([john/keybindings](https://github.com/johnletey/nteract/tree/john/keybindings)), which I'm working out of.

I'm starting with Vim keymaps, but then I'll move onto Sublime as well as Emacs.

[2019-10-23 19:10] captainsafia commented on #963
Thanks for taking this on, @johnletey!

[2019-10-23 22:46] TortelliniLeap opened #4634 "Default dark theme for JupyterHub web UI"
Is there a way to make the dark theme default for all JupyterHub users when using the Nteract web UI? In `~/.jupyter/nteract.json`, I have `{"theme": "dark"}`, but it doesn't seem to take effect.

[2019-10-24 04:33] #4541 closed

[2019-10-24 13:38] dougleville opened #4637 "Nteract now requires python kernel"
**Application or Package Used**
nteract desktop

**Describe the bug**
I use nteract with nodejs and don't really use Python. Previously I was able to use nteract + nodejs without having any Python kernel installed. Now I get an error on startup that I don't have any kernels installed despite having a working Node kernel installed.

**To Reproduce**
Steps to reproduce the behavior:

Start Nteract d

[2019-10-24 13:40] dougleville commented on #4637
Maybe my understanding of what's going on here is not quite right but this was my impression

[2019-10-24 13:42] dougleville commented on #4637
![image](https://user-images.githubusercontent.com/30697943/67491242-36d55f00-f63a-11e9-9346-068876e9d726.png)

If nteract is supposed to include a nodejs kernel I don't understand why we should ever get an error that no kernels are installed

[2019-10-24 19:14] captainsafia commented on #4637
Hello @dougleville! Let's see if we can sort out this problem.

Which version of nteract were you previously using with the bundled kernel? Do you know which upgrade caused it to fail?

[2019-10-24 19:40] victor-meng opened #4638 "Monaco editor does not resize with browser window"
**Application or Package Used**
nteract on jupyter

**Describe the bug**
The monaco editor has fixed width and height which does not change based on browser window size. This causes multiple issues on the UI when the user resizes the browser.

**To Reproduce**
Steps to reproduce the behavior:

1. Open notebooks
2. Open a json/txt file large enough to make the scroll bar appear
3. Shrink the browse

[2019-10-25 18:15] captainsafia commented on #408
I like the idea of bringing an Electron-based qtconsole app as the third nteract application we release. Gonna pin this so stale bot can leave it around.

[2019-10-25 21:36] captainsafia opened #4640 "Box-based ipywidgets do not render"
**Application or Package Used**
@nteract/jupyter-widgets

**Describe the bug**
The current implementation of the jupyter-widgets package does not render Box-based widgets like Box, VBox, and HBox.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new notebook.
2. Attempt to create a box widget. Note that no widget is not rendered.

[code]

**Expected behavior**
Layout-based widgets s

[2019-10-28 03:25] todo[bot] opened #4641 "Check if we need to open a comm"
https://github.com/nteract/nteract/blob/7d583999d6d432d66ca09f637d39d93b7903dbbd/packages/jupyter-widgets/src/manager/widget-manager.ts#L158-L163

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7d583999d6d432d66ca09f637d39d93b7903dbbd when #4639 was merged. cc @nteract.

[2019-10-28 03:25] todo[bot] opened #4642 "Find a way to supply correct target module (only used in comm opens)"
https://github.com/nteract/nteract/blob/7d583999d6d432d66ca09f637d39d93b7903dbbd/packages/jupyter-widgets/src/manager/widget-manager.ts#L159-L164

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7d583999d6d432d66ca09f637d39d93b7903dbbd when #4639 was merged. cc @nteract.

[2019-10-28 03:29] #4514 closed

[2019-10-28 03:33] captainsafia opened #4643 "Rely on Immutable structure within BackboneWrapper"
Follow-up to [this](https://github.com/nteract/nteract/pull/4639#discussion_r339391120).

Currently, we convert the Immutable model to a JavaScript object which forces unnecessary renderers. We should modify this.

[2019-10-28 03:53] captainsafia opened #4644 "Widget styles and layouts not applied to ipywidgets"
In the Widget Styling example notebook from the ipywidgets repo, none of the layouts and styles applied to the widgets render on the page. We need to support layout and styling for widgets.

[2019-10-28 03:55] captainsafia opened #4645 "widget.observe handlers are not functional"
In the Widget Events example notebook from ipywidgets, the onClick event on the button is not functional.

[2019-10-28 16:36] captainsafia opened #4647 "Update @nteract/jupyter-widgets documentation"
Once things are a little more polished with the package, we'll need to do the following documentation clean-up:

- Add docstrings to applicable classes
- Update the usage docs in the README
- Add a section to the README that explains the overall design of the feature

[2019-10-28 17:23] captainsafia opened #4648 "ipywidgets in nteract on web don't work"
ipywidgets in the desktop app can render and support basic functionality.

ipywidgets can build on the web app but for some reason, probably a misconfigured epic, the output component fails to get the initial model from the state.

[2019-10-28 17:29] captainsafia opened #4649 "Slider via ipywidgets interact does not render"
In the `Using Interact` example notebook, the horizontal slider does not render when the interact code is executed.

[code]
[code]
[code]

[2019-10-28 17:37] captainsafia opened #4650 "stdout and stderr not piped to Output widget"
Context: Found this while going through the `Output Widget.ipynb` example notebook.

Currently, if an `Output` widget is initialized, stdout and stderr streams are not redirected to it.

[2019-10-28 20:37] #4515 closed

[2019-10-28 22:53] captainsafia commented on #4629
Thanks for opening this issue, @virangai!

I'm going to generalize this issue a little bit to capture a general class of requests that I've heard: "I want to modify X without having to rewrite an epic/reducer/action." There's several extensibility vectors that already exist in nteract.

- SDK consumers can extend on the functionality provided by registering their own reducers and casing on the nte

[2019-10-29 16:42] captainsafia commented on #4641
There is a comment in the ManagerBase class that says it is required to open a comm if one of the arguments to the function is not defined.

We need to determine if this logic needed to be mapped to our WidgetManager.

@miduncan has more thoughts on this.

[2019-10-29 16:43] captainsafia commented on #4642
Related to #4641. If that one is necessary then this is a follow-up.

[2019-10-29 16:50] captainsafia opened #4653 "Clean up import for comm message creators"
Currently in @nteract/jupyter-widgets, we import functions that are not publicly exported from the @nteract/epics `createCommMesssage` and `createCommOpenMessage` via a `lib` import.

We should move them to the @nteract/messaging package in messages.ts.

[2019-10-29 17:39] miduncan commented on #4641
Oops, I gave you bad info @captainsafia . The comment says the opposite: "If the data/metadata is passed in, open the comm before returning (i.e., send the comm_open message)". Regardless, further investigation is needed for if we can even get to this function without a comm already being open in the kernel

[2019-10-30 05:18] wadethestealth opened #4656 "Add hydrogen integration tests on the nteract monorepo"
We need to add integration testing, so that when packages are updated, we can preemptively see if they will affect hydrogen and cause a error. This spurs from #1804 where nteract/nteract#4636 causes Hydrogen unable to run at all. This isn't the first occurrence of package updates affecting hydrogen severely, so it is in hydrogen best interests that we add tests to the monorepo to prevent this from

[2019-10-30 22:09] mpacer opened #4663 "@nteract/presentational-components ships with ES5 incompatible dependencies"
**Application or Package Used**
@nteract/presentational-components

**Describe the bug**
@nteract/presentational-components 3.0.8 includes dependencies that are not ES5 compatible, specifically by including react-syntax-highlighter which has explicit `export` statements
[code]

I think this may be related

https://github.com/nteract/nteract/blob/cbeb83b1abe8c0c3227945b8ab5c124e9489893e/package.jso

[2019-10-30 23:57] alpaix opened #4665 "Support showing/hiding all cell inputs/outputs independently"
This issue affects `@nteract/actions` package. Currently, `UNHIDE_ALL` action unconditionally resets all cell inputs and outputs visibility. There is no support for independently changing visibility of inputs or outputs.

**Expected behavior**
We need a method of only changing visibility of all cell inputs or outputs independently. For instance, when getting asked to hide all cell outputs, the `UN

[2019-10-31 17:59] #4643 closed

[2019-11-01 22:33] #4627 closed

[2019-11-01 23:23] #4575 closed

[2019-11-01 23:50] miduncan commented on #4653
Merged into master, closing issue

[2019-11-01 23:50] #4653 closed

[2019-11-02 01:10] miduncan commented on #4645
Hey I was able to find the cause of this (although I don't think this solves all of our event issues). You just need to call `view1.delegateEvents()` after you create a WidgetView(in this example, named `view1`). I can put a PR for this once the layout/style stuff is merged into master, because I think it should go in the create_view function I made there.

[2019-11-02 01:28] oschulz commented on #4362
This would be great to have!

[2019-11-02 01:33] song888k opened #4668 "The latest nteract/editor 9.2.10 depends on nteract/output 2.3.6 which is not published in npm yet"
The latest nteract/editor 9.2.10 depends on nteract/output 2.3.6 which is not published in npm yet. Please fix asap.

https://www.npmjs.com/package/@nteract/editor
https://www.npmjs.com/package/@nteract/outputs

[2019-11-02 04:59] captainsafia commented on #4668
Hello!

A recent publishing problem has broken this dependency. It is resolved now.

Apologies for the inconvenience!

[2019-11-02 05:00] #4668 closed

[2019-11-02 06:00] captainsafia commented on #4645
@miduncan Sure! I was able to get some events working by configuring the callbacks to use an Observable.

Shortly after getting the events to work, I ended up needing to solve the bug where stdout is not redirected to the correct output.

Feel free to submit a PR with your solution as an incremental change.

[2019-11-02 20:03] wadethestealth commented on #4663
This should be solved by the latest patch.

[2019-11-02 20:03] #4663 closed

[2019-11-02 20:06] #4665 closed

[2019-11-03 02:12] rgbkrk commented on #3494
AFAIK, this is done. Closing since it was a messy maintenance request from myself.

[2019-11-03 02:12] #3494 closed

[2019-11-03 02:13] #1449 closed

[2019-11-03 02:14] rgbkrk commented on #1859
Largely speaking, this functionality moved into nteract/bookstore. Closing this, especially since commuter is outside this repo (and not maintained).

cc @mpacer

[2019-11-03 02:14] #1859 closed

[2019-11-03 02:14] #1977 closed

[2019-11-03 02:14] #1920 closed

[2019-11-03 14:25] aviks opened #4672 "nteract fails to start on Windows when it does not find python."
**Application or Package Used**

nteract-desktop

**Describe the bug**

nteract fails to start, with an error message about not finding python

**To Reproduce**

1. Click the `nteract` item on the start menu.
2. nteract fails to start

**Expected behavior**

nteract to start and display its main window.

**Screenshots**

![image](https://user-images.githubusercontent.com/378918/68086485-8a1e8d00-f

[2019-11-03 15:33] aviks commented on #4672
cc: @captainsafia This is the issue we talked about. Thanks for a great product!

[2019-11-04 14:54] captainsafia commented on #4612
This should be resolved now. Please re-open if this is not the case.

[2019-11-04 14:54] #4612 closed

[2019-11-04 14:56] captainsafia commented on #4672
Thanks for opening this issue, @aviks!

After looking around, I believe that what you are experiencing is the same as #4637. It looks like we might have picked up a Python-dependency somewhere in the desktop app. I'll look around and see what when that happened.

[2019-11-04 15:25] captainsafia commented on #4627
@lbarons This is now released in the latest version of @nteract/core.

[2019-11-04 15:25] captainsafia commented on #4665
@alpaix This is now released in the latest version of @nteract/core.

[2019-11-04 15:30] captainsafia commented on #4645
I learned a little bit more about this and turns out that these issues have to do with the fact that we don't currently have an OutputArea implementation. It is related to #4650.

[2019-11-04 16:39] aviks commented on #4672
Thanks for investigating. I agree, this looks to be the same issue. I'll close this as a duplicate of #4637

[2019-11-04 16:39] #4672 closed

[2019-11-04 21:19] captainsafia opened #4675 "Implement _get_comm_info function to rehydrate comms"
We need to implement a `_get_comm_info` method that requests info about the active comms from the kernel so that we can rehydrate the state when we refresh the page without changing the kernel.

cc: @miduncan

[2019-11-04 22:28] miduncan commented on #4650
Are you able to get the Output widget to render? I get an issue where it tries to access a library that we don't have in the project, I think like jupyter-widget/output or something. This part looks like an easy enough fix but I wanted to check that you hadn't done this already in an unmerged PR.

[2019-11-04 22:31] captainsafia commented on #4650
Yeah, this is what I'm working on at the moment. This and parts of #4645 as well as parts of #4648 are related to this.

The Output widget has to be implemented by us and needs to hook into our execute epics and state to redirect outputs correctly.

[2019-11-05 00:30] #4644 closed

[2019-11-05 02:21] miduncan commented on #4645
The `delegateEvents` change accidentally made it in #4655 since that the branch I was testing it on. Considering that the PR had a create_view rewrite, though, it wasn't that out of place.

Let me know if there is anything else I can do to help here-- I think this is our biggest blocker for acceptance in example notebooks

[2019-11-05 02:24] miduncan commented on #4649
I did some investigating on this, and it is caused by the model being different than the other models we deal with. Instead of having the information we normally expect, it has a list of child models. I'll try to get a fix for this tomorrow.

[2019-11-05 17:16] captainsafia commented on #4649
If that’s the case, then it is probably also related to the issue around Boxes and Accordions not rendered correctly because they are child_views.

Let us know what you find out.

[2019-11-05 19:18] miduncan commented on #4649
#4640 for sake of tracking. I'll investigate both

[2019-11-06 00:35] miduncan commented on #4640
Found the issue here. It ended up being separate from the issues of the Accordion, Tabs, and interact().

What caused this issue was that we were manually attaching the element to the view. At first we were doing this by passing it to the view constructor, and then we switched to setting `view.el = el`. Box based widgets are written in a weird way so that their element cannot be set without throwi

[2019-11-06 02:03] miduncan commented on #4649
I was able to dig deeper into this, and it may be a tricky one to fix. It basically follows these steps:

1. Kernel sends a message for a new model, "model_1", with a state like this (notice the empty children):
[code]
2. After some time, kernel sends an "update" message to "model_1"
[code]
3. Kernel sends the "application/vnd.jupyter.widget-view+json" message we direct to WidgetDisplay
[code]
4.

[2019-11-06 02:05] miduncan commented on #4649
I'm guessing this is the same issue with Accordion and Tabs, as the model state given to them also only has children. No view information.

[2019-11-06 22:15] #4640 closed

[2019-11-07 00:06] captainsafia opened #4681 "Same widget model not synced across different views"
In the `Widget Low Level.ipynb` example, the widget slider that is rendered in the notebook does not sync changes across the different views that are rendered. All widgets should update simultaneously.

![widget-sync](https://user-images.githubusercontent.com/1857993/68348667-6743e100-00af-11ea-8535-ea7012f0059f.gif)

[2019-11-07 00:13] captainsafia opened #4682 "font-awesome icons do not render in widgets"
Icons do not render on ipywidgets that require them.

![image](https://user-images.githubusercontent.com/1857993/68348960-6495bb80-00b0-11ea-8a58-67577114840d.png)

[2019-11-07 00:25] captainsafia opened #4683 "jslink in ipywidgets does not work"
Using `jslink` to link the model of ipywidgets does not work at the moment.

[code]

[2019-11-07 19:11] #3777 closed

[2019-11-07 19:46] aviks opened #4685 "Use nteract on the browser without the jupyter server?"
So I think the nteract-desktop talks directly to the kernel, it does not need the jupyter-notebook webserver to be running. Is it possible to run the nteract on the browser in the same way, directly to the kernel, without the jupyter-notebook webserver in the middle? I couldn't figure this out from the docs.

(Apologies if this is not the right forum to ask questions -- feel to close this)

[2019-11-07 19:50] miduncan commented on #4681
Just to give a little more detail on this, this only applies when `display(w)` calls are within milliseconds of each other. If you were to manually run two different `display(w)` cells, they would be synced.

[2019-11-07 20:11] #3710 closed

[2019-11-07 20:11] #3707 closed

[2019-11-07 20:11] #3701 closed

[2019-11-07 20:11] #3811 closed

[2019-11-07 20:11] #3809 closed

[2019-11-07 20:11] #3807 closed

[2019-11-07 20:11] #3806 closed

[2019-11-07 20:11] #3804 closed

[2019-11-07 20:11] #3803 closed

[2019-11-07 20:11] #3793 closed

[2019-11-07 20:11] #3800 closed

[2019-11-07 20:11] #3797 closed

[2019-11-07 20:11] #3791 closed

[2019-11-07 21:11] #3790 closed

[2019-11-07 21:11] #3788 closed

[2019-11-07 21:11] #3785 closed

[2019-11-07 21:11] #3700 closed

[2019-11-07 22:11] #3649 closed

[2019-11-07 22:11] #3620 closed

[2019-11-07 22:15] aviks commented on #4637
So, I did some investigation, and its is stranger than I thought.

My experience was that nteract stopped working on my machine, without my having upgraded it explictily. I did not use my nteract for a couple of months, and it was working before, and does not now. My hypothesis is that this is due to a Windows update, not an nteract update. Read on....

So Windows 10 now has a file called `python.

[2019-11-08 00:13] captainsafia opened #4688 "Use enum in updateCellStatus function"
Follow-up on https://github.com/nteract/nteract/pull/4687#discussion_r343903514.

[2019-11-08 01:05] miduncan commented on #4675
I looked into this today, and here is my current understanding of how this `_get_comm_info` flow works and why I don't think it is right for our scenario:

1. `_get_comm_info` sends a [message](https://jupyter-client.readthedocs.io/en/latest/messaging.html#comm-info) to the kernel, specifying the 'jupyter.widgets' target
2. Kernel responds by sending a list of `comm_id`s (which map to `model_id`s)

[2019-11-08 01:32] #4681 closed

[2019-11-08 01:39] miduncan commented on #4649
Rendering issues cause by #4650

[2019-11-08 03:43] dougleville commented on #4637
Sorry for disappearing - wow @aviks that was some awesome sleuthing.

@captainsafia the solution above fixed this issue for me - I'll leave it for you as to whether this should be closed or not

[2019-11-08 17:42] captainsafia commented on #4683
This issue occurs because our ipywidgets-implementation currently only supports displaying ipywidgets that have a view associated with them.

For JS links, the kernel will emit a `comm_open` message with the LinkModel payload. This `comm_open` message will be picked up and processed by our `commListenEpic`.

However, since there is no `display_data` associated with the `LinkModel`, we never hand o

[2019-11-08 18:21] captainsafia commented on #4683
An initial implementation of this approach is available at https://github.com/nteract/nteract/tree/safia/js-link.

[2019-11-08 20:39] #1997 closed

[2019-11-08 20:39] #2025 closed

[2019-11-08 20:39] #2048 closed

[2019-11-08 20:39] #2019 closed

[2019-11-08 20:39] #2126 closed

[2019-11-08 20:39] #2075 closed

[2019-11-08 20:39] #2139 closed

[2019-11-08 20:39] #2259 closed

[2019-11-08 20:39] #2328 closed

[2019-11-08 20:39] #2322 closed

[2019-11-10 15:22] dpsanders commented on #1817
Just installed Nteract and almost the first thing I did was to try to search for a particular function in somebody else's notebook. This seems like a high priority to implement.

[2019-11-11 18:34] captainsafia commented on #4645
@miduncan I think we can go ahead and close this. The work in #4687 allows the callback in the `observe` to be actually triggered and I haven't been able to reproduce this issue since.

We can close this and if it comes up again we can re-open the issue.

[2019-11-11 18:34] #4645 closed

[2019-11-11 19:46] #4648 closed

[2019-11-12 01:06] captainsafia opened #4694 "Audit MessageType for types that are not represented"
The `MessageType` does not currently contain a type for `complete_reply`. We should add it and audit the `MessageType` for any other missing types.

[2019-11-12 03:05] #4683 closed

[2019-11-12 18:14] captainsafia opened #4696 "RFC: Stateful Components and Theming"
### Problem

Currently, nteract's component and theming story is only partial implement. We started development a component ecosystem in the [@nteract/ion project](https://github.com/nteract/ion) but parked that work while we iterated on presentational components in the nteract notebook app. Our component system has evolved and we've got quite a few pieces of feedback in issues and direct reports

[2019-11-12 22:07] mstetson commented on #4637
I couldn't delete the `python.exe` file, but the solution here worked for me: https://superuser.com/questions/1437590/typing-python-on-windows-10-version-1903-command-prompt-opens-microsoft-stor

[2019-11-13 12:55] motin opened #4697 "Qgrid (a pywidget) does not render in nteract"
So exciting to see initial pywidgets support in recently released 0.18!

**Application or Package Used**
nteract desktop

**Describe the bug**
The pywidget [Qgrid](https://qgrid.readthedocs.io/en/latest/) does not render in nteract.

**To Reproduce**
Steps to reproduce the behavior:

1. Open interact
2. Run `!pip install pandas numpy qgrid`
3. Run [qgrid](https://qgrid.readthedocs.io/en/latest/)'s

[2019-11-13 18:20] #4571 closed

[2019-11-13 22:36] captainsafia commented on #4697
Our ipywidgets implementation currently only supports the default set of widgets provided in @jupyter-widgets/controls. We aren't set up to support custom widgets. This would require adding some logic that understands how to load widget dependencies outside the standard set.

If you have any ideas on how to approach this, feel free to share in this thread.

[2019-11-13 23:14] captainsafia commented on #4637
I got some insight from @zooba about this. Pasting the contents of his email below.

We'll likely need to update the way we invoke the Python executable at the launch of the nteract desktop app to address this if possible.

Does anyone want to look into a code change solution for this?

[2019-11-13 23:24] captainsafia commented on #3875
Closing this one out since it also already tracked in the source code.

It can be examined when work on fs-kernels restarts.

[2019-11-13 23:24] #3875 closed

[2019-11-13 23:24] captainsafia commented on #3905
This has been fixed. I'll go ahead and close out this issue.

[2019-11-13 23:24] #3905 closed

[2019-11-13 23:27] captainsafia commented on #3921
Closing this out and leaving the issue open for posterity as how to create new packages.

[2019-11-13 23:28] #3921 closed

[2019-11-13 23:33] captainsafia commented on #3851
This still happens and is annoying. Reopening.

[2019-11-14 00:02] miduncan opened #4706 "WidgetManger does not support mutliple kernels"
The current implementation of WidgetManager only support single kernel notebooks, so if loaded in a Notebook with multiple kernels it will have unusual behavior

[2019-11-14 01:12] captainsafia commented on #3994
Re-opening this.

This might be related to the slowness seen in the auto-save logic as well. Perhaps there is an issue with our desktop-native saving experience, in particular with the `writeFileObservable` function that is used to save the file to disk.

I'm going to rename this issue to "Lag when saving large notebooks in desktop app" since that explains the issue a bit more clearly.

[2019-11-14 01:14] captainsafia commented on #3880
This issue can be closed since we are now using Blueprint for our menu.

[2019-11-14 01:14] captainsafia commented on #3881
This can be closed since we are using Blueprint to create the notebook menu.

[2019-11-14 01:14] #3881 closed

[2019-11-14 01:18] captainsafia commented on #3938
I was able to reproduce this behavior, albeit in a different fashion. Zoom out once, cursor disappears. Zoom out again, cursor reappears. Rinse and repeat.

Some digging reveals that this is an [issue with CodeMirror](https://discuss.codemirror.net/t/apply-scale-to-codemirror/942/7) that is dependent on how browsers handle rendering for scaled content.

Considering the issue is not in our field, I

[2019-11-14 01:18] #3938 closed

[2019-11-14 01:20] captainsafia commented on #3986
Closing this.

We switched to tslint, but will actually need to revert back to eslint since tslint is going to be deprecated.

[2019-11-14 01:20] #3986 closed

[2019-11-14 01:21] captainsafia commented on #4004
We'll still need to do this.

The work to introduce babel-loader has been introduced to our test workflows during the addition of ipywidgets support. We'll need to follow this through to the source code.

[2019-11-14 01:24] captainsafia commented on #620
Re-opening this.

There is currently an open PR for this feature at https://github.com/nteract/nteract/pull/4654.

[2019-11-14 01:27] captainsafia commented on #1817
Thanks for sharing your feedback, everyone!

This feature is tricky because it'll require some design and technical work to support searching through all the content in the cell efficient, displaying it in the UI, and providing an interface for entering search requests.

If anyone has any thoughts on how to implement this effectively or recommendations for React components/JavaScript packages that

[2019-11-14 01:30] captainsafia commented on #4052
Currently, our recovery strategy will rely on auto-save. Users can set the auto-save interval in the nteract configuration file.

I'm gonna go ahead and close this since I don't think we have a robust enough document recovery story to document.

[2019-11-14 01:30] #4052 closed

[2019-11-14 01:31] #4013 closed

[2019-11-14 01:33] captainsafia commented on #3638
This is addressed via https://github.com/nteract/nteract/pull/4704. Re-opening so that it can be called when that PR is merged.

[2019-11-14 01:57] captainsafia commented on #4031
cc: @emeeks

Should we close this out or do you still think it should be worked on?

[2019-11-14 02:06] captainsafia commented on #2019
Ref: https://github.com/nteract/nteract/issues/1067

[2019-11-14 11:31] #3073 closed

[2019-11-14 11:31] #1578 closed

[2019-11-14 11:31] #1815 closed

[2019-11-14 11:31] #1819 closed

[2019-11-14 11:31] #2040 closed

[2019-11-14 11:31] #2016 closed

[2019-11-14 16:31] #2373 closed

[2019-11-14 17:31] #3486 closed

[2019-11-14 17:31] #3352 closed

[2019-11-14 17:47] BenRussert commented on #4685
There would need to be a server somewhere in order to run a kernel and talk to it from a browser since you can't run a kernel executable from the web browser (client).

It would be possible to write your own server, but I think it would be a lot easier and more secure to go with either electron (like the desktop app) or a server using existing jupyter server apis (like the nteract notebook extensi

[2019-11-14 18:24] BenRussert commented on #3851
I tried to take a "quick" crack at this last night hoping it was just `event.preventDefault()` missing somewhere (that is part of it).

The first problem I found is that `react-hotkeys` ignores `textinput` by default (the element focused in a cell normally). See [my wip branch here](https://github.com/nteract/nteract/compare/ben/fix-save-key-3851)

When I did get save to fire from the shortcut, I

[2019-11-14 18:40] #4675 closed

[2019-11-14 18:57] #4583 closed

[2019-11-14 19:02] #3638 closed

[2019-11-14 19:03] #4053 closed

[2019-11-14 19:29] #4641 closed

[2019-11-14 20:21] #3302 closed

[2019-11-14 20:21] #3189 closed

[2019-11-14 20:21] #3091 closed

[2019-11-14 20:21] #3080 closed

[2019-11-14 20:21] #2885 closed

[2019-11-14 20:43] motin opened #4708 "`TypeError: Cannot read property 'get' of undefined` when this.props.model is yet not defined"
**Application or Package Used**
nteract desktop

**Describe the bug**
`TypeError: Cannot read property 'get' of undefined` is thrown when this.props.model is yet not defined.
The Jupyter widget [ipyfilechooser](https://pypi.org/project/ipyfilechooser/) demonstrates this behavior.

**To Reproduce**
Steps to reproduce the behavior:

1. Open nteract
2. Run `!pip install ipyfilechooser`
3. Run:
[code]

[2019-11-14 21:21] #3855 closed

[2019-11-14 21:21] #2582 closed

[2019-11-14 22:14] dougleville commented on #4637
I'd be up for that, I have some deadlines coming up at the moment but after that I'd like to help

[2019-11-15 01:55] captainsafia commented on #4708
Hello @motin!

Is this on the latest master?

There's either a regression in our rehydration logic or this is a scenario that happens when the ipywidget is a custom widget (which are not supported at the moment).

cc: @miduncan

[2019-11-15 18:49] motin commented on #1817
Maybe https://github.com/rhysd/electron-in-page-search?

[2019-11-15 19:05] #4642 closed

[2019-11-15 23:27] captainsafia commented on #1817
Looks promising!

Thanks for sharing @motin.

[2019-11-15 23:29] captainsafia commented on #2878
This issue is still relevant but I think renaming this issue will help make it easier to find.

[2019-11-15 23:43] captainsafia commented on #3813
We should do this. PR incoming.

[2019-11-16 00:07] captainsafia commented on #4637
Thanks, @dougleville! Looking forward to your PR.

[2019-11-16 20:30] #1990 closed

[2019-11-17 15:18] #4607 closed

[2019-11-17 18:26] #620 closed

[2019-11-17 18:26] #4608 closed

[2019-11-17 19:42] rgbkrk commented on #1431
This one shouldn't have gone stale. Re-opened it.

[2019-11-17 19:43] #3880 closed

[2019-11-18 05:27] #3904 closed

[2019-11-19 19:35] motin commented on #4708
Yes it was at the time of the issue creation.

It doesn't require any lab extensions or similar, not sure if that is what defines a widget as a custom widget.

[2019-11-21 01:29] miduncan opened #4718 "Widgets don't render on desktop app until you click somewhere else"
**Describe the bug**
Widgets won't render when run on desktop app until you click somewhere else

**To Reproduce**
Steps to reproduce the behavior:

1. Open the nteract desktop App
2. Create an int slider
[code]
3. Click run. Do not click anywhere else for 10 seconds. Widget will not show
4. Click somewhere else. Widget will appear

**Expected behavior**
Click run and widget appears

[2019-11-21 01:46] captainsafia commented on #4089
We're no longer setting the height via `auto` in the CodeMirror component so we can go ahead and close this issue.

[2019-11-21 01:46] #4089 closed

[2019-11-21 02:02] miduncan commented on #4706
There is a fix for this in the branch [miduncan/multiple-kernels](https://github.com/nteract/nteract/tree/miduncan/multiple-kernels), but I didn't have time to write a test for it. If this is a blocking issue for someone, feel free to branch and complete

[2019-11-21 15:15] h-vetinari commented on #3862
This issue should definitely not be closed as stale...

[2019-11-21 15:36] h-vetinari opened #4720 "nteract does not work from conda environment (anymore)"
**Application or Package Used**
nteract desktop (on windows)

**Describe the bug**
It used to be possible (and is still documented as such) to do
[code]
from a conda environment, and then use that from within nteract.

**To Reproduce**
Steps to reproduce the behavior:

1. Download nteract 0.15
1. Create conda environment and install numpy (making sure that the conda `base` environment does not con

[2019-11-22 09:26] filipmihal commented on #4573
I'm a huge fan of this :heart:
What is your time estimate to have it ready for public use?

[2019-11-22 16:10] captainsafia commented on #4573
@filipmihal The master branch currently has an implementation of ipywidgets that supports the default set. If you'd like to try it out, you can set up a development build of nteract.

This should land in a desktop release sometime soon.

[2019-11-25 16:52] #2751 closed

[2019-11-26 14:37] nicolaskruchten opened #4722 "Upgrading plotly.js to v1.51.2"
**Is your feature request related to a problem? Please describe.**

Executing Plotly.py code (in the desktop app) such as that documented in https://plot.ly/python/imshow/ doesn't work, because the on-board version of plotly.js is inferior to 1.51

**Describe the solution you'd like**

Plotly.js should be upgraded to version 1.51.2

I'm happy to provide a PR for this when we bump plotly.js ... sho

[2019-11-26 23:08] captainsafia commented on #4221
This directory has been removed from the repo since the content is stale.

We can move these types of documents to the nteract/design-docs repo.

[2019-11-26 23:08] #4221 closed

[2019-11-27 19:51] captainsafia commented on #4158
Tagging this as new-contributor-friendly since it should be forward for someone with experience in Redux and React to resolve.

It'll involve piping the `openAboutModal` dispatch method through our react-redux `connect` call.

[2019-11-27 19:57] captainsafia commented on #4155
This is something that can be addressed in the implementation of our upcoming UI overhaul.

[2019-11-27 19:58] captainsafia commented on #4149
Closing this out now that we have switched over to Blueprint for our top-level menu.

[2019-11-27 19:58] #4149 closed

[2019-11-27 19:59] captainsafia commented on #4722
Hello @nicolaskruchten!

Yes, bumping that package number would be great. When you do so, make sure that you run a `yarn install` to update the `yarn.lock` file as well.

Also, we should look into why our automated updated bot didn't pick up this new release. That would make things easier in the future since we'd get bot PRs for each new release of the plotly.js-dist package.

[2019-11-27 20:03] captainsafia commented on #4103
Following up on this thread.

The undo functionality that we currently have is limited to the undo/redo within the CodeMirror editor itself. In the past, there were attempts to add undo/redo actions to our application but those were reverted (ref: https://github.com/nteract/nteract/pull/510, https://github.com/nteract/nteract/pull/627).

If we want to unblock this work, we can make the keyboard sh

[2019-11-27 20:08] captainsafia commented on #1496
We should be able to tackle this soon with our upcoming UI overhaul.

[2019-11-27 20:10] captainsafia commented on #4120
Gonna go close this for now since a patch has been applied to the OCaml kernel.

Work on fs-kernels was paused so this will still need to be done in spawnteract, if it needs to be done.

I'll close this and we can revisit if it surfaces in another kernel.

[2019-11-27 20:10] #4120 closed

[2019-11-27 20:15] captainsafia commented on #4720
There are some workarounds for this problem [in this issue](https://github.com/nteract/nteract/issues/3670). Let me know if any of those work for you.

I'll close this issue since the one linked above is more authoritative and provides more context.

The priority of the issue is recognized but as this is an open-source project, we can't get around to fixing everything. If you have the expertise an

[2019-11-27 20:15] #4720 closed

[2019-11-27 20:18] captainsafia commented on #4706
@miduncan Thanks for submitting the PR.

In general, following the merging of the PR to remove `currentKernelRef` and adding improved support for kernel-content relationships, we need a multi-notebook test canvas.

We'll probably be able to do this with the sidebar component in the upcoming UI overall.

[2019-11-27 20:21] captainsafia commented on #4708
Hi @motin! Can you give it another try? We've been making a lot of changes to the ipywidgets implementation so there is churn in the active bugs.

As for the custom widget bit,, I took a look and it appears that ipyfilechooser is not a custom widget. It's a Python module that assembles the standard ipywidgets in a certain way.

Custom widgets are [defined here](https://ipywidgets.readthedocs.io/en

[2019-11-27 20:33] captainsafia commented on #3364
Re-opening this issue as it still occurs.

Upon further inspection, it seems that the issue with it not displaying at all might be related to the use of the `%display` magic.

When I tried the following, I was able to see the output.

[code]

However, even though it was rendered with our MathJax component, it was still not displayed in formatted LaTeX. I suspect this is due to the MathJax componen

[2019-11-27 22:20] nicolaskruchten commented on #4722
Ok cool! And then you’d release a patch version of transform-Plotly each time? Like 6.0.1 kind of thing?

[2019-11-28 02:16] domoritz opened #4724 "Fix potential memory leak in Vega visualizations"
Vega-Embed and Vega may be holding on to memory after a visualization is no longer needed. To fix this, you can call `finalize` on a Vega-Embed result (since 6.2) or Vega view.

**Describe the solution you'd like**

When you know that a vis is no longer needed (i.e. the react component is unmounted), nteract should call `finalize`.

[2019-11-28 13:38] nicolaskruchten commented on #4722
PS: yes, using a bot here would be fantastic! :)

[2019-11-30 13:34] CrystallineCat opened #4727 "Azure build pipeline fails"
The Azure build pipeline [fails to build nteract](https://dev.azure.com/nteract/nteract/_build/results?buildId=6014). An exception occurs upon importing IPython, claiming unsupported python version.

The last successful build was with `ipython@7.9` (requires `python@3.5`).
The unsuccessful builds are with `ipython@7.10` (requires `python@3.6`).

I do not know how to fix this.

[2019-11-30 17:00] CrystallineCat commented on #3862
I re-opened as I agree this should not be closed.

I looked into the discovery behavior, but it seems like the function [`condaKernelsObservable`](https://github.com/nteract/nteract/blob/d7d77722beb8d5962c8394b1ea42110b436bdf68/applications/desktop/src/main/kernels.ts#L143) is never called, and none of the other functions of the file are called from anywhere outside.

I'm confused. :confused:

Bes

[2019-12-02 20:47] #4718 closed

[2019-12-03 18:39] languy opened #4732 "LAUNCH_KERNEL_BY_NAME breaks cell output display"
**Application or Package Used**
We're using the jupyter_extension code base, we're opening multiple notebook at the same time (in different tabs in our app).

**Describe the bug**
The APPEND_OUTPUT action (which causes the cell output to update with the latest results) isn’t emitted anymore. APPEND_OUTPUT stops being emitted as soon as LAUNCH_KERNEL_BY_NAME is emitted (by the launchKernelWhenNoteb

[2019-12-04 16:12] captainsafia commented on #4727
There appear to be some version incompatibilities here. I'm not sure how to fix it either.

Considering the Azure Pipelines build is not doing much for us, anyways. I've gone ahead and disabled it in this repo.

[2019-12-04 16:12] #4727 closed

[2019-12-04 16:44] #4724 closed

[2019-12-04 17:43] captainsafia commented on #4694
I went ahead and did the audit. The other types that we are missing are:

* inspect_reply
* history_reply
* is_complete_reply
* comm_info_reply
* shutdown_reply
* interrupt_request
* interrupt_reply

[2019-12-04 17:44] captainsafia commented on #4708
I just tried this and I can see the ipyfilechooser widget rendered inside the nteract desktop app from the current master.

![image](https://user-images.githubusercontent.com/1857993/70167012-afd4c700-167a-11ea-9ba8-18100fef244d.png)

I'll go ahead and close this issue. Please re-open if you are still running into it.

[2019-12-04 17:44] #4708 closed

[2019-12-04 17:50] captainsafia commented on #4685
Ditto what @BenRussert said!

The nteract web app is built as a Jupyter extension -- which requires a Jupyter server to be running. You could build a nteract client that is not packaged as a Jupyter extension but you'd still have to communicate with the kernel over WebSockets as opposed to the 0mq-based communication that is used by the kernel.

I'll go ahead and close this issue since there isn't

[2019-12-04 17:50] #4685 closed

[2019-12-04 17:55] captainsafia commented on #4634
It appears that the initial state for the nteract web app is not configured to read the chosen theme from the state.

I think that reading from the `nteract.json` config is only applicable to the desktop app and not the web app. @rgbkrk can you confirm?

If that is a case, we'd probably need to figure out a configuration story for the web app.

[2019-12-04 17:56] captainsafia commented on #4631
Hello @ivanradicek! Sorry this request slipped by the way-side. I'll go ahead and update the code so the style is exported today.

[2019-12-04 18:01] captainsafia commented on #4621
Hello @Abdelkrim!

The error you are seeing around the save failing is related to two things:

- When you open nteract it opens the default notebook at the install location, which often users don't have write permissions two
- nteract's auto-save logic is being triggered eagerly so the error occurs frequently

With regard to the settings option, there is currently an open PR to add a preferences w

[2019-12-04 18:14] captainsafia commented on #4587
When you open nteract, a blank notebook is created. This new notebook is opened in the users home directory. When you launch the Jupyter kernel, you must give it a path to launch the kernel under. It's convention to use the same path the notebook is under to launch the kernel, so that is what nteract does.

The problem happens when you save the notebook to a different location after it has been fi

[2019-12-04 18:24] captainsafia commented on #4573
Gonna go ahead and close this since the base implementation is pretty much wrapped up.

We've got a few bugs and lingering issues tagged with pkg:jupyter-widgets that we can monitor.

This hasn't landed in a desktop release yet. We should probably ship out a desktop release after the holidays.

[2019-12-04 18:24] #4573 closed

[2019-12-04 19:13] captainsafia commented on #4601
There was an issue with docs links for package names that had a dash in the name. I just fixed the path to the commutable docs in https://github.com/nteract/nteract/commit/412ee4276593343f74ba880377d42f440aa5aa4e.

Will go ahead and close this now.

[2019-12-04 19:13] #4601 closed

[2019-12-04 19:23] captainsafia commented on #4576
We should update the `CORE/SET_KERNEL_INFO` to update both sets of kernel_info here.

I can take a look at this today.

[2019-12-04 19:26] captainsafia commented on #4567
Update: the auto-save interval is no configurable via the `nteract.json` config file. You can set it to 0 to disable auto-save altogether.

This will be shipped in the next release of the nteract desktop app which will likely happen after the new year.

[2019-12-04 19:27] captainsafia commented on #4569
Closing this as it was resolved via #4585.

[2019-12-04 19:27] #4569 closed

[2019-12-04 19:29] captainsafia commented on #4562
It looks like there hasn't been a response in the issue in `react-markdown`.  I took another look at the configurability options for react-markdown and nothing immediately stands out that would solve this problem.

I'm going to go ahead and close this issue since it is external and relatively low-pri. If you end up finding a solution for this, please do share! Thank you.

[2019-12-04 19:29] #4562 closed

[2019-12-04 19:30] captainsafia commented on #4566
This is now implemented. There will likely be some lingering bugs as we start to use this more frequently but I am going to close this and track those issues separately.

[2019-12-04 19:30] #4566 closed

[2019-12-04 20:10] captainsafia commented on #4631
My bad! I realized that after a recent upgrade to a new major version of react-syntax-highlighter, we are actually no longer using this copied theme file. Instead, you can use the the themes from the `react-syntax-highlighter` directly for your use case. The themes are exported under `react-syntax-highlighter/dist/cjs/styles/prism/`.

I'll go ahead and close this issue now. Glad we are moving to u

[2019-12-04 20:10] #4631 closed

[2019-12-04 20:19] nathancarter commented on #4587
That all makes sense, but speaks from the point of view of implementation challenges rather than user needs and expectations.  But perhaps I just don't know nteract's goals well enough:  I had been assuming that the goal is to wrap Jupyter in a standard app-like interface that behaves the way people expect apps to behave.  But perhaps the goal is actually an app that behaves the way that users who

[2019-12-04 20:24] #4688 closed

[2019-12-04 21:01] #4567 closed

[2019-12-04 21:59] captainsafia commented on #4613
Thank for opening this issue! I'll go ahead and transfer this to the nteract/nteract.io repo since that is where the change will need to made.

Would you be interested in open in a PR to address this if I gave you a pointer to where the change needed to be made?

[2019-12-04 22:04] captainsafia commented on #4525
I think we should implement this, just so that people building their own notebook UIs have an terminal they can use that can provide a parity experience with classic for web-based nteract UIs.

I took a look around the code and it looks like we'll need to do the following to get this implemented:

- Add support in rx-jupyter to create a WebSocketSubject for the connection to the terminal
- And `te

[2019-12-04 22:07] captainsafia commented on #4535
@akinsella I think the most sensible fix is to go ahead and update the path to use `/publish` instead of `/published`. I can go ahead and put in a fix for this today.

[2019-12-04 22:09] #4459 closed

[2019-12-04 22:12] captainsafia commented on #4400
There's now a `saveAs` epic. This should be used for saving files instead of going through the `save` flow.

[2019-12-04 22:12] #4400 closed

[2019-12-04 22:14] captainsafia commented on #4352
This issue was related to requests to save new files being route through the save epic as opposed to the saveAs epic. We can close this since this logic is now split across two different codepaths.

[2019-12-04 22:14] #4352 closed

[2019-12-04 22:24] captainsafia commented on #4428
This actually works now. I think this issue was reported because a new version of the desktop app had not been release with the changes mentioned above. I'll go ahead and close this issue.

[2019-12-04 22:24] #4428 closed

[2019-12-04 22:37] captainsafia commented on #4294
The nbformat now expects `source_hidden` and `output_hidden` metadata properties to be stored under the `jupyter` namespace in the `metadata`. We should update our state model to follow this convention.

[2019-12-04 22:38] captainsafia commented on #2685
Gonna go ahead and close this since it is not needed and commuter is no longer in the monorepo.

[2019-12-04 22:38] #2685 closed

[2019-12-04 22:52] captainsafia commented on #1764
I'm gonna go ahead and close this out as no repro.

nteract represents `error` outputs from the kernel using the same ANSI-based display that Jupyter does so I'm not sure what the error means. Please re-open if this is still relevant.

[2019-12-04 22:52] #1764 closed

[2019-12-04 22:58] captainsafia commented on #1893
This might be tricky to do. Our current PDF-export strategy uses the browser "Print to PDF" strategy in Chrome. So we are limited here, especially in the scenario where the scroll is horizontal, not vertical.

[2019-12-04 23:00] captainsafia commented on #3519
This appears to be resolved now. I'm able to see the icons for the same code snippet run above. I'll go ahead and close this. Please re-open if there is another regression.

[2019-12-04 23:00] #3519 closed

[2019-12-04 23:08] captainsafia commented on #4362
Do Julia's interactive widgets use the same comms-based convention that ipywidgets does?

If so, it would be interesting to see if it works with the recent ipywidgets support in nteract.

[2019-12-04 23:20] travigd commented on #4362
WebIO uses its own (comm-based) API.

[2019-12-05 13:43] CrystallineCat commented on #4561
Is there a reason not to use a higher-order function? For example:

[code]
...then things become even simpler:

[code]

[2019-12-05 14:05] CrystallineCat commented on #4531
nteract can't really do anything differently regarding the `Ctrl-Z` behaviour, because `Ctrl-Z` suspends a process (no more CPU time scheduled), rather than backgrounding it.

To background a suspended process, you have to use `bg` afterwards. See this for more detailed info: https://superuser.com/questions/476873/what-is-effect-of-ctrl-z-on-a-unix-linux-application

`nteract &` segfaulting, on th

[2019-12-05 17:25] captainsafia opened #4741 "Make Jupyter-based completion epics editor agnostic"
This issue captures a shower-thought I had around the efforts to make the nteract notebook component more editor-agnostic.

Some of the work around stateful components (ref: #4731) but there's an another aspect to this that is not addressed: the completion epics that handle managing completion requests and replies from the Jupyter server.

Currently, this epics are embedded within the Codemirror c

[2019-12-05 18:02] CrystallineCat commented on #4531
Hmm... I looked more closely at what is happening with `nteract &`, and it seems that the process opens `/dev/tty` and then does operations with it, getting `SIGTTIN` 18 times since no tty is connected. Each `SIGTTIN` suspends the process. So by typing in `bg` 18 times to resume after each signal you can get it to actually run in the background.

This whole thing appears to happen really early in

[2019-12-05 18:25] #4732 closed

[2019-12-05 23:10] #3407 closed

[2019-12-06 01:14] JulianChu1 opened #4745 "Output hyperlink is wrongly made cross lines"
"@nteract/outputs": "2.3.4",
Run a cell like below and the hyperlink is made wrongly

import sys

sys.stdout.write("RunId: 123\n")
sys.stdout.write("Web View: https://ml.azure.com\n")
sys.stdout.write("\n")
sys.stdout.write("Streaming\n")

Result

<a href="https://ml.azure.com

Streaming
" target="_blank">https://ml.azure.com

Streaming
</a>

[2019-12-06 04:28] captainsafia commented on #4741
Chatted with @barryt2 about this and we realized a key thing to validate with this is any perf impact we might take with decoupling the completion fetch from the completion render. It might introduce some latency to the process. We should evaluate whether or not this latency is small enough to ignore when considering the maintainability benefits that we get with this.

[2019-12-06 18:00] rgbkrk commented on #4634
That's correct, the nteract config only applies to the desktop app. It would be great for the web app to also use the config.

[2019-12-06 18:57] jdfreder commented on #4573
Awesome!

On Wed, Dec 4, 2019, 10:24 AM Safia Abdalla <notifications@github.com>
wrote:

[2019-12-06 23:22] #4535 closed

[2019-12-06 23:23] #4576 closed

[2019-12-06 23:24] #4694 closed

[2019-12-07 10:51] CrystallineCat opened #4750 "Add support for vega-lite v4"
This probably involves:
- [ ] Maybe make an external repository for vega-lite@3?
- [ ] Update typescript (vega-lite@4 uses a newer version)
- [ ] Update vega/vega-lite/vega-embed

I'm going to take a look at this.